.Input {
  display: block;
  margin-top: 0.5rem;
  font-size: rem(12px);
  line-height: 1;

  &-label {
    display: block;
    margin-bottom: rem(10px);
    font-size: rem(15px);
  }

  &-field {
    display: block;
    width: 100%;
    padding: 13px;
    line-height: 1;
    background: transparent;
    border-color: theme("colors.gray.300");
    border-radius: rem(6px);

    &::placeholder {
      color: theme("colors.gray.600");
    }

    &:focus {
      @apply ring-gray-700 border-gray-700;
    }
  }

  &-message {
    display: block;
    margin-top: 0.5rem;
    color: theme("colors.red.700");
  }

  &-switchPassword {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0,-50%);
    cursor: pointer;

    &.is-noVisible {
      &::before {
        content: '';
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 150%;
      height: 3px;
      background-color: black;
      border-radius: 10px;
      transform: translate(-50%,-50%) rotate(45deg);
      transform-origin: center;
    }
  }

}
