
<label for="{$id}" class="block text-sm mb-2 text-gray-600">
  {if $label}
    <div class="font-bold text-sm {if $error}text-red-500{else}text-gray-700{/if}">
      {$label}
    </div>
  {/if}
  <input
    type="{$type}"
    name="{$name}"
    id="{$id}"
    value="{$value}"
    placeholder="{$placeholder}"
    class="mt-0 block w-full px-0.5 border-0 border-b-2 focus:ring-0 focus:border-black {if $error}border-red-500{else}border-gray-200{/if} {$inputClass}"
    {if $required}required{/if}
    {if $autofocus}autofocus{/if}
    {if $readonly}readonly{/if}
  />


  {if $error}
    <div class="mt-1">
      <span class="text-red-500 text-xs font-normal italic mb-4 block">
        {$message}
      </span>
    </div>
  {/if}
</label>

