<label for="{$id}" class="Select  {$class|default:null}">
  {if $label|default:null}
    <div class="Select-label {if isset($error) && $error}text-error{/if}">
      {$label}{if $required|default:null}<sup>*</sup>{/if}
    </div>
  {/if}
  <select name="{$name}" id="{$name}-select" class="Select-field {if isset($error) && $error} border-error focus:border-error focus:ring-error text-error{else} text-primary{/if} {$selectClass|default:null}">
    {foreach from=$options item=option}
    <option value="{$option['value']}" {if isset($option['data-label'])}{$option['data-label']}="{$option['data-value']}"{/if} {if $option['value'] == $value}selected{/if}>{$option['label']}</option>
    {/foreach}
  </select>
  {if isset($error) && $error && isset($message) && $message}
    <div class="mt-1">
      <span class="block mb-4 text-sm font-normal Select-message text-error">
        {$message}
      </span>
    </div>
  {/if}
</label>

