<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>HookCurrency\HookCurrency</fullnamespace>
    <descriptive locale="en_US">
        <title>Block Currency</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Bloc Devise</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.5.5</version>
    <author>
        <name>Julien Chanséaume</name>
        <email>jchanseaume@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.5.5</thelia>
    <stability>alpha</stability>
</module>
