<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>HookCurrency\HookCurrency</fullnamespace>
    <descriptive locale="en_US">
        <title>Block Currency</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>bloc Device</title>
    </descriptive>
    <version>0.1</version>
    <author>
        <name>Julien Chanséaume</name>
        <email>jchanseaume@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>other</stability>
</module>
