<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
    </loops>

    <forms>
    </forms>

    <commands>
    </commands>

    <hooks>
        <hook id="hookcart.hook.front" class="HookCart\Hook\FrontHook" scope="request">
            <tag name="hook.event_listener" event="main.head-bottom" />
            <tag name="hook.event_listener" event="main.navbar-secondary" />
            <tag name="hook.event_listener" event="mini-cart" />
        </hook>
    </hooks>

</config>
