<nav class=" BreadCrumb" aria-labelledby="BreadCrumb-label">
    <ol id="BreadCrumb-label" class="BreadCrumb-list" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="BreadCrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="{navigate to="index"}" title="{intl l="Home"}" itemprop="item" itemscope itemtype="http://schema.org/Thing" itemid="{navigate to="index"}">
              <span itemprop="name">{intl l="Home"}</span>
          </a>
            <meta itemprop="position" content="0" />
            {renderIconSvg icon="arrow" class="BreadCrumb-arrow"}
        </li>
        {foreach from=$breadcrumbs item='breadcrumb' name="breadcrumbsItems" }
            {if $breadcrumb.title}
              {if $breadcrumb@last}
                <li class="BreadCrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                  <span title="{$breadcrumb.title|unescape}" itemprop="item" itemscope itemtype="http://schema.org/Thing" itemid="{$breadcrumb.url|default:'#' nofilter}">
                    <span itemprop="name">{$breadcrumb.title|unescape}</span>
                    <meta itemprop="url" content="{$breadcrumb.url|default:'#' nofilter}" />
                  </span>
                  <meta itemprop="position" content="{$smarty.foreach.breadcrumbsItems.index + 1}" />
                </li>
              {else}
                <li class="BreadCrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                  <a href="{$breadcrumb.url|default:'#' nofilter}" title="{$breadcrumb.title|unescape}" itemprop="item" itemscope itemtype="http://schema.org/Thing" itemid="{$breadcrumb.url|default:'#' nofilter}">
                    <span itemprop="name">{$breadcrumb.title|unescape}</span>
                    <meta itemprop="url" content="{$breadcrumb.url|default:'#' nofilter}" />
                  </a>
                  <meta itemprop="position" content="{$smarty.foreach.breadcrumbsItems.index + 1}" />
                  {if !$breadcrumb@last}{renderIconSvg icon="arrow" class="BreadCrumb-arrow"}{/if}
                </li>
              {/if}
            {/if}
        {/foreach}
    </ol>
</nav>
