{if !$smarty.cookies.cookie_consent|default:null}
<div class="CookieBar fixed bottom-0 z-50 w-full bg-gray-50 text-black p-12">
  <div class="CookieBar-container container mx-auto">
    <p class="CookieBar-text">
      {$urlCookies = {url path="/RGPD"}}


      {intl
        l="By continuing to browse the site, you accept the deposit of cookies and other tags to provide you with adapted services and offers, sharing functions to social networks, allow the customization of the site content and analyze the website audience. No information will be shared with partners of %siteName."
        siteName={config key="store_name"}
      }
    </p>
    <div class="flex flex-col md:flex-row justify-between mt-3 items-center">
      <a class="CookieBar-link  uppercase font-bold" href="{$urlCookies}">{intl l="Setting up cookies"}</a>
      <button class="CookieBar-btn btn">{intl l="I agree"}</button>
    </div>
  </div>
</div>
{/if}
