<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>HookAdminHome\HookAdminHome</fullnamespace>
    <descriptive locale="en_US">
        <title>Displays the default blocks on the homepage of the administration</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Affiche les blocs par défaut sur la page d'accueil de l'administration</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.3.4</version>
    <authors>
        <author>
            <name>Gilles Bourgeat</name>
            <email>gilles@thelia.net</email>
        </author>
        <author>
            <name>Franck Allimant</name>
            <company>CQFDev</company>
            <email>franck@cqfdev.fr</email>
            <website>www.cqfdev.fr</website>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.2.0</thelia>
    <stability>prod</stability>
</module>
