{assign var="objectTitle" value="{$TITLE}"}
{$width = $width|default:324}
{$height = $height|default:324}
{$objectTitle = $TITLE}
{$type = $type|default:"div"}

<a href="{$URL}"  class="ContentCard" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>
  <figure class="ContentCard-img">
    {$source = $object_type|default:"content"}

    {loop name="category_thumbnail" type="image" source_id=$ID source=$source width=$width height=$height resize_mode="crop" limit="1" format="webp"}
        {$images = [
          [
            "breakpoint" => "(min-width: 1440px)",
            "url" => "/legacy-image-library/{$source}_image_{$ID}/square/^!324,324/0/default.webp",
            "link" => $URL,
            "description" => $DESCRIPTION,
            "width" => '324',
            "height" => '324'
          ],
          [
            "breakpoint" => "(min-width: 1280px)",
            "url" => "/legacy-image-library/{$source}_image_{$ID}/square/!242,242/0/default.webp",
            "link" => $URL,
            "description" => $DESCRIPTION,
            "width" => '242',
            "height" => '242'
          ],
          [
            "breakpoint" => "(min-width: 1024px)",
            "url" => "/legacy-image-library/{$source}_image_{$ID}/square/!210,210/0/default.webp",
            "link" => $URL,
            "description" => $DESCRIPTION,
            "width" => '210',
            "height" => '210'
          ],
          [
            "breakpoint" => "(min-width: 768px)",
            "url" => "/legacy-image-library/{$source}_image_{$ID}/square/!146,146/0/default.webp",
            "link" => $URL,
            "description" => $DESCRIPTION,
            "width" => '146',
            "height" => '146'
          ],
          [
            "breakpoint" => "(min-width: 1px)",
            "url" => "/legacy-image-library/{$source}_image_{$ID}/square/!166,166/0/default.webp",
            "link" => $URL,
            "description" => $DESCRIPTION,
            "width" => '166',
            "height" => '166'
          ]
        ]}
        {include
          file="components/smarty/ResponsiveImage/ResponsiveImage.html"
          images=$images|default:[]
          defaultImageUrl=$images[0]
          alt="{$objectTitle|cat:' '|cat:'Visuel'}"
          title="{$objectTitle}"
          loading="lazy"
          class=""
          width=$images[0]['width']
          height=$images[0]['height']
        }
    {/loop}
    {elseloop rel="category_thumbnail"}
        <img
          src="{encore_manifest_file file="dist/images/placeholder.webp"}"
          alt="{$objectTitle|cat:' '|cat:'Visuel'}"
          title="{$objectTitle}"
          width="{$width}"
          height="{$height}"
        >
    {/elseloop}
  </figure>
  <div class="ContentCard-title">
      <{$type}>{$objectTitle}</{$type}>
  </div>
</a>
