.ContentCard {
  @apply font-roboto font-medium;

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  color: black;
  font-size: rem(20px);
  text-align: center;
  border: 2px solid #EAEDED;
  border-radius: rem(20px);
  transition: all ease-in 0.1s;

  &-img {
    overflow: hidden;
    transition: inherit;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: inherit;
    }
  }

  &-title {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    padding: rem(40px) rem(25px);
    font-size: rem(20px);
    text-transform: lowercase;

    > ::first-letter{
      text-transform: uppercase;
    }
  }

  &:hover, &:focus {
    border-color: theme('colors.main');

    .SingleCategory-img {
      img {
        transform: scale(1.075);
      }
    }
  }
}
