{$mobile = $mobile|default:false}

<div class="Navigation-item">
  <div class="px-8">
    <div class="Navigation-item-link-wrapper relative lg:block items-center py-4 pr-16">
      <a href="{navigate to="index"}" class="Navigation-item-link block">
      {intl l="Home"}
      </a>

    </div>
  </div>
</div>
{loop type="category" name="Navigation" parent=0 need_count_child=true}
<div class="Navigation-item relative{if $CHILD_COUNT > 0} hoverable{/if}">
  <div class="px-8">
    <div class="Navigation-item-link-wrapper relative lg:block items-center py-4 pr-16">
      <a href="{$URL}" class="Navigation-item-link block">
        {$TITLE}
      </a>
      {if $mobile && $CHILD_COUNT > 0}
      <div class="Navigation-arrowWrapper lg:hidden">{renderIconSvg icon="drop-down" class="w-4 h-4 block Navigation-arrow"}</div>
      {/if}
    </div>
  </div>
  {ifloop rel="Navigation.sub"}
  <div class="Navigation-item-submenu bg-white {if !$mobile}absolute left-0{/if}">
    <div class="shadow-inner flex-1">
      {loop type="category" name="Navigation.sub" parent=$ID}
        <a href="{$URL}" class="Navigation-item-link block px-8 border-b {if $LOOP_COUNT != $LOOP_TOTAL}border-gray-300{else}border-gray-100{/if}">
          <div class="text-sm py-4">
            {$TITLE}
          </div>
        </a>
      {/loop}
    </div>
  </div>
  {/ifloop}
</div>
{/loop}
