.Selection {
  order: 2;
  padding: rem(50px) 0;
  @screen md {
    padding: rem(70px) 0;
  }

  & + & {
    padding-top: 0;
  }


  @screen md {
    &--animated {
      .Title {
        transition: 0.5s ease-out;
      }

      .ProductList {
        transition: 0.5s ease-out 0.4s;
      }

      .Button {
        transition: transform 0.5s ease-out 0.8s, opacity 0.5s ease-out 0.8s;
      }

      &.is-hide {
        .Title, .Button {
          opacity: 0;
        }

        .ProductList {
          transform: translate(0,25%);
          opacity: 0;
        }
      }
    }
  }
}
