<form id="file-upload-form-two" action="#">
	<input id="file-upload-two" type="file" name="fileUpload" />
	<label for="file-upload-two" id="file-drag-two" class="ml-9" >	
  <div class="pppph-9 w-9 Image"><img src="{image file="assets/images/svg/arrow-down.svg"}" alt="fr" /></div>
        <div class="mt-4 mb-6">
          <label class="p-2 mt-8 text-sm font-semibold tracking-wider uppercase border rounded cursor-pointer text-vermillon w-144 border-vermillon hover:bg-lightVermillon hover:border-lighterVermillon hover:text-white">
            <span class="text-sm leading-normal">{intl l="Télécharger une image"}</span>
            <input type='file' class="hidden" />
          </label>
          </div>
    <span class="mb-4 text-sm text-darkCharbon">{intl l="ou déposez une image"}</span>
	</label>
</form>