<form id="file-upload-form-two" action="#">
	<input id="file-upload-two" type="file" name="fileUpload" />
	<label for="file-upload-two" id="file-drag-two" class="ml-9" >	
 <div class="h-9 w-9 Image"><img src="{image file="assets/images/svg/arrow-down.svg"}" alt="fr" /></div>
        <div class="mt-4 mb-6">
            <label class="text-xs my-0 mx-0	 tracking-wider p-2 top-1.5 left-3.5 h-16 mb-6 font-medium leading-4 uppercase border-2 rounded shadow-2xl cursor-pointer w-144 text-vermillon hover:bg-lightVermillon border-vermillon hover:text-white hover:border-lightVermillon">
              <span class="text-sm leading-normal">{intl l="Télécharger une image"}</span>
              <input type='file' class="hidden" />
          </label>
          </div>
    <span class="mb-4 text-sm text-darkCharbon">{intl l="ou déposez une image"}</span>
	</label>
</form>