{loop name="product.infos" type="product" id=$product_id limit="1" with_prev_next_info="1" with_prev_next_visible="1"}
<div class="ProductInfos">
  <div class="flex justify-between">
    {include file="components/smarty/Title/Title.html" type="h1" title=$TITLE class="Title--left mb-6" nofilter=true}
  </div>

    <div><span class="">{intl l="Reference"} : </span>  {$REF}</div>

    {if $CHAPO}
      <div class="ProductInfos-chapo my-4 text-lg">
          <p>{$CHAPO nofilter}</p>
      </div>
    {/if}


</div>
{/loop}
