{if !isset($displayError)}
  {$displayError = true}
{/if}

<label for="{$id}" class="Input">
  {if $label|default:null}
    <div class="Input-label {if isset($displayError) && $displayError && isset($error) && $error}text-error{/if}">
      {$label}{if $required|default:null}<sup>*</sup>{/if}
    </div>
  {/if}
  {if $type eq 'password'}<div class="relative">{/if}
  <input
    type="{$type|default:'text'}"
    name="{$name}"
    id="{$id}"
    value="{$value|default:null}"
    placeholder="{$placeholder|default:null}"
    class="Input-field {if isset($displayError) && $displayError && isset($error) && $error} border-error focus:border-error focus:ring-error text-error {else} text-primary{/if} {$inputClass|default:null}"
    {if $required|default:false}required{/if}
    {if $autofocus|default:false}autofocus{/if}
    {if $readonly|default:false}readonly{/if}
  />
  {if $type eq 'password'}<button type="button" aria-label="{intl l='Show password'}" class="Input-switchPassword">{renderIconSvg icon="eye" class="w-5 h-5"}</button>{/if}
  {if $type eq 'password'}</div>{/if}
  {if isset($displayError) && $displayError && isset($error) && $error && isset($message) && $message}
    <span class="Input-message">
      {$message}
    </span>
  {/if}
</label>
