.MiniLogin {
  @apply fixed inset-y-0 right-0 z-10 flex w-full flex-col bg-white p-10 shadow-2xl;

  top: var(--Header-height);
  max-width: 90%;
  transform: translateX(100%);
  transition: transform 250ms linear;
  @screen md {
    @apply max-w-lg;
  }

  &--visible {
    transform: translateX(0);
  }
}
