<dialog id="favDialog" class="bg-white rounded-lg">
    <form class="relative w-full rounded-lg" method="dialog">     
            <button class="right" id="confirmBtn" value="default">&times;</button>    
      <p>
        {if isset($children)}
            {$children nofilter}
        {/if}
      </p>
    </form>
  </dialog>
  <menu>
    <button class="flex items-center justify-center p-2 font-medium text-white rounded-full shadow-2xl hover:text-carot hover:bg-white bg-carot" id="updateDetails"><i class="p-2 fas fa-plus"></i></button>
  </menu>



