<button data-modal-target="#modal" class="relative w-10 h-10 rounded-lg btn right bg-blue" id="open">&times;</button>
  <div class="modal" id="modal">
      <div class="modal-header">
          <div class="title">Open</div>
          <button data-modal-close class="closebtn">&times;
  
          </button>
      </div>
      <div class="modal-body">
          <p class="current desc">
            {if isset($children)}
              {$children nofilter}
            {/if}
          </p>
      </div>
  </div>
  
  <div id="overlay"></div>
