.CurrencySelect {

  position: relative;

  &:hover,
  &:focus {
    .CurrencySelect-dropdown {
      left: 0;
      opacity: 1;
    }
  }

  &-current {
    position: relative;
    padding: 10px 20px 10px 0;

    &:hover,
    &:focus {

      .CurrencySelect-flag {
        fill: currentColor;
      }
    }
  }

  &-arrow {
    width: 10px;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: 0;
    fill: black;
    font-weight: 400;
    transform: translateY(-50%);
  }

  &-dropdown {
    @apply bg-gray-500 shadow;
    position: absolute;
    z-index: 20;
    top: 100%;
    left: -99999em;
    width: auto;
    opacity: 0;
    transition: 0.3s ease-out;
    transition-property: opacity, transform;
  }
  &-dropdownLink {
    &:hover {
      @apply bg-main-dark;
    }
  }
}
