.Reassurance {
  padding: 3rem 0;
  text-align: center;
  background-color: theme("colors.gray.200");

  &-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem rem(10px);
    list-style: none;

    @screen xs {
      grid-template-columns: repeat(2, 1fr);
    }

    @screen lg {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-icon {
    width: rem(70px);
    height: rem(70px);
    margin-bottom: rem(10px);
  }

  &-title {
    display: block;
    margin-bottom: rem(10px);
    font-weight: bold;
    font-size: rem(15px);
    line-height: 1.25;
  }

  &-sub {
    display: block;
    color: theme("colors.gray.700");
    font-size: rem(12px);
  }
}
