<div class="bg-gray-900 text-white pt-12 px-8 pb-32">
  <div class="container mx-auto">
    <div class="Reassurance text-center">
      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 leading-tight">
        <div>
          <div class="mb-6">
            {renderIconSvg icon="truck" class="w-16 h-16 mx-auto object-contain fill-current"}
          </div>
          <div class="">{intl l="Free shipping"}</div>
        </div>
        <div>
          <div class="mb-6">
            {renderIconSvg icon="credit-card" class="w-16 h-16 mx-auto object-contain fill-current"}
          </div>
          <div class="">{intl l="Secure payment"}</div>
        </div>
        <div>
          <div class="mb-6">
            {renderIconSvg icon="coins" class="w-16 h-16 mx-auto object-contain fill-current"}
          </div>
          <div class="">{intl l="Satisfied or refunded"}</div>
        </div>
        <div>
          <div class="mb-6">
            {renderIconSvg icon="chat" class="w-16 h-16 mx-auto object-contain fill-current"}
          </div>
          <div class="">{intl l="Questions ?"} <a href="{url path="/contact"}" class="underline">{intl l="Write us by mail"}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
