{form name="thelia.front.newsletter"}
  <form class="Newsletter-form" id="form-newsletter" action="{url path="newsletter"}" method="post">
  {hook name="recaptcha.check"}

  <span class="Footer-title">{intl l="Newsletter"}</span>

  {hook name="recaptcha.js"}
    {form_hidden_fields}
    <div class="Newsletter-field">
      {form_field field="email"}
      <div class="flex text-gray-700">
        <input class="Input-field  text-primary bg-white w-full" type="email" name="{$name}" id="{$label_attr.for|default:null}" value="{$value}" placeholder="{$label}" {if $required} aria-required="true" required{/if}>
      </div>
      <div class="hidden py-2 text-red-500 invalid-feedback">
          {intl l="Error during registration"}
      </div>
      <div class="hidden py-2 text-green-500 valid-feedback">
          {intl l="Successful registration"}
      </div>
      {/form_field}

      <button type="submit" class="Button text-base ml-auto py-2 mt-6">
        {intl l="Validate"}
      </button>

    </div>
  </form>
{/form}

