local/config/build.properties
local/config/config_db.php
local/config/build
local/config/database.yml
local/config/database.yml.sample.save
core/vendor
local/config/runtime-conf.xml
cache/*
log/*
bin/*
local/session/*
coverage
.idea
.buildpath
.project
.settings/
local/cache/*
local/media/documents/*
local/media/images/*
web/assets/*
web/cache/*
web/.htaccess
phpdoc*.log
php-cs
xhprof/
phpunit.phar
.DS_Store