local/config/build.properties
local/config/config_db.php
local/config/build
local/config/database.yml
local/config/database.yml.sample.save
core/vendor
local/config/runtime-conf.xml
cache/*
log/*
bin/*
local/session/*
coverage
.idea
.buildpath
.project
.settings/
local/media/documents/*
local/media/images/*
web/assets/*
web/cache/*
web/tinymce
web/media
phpdoc*.log
xhprof/
phpunit.phar
.DS_Store
phpmyadmin
templates/default-esi
local/modules/TemplateEsiModule
composer.phar
web/.htaccess
