local/config/build.properties
local/config/config_db.php
local/config/build
local/config/database.yml
local/config/database.yml.sample.save
local/config/key
core/vendor
local/config/runtime-conf.xml
cache/*
log/*
bin/*
local/session/*
coverage
.idea
.buildpath
.project
.settings/
local/media/documents/*
local/media/images/*
!local/media/images/store/favicon.png
!local/media/images/store/logo.png
!local/media/images/store/banner.jpg
web/assets/*
web/cache/*
web/tinymce
web/media
phpdoc*.log
xhprof/
phpunit.phar
.DS_Store
phpmyadmin
composer.phar
web/.htaccess
local/I18n/*.php

# Ignore everything in the "modules" directory, except the "default modules"
local/modules/*
!local/modules/Cheque/
!local/modules/Carousel/
!local/modules/Front/
!local/modules/Tinymce/
!local/modules/Colissimo/
!local/modules/Hook*/
!local/modules/VirtualProductDelivery/
!local/modules/VirtualProductControl/
!local/modules/TheliaSmarty/
!local/modules/TheliaMigrateCountry/
local/modules/HookTest/

# Ignore everything in the "templates" directory, except the "default template"
templates/*
!templates/frontOffice
templates/frontOffice/*
!templates/frontOffice/default
!templates/backOffice
templates/backOffice/*
!templates/backOffice/default
!templates/email
templates/email/*
!templates/email/default
!templates/pdf
templates/pdf/*
!templates/pdf/default

#Ignore CodeKit
codekit-config.json
config.codekit
.codekit-cache

# Ignore casperjs screenshots
tests/functionnal/casperjs/screenshot/
tests/phpunit/Thelia/Tests/Api/fixtures/visuel*.png