<?php

use Symfony\Component\Filesystem\Filesystem;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude(['var', 'vendor', '.docker'])
;

(new Filesystem())->mkdir(__DIR__.'/var/cache-ci');

return (new PhpCsFixer\Config)
    ->setCacheFile(__DIR__.'/var/cache-ci/.php_cs.cache')
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => false,
        'yoda_style' => false,
        'no_superfluous_phpdoc_tags' => true,
        'header_comment' => [
            'header' => implode("\n", [
                'This file is part of the Thelia package.',
                'http://www.thelia.net',
                '',
                '(c) OpenStudio <info@thelia.net>',
                '',
                'For the full copyright and license information, please view the LICENSE',
                'file that was distributed with this source code.'
            ])
        ],
        'no_empty_comment' => true,
        'single_line_throw' => false,
        'declare_strict_types' => false,
        'array_syntax' => ['syntax' => 'short'],
        'ordered_imports' => true,
        'no_alternative_syntax' => true,
        'no_binary_string' => true,
        'no_extra_blank_lines' => ['tokens' => ['break', 'continue', 'extra', 'return', 'throw', 'use', 'parenthesis_brace_block', 'square_brace_block', 'curly_brace_block']],
        'no_null_property_initialization' => true,
        'no_short_echo_tag' => true,
        'no_superfluous_elseif' => true,
        'no_unneeded_curly_braces' => true,
        'no_unneeded_final_method' => true,
        'no_unreachable_default_argument_value' => true,
        'no_unset_on_property' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'phpdoc_var_without_name' => false,
        'native_function_invocation' => ['include' => ['@compiler_optimized'], 'scope' => 'namespaced'],
    ])
    ->setFinder($finder)
;
