version: "3.7"

services:
  mariadb:
    image: mariadb:10.3
    container_name: docker-thelia-mariadb
    working_dir: /application
    volumes:
      - .:/application
      - .docker/mysql-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=thelia
      - MYSQL_USER=thelia
      - MYSQL_PASSWORD=thelia
    ports:
      - "8086:3306"

  webserver:
    image: nginx:alpine
    container_name: docker-thelia-webserver
    working_dir: /application
    volumes:
      - .:/application
      - .docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"

  php-fpm:
    build: .docker/php-fpm
    container_name: docker-thelia-php-fpm
    working_dir: /application
    volumes:
      - .:/application
      - .docker/php-fpm/php-ini-overrides.ini:/etc/php/7.4/fpm/conf.d/99-overrides.ini
      - .docker/php-fpm/php-ini-overrides.ini:/etc/php/7.4/cli/conf.d/99-overrides.ini
    environment:
      PHP_IDE_CONFIG: "serverName=thelia"
      XDEBUG_CONFIG: "idekey=PHPSTORM"

  encore:
    build:
      context: ./templates/frontOffice/starter
      target: thelia_encore
    container_name: docker-thelia-encore
    working_dir: /application/templates/frontOffice/starter
    environment:
      BROWSERSYNC_PROXY: http://localhost:8081
    volumes:
      - ./templates/frontOffice/starter:/application/templates/frontOffice/starter:delegated
      - ./templates/frontOffice/starter/node_modules:/application/templates/frontOffice/starter/node_modules
    ports:
      - 8081:8081