<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    colors="true"
    bootstrap="core/lib/Thelia/Tests/bootstrap.php"
    verbose="true"
    backupGlobals="false"
>
    <testsuites>
	    <testsuite name="Thelia">
	        <directory>core/lib/Thelia/Tests</directory>
	    </testsuite>
    </testsuites>
</phpunit>
