<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="false"
    convertErrorsToExceptions= "true"
    convertNoticesToExceptions= "true"
    convertWarningsToExceptions= "true"
    bootstrap="tests/phpunit/Thelia/Tests/bootstrap.php"
    verbose="true"
    backupGlobals="false"
>
    <testsuites>
	    <testsuite name="Thelia">
	        <directory>tests/phpunit/Thelia/Tests</directory>
            <directory>local/modules/*/Tests</directory>
	    </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>core/lib</directory>
            <exclude>
                <directory>core/lib/Thelia/Model/map</directory>
                <directory>core/lib/Thelia/Model/om</directory>
                <directory>core/lib/Thelia/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
