.Pagination {
  @apply font-roboto font-medium;

  display: flex;
  flex-wrap: wrap;
  gap: 10px ;
  align-items: center;
  justify-content: center;
  margin-top: rem(50px);

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(38px);
    min-width: rem(38px);
    height: rem(38px);
    font-size: rem(13px);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 50%;

    &:hover, &:focus {
      border-color: theme("colors.gray.400");
      outline: none;
    }
    &.current {
      border-color: theme("colors.main");

      &:hover, &:focus {
        border-color: theme("colors.main-dark");
      }
    }
  }

  &-prev, &-next {
    color: theme("colors.main");

    &:hover, &:focus {
      border-color: theme("colors.main");
      outline: none;
    }

    svg {
      width: rem(6px);
      height: rem(13px);
    }
  }

  &-next {
    svg {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}
