:root {
  --header-height: rem(60px);

  @screen md {
    --header-height: rem(80px);
  }
}

.Header {
  position: sticky;
  top: 0;
  z-index: 101;
  height: var(--header-height);
  background-color: white;

  @screen md {
    position: static;
    border-bottom: none;
  }

  &-wrapper {
    @apply container h-full;
  }

  &-contain {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;

    @screen md {
      border-bottom: 1px solid theme('colors.gray.300');
    }

    @screen lg {
      justify-content: flex-end;
    }
  }

  &-home {
    padding-left: rem(30px);

    @screen md {
      padding: 0;
    }

    @screen lg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-logo {
    width: rem(116px);
    height: rem(20px);

    @screen md {
      width: rem(168px);
      height: rem(30px);
    }
  }

  &-right {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-link {
    @apply;

    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;

    @screen md {
      padding: 0 20px;
    }

    &:last-child {
      padding-right: 0;

      @screen md {
        padding-right: 10px;
      }
    }

    * {
      pointer-events: none;
    }

    &:focus {
      outline: 2px solid;
      outline-color: black;
      outline-offset: 0;
    }
  }

  &-linkText {
    display: none;
    margin: 0 rem(10px);
    font-size: theme('fontSize.base');
    line-height: theme('lineHeight.6');

    @screen md {
      display: block;
    }
  }

  &-accountWrapper {
    @apply relative h-full;
  }

  &-dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    display: none;
    width: max-content;
    padding: 8px 12px;
    background-color: theme('colors.white');
    border-radius: 0.375rem;
    box-shadow: 0 0 6px rgb(0 0 0 / 30%);
    visibility: hidden;

    @screen md {
      top: 80px;
      padding: 15px 20px;
    }
  }

  &-icon {
    color: black;

    &.user {
      width: 16px;
      height: 18px;
    }

    &.cart {
      width: 17px;
      height: 20px;
    }
  }

  &-cartCount {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    width: rem(20px);
    height: rem(20px);
    margin-left: 3px;
    color: white;
    font-size: rem(12px);
    background-color: theme('colors.main');
    border-radius: 50%;

    &:empty {
      display: none;
    }
  }

  &-previous {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    gap: rem(10px);
    align-items: center;
    font-size: 0;
    text-decoration: underline;
    transform: translate(0, -50%);

    @screen md {
      font-size: rem(15px);
    }
  }
}

body.is-sticky {
  .Header-dropdown {
    top: 68px;
  }
}

#header-account:hover .Header-dropdown,
#header-account .Header-dropdown.open {
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: visible;
}
