<div class="toolbar toolbar-{$toolbar}" role="toolbar">
    {if $toolbar == "top" }
    <div class="sorter-container">
        {*<span class="amount">9 {intl l="Item(s)"}</span>*}

            <span class="limiter">
                <label for="limit-top">{intl l="Show"}</label>
                <select id="limit-top" name="limit">
                    <option value="{url path="{category attr="url"}" limit="4"}" {if $limit==4}selected{/if}>4</option>
                    <option value="{url path="{category attr="url"}" limit="8"}" {if $limit==8}selected{/if}>8</option>
                    <option value="{url path="{category attr="url"}" limit="12"}" {if $limit==12}selected{/if}>12</option>
                    <option value="{url path="{category attr="url"}" limit="50"}"{if $limit==50}selected{/if}>50</option>
                    <option value="{url path="{category attr="url"}" limit="9999999999"}" {if $limit==9999999999}selected{/if}>All</option>
                </select>
                <span class="per-page">{intl l="per page"}</span>
            </span><!-- /.limiter -->

            <span class="sort-by">
                <label for="sortby-top">{intl l="Sort By"}</label>
                <select id="sortby-top" name="sortby">
                    {*<option value="{url path="{category attr="url"}" order="manual"}">{intl l="Position"}</option>*}
                    <option value="{url path="{category attr="url"}" limit=$limit order="alpha"}" {if $order=="alpha"}selected{/if}>{intl l="Name ascending"}</option>
                    <option value="{url path="{category attr="url"}" limit=$limit order="alpha_reverse"}" {if $order=="alpha_reverse"}selected{/if}>{intl l="Name descending"}</option>
                    <option value="{url path="{category attr="url"}" limit=$limit order="min_price"}" {if $order=="min_price"}selected{/if}>{intl l="Price ascending"}</option>
                    <option value="{url path="{category attr="url"}" limit=$limit order="max_price"}" {if $order=="max_price"}selected{/if}>{intl l="Price descending"}</option>
                    {*<option value="{url path="{category attr="url"}" order="rating"}">{intl l="Rating"}</option>*}
                </select>
            </span><!-- /.sort-by -->

            <span class="view-mode">
                <span class="view-mode-label">{intl l="View as"}:</span>
                <span class="view-mode-btn">
                    <a href="{url path="{navigate to="current"}" mode="grid"}" data-toggle="view" role="button" class="btn btn-grid"><i class="icon-grid"></i></a>
                    <a href="{url path="{navigate to="current"}" mode="list"}" data-toggle="view" role="button" class="btn btn-list "><i class="icon-list"></i></a>
                </span>
            </span><!-- /.view-mode -->

    </div><!-- /.sorter -->
    {else}
    <div class="pagination-container" role="pagination" aria-labelledby="pagination-label-{$toolbar}}">
        <strong id="pagination-label-{$toolbar}}" class="pagination-label">{intl l="Pagination"}</strong>
        <ul class="pagination">

            {if $product_page > 1}
                <li><a href="{url path={navigate to="current"} page={$product_page-1} }" class="prev"><i class="icon-prev"></i></a></li>
            {else}
                <li><a href="#" class="prev"><i class="icon-prev"></i></a></li>
            {/if}
            {pageloop rel="product_list"}
            {if $PAGE != $CURRENT}
                <li><a href="{url path={navigate to="current"} page=$PAGE }"> {$PAGE} </a></li>
            {else}
                <li class="active"><a href="#" tabindex="-1">{$PAGE}</a></li>
            {/if}
            {if $PAGE == $LAST}
                {if $CURRENT < $LAST}
                    <li><a href="{url path={navigate to="current"} page={$CURRENT+1} }" class="next"><i class="icon-next"></i></a></li>
                {else}
                    <li><a href="#" class="next"><i class="icon-next"></i></a></li>
                {/if}

            {/if}
            {/pageloop}
        </ul>
    </div>
    {/if}
</div><!-- /.toolbar toolbar-<?php echo $toolbar; ?> -->
