<!DOCTYPE html>
<html>
    <head>
        <title>{$page_title|default:{intl l="Thelia II"}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		{stylesheets file='../assets/css/*' filters='less,cssembed'}
			<link rel="stylesheet" href="{$asset_url}">
		{/stylesheets}
    </head>
<body>
<div>
{loop type="auth" name="customer_info_block" roles="ROLE_CUSTOMER" context="front"}
<p>Your are logged in ! <a href="{viewurl view='index' action='logoutCustomer'}">Logout</a></p>
{/loop}

{loop type="auth" name="admin_info_block" roles="ROLE_ADMIN" context="admin"}
<p>You are logged as administrator</p>
{/loop}

{elseloop rel="customer_info_block"}
You are not logged in. <a href="{viewurl view='login'}">Login now</a> or <a href="{viewurl view='connexion'}">create your account</a>
{/elseloop}
</div>
<hr />