<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>TheliaSmarty\TheliaSmarty</fullnamespace>
    <descriptive locale="en_US">
        <title>Smarty template engine integration</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Intégration du moteur de template Smarty</title>
    </descriptive>
    <version>2.3.1</version>
    <author>
        <name>Manuel Raynaud</name>
        <email>manu@raynaud.io</email>
    </author>
    <type>classic</type>
    <thelia>2.2.0</thelia>
    <stability>alpha</stability>
</module>
