<div class="alert alert-info small">
    {{ 'The Twig editor does not support this condition type yet (%name).'|trans({'%name': name})|raw }}
    <small class="d-block text-muted">{{ service_id }}</small>
</div>
