{$categories=$categories|default:$smarty.get.categories|default:[]}
{$product_page={$page|default:{$smarty.get.page|default:1}}}
{$product_order={$order|default:{$smarty.get.order|default:"alpha"}}}
{$types = $types|default:$smarty.get.types|default:[]}
{$brands=$brands|default:$smarty.get.brands|default: []}
{$features=$features|default:$smarty.get.features|default: []}
{$attributes=$attributes|default:$smarty.get.attributes|default: []}
{$min_price=$min_price|default:$smarty.get.min_price|default: 0}
{$max_price=$max_price|default:$smarty.get.max_price|default: 9999999}
{$complexPagination={config key="complex_pagination"}|default:false}

{$limit = 12}

{extractOptions features=$features brands=$brands categories=$categories}


{if $types|is_string}
    {$types = ','|explode:$types}
{/if}

{$attributesList = {','|implode:$attributes}}

{$amount={count
  type="product"
  category=$categories|default:$category_id|default:null
  depth=5
  limit=$limit
  order=$product_order
  page=$product_page
  brand=$brands
  title={$smarty.get.query|default:null}
  new={'new'|in_array:$types}
  promo={'promo'|in_array:$types}
  feature_availability=$features
  attribute_extend=true
  attribute_availability=$attributesList
  min_price=$min_price
  max_price=$max_price
}}


<div id="GridProductWrapper" class="mb-10 md:mb-20 GridProductWrapper">
  {ifloop rel="product_list"}

    <div id="GridProduct" class="ProductList" data-total="{$amount}" data-unit=".SingleProduct">
      {loop
        type="product"
        name="product_list"
        category=$categories|default:$category_id|default:null
        depth=5
        limit=$limit
        order=$product_order
        page=$product_page
        brand=$brands
        new={'new'|in_array:$types}
        promo={'promo'|in_array:$types}
        title={$smarty.get.query|default:null}
        feature_availability=$features
        attribute_extend=true
        attribute_availability=$attributesList
        min_price=$min_price
        max_price=$max_price
        }
          {include file="components/smarty/SingleProduct/SingleProduct.html"}
      {/loop}
    </div>

    {if $amount > $limit}
          {include file="components/smarty/Pagination/Pagination.html" current_page=$product_page loop_name="product_list"}
    {/if}


  {include file="components/smarty/Loader/Loader.html" class="w-56 h-56 GridProductWrapper-loader"}
  {/ifloop}
  {elseloop rel="product_list"}
    {include file="components/smarty/Alert/Alert.html" type="warning" title={intl l="Il semblerait que nous n'ayons plus d'articles dans cette rubrique"}}
    <a href="{navigate to="index"}" role="button" class="inline-block mt-8 lg:mt-12 Button">{intl l="Go home"}</a>
  {/elseloop}
</div>
