{$product_id = $ID}
{$width = $width|default:250}
{$height = $height|default:250}
{$productTitle = $productTitle|default:$TITLE}
{$isPse = {count type="product_sale_elements" name="pse" product=$product_id}}

<a href="{$URL}" class="SingleProduct" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>
  <div class="SingleProduct-tagList">
  {if $IS_NEW}
    {include file="components/smarty/Tag/Tag.html" type="primary" text={intl l="New"}}
  {/if}
  {if $IS_PROMO}
    {include file="components/smarty/Tag/Tag.html" type="sale" text="-{((($TAXED_PRICE - $TAXED_PROMO_PRICE) / $TAXED_PRICE) * 100)|string_format:"%d"}%"}
  {/if}
  </div>
  <figure  class="SingleProduct-img">
    {loop name="product_thumbnail" type="image" product=$product_id width=$width height=$height resize_mode="borders" limit="1" format="webp"}
        {$images = [
          [
            "breakpoint" => "(min-width: 1440px)",
            "url" => "/legacy-image-library/product_image_{$ID}/square/!328,328/0/default.webp",
            "link" => $URL,
            "description" => $DESCRIPTION,
            "width" => '328',
            "height" => '328'
          ],
          [
            "breakpoint" => "(min-width: 1280px)",
            "url" => "/legacy-image-library/product_image_{$ID}/square/!247,247/0/default.webp",
            "link" => $URL,
            "description" => $DESCRIPTION,
            "width" => '247',
            "height" => '247'
          ],
          [
            "breakpoint" => "(min-width: 1024px)",
            "url" => "/legacy-image-library/product_image_{$ID}/square/!210,210/0/default.webp",
            "link" => $URL,
            "description" => $DESCRIPTION,
            "width" => '210',
            "height" => '210'
          ],
          [
            "breakpoint" => "(min-width: 768px)",
            "url" => "/legacy-image-library/product_image_{$ID}/square/!146,146/0/default.webp",
            "link" => $URL,
            "description" => $DESCRIPTION,
            "width" => '146',
            "height" => '146'
          ],
          [
            "breakpoint" => "(min-width: 1px)",
            "url" => "/legacy-image-library/product_image_{$ID}/square/!170,170/0/default.webp",
            "link" => $URL,
            "description" => $DESCRIPTION,
            "width" => '170',
            "height" => '170'
          ]
        ]}
        {include
          file="components/smarty/ResponsiveImage/ResponsiveImage.html"
          images=$images|default:[]
          defaultImageUrl=$images[0]
          title=$TITLE|default:$productTitle
          alt={{$TITLE|default:$productTitle}|cat:' '|cat:{intl l='Visuel'}}
          loading="lazy"
          class=""
          width=$images[0]['width']
          height=$images[0]['height']
        }
    {/loop}
    {elseloop rel="product_thumbnail"}
        <img src="{encore_manifest_file file="dist/images/placeholder.webp"}" alt="{$productTitle|cat:' '|cat:{intl l='Visuel'}}"
        title="{$productTitle|cat:' '|cat:{intl l='Visuel'}}"  loading="lazy" width="{$width}" height="{$height}">
    {/elseloop}
  </figure>
  <div class="SingleProduct-desc">
      <div class="SingleProduct-title">{$productTitle}</div>
      <div class="flex items-baseline gap-2 SingleProduct-price">
        {if $IS_PROMO }
          <span class="block text-sm text-gray-600 line-through"><span class="sr-only">{intl l="Regular Price:"} </span>{format_money number=$TAXED_PRICE symbol={currency attr="symbol"}}</span>
            <span class="block"><span class="sr-only">{intl l="Special Price:"} </span>{format_money number=$TAXED_PROMO_PRICE symbol={currency attr="symbol"}}</span>
        {else}
            <span class="">{format_money number=$BEST_TAXED_PRICE symbol={currency attr="symbol"}}</span>
        {/if}
    </div>
  </div>
</a>
