// -- Tools --------------------------------------------------------------------

.border-radius(@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.box-shadow(@shadow: 0 1px 2px rgba(0,0,0,.05)) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}

// -- Base styling ------------------------------------------------------------

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	background: url("img/bg.jpg") repeat;
	font-size: 13px;
}

h3, h4 {
	color: #5a6876;
	background: -webkit-gradient(linear, left top, left bottom, from(#42505d), to(#72808e));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	padding: 0px;
	margin:  0px 0px 20px 0px;
	text-align: left;
	font-size : 18px;
}

h4 {
	padding: 0px 0px 20px 0px;
	margin: 0px;
	text-align: left;
}

#wrapper {
	padding-top: 20px;
}

a {
	color: #e9720f;
	font-weight: bold;
}

// Bootstrap Adjustements ------------------------------------------------------

hr {
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(250, 250, 250, 0.1);
	width: 90%;
	margin: 0 auto;
	clear: both;
	margin-top: 20px;
}

.btn-primary, .btn-large {
	background: #e9730f;
	background-image: linear-gradient(bottom, rgb(227,83,11) 0%, rgb(243,153,34) 100%);
	background-image: -o-linear-gradient(bottom, rgb(227,83,11) 0%, rgb(243,153,34) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(227,83,11) 0%, rgb(243,153,34) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(227,83,11) 0%, rgb(243,153,34) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(227,83,11) 0%, rgb(243,153,34) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(227,83,11)),
		color-stop(1, rgb(243,153,34))
	);
	box-shadow: inset 0px 0px 2px rgba(250,250,250,0.5), 0px 1px 3px rgba(0,0,0,0.2);
	color: white;
}

.btn-large:hover, .btn-primary:hover {
	background: #e9730f;
	background-image: linear-gradient(bottom, rgb(227,83,11) 0%, rgb(243,153,34) 100%);
	background-image: -o-linear-gradient(bottom, rgb(227,83,11) 0%, rgb(243,153,34) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(227,83,11) 0%, rgb(243,153,34) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(227,83,11) 0%, rgb(243,153,34) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(227,83,11) 0%, rgb(243,153,34) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(227,83,11)),
		color-stop(1, rgb(243,153,34))
	);
	box-shadow: inset 0px 0px 2px rgba(250,250,250,0.8), 0px 1px 3px rgba(0,0,0,0.2);
	color: white;
}

.modal-footer {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: none;
  color: #7D756A;
  margin-bottom: 0;
  padding: 35px 15px 15px;
  text-align: left;
}

// -- Brandbar ----------------------------------------------------------------

.loginpage {
	.brandbar {
		width: 100%;
	}

	.hero-unit {
    	background-color: transparent !important;

    	h1 {
    		margin-bottom: 25px;
    	}
	}

	.well {
  		background-color: #E4E3DE;
  		border: 1px solid rgba(0, 0, 0, 0.2);
  		box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.05) inset;
	}
}

.brandbar {

	background: url("img/header.jpg") repeat-x;
	height: 90px;

	a.brand {
		text-indent: -133337px;
		display: block;
		float: left;
		margin-right: 20px;
		background: url("img/logo.png") 0px 12px no-repeat;
		width: 124px;
		height: 63px;
	}

	.breadcrumb {
		border-radius: 0px;
		padding: 25px 0px 25px 30px;
		background: url("img/logo-light.png") left center no-repeat;
		float: left;
		margin: 12px 0px 0px 0px;

		a {
			color: #949aa1;
			text-shadow: 0px 1px 0px rgba(0,0,0,0.8);
		}

		.active {
			color: #FFF;
			text-shadow: 0px 1px 0px rgba(0,0,0,0.8);
			border-bottom: 1px dotted white;
		}
	}

	.Blocmoncompte {
		float: right;
		margin: 0px;
		padding: 0px;
		margin-top: 35px;

		color: white;
		font-size: 13px;
		text-shadow: 0px 1px 0px rgba(0,0,0,0.8);
	}

	dt {
		float: left;
		margin-right: 15px;
	}

	.deconnexion {
		float: right;
		margin: 0px;

		a {
			text-indent: -13337px;
			display: block;
			background: url("img/deconnexion.png") no-repeat;
			width: 23px;
			height: 24px;
		}
	}
}

// -- Feed list on home page --------------------------------------------------

.feed-list {
	h2 {
		font-size: 24px;
		line-height: 120%;
		color: #E9730F;

		a {
			&:hover {
				color: inherit;
				text-decoration: none;
			}
		}
	}

	h3 {
		margin-bottom: 0;
		padding-bottom: 0;
		font-size: 90%;
		line-height: 100%;
	}

	.feed-list-item{
		padding: 10px 20px;
	}
}
// -- Login form --------------------------------------------------------------

.form-signin {
	max-width: 400px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	.border-radius;
	.box-shadow;
}

// -- Allow inline forms validation states ------------------------------------

.form-inline .warning .control-label,
.form-inline .warning .help-block,
.form-inline .warning .help-inline {
  color: #c09853;
}

.form-inline .warning .checkbox,
.form-inline .warning .radio,
.form-inline .warning input,
.form-inline .warning select,
.form-inline .warning textarea {
  color: #c09853;
}

.form-inline .warning input,
.form-inline .warning select,
.form-inline .warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-inline .warning input:focus,
.form-inline .warning select:focus,
.form-inline .warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.form-inline .warning .input-prepend .add-on,
.form-inline .warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.form-inline .error .control-label,
.form-inline .error .help-block,
.form-inline .error .help-inline {
  color: #b94a48;
}

.form-inline .error .checkbox,
.form-inline .error .radio,
.form-inline .error input,
.form-inline .error select,
.form-inline .error textarea {
  color: #b94a48;
}

.form-inline .error input,
.form-inline .error select,
.form-inline .error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-inline .error input:focus,
.form-inline .error select:focus,
.form-inline .error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.form-inline .error .input-prepend .add-on,
.form-inline .error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.form-inline .success .control-label,
.form-inline .success .help-block,
.form-inline .success .help-inline {
  color: #468847;
}

.form-inline .success .checkbox,
.form-inline .success .radio,
.form-inline .success input,
.form-inline .success select,
.form-inline .success textarea {
  color: #468847;
}

.form-inline .success input,
.form-inline .success select,
.form-inline .success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-inline .success input:focus,
.form-inline .success select:focus,
.form-inline .success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.form-inline .success .input-prepend .add-on,
.form-inline .success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

.form-inline .info .control-label,
.form-inline .info .help-block,
.form-inline .info .help-inline {
  color: #3a87ad;
}

.form-inline .info .checkbox,
.form-inline .info .radio,
.form-inline .info input,
.form-inline .info select,
.form-inline .info textarea {
  color: #3a87ad;
}

.form-inline .info input,
.form-inline .info select,
.form-inline .info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-inline .info input:focus,
.form-inline .info select:focus,
.form-inline .info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}

.form-inline .info .input-prepend .add-on,
.form-inline .info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}