.Hero {
  display: flex;
  flex-direction: column;
  order: 1;
  overflow: hidden;
  text-align: center;
  background-color: theme('colors.gray.200');
  border-radius: rem(20px);
  margin-top: 2rem;

  @screen md {
    flex-direction: row;
    text-align: left;
    margin-top: 0;
  }

  > * {
    @screen md {
      max-width: 50%;
    }
  }

  &-img {
    width: 100%;
    overflow: hidden;
    flex: 1;
    display: flex;

    picture,
    img {
      width: 100%;
      overflow: hidden;
    }

    img {
      height: 100%;
      object-fit: cover;
      @screen md {
        animation: hero-img 0.35s ease-out 1;
      }
    }
  }

  &-desc {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(26px) rem(22px) rem(30px);

    @screen md {
      align-items: flex-start;
      max-width: 50%;
    }

    @screen lg {
      align-items: flex-start;
      padding: rem(26px) rem(50px) rem(30px);
    }
  }

  &-text {
    margin-bottom: rem(20px);
    font-weight: 500;
    font-size: rem(20px);
    line-height: 1.4;

    @screen md {
      animation: trans-up 0.25s ease-out 1;
    }

    @screen lg {
      margin-bottom: rem(40px);
      font-size: 2rem;
      line-height: 1.3;
    }
  }

  .Button {
    @screen md {
      animation: trans-up 0.25s ease-out 1;
    }
  }
}
