{$hasImages = false}
{$hasDocuments = false}



{loop name="blog.img" type="image" content=$ID width=1000 height=1000 resize_mode="crop" allow_zoom="true"}
{$hasImages = true}
{/loop}

{loop name="blog.document" type="document" content=$ID}
{$hasDocuments = true}
{/loop}


<div class="lg:container lg:mx-auto mb-20">
  <div class="{if $hasImages || $hasDocuments}lg:grid lg:grid-cols-2 gap-16{else}max-w-xl mx-auto{/if}">
    <section class="">
      {ifloop rel="blog.img"}
          <ul class="grid {if {count type="image" content=$ID } > 1}lg:grid-cols-2{/if} gap-4">
          {loop name="blog.img"  type="image" content=$ID width=1000 height=1000 resize_mode="crop" allow_zoom="true"}
            <li><img src="{$IMAGE_URL}" /></li>
          {/loop}
          </ul>
        {/ifloop}

        {ifloop rel="blog.document"}
        <div class="panel mt-8">
          <div class="mb-4 text-2xl  font-bold leading-none">
            {intl l="Download(s)"}
          </div>
          <ul class="">
            {loop name="blog.document"  type="document" content=$ID}
            <li class="mb-2">
              <a href="{$DOCUMENT_URL nofilter}" class="hover: flex items-center" target="_blank">
                {renderIconSvg icon="download" class="w-6 h-6 mr-2 fill-current  hover:text-inherit"}
                <span class="text-white hover:text-inherit">
                  {if $TITLE}
                    {$TITLE}
                  {else}
                    {$DOCUMENT_PATH|regex_replace:"/.*\//": ""}
                  {/if}
                </span>
              </a>
            </li>
            {/loop}
          </ul>
        </div>
        {/ifloop}
    </section>
    <section class="">
      <div class="sticky top-0 max-w-xl mx-auto" style="top: calc(var(--Header-height) + 3rem);">

      {if $DESCRIPTION}
          <div class="wysiwyg">
              {$DESCRIPTION nofilter}
          </div>
      {/if}


      {if $POSTSCRIPTUM}
          <small class="">
              {$POSTSCRIPTUM}
          </small>
      {/if}
      </div>
    </section>
  </div>
</div>


