.Alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: theme("colors.main-dark");
  background: theme("colors.main-light");
  border-radius: rem(6px);

  @screen xs {
    flex-direction: row;
  }

  &--success {
    color: white;
    background: theme("colors.main");
  }

  &--warning {
    color: theme("colors.yellow.900");
    background: theme("colors.yellow.200");
  }

  &--error {
    color: white;
    background: theme("colors.error");
  }
}
