<div class="InputLinkError row">
    <label class="block text-lightCharbon text-sm font-bold mb-2 uppercase">{intl l = "Indication"}</label>
    <div>
        <div class="left-inner-addon input-container">
            <i class="fa fa-link"></i>
            <input type="password"
                   class="form-control border-red bg-backgroundRed" 
                   placeholder="Insérer le nom" />
        </div>
    </div>
    <label class="block text-red text-xs font-bold">{intl l = "Indication de l'erreur"}</label>
</div>