<div class="InputLink">
    <div>
        <div class="left-inner-addon">
            <i class="text-mediumGrey fa fa-link"></i>
            <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker border-vermillon bg-backgroundRed" type="text" placeholder="Insérer le nom">
        </div>
    </div>
    <div class="flex" style="margin-left: 170px;">
        <a href="#"><div class="w-2 h-2 mt-1"><img src="{image file="assets/images/svg/warning.svg"}" alt="fr" /></div></a>
        <label class="text-red text-xs font-normal mx-1">{intl l = "Indication de l'erreur"}</label>
    </div>
</div>