{extends file="email-layout.tpl"}

{* Do not provide a "Open in browser" link  *}
{block name="browser"}{/block}
{* No pre-header *}
{block name="pre-header"}{/block}

{* Subject  *}
{block name="email-subject"}{intl l="Your subscriotion to %store newsletter" store={config key="store_name"}}{/block}

{* Title  *}
{block name="email-title"}{/block}

{* Content  *}
{block name="email-content"}
    {if $firstname || $lastname}
        <p>{intl l="Dear %firstname %lastname," firstname=$firstname lastname=$lastname}</p>
    {else}
        <p>{intl l="Hello,"}</p>
    {/if}
    <p>{intl l="Thank you for your registration. You'll now receive the %store newsletter on your email address %email." store={config key="store_name"} email=$email}</p>
    <p>{intl l="To unsubscribe from our newsletter, please <a href=\"%unsublink\">click here</a>." unsublink={url path="/newsletter-unsubscribe" email=$email}}</p>
    <p> {intl l="The %store team." store={config key="store_name"}}</p>
{/block}