body.CategoryMenu--active {
  overflow-y: hidden;
  @screen lg {
    overflow-y: auto;
  }
}

.CategoryMenu {
  label {
    @apply text-base;
  }
}

.CategoryMenu-wrapper {
  display: none;
  @screen lg {
    top: var(--Header-height) !important;
    display: block;
  }

  .CategoryMenu--active & {
    display: block;
  }
}
