{$categoriesSelected=$categories|default:$smarty.get.categories|default:[]}
{$product_page={$page|default:{$smarty.get.page|default:1}}}
{$product_order={$order|default:{$smarty.get.order|default:"alpha"}}}
{$types = $types|default:$smarty.get.types|default:[]}
{$brands=$brands|default:$smarty.get.brands|default: []}
{$featuresSelected=$features|default:$smarty.get.features|default: []}
{$attributesSelected=$attributes|default:$smarty.get.attributes|default: []}
{$min_price=$min_price|default:$smarty.get.min_price|default: 0}
{$max_price=$max_price|default:$smarty.get.max_price|default: 9999999}

{foreach from=$featuresSelected key=featureKey item=featureValue}
    {if !is_array($featureValue)}
        {$featuresSelected[$featureKey] = [$featureValue]}
    {/if}
{/foreach}



{$min_price={$min_price|default:{$smarty.get.min_price|default: 0}}}
{$max_price={$max_price|default:{$smarty.get.max_price|default: 5000}}}

<div class="CategoryMenu-wrapper">
    <form id="CategoryMenu" class="CategoryMenu" action="{url path="/filters/product"}" data-form-filters>
    <div class="flex items-center justify-start 2xl:items-baseline mb-7 md:mb-10">
        <div class="flex items-baseline mr-auto text-3xl font-semibold leading-none uppercase font-barlow">
          {renderIconSvg icon="filter" class="text-black FilterBtn-icon"}
          {intl l="Filtres"}
        </div>
        <a href="{$URL}" class="p-[10px]  text-lg">{renderIconSvg icon="reset" class="w-4 h-4 2xl:hidden"}<span class="hidden underline 2xl:block">Réinitialiser</span></a>
        <button type="button" class="CategoryMenu-close p-[10px] ml-4 2xl:hidden" data-toggle-filters>{renderIconSvg icon="close" class="w-4 h-4 pointer-events-none"}</button>
    </div>
        <input type="hidden" name="category_id" id="CategoryMenu-categories" value="{$category_id}">

        {* on désactive  le cache quand filtre  actif *}
        {if $min_price != 0 || $max_price != 5000 || $featuresSelected|count || $brands|count || $categoriesSelected|count || $attributesSelected|count}
            {$ttl = 0}
        {else}
            {$ttl = 36000}
        {/if}

        {cache key="category-sidebar" ttl=0 product_order=$product_order category_id=$category_id categoriesSelected=$categoriesSelected brands=$brands featuresSelected=$featuresSelected attributesSelected=$attributesSelected}
        <div class="divide-y divide-black">
        {$loop_feature_count = 0}
        {loop name="choice_filter" type="choice_filter" category_id=$category_id}
          {$loop_feature_count = $loop_feature_count+1}
            {if $TYPE == "feature" and $VISIBLE}
                {loop type="feature" name="feature-{$ID}" id=$ID}
                    {$featureID = $ID}
                    {ifloop rel="feature.avail.category.list"}
                      <div class="{if $loop_feature_count eq 1}pb-4{else}py-4{/if}">
                        <div class="CategoryMenu-title">{$TITLE}</div>
                        <ul class="">
                            {loop type="feature-availability" name="feature.avail.category.list" feature=$featureID order="alpha"}
                            <li>
                                {include
                                  file="components/smarty/Checkbox/Checkbox.html"
                                  id="customCheckbox-{$featureID}-{$ID}"
                                  name="features[{$featureID}][]"
                                  value=$ID
                                  label=$TITLE
                                  class="mb-3"
                                  checked=isset($featuresSelected[$featureID]) && $ID|in_array:$featuresSelected[$featureID]
                                }
                            </li>
                            {/loop}
                          </ul>
                      </div>
                    {/ifloop}
                {/loop}
            {elseif $TYPE == "attribute" and $VISIBLE}
                  {loop type="attribute" name="attribute-$ID" id=$ID}
                      {$attributeId = $ID}
                      <div class="py-4">
                          <div class="CategoryMenu-title">
                              {$TITLE}
                          </div>
                          <div class="{if $attributesSelected|count < 1}collapse{/if}">
                            {loop type="attribute_availability" name="attribute-list.avail" attribute=$ID}
                              <div>
                                {include
                                  file="components/smarty/Checkbox/Checkbox.html"
                                  id="attribute-{$ID}"
                                  name="attributes[]"
                                  value=$ID
                                  label=$TITLE
                                  class="mb-3"
                                  checked=$ID|in_array:$attributesSelected
                                }
                              </div>
                            {/loop}
                          </div>
                      </div>
                  {/loop}

            {elseif $TYPE == "category" and $VISIBLE}
                {ifloop rel="categoryFilter"}
                    <div class="py-4">
                        <div class="CategoryMenu-title">{intl l="Catégories"}</div>
                        <div class="collapse">
                            {loop type="category" name="categoryFilter" parent=$category_id order="alpha"}
                            <div>
                              {include
                                file="components/smarty/Checkbox/Checkbox.html"
                                id="customCheckbox-{$ID}"
                                name="categories[]"
                                value=$ID
                                label=$TITLE
                                class="mb-2"
                                checked=$ID|in_array:$categoriesSelected
                              }
                            </div>
                            {/loop}
                        </div>
                    </div>
                {/ifloop}
              {elseif $TYPE == "brand" and $VISIBLE}
                  {ifloop rel="brands-list"}
                      <div class="py-4">
                          <div class="CategoryMenu-title">{intl l="Brands"}</div>
                          <div class="collapse">
                            {loop type="brand" name="brands-list" categories=$category_id order="alpha"}
                            <div>
                              {include
                                file="components/smarty/Checkbox/Checkbox.html"
                                id="customBrand-{$ID}"
                                name="brands[]"
                                value=$ID
                                label=$TITLE
                                class="mb-3"
                                checked=$ID|in_array:$brands
                              }
                            </div>
                          {/loop}
                          </div>
                      </div>
                  {/ifloop}
            {/if}
        {/loop}
        </div>
        {/cache}
        <button type="button" class="block Button 2xl:hidden" data-toggle-filters>{intl l="Appliquer"}</button>
    </form>
</div>


