body.CategoryMenu--active {
  overflow-y: hidden;
  @screen lg {
    overflow-y: auto;
  }

  .CategoryMenu-wrapper {
    transform: none;
  }
}

.CategoryMenu {
  width: 100%;
  height: 100%;
  padding: rem(28px) rem(20px) rem(20px);
  overflow-y: auto;
  scrollbar-color: theme("colors.gray.300") white;
  scrollbar-width: thin;

  @screen md {
    padding: rem(22px) rem(40px) rem(40px);
  }

  @screen 2xl {
    padding-top: 0;
  }

  &-wrapper {
    position: fixed;
    top: 0;
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    padding-top: var(--header-height);
    background: white;
    box-shadow: -3px 0 20px 0 #00000029;
    transform: translate(-110%,0);
    visibility: hidden;
    transition: transform linear 0.1s;

    @screen md {
      position: fixed;
      left: 0;
      z-index: 1;
      max-width: rem(354px);
      padding-top: calc(var(--header-height) + var(--nav-height));
    }

    @screen 2xl {
      position: relative;
      top: 0;
      height: auto;
      max-height: 100%;
      padding-top: 0;
      box-shadow: none;
      transform: none;
      visibility: visible;
    }
  }

  &-title {
    @apply font-barlow text-2xl mb-4 font-medium;
  }

  ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-main;
  }
}

