<div class="container">
  <div  class="Hero">
    <div class="Hero-img">
        <picture>
          <img src="{$desktop|default:{encore_manifest_file file='dist/images/placeholder.webp'}}"  alt="{intl l="%name visuel" name={config key="store_name"}}" title="{intl l="%name visuel" name={config key="store_name"}}" width="543" height="407">
      </picture>
    </div>
    <div class="Hero-desc">
      <div class="Hero-text">
        {$description nofilter}
      </div>
      <a href="#" class="text-base Button" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>{intl l="I discover"}</a>
    </div>
  </div>
</div>
