<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>TwigEngine\TwigEngine</fullnamespace>
    <descriptive locale="en_US">
        <title>Twig Engine - template engine</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Twig Engine - moteur de template</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0.0-alpha</version>
    <authors>
        <author>
            <name>Alexandre Nozière - OpenStudio</name>
            <email>anoziere@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.5.5</thelia>
    <stability>alpha</stability>
</module>
