.Navigation {
  display: none;
}
@screen md {
  .Navigation {
    position: sticky;
    top: -1px;
    z-index: 2;
    display: block;
    background-color: white;
    border-bottom: 1px solid white;

    &-contain {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: var(--nav-height);
      transition: linear 0.1s;
    }

    &-logo {
      position: absolute;
      top: 50%;
      left: 0;
      display: none;
      transform: translate(0, -50%);

      svg {
        width: rem(124px);
        height: rem(23px);
      }
    }

    &.is-sticky {
      background: red;

      .SearchDropdown {
        display: none;
      }

      .Navigation-logo {
        display: block;
      }
    }
  }

  .Menu {
    @apply font-roboto;

    height: 100%;

    &-list {
      display: flex;
      gap: rem(16px);
      align-items: stretch;
      height: 100%;

      @screen lg {
        gap: rem(50px);
      }
    }

    &-item {
      display: flex;
      align-items: stretch;
      font-weight: 500;
      font-size: rem(18px);
      line-height: 1;

      &.active {
        .Menu-sub1 {
          z-index: 1;
          opacity: 1;
          transition: ease-in 0.1s;
          pointer-events: auto;

          a {
            visibility: initial;
          }
        }

        .Menu-item-link {
          color: theme('colors.main-dark');

          &::after {
            width: 100%;
            opacity: 1;
            transition: ease-in 0.15s 0.1s;
          }
        }
      }
    }

    &-item-link {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 500;
      cursor: pointer;

      &::after {
        position: absolute;
        bottom: var(--space);
        left: 50%;
        width: 0;
        height: 3px;
        background: theme('colors.main');
        transform: translate(-50%, 0);
        opacity: 0;
        content: '';
      }

      &:hover,
      &:focus,
      &--active {
        color: theme('colors.main-dark');
        outline: none;

        &::after {
          width: 100%;
          opacity: 1;
          transition: ease-in 0.15s 0.1s;
        }
      }
    }

    &-sub1 {
      --grid-size: 2;

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -10;
      display: grid;
      grid-template-columns: repeat(var(--grid-size), auto);
      gap: rem(28px);
      padding: calc(var(--space) + rem(30px)) 0 rem(40px);
      transform: translate(0, calc(100% - 20px));
      opacity: 0;
      pointer-events: none;

      @screen md {
        --grid-size: 2;
      }

      @screen lg {
        --grid-size: 3;
      }

      @screen xl {
        --grid-size: 4;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        width: 100vw;
        height: 100%;
        background-color: theme('colors.white');
        border-top: var(--space) solid theme('colors.main-light');
        transform: translate(-50%, 0);
        content: '';
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: -2;
        width: 100vw;
        height: rem(8px);
        background-color: theme('colors.gray.400');
        transform: translate(-50%, 100%);
        filter: blur(8px);
        content: '';
      }

      a {
        visibility: hidden;

        &:hover {
          color: theme('colors.main-dark');
        }
      }
    }

    &-sub1-item {
      max-width: 340px;

      &.is-seeAll {
        display: hidden;
        grid-row: 1 / calc(var(--grid-size) + 2);
        grid-column: var(--grid-size) / calc(var(--grid-size) + 1);
        align-self: start;
        justify-self: end;
        border: none;

        @screen md {
          span {
            overflow: hidden;
            border-radius: 1.25rem;
          }

          .Menu-sub1-link {
            display: flex;
            flex-direction: column;
            gap: 16px;
            overflow: hidden;
            text-align: center;
          }
        }
      }
    }

    &-sub1-link {
      display: block;
      margin-bottom: rem(10px);
      font-weight: 500;
      font-size: rem(18px);
      line-height: 1;

      img {
        transition: transform 0.3s ease-out;
      }

      &:hover img {
        transform: scale(1.075);
      }
    }

    &-sub2 {
      display: inline-flex;
      flex-direction: column;
      font-weight: 400;
      font-size: rem(15px);
    }

    &-sub2-link {
      display: block;
      padding: rem(10px) 0;

      &:hover,
      &:focus {
        color: theme('colors.main-dark');
      }
    }
  }
}

@keyframes sticky {
  0% {
    opacity: 0;
  }

  top {
    opacity: 1;
  }
}
