<div class="modaled">
    <div class="modal-contented">
        <span class="closey-button">×</span>
        <div class="flex items-center p-2">
            <div class="w-2/5 mr-1">
              <label class="block text-lightCharbon text-sm font-bold mb-2 uppercase">{intl l = "Rechercher dans le catalogue"}</label>
              <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker border-mediumGrey" type="text" placeholder="Entrer un nom, une référence...">
            </div>
          
            <div class="w-2/5 mr-1">
              <label class="block text-lightCharbon text-sm font-bold mb-2 uppercase">{intl l = "Filtrer par catégorie"}</label>
              <select class="appearance-none border rounded w-full py-2 px-3 text-grey-darker border-mediumGrey">
                <option class="text-lightCharbon">{intl l = "Sélectionnez les catégories"}</option>
              </select>
            </div>
            </div>
</div>
</div>