.SearchDropdown {
  position: relative;
  &-input {
    width: 20rem !important;
    max-width: 100%;
    height: 2.375rem;
    border-radius: 3.125rem;

    padding: 0 4rem 0 1rem;
  }
  &-icon {
    @apply absolute text-base;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.SearchDropdown input.SearchDropdown-input {
  @apply border bg-gray-100;

  &:focus {
    @apply border-gray-200;
  }
}
