.SearchDropdown {
  &-contain {
    position: relative;
    display: flex;
    align-items: center;
    width: rem(40px);
    height: var(--header-height);

    @screen md {
      position: absolute;
      right: 0;
      bottom: -3rem;
      width: auto;
      height: 3rem;
      transform: translate(0, 50%);
    }
  }

  &-field {
    position: relative;
    display: block;
    height: 100%;
  }

  &-input {
    width: 100%;
    height: 100%;
    padding-right: rem(40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    border-radius: 6px;

    &:focus {
      @apply border-gray-700 ring-gray-700;
    }
  }

  &-fake {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    color: black;
    border: none;
    border-radius: 6px;

    &:focus {
      outline: 2px solid black;
      outline-offset: 0;
    }

    @screen md {
      &:focus {
        outline-offset: 3px;
      }
    }

    &Icon {
      width: rem(18px);
      height: rem(18px);
      color: black;
    }
  }

  &-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: rem(18px);
    height: rem(18px);
    transform: translate(0, -50%);
    cursor: pointer;
  }

  &-full {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: var(--header-height) 0;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.95);
    animation: reveal 0.15s ease-out 1;
  }

  &-form {
    margin-bottom: 2rem;

    @screen lg {
      margin-bottom: 4rem;
    }

    input {
      height: 3rem;

      &:focus {
        outline: 2px solid theme('colors.main');
        outline-offset: 0;
      }
    }
  }

  &-results {
    --min-height-cartitem: rem(50px);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;

    @screen sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @screen lg {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }

    @screen xl {
      grid-template-columns: repeat(4, 1fr);
    }

    .CartItem {
      margin-top: 0;
      padding: rem(12px);

      &-img {
        flex-shrink: 0;
      }

      &:hover,
      &:focus {
        background-color: theme('colors.main-light');
      }
    }
  }
}
