.panel {
  @apply mb-6 border border-transparent bg-white p-4 xl:p-6;

  &.shadow {
    @apply border-0;
  }
}

.panel--highlight {
  @apply border-main;
}

.ArrowLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(38px);
  height: rem(38px);
  color: theme('colors.main');
  border: 2px solid currentcolor;
  border-radius: 100%;
}
