button {
  &:focus {
    @apply shadow-none outline-none;
  }
}

.Button {
  @apply font-roboto font-medium leading-none;

  padding: 15px 30px;
  font-size: rem(18px);
  text-align: center;
  border: 2px solid theme("colors.main");
  border-radius: 6px;

  &:hover,
  &:focus,
  &--active {
    @apply bg-main text-white;
  }

  &:focus {
    @apply shadow-none;

    outline: 2px solid theme("colors.main");
    outline-offset: 2px;
  }

  &:disabled, &--disabled {
    border-color: theme("colors.gray.400");
    outline: none;
    cursor: not-allowed;

    &:hover, &:focus {
      color: black;
      background: transparent;
      outline: none;
    }
  }


  &--actived {
    color: white;
    background-color: theme("colors.main");
    animation: shake 0.75s linear 1;
  }

  &--loading {
    color: white;
    background-color: theme("colors.main-light");
    border-color: theme("colors.main-light");
  }
}
