button {
  &:focus {
    @apply shadow-none outline-none;
  }
}

.btn {
  transition: background 150ms ease-in-out, box-shadow 250ms;
  @apply inline-flex cursor-pointer items-center justify-center border border-main bg-main px-10 py-4 text-center uppercase text-white;

  &:hover,
  &--active {
    @apply bg-main-dark text-white;
  }

  &:focus {
    @apply shadow-none outline-none;
  }

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  &--sm {
    @apply px-4 py-2 text-sm;
  }

  &--rounded {
    @apply rounded;
  }

  &--secondary {
    @apply border-gray-500 bg-gray-500;

    &:hover {
      @apply bg-gray-800;
    }
  }
}
