::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	@apply bg-main;
}

a {
	&:hover {
		@apply text-gray-400;
	}
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	> footer {
		transition: all 0.5s;
		width: 100%;
		transform: translateX(0);
	}
}

.Layout {
	display: flex;
	flex: 1;
	width: 100%;
	margin: auto;

	> main {
		transform: translateX(0);
		transition: transform 250ms linear;
		width: 100%;
	}
}

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
