/* stylelint-disable declaration-block-no-redundant-longhand-properties */
:root {
  --mm-ocd-width: 100%;
  --mm-ocd-min-width: 200px;
  --mm-ocd-max-width: 440px;
  --mm-spn-item-height: var(--header-height);
  --mm-spn-item-indent: 20px;
  --mm-spn-line-height: 18px;
}

body.mm-ocd-opened {
  overflow-y: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.mm-ocd {
  @apply font-medium;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background: rgb(0 0 0 / 0%);
  transition-delay: 0.45s, 0.15s;
  transition-timing-function: ease;
  transition-duration: 0s, 0.3s;
  transition-property: bottom, background-color;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;

  @screen lg {
    display: none;
  }
}

.mm-ocd--open {
  bottom: 0;
  background: rgb(0 0 0 / 25%);
  transition-delay: 0s;
}

.mm-ocd__content {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 80%;
  width: var(--mm-ocd-width);
  background: #fff;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.mm-ocd--left .mm-ocd__content {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.mm-ocd--right .mm-ocd__content {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.mm-ocd--open .mm-ocd__content {
  transform: translate3d(0, 0, 0);
}

.mm-ocd__backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -3;
  width: calc(100% - 80%);
  width: calc(100% - var(--mm-ocd-width));
  min-width: calc(100% - 440px);
  min-width: calc(100% - var(--mm-ocd-max-width));
  max-width: calc(100% - 200px);
  max-width: calc(100% - var(--mm-ocd-min-width));
  background: rgb(3 2 1 / 0%);
}

.mm-ocd--left .mm-ocd__backdrop {
  right: 0;
}

.mm-ocd--right .mm-ocd__backdrop {
  left: 0;
}

.mm-spn,
.mm-spn a,
.mm-spn li,
.mm-spn span,
.mm-spn ul {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mm-spn {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(0);
  clip-path: inset(0 0 0 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

.mm-spn ul {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: 2;
  width: 130%;
  padding-right: 30%;
  overflow: visible;
  overflow-y: auto;
  font-size: var(--mm-spn-line-height);
  line-height: var(--mm-spn-line-height);
  background: inherit;
  cursor: default;
  transition: left 0.3s ease 0s;
  -webkit-overflow-scrolling: touch;
}

.mm-spn ul::after {
  display: block;
  height: 50px;
  height: var(--mm-spn-item-height);
  content: '';
}

.mm-spn > ul {
  left: 0;
}

.mm-spn ul.mm-spn--open {
  left: 0;
}

.mm-spn ul.mm-spn--parent {
  left: -30%;
  overflow-y: hidden;
}

.mm-spn li {
  position: relative;
  background: inherit;
  cursor: pointer;
}

.mm-spn li::before {
  position: absolute;
  top: calc(var(--mm-spn-item-height) / 2);
  right: var(--mm-spn-item-indent);
  z-index: 0;
  display: block;
  width: 38px;
  height: 38px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 38 38'%3E%3Cg id='Groupe_2589' data-name='Groupe 2589' transform='translate(-315 -81)'%3E%3Cg id='Ellipse_189' data-name='Ellipse 189' transform='translate(315 81)' fill='none' stroke='%23fb923c' stroke-width='2'%3E%3Ccircle cx='19' cy='19' r='19' stroke='none'/%3E%3Ccircle cx='19' cy='19' r='18' fill='none'/%3E%3C/g%3E%3Cg id='Groupe_500' data-name='Groupe 500' transform='translate(-188.081 -481)'%3E%3Cpath id='chevron-right' d='M9,18.973l6.486-6.486L9,6' transform='translate(510.838 568.513)' fill='none' stroke='%23fb923c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translate(0, -50%);
  transform-origin: center;
  content: '';
}

.mm-spn li::after {
  display: block;
  margin: 0 var(--mm-spn-item-indent);
  border-top: 1px solid theme('colors.gray.500');
  opacity: 0.15;
  content: '';
}

.mm-spn a,
.mm-spn span,
.mm-spn button {
  position: relative;
  z-index: 1;
  padding: 13px 20px;
  padding: calc((var(--mm-spn-item-height) - var(--mm-spn-line-height)) / 2)
    var(--mm-spn-item-indent);
}

.mm-spn a {
  color: black;
  text-decoration: none;
  background: inherit;
}

.mm-spn a:not(:last-child) {
  width: calc(100% - 50px);
  width: calc(100% - var(--mm-spn-item-height));
}

.mm-spn span {
  background: 0 0;
}

.mm-spn.mm-spn--navbar {
  cursor: pointer;
}

.mm-spn.mm-spn--navbar::before {
  position: absolute;
  top: calc(var(--mm-spn-item-height) + 20px);
  left: var(--mm-spn-item-indent);
  z-index: 0;
  display: flex;
  align-items: center;
  height: 38px;
  padding-left: 47px;
  text-decoration: underline;
  background-image: url("data:image/svg+xml,%3Csvg id='Groupe_2590' data-name='Groupe 2590' xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 38 38'%3E%3Cg id='Ellipse_189' data-name='Ellipse 189' fill='none' stroke='%23fb923c' stroke-width='2'%3E%3Ccircle cx='19' cy='19' r='19' stroke='none'/%3E%3Ccircle cx='19' cy='19' r='18' fill='none'/%3E%3C/g%3E%3Cg id='Groupe_500' data-name='Groupe 500' transform='translate(14.757 12.514)'%3E%3Cpath id='chevron-right' d='M15.486,18.973,9,12.486,15.486,6' transform='translate(-9 -6)' fill='none' stroke='%23fb923c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  transform: translate(0, -50%);
  transform-origin: center;
  content: 'Retour';
}

.mm-spn.mm-spn--navbar.mm-spn--main {
  cursor: default;
}

.mm-spn.mm-spn--navbar.mm-spn--main::before {
  display: none;
  content: none;
}

.mm-spn.mm-spn--navbar.mm-spn--main::after {
  padding-left: 20px;
  padding-left: var(--mm-spn-item-indent);
}

.mm-spn.mm-spn--navbar ul {
  top: calc(var(--mm-spn-item-height) + 1px);
}

.mm-spn.mm-spn--navbar:not(.mm-spn--main) ul {
  top: calc(165px + 1px);
}

.mm-spn.mm-spn--navbar:not(.mm-spn--main)::after {
  position: absolute;
  top: var(--mm-spn-item-height);
  left: 0;
  z-index: 300;
  display: block;
  width: 100%;
  padding: 50px var(--mm-spn-item-indent) 0;
  overflow: hidden;
  font-size: 2rem;
  line-height: 1.1;
  line-height: var(--mm-item-height);
  white-space: nowrap;
  text-overflow: ellipsis;
  content: attr(data-mm-spn-title);
}

.mm-spn.mm-spn--light {
  background: white;
}

.mm-spn.mm-spn--dark {
  color: #ddd;
  background: #333;
}

.mm-spn.mm-spn--vertical {
  overflow-y: auto;
}

.mm-spn.mm-spn--vertical ul {
  position: static;
  width: 100%;
  padding-right: 0;
}

.mm-spn.mm-spn--vertical ul ul {
  display: none;
  padding-left: 20px;
  padding-left: var(--mm-spn-item-indent);
}

.mm-spn.mm-spn--vertical ul ul::after {
  height: 25px;
  height: calc(var(--mm-spn-item-height) / 2);
}

.mm-spn.mm-spn--vertical ul.mm-spn--open {
  display: block;
}

.mm-spn.mm-spn--vertical li.mm-spn--open::before {
  transform: rotate(135deg) translate(-50%, 0);
}

.mm-spn.mm-spn--vertical ul ul li:last-child::after {
  display: none;
  content: none;
}
