:root {
  --footer-height: rem(100px);
  --gap-checkout: 1.25rem;
  --container-width: calc(rem(1086px) + calc(2 * var(--gap-checkout)));
  --header-height: rem(60px);
  --nav-height: rem(90px);
  --space: rem(20px);
  --min-height-cartitem: rem(106px);

  @screen md {
    --gap-checkout: 2.5rem;
    --header-height: rem(80px);
  }
}
