.wysiwyg {
  font-size: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    @apply mb-4;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  hr {
    @apply my-4 border-t border-white border-opacity-50;
  }

  p {
    @apply mb-6;
  }

  ul {
    @apply mb-6 list-inside list-disc;
  }

  ol {
    @apply mb-6 list-inside list-decimal;
  }

  blockquote {
    @apply mb-6;

    position: relative;
    display: inline-block;
    padding: 0 2rem;
    text-align: center;

    p {
      margin-bottom: 0;
    }

    &::after,
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      font-size: 3rem;
      font-style: italic;
      line-height: 1rem;
      content: '“';
      @apply text-main;
    }
  }

  a {
    @apply underline;

    &:hover {
      @apply text-main;
    }
  }

  table {
    @apply mt-6 mb-6 w-full border border-gray-100 border-opacity-25;
  }

  th,
  td {
    text-align: left;
    @apply border-b border-gray-100 border-opacity-25 p-4;
  }

  thead th {
    @apply bg-gray-500 text-xl;
  }

  tbody tr:nth-child(odd) > td,
  tbody tr:nth-child(odd) > th {
    @apply bg-gray-300;
  }
}
