.Zoomer {
  position: absolute;
  z-index: 50;
  display: none;
  width: 175px;
  height: 175px;
  border-radius: 6px;
  box-shadow: 0 2px 20px #0000001a;
  transform: translate(-50%,-50%);
  transform-origin: center;
  opacity: 0;
  pointer-events: none;

  @screen lg {
    display: block;
  }

  &.is-visible {
    opacity: 100;
  }

  &:hover {
    cursor: none
  }
}
