{assign var="value" value={$value|default:$STATE|default:null}}
{$statesOptions = []}
{$statesOptions['default'] = [
  'value' => '',
  'label' => {intl l="Choose a state"}
]}

{loop type="state" name="state.list" order="alpha"}
{$statesOptions[$ID] = [
    'value' => $ID,
    'label' => $TITLE|default:null,
    'data-label' => 'data-country',
    'data-value' => $COUNTRY|default:null
  ]}
{/loop}

{include
  file="components/smarty/Select/Select.html"
  name=$name
  id="{$label_attr.for|default:null}"
  value=$value
  label=$label
  required=$required
  options=$statesOptions
  class="StateSelect hidden"
}
