input[type="file"] {
	display : none;
}

.Image {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#file-drag-three {
	border-radius : 4px;
	color         : #333333;
	cursor        : pointer;
	display       : block;
	margin: 1em 0px;
	padding       : 3em;
	text-align    : center;
	transition    : background 0.3s, color 0.3s;
}


#file-drag-three:hover,
#file-drag-three.hover {
	border-color : #555;
	border : solid;
	color: #555;
	border-width: thin;
}


#file-upload-form-three {
	margin : auto;	
	width  : 26%;
}