
{set_previous_url ignore_current="1"}
<div class="max-w-6xl grid-cols-2 gap-6 mx-auto Login lg:grid">
    <div class="mb-8 panel">
      {form name="thelia.front.customer.login"}
        <form action="{url path="/login"}" method="post" {form_enctype}>
            <div class="mb-8 text-2xl font-bold uppercase ">{intl l="Do you have an account?"}</div>
            {form_hidden_fields}

            {form_field field="success_url"}
            <input type="hidden" name="{$name}" value="{if $success}{$success}{else}{navigate to="current"}{/if}">
            {/form_field}

            {form_field field="email"}
            {include
              file="components/smarty/Input/Input.html"
              type="email"
              name=$name
              label=$label
              value=$value
              placeholder=""
              id="{$label_attr.for|default:null}-mini"
              required=true
            }
            {/form_field}

            {form_field field="password"}
            {include
              file="components/smarty/Input/Input.html"
              type="password"
              name=$name
              label=$label
              value=$value
              placeholder=""
              id="{$label_attr.for|default:null}-mini"
              required=true
            }
            {/form_field}

            {form_field field="account"}
            <input type="hidden" name="{$name}" value="1">
            {/form_field}


            {if $form_error}
                {include file="components/smarty/Alert/Alert.html" type="error" title={intl l="Error"} message=$form_error_message}
              {/if}

            <div class="flex items-center justify-between mt-8">
              <a href="{url path="/password"}" class="underline">{intl l="Forgot your Password?" }</a>
              <button type="submit" class="Button">{intl l="Login"}</button>
            </div>
        </form>
      {/form}
    </div>
    <div class="flex flex-col justify-center mb-8 panel">
        <div class="mb-8 text-2xl font-bold text-center uppercase ">{intl l="No, I am a new customer"}</div>
        <div class="my-auto text-center">
          <a href="{url path="/register"}" class="Button"></i> {intl l="Create an account"}</a>
        </div>
    </div>
</div>

