.AddressCard {
  display: flex;
  gap: rem(10px);
  align-items: flex-start;
  padding: rem(17px) rem(38px) rem(20px) rem(20px);
  font-size: rem(15px);
  line-height: 1.25;
  background-color: theme("colors.gray.200");
  border-radius: rem(20px);
  cursor: pointer;

  &:focus-within {
    outline: 2px solid theme("colors.gray.400");
  }

  &-info {
    display: flex;
    flex-direction: column;
    color: theme("colors.gray.700");
    font-style: normal;
  }

  &-edit {
    display: block;
    margin-left: auto;
    text-decoration: underline;
  }

  &--selected {
    background-color: theme("colors.main-light");

    &:focus-within {
      outline-color: theme("colors.main");
    }
  }
}
