.SingleCategory {
  display: flex;
  flex-direction: column;
  width: 19.875rem;
  overflow: hidden;
  border-radius: 8px;

  @screen lg {
    width: 18.625rem;
  }

  @screen md {
    width: 17rem;
  }

  &:hover, &:focus {
    color: white;

    .SingleCategory-img {
      img {
        transform: scale(1.075);
      }
    }

    .SingleCategory-title {
      @apply bg-main text-white !important;
    }
  }

  &--small {
    @apply w-full flex-row h-16;

    .SingleCategory-img {
      img {
        @apply w-16 h-full;
      }
    }

    .SingleCategory-title {
      @apply p-4 text-sm flex-1;
    }
  }

  &-img {
    @apply overflow-hidden;

    img {
      object-fit: cover;
      transition: transform 0.8s ease-in;

      @screen md {
        height: 18.625rem;
      }
    }
  }

  &-title {
    @apply flex transition-all items-center justify-between uppercase font-semibold;

    padding: 1.375rem 1.875rem;
    font-size: rem(18px);
    background-color: theme('backgroundColor.white');

    &:hover {
      @apply text-white;
    }
  }


}
