{$category_id = $category_id|default:$ID}
{$width = $width|default:64}
{$height = $height|default:64}
{$categoryTitle = $TITLE}
{$type = $type|default:"h2"}

<a href="{$URL}"  class="SingleCategory {$class|default:''}">
  <figure class="SingleCategory-img">
    {loop name="category_thumbnail" type="image" quality="100" category=$ID width=$width height=$height resize_mode="crop" limit="1" format="webp"}
        <img
          src="{$IMAGE_URL}"
          alt="{{$TITLE|default:$categoryTitle}|cat:' '|cat:'Visuel'}"
          title="{{$TITLE|default:$categoryTitle}|cat:' '|cat:'Visuel'}"
          width="{$width}"
          height="{$height}"
          loading="lazy"
        >
    {/loop}
    {elseloop rel="category_thumbnail"}
        <img
          src="{encore_manifest_file file="dist/images/placeholder.webp"}"
          alt="{$categoryTitle|cat:' '|cat:'Visuel'}"
          title="{$categoryTitle|cat:' '|cat:'Visuel'}"
          width="{$width}"
          height="{$height}"
        >
    {/elseloop}
  </figure>

  <div class="SingleCategory-title">
      <{$type}>{$categoryTitle}</{$type}>
  </div>
</a>
