{extends file="layout.tpl"}

{* Body Class *}
{block name="body-class"}page-account-update{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [['title' => {intl l="Account"}, 'url'=>{url path="/account"}]]}
    {$breadcrumbs = [
    ['title' => {intl l="Account"}, 'url'=>{url path="/account"}],
    ['title' => {intl l="Update Profil"}, 'url'=>{url path="/account/update"}]
    ]}
{/block}

{block name="main-content"}
    <div class="main">

        <article class="col-main" role="main" aria-labelledby="main-label">

            <h1 id="main-label" class="page-header">{intl l="Update Profil"}</h1>

            {form name="thelia.customer.update"}
                {assign var="isPost" value="{$smarty.post|count}"}
            <form id="form-register" class="form-horizontal" action="{url path="/account/update"}" method="post" role="form">
                {form_field form=$form field='success_url'}
                    <input type="hidden" name="{$name}" value="{url path="/account"}" />
                {/form_field}

                {form_hidden_fields form=$form}

                {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

                <fieldset id="register-info" class="panel panel">
                    <div class="panel-heading">
                        {intl l="Personal Informations"}
                    </div>

                    <div class="panel-body">
                        {form_field form=$form field="title"}
                            <div class="form-group group-title {if $error}has-error{elseif $isPost && $value != "" && !$error}has-success{/if}">
                                <label class="control-label" for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                                <div class="control-input">
                                    <select name="{$name}" id="{$label_attr.for}" class="form-control"{if $required} aria-required="true" required{/if}{if !$value || $error} autofocus{/if}>
                                        <option value="">-- {intl l="Select Title"} --</option>
                                        {loop type="title" name="country.list"}
                                            <option value="{$ID}" {if $value == $ID}selected{/if} >{$LONG}</option>
                                        {/loop}
                                    </select>
                                    {if $error }
                                        <span class="help-block"><i class="icon-remove"></i> {$message}</span>
                                        {assign var="error_focus" value="true"}
                                    {elseif !$value}
                                        {assign var="error_focus" value="true"}
                                    {elseif $isPost &&  $value != "" && !$error}
                                        <span class="help-block"><i class="icon-ok"></i></span>
                                    {/if}
                                </div>
                            </div><!--/.form-group-->
                        {/form_field}
                        {form_field form=$form field="firstname"}
                        <div class="form-group group-firstname {if $error}has-error{elseif $isPost && $value != "" && !$error}has-success{/if}">
                            <label class="control-label" for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                            <div class="control-input">
                                <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" placeholder="John" value="{$value}" {if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                {if $error }
                                    <span class="help-block"><i class="icon-remove"></i> {$message}</span>
                                    {assign var="error_focus" value="true"}
                                {elseif $isPost && $value != "" && !$error}
                                    <span class="help-block"><i class="icon-ok"></i></span>
                                {/if}
                            </div>
                        </div><!--/.form-group-->
                        {/form_field}
                        {form_field form=$form field="lastname"}
                            <div class="form-group group-lastname {if $error}has-error{elseif $isPost && $value != "" && !$error}has-success{/if}">
                                <label class="control-label" for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                                <div class="control-input">
                                    <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" placeholder="Doe" value="{$value}" {if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                    {if $error }
                                        <span class="help-block"><i class="icon-remove"></i> {$message}</span>
                                        {assign var="error_focus" value="true"}
                                    {elseif $isPost && $value != "" && !$error}
                                        <span class="help-block"><i class="icon-ok"></i></span>
                                    {/if}
                                </div>
                            </div><!--/.form-group-->
                        {/form_field}
                        {form_field form=$form field="email"}
                        <div class="form-group group-email {if $error}has-error{elseif $isPost && $value != "" && !$error}has-success{/if}">
                            <label class="control-label" for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>

                            <div class="control-input">
                                <input type="email" name="{$name}" id="{$label_attr.for}" class="form-control" placeholder="johndoe@domain.com" value="{$smarty.get.email|default:$value}"{if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                {if $error }
                                    <span class="help-block"><i class="icon-remove"></i> {$message}</span>
                                    {assign var="error_focus" value="true"}
                                {elseif $isPost && $value != "" && !$error}
                                    <span class="help-block"><i class="icon-ok"></i></span>
                                {/if}
                            </div>
                        </div><!--/.form-group-->
                        {/form_field}
                    </div>
                </fieldset>

                {form_field form=$form field="newsletter"}
                <div class="form-group group-newsletter{if $error} has-error{/if}">
                    <div class="control-input">
                        <div class="checkbox">
                            <label class="control-label" for="{$label_attr.for}">
                                <input type="checkbox" name="{$name}" id="{$label_attr.for}" value="{$value}"{if $checked} checked{/if}  {if $required} aria-required="true" required{/if}>{$label}</a>.
                            </label>
                            {if $error }
                                <span class="help-block"><i class="icon-remove"></i> {$message}</span>
                            {/if}
                        </div>
                    </div>
                </div><!--/.form-group-->
                {/form_field}

                <div class="form-group group-btn">
                    <div class="control-btn">
                        <button type="submit" class="btn btn-register">{intl l="Update"}</button>
                    </div>
                </div><!--/.form-group-->
            </form>
            {/form}
        </article>

    </div><!-- /.layout -->
{/block}