{include file="includes/header.html"}

{form name="thelia.customer.creation"}
{* We use $INDEX_PAGE as form action to avoid mixing post and get data *}
<form action="{$INDEX_PAGE}" method="post" {form_enctype form=$form}>
	{*
	The two fields below are not par of the form, they are here to defines
	the action to process, and the view to render once the form is submited
	*}
	<input type="hidden" name="action" value="createCustomer" /> {* the action triggered by this form *}
	<input type="hidden" name="view" value="connexion" /> 		{* the view to return to if the form cannot be validated *}

	{*
	This field is common to all BaseForm instances (thus, this one), and defines
	the URL the customer is redirected to once the form has been successfully
	processed
	*}

	{form_field form=$form field='success_url'}
	<input type="hidden" name="{$name}" value="{$RETURN_TO_URL}" /> {* the url the user is redirected to on login success *}
	{/form_field}

	{*
	The form error status and the form error messages are defined in Customer action,
	and passed back to the form plugin through the ParserContext.
	*}

	{if #form_error}<div class="alert alert-error">#form_error_message</div>{/if}


    {form_hidden_fields form=$form}

    {form_field form=$form field="title"}
        {form_error form=$form field="title"}
            {$message}
        {/form_error}

        <label> <span>{intl l="{$label}"} : </span></label>
        <select name="{$name}">
            <option value="1">M.</option>
            <option value="2">Mme.</option>

        </select>
        <br />
    {/form_field}

    {form_field form=$form field="firstname"}
        {form_error form=$form field="firstname"}
            {$message}
        {/form_error}

        <label> <span>{intl l="{$label}"} : </span></label><input type="text" name="{$name}" value="{$value}" {$attr} > <br />
    {/form_field}

    {form_field form=$form field="lastname"}
        {form_error form=$form field="lastname"}
            {$message}
        {/form_error}

        <label> <span>{intl l="{$label}"} : </span></label><input type="text" name="{$name}" value="{$value}" {$attr} > <br />
    {/form_field}

    {form_field form=$form field="address1"}
        {form_error form=$form field="address1"}
            {$message}
        {/form_error}

        <label> <span>{intl l="{$label}"} : </span></label><input type="text" name="{$name}" value="{$value}" {$attr} > <br />
    {/form_field}

    {form_field form=$form field="address2"}
        {form_error form=$form field="address2"}
            {$message}
        {/form_error}

        <label> <span>{intl l="{$label}"} : </span></label><input type="text" name="{$name}" value="{$value}" {$attr} > <br />
    {/form_field}

    {form_field form=$form field="address3"}
        {form_error form=$form field="address3"}
            {$message}
        {/form_error}

        <label> <span>{intl l="{$label}"} : </span></label><input type="text" name="{$name}" value="{$value}" {$attr} > <br />
    {/form_field}

    {form_field form=$form field="zipcode"}
        {form_error form=$form field="zipcode"}
            {$message}
        {/form_error}

        <label> <span>{intl l="{$label}"} : </span></label><input type="text" name="{$name}" value="{$value}" {$attr} > <br />
    {/form_field}

    {form_field form=$form field="city"}
        {form_error form=$form field="city"}
            {$message}
        {/form_error}

        <label> <span>{intl l="{$label}"} : </span></label><input type="text" name="{$name}" value="{$value}" {$attr} > <br />
    {/form_field}

    {form_field form=$form field="country"}
        {form_error form=$form field="country"}
            {$message}
        {/form_error}

        <label> <span>{intl l="{$label}"} : </span></label>
            <select name="{$name}">
                <option value="1">France</option>
                <option value="2">Belgium</option>

            </select>
        <br />
    {/form_field}

    {form_field form=$form field="phone"}
        {form_error form=$form field="phone"}
            {$message}
        {/form_error}
        <label> <span>{intl l="{$label}"} : </span></label><input type="text" name="{$name}" value="{$value}" {$attr}> <br />
    {/form_field}

    {form_field form=$form field="cellphone"}
        {form_error form=$form field="cellphone"}
            {$message}
        {/form_error}
        <label> <span>{intl l="{$label}"} : </span></label><input type="text" name="{$name}" value="{$value}" {$attr}> <br />
    {/form_field}

    {form_field form=$form field="email"}
        {form_error form=$form field="email"}
            {#message}
        {/form_error}
        <label><span>{intl l="{$label}"}</span></label><input type="email" name="{$name}" value="{$value}" {$attr} ><br />
    {/form_field}

    {form_field form=$form field="email_confirm"}
        {form_error form=$form field="email_confirm"}
            {#message}
        {/form_error}
        <label><span>{intl l="{$label}"}</span></label><input type="email" name="{$name}" {$attr} ><br />
    {/form_field}

    {form_field form=$form field="password"}
        {form_error form=$form field="password"}
            {#message}
        {/form_error}
        <label><span>{intl l="{$label}"}</span></label><input type="password" name="{$name}" {$attr} ><br />
    {/form_field}

    {form_field form=$form field="password_confirm"}
        {form_error form=$form field="password_confirm"}
            {#message}
        {/form_error}
        <label><span>{intl l="{$label}"}</span></label><input type="password" name="{$name}" {$attr} ><br />
    {/form_field}

<input type="submit" value="valider">
</form>
{/form}

{include file="includes/footer.html"}