{extends file="layout.tpl"}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [['title' => {intl l="Contact us"}, 'url'=>{url path="/contact"}]]}
{/block}

{block name="main-content"}
    <div class="main">
        <article class="col-main" role="main" aria-labelledby="main-label">
        <h1 id="main-label" class="page-header">{intl l="Contact us"}</h1>

        {form name="thelia.contact"}
        <form id="form-contact" class="form-horizontal" action="{url path="/contact"}" method="post" role="form">
            {form_hidden_fields form=$form}
            <fieldset id="contact-info" class="panel panel">
                <div class="panel-heading">
                    1. {intl l="Personal Informations"}
                </div>
                <div class="panel-body">
                    {form_field form=$form field="firstname"}
                    <div class="form-group group-firstname {if $error}has-error{elseif $value != "" && !$error}has-success{/if}">
                        <label class="control-label" for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                        <div class="control-input">
                            <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" placeholder="John" value="{$value}" {if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                            {if $error }
                                <span class="help-block"><i class="icon-remove"></i> {$message}</span>
                                {assign var="error_focus" value="true"}
                            {elseif $value != "" && !$error}
                                <span class="help-block"><i class="icon-ok"></i></span>
                            {/if}
                        </div>
                    </div><!--/.form-group-->
                    {/form_field}
                    {form_field form=$form field="lastname"}
                        <div class="form-group group-firstname {if $error}has-error{elseif $value != "" && !$error}has-success{/if}">
                            <label class="control-label" for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                            <div class="control-input">
                                <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" placeholder="John" value="{$value}" {if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                {if $error }
                                    <span class="help-block"><i class="icon-remove"></i> {$message}</span>
                                    {assign var="error_focus" value="true"}
                                {elseif $value != "" && !$error}
                                    <span class="help-block"><i class="icon-ok"></i></span>
                                {/if}
                            </div>
                        </div><!--/.form-group-->
                    {/form_field}
                    {form_field form=$form field="email"}
                        <div class="form-group group-firstname {if $error}has-error{elseif $value != "" && !$error}has-success{/if}">
                            <label class="control-label" for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                            <div class="control-input">
                                <input type="email" name="{$name}" id="{$label_attr.for}" class="form-control" placeholder="johndoe@domain.com" value="{$value}" {if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                {if $error }
                                    <span class="help-block"><i class="icon-remove"></i> {$message}</span>
                                    {assign var="error_focus" value="true"}
                                {elseif $value != "" && !$error}
                                    <span class="help-block"><i class="icon-ok"></i></span>
                                {/if}
                            </div>
                        </div><!--/.form-group-->
                    {/form_field}
                    {form_field form=$form field="subject"}
                        <div class="form-group group-firstname {if $error}has-error{elseif $value != "" && !$error}has-success{/if}">
                            <label class="control-label" for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                            <div class="control-input">
                                <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" placeholder="contact subject" value="{$value}" {if $required} aria-required="true" required{/if}{if !isset($error_focus) && $error} autofocus{/if}>
                                {if $error }
                                    <span class="help-block"><i class="icon-remove"></i> {$message}</span>
                                    {assign var="error_focus" value="true"}
                                {elseif $value != "" && !$error}
                                    <span class="help-block"><i class="icon-ok"></i></span>
                                {/if}
                            </div>
                        </div><!--/.form-group-->
                    {/form_field}
                    {form_field form=$form field="message"}
                        <div class="form-group group-firstname {if $error}has-error{elseif $value != "" && !$error}has-success{/if}">
                            <label class="control-label" for="{$label_attr.for}">{$label}{if $required} <span class="required">*</span>{/if}</label>
                            <div class="control-input">
                                <textarea name="{$name}" id="{$label_attr.for}" class="form-control">
                                    {$value}
                                </textarea>
                                {if $error }
                                    <span class="help-block"><i class="icon-remove"></i> {$message}</span>
                                    {assign var="error_focus" value="true"}
                                {elseif $value != "" && !$error}
                                    <span class="help-block"><i class="icon-ok"></i></span>
                                {/if}
                            </div>
                        </div><!--/.form-group-->
                    {/form_field}

                    <div class="form-group group-btn">
                        <div class="control-btn">
                            <button type="submit" class="btn btn-register">{intl l="Send"}</button>
                        </div>
                    </div><!--/.form-group-->
                </div>
            </fieldset>
        </form>
        {/form}
        </article>
    </div>
{/block}