<h1>CUSTOMER</h1>

<h2>Information</h2>

{loop name="customer" type="customer"}

<table border="1" cellspacing="0" cellpadding="5">
        <tr>
            <td>ID</td>
            <td>#ID</td>
        </tr>
        <tr>
            <td>Réference</td>
            <td>#REF</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>
                {loop name="title" type="title" id="#TITLE"}
                    #LONG (#SHORT)
                {/loop}
            </td>
        </tr>
        <tr>
            <td>Firstname</td>
            <td>#FIRSTNAME</td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td>#LASTNAME</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>#EMAIL</td>
        </tr>
        <tr>
            <td>Is reseller</td>
            <td>#RESELLER</td>
        </tr>
        <tr>
            <td>Sponsor</td>
            <td>#SPONSOR</td>
        </tr>
        <tr>
            <td>Discount</td>
            <td>#DISCOUNT %</td>
        </tr>
</table>

{/loop}

<h2>Addresses</h2>

{loop name="addresses" type="address"}

<table border="1" cellspacing="0" cellpadding="5">
    <tr>
        <td>ID</td>
        <td>#ID</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>#NAME</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>
            {loop name="title" type="title"}
            #LONG (#SHORT)
            {/loop}
        </td>
    </tr>
    <tr>
        <td>Company</td>
        <td>#COMPANY</td>
    </tr>
    <tr>
        <td>Firstname</td>
        <td>#FIRSTNAME</td>
    </tr>
    <tr>
        <td>Lastname</td>
        <td>#LASTNAME</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>#ADDRESS1<br/>#ADDRESS2<br/>#ADDRESS3</td>
    </tr>
    <tr>
        <td>Zipcode</td>
        <td>#ZIPCODE</td>
    </tr>
    <tr>
        <td>City</td>
        <td>#CITY</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>#PHONE</td>
    </tr>
    <tr>
        <td>Cellphone</td>
        <td>#CELLPHONE</td>
    </tr>
</table>

{/loop}