<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>TODO write content<br />

        <THELIA_cat type="category">
            #__COUNT__ - #TITLE <br />
            nb child : #NB_CHILD <br /><br />
        </THELIA_cat>

        <TEST_equal test="equal" variable="3" value="1">
            test vrai
        </TEST_equal>
            test faux
        <//TEST_equal>
        <br />
        <REPEAT_loopy start="6" end="12" increment="1">
            Compteur = #INDEX<br />
        </REPEAT_loopy>

        </div>
    </body>
</html>
