{extends file="layout.tpl"}


{block name="main-content"}
    <section class="carousel-container">
        <div id="carousel" class="carousel slide">
            <div class="carousel-wrapper">
                <div class="carousel-inner">
                    <figure class="item active">
                        {images file='assets/img/carousel/1200x390.png'}<img src="{$asset_url}" alt="img1">{/images}
                    </figure>
                    <figure class="item">
                        {images file='assets/img/carousel/1200x390.png'}<img src="{$asset_url}" alt="img2">{/images}
                    </figure>
                    <figure class="item">
                        {images file='assets/img/carousel/1200x390.png'}<img src="{$asset_url}" alt="img3">{/images}
                    </figure>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel" data-slide="prev"><i class="icon-prev"></i></a>
            <a class="right carousel-control" href="#carousel" data-slide="next"><i class="icon-next"></i></a>
        </div>
    </section><!-- #carousel -->


    <section id="products-new">
        <div class="products-heading">
            <h2>Latest <a href="#latest" class="btn-all">+ View All</a></h2>
        </div>

        <div class="products-content">
            <ul class="products-grid product-col-4">
                {loop name="product_new" type="product" limit="4" new="yes"}
                <li class="item">
                    <article itemscope itemtype="http://schema.org/Product">
                        <!-- Use the meta tag to specify content that is not visible on the page in any way -->
                        <meta itemprop="manufacturer" content="Diesel">
                        <meta itemprop="category" content="Category1">
                        <meta itemprop="condition" content="new"> <!-- List of condition : new, used, refurbished -->
                        <meta itemprop="identifier" content="mpn:925872"> <!-- List of identifier : asin, isbn, mpn, upc, sku -->

                        <a href="#URL" itemprop="url" tabindex="-1" class="product-image">
                            {ifloop rel="image_product_new" }
                                <img itemprop="image"
                            {loop name="image_product_new" type="image" limit="1" product="{#ID}"}
                                src="{#IMAGE_URL}"
                            {/loop}
                                alt="Product #{#LOOP_COUNT}" >
                            {/ifloop}
                            {elseloop rel="image_product_new"}
                                {images file='assets/img/280x196.png'}<img itemprop="image" src="{$asset_url}" alt="Product #{#LOOP_COUNT}">{/images}
                            {/elseloop}
                            <span class="mask"></span>
                        </a>

                        <a href="{#URL}" class="product-info">
                            <h3 class="name"><span itemprop="name">{#TITLE}</span></h3>
                            <div class="short-description" itemprop="description">{#CHAPO}</div>

                            <div class="product-price">
                                <div class="price-container" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="currency" content="USD"> <!-- List of currency : The currency used to describe the product price, in three-letter ISO format. -->
                                    <link itemprop="availability" href="http://schema.org/InStock" content="In Stock" />
                                    <!-- List of availibility :
                                            out_of_stock : http://schema.org/OutOfStock
                                            in_stock : http://schema.org/InStock
                                            instore_only : http://schema.org/InStoreOnly
                                            preorder : http://schema.org/PreOrder
                                            online_only : http://schema.org/OnlineOnly
                                    -->
                                    <span class="regular-price"><span itemprop="price" class="price">{currency attr="symbol"} {format_number number="{#BEST_TAXED_PRICE}"}
</span></span>
                                </div>
                            </div>
                        </a>
                    </article><!-- /product -->
                </li>
                {/loop}

            </ul>
        </div>
    </section><!-- #products-new -->

    <section id="products-offer">
        <div class="products-heading">
            <h2>Offers <a href="#offer" class="btn-all">+ View All</a></h2>
        </div>

        <div class="products-content">
            <ul class="products-grid product-col-5 hover-effect">
                {loop name="product_promo" type="product" limit="5" promo="yes"}
                <li class="item">
                    <article itemscope itemtype="http://schema.org/Product">
                        <!-- Use the meta tag to specify content that is not visible on the page in any way -->
                        <meta itemprop="manufacturer" content="Diesel">
                        <meta itemprop="category" content="Category1">
                        <meta itemprop="condition" content="new"> <!-- List of condition : new, used, refurbished -->
                        <meta itemprop="identifier" content="mpn:925872"> <!-- List of identifier : asin, isbn, mpn, upc, sku -->

                        <a href="{#URL}" itemprop="url" tabindex="-1" class="product-image">
                            {ifloop rel="image_product_promo" }
                            <img itemprop="image"
                                    {loop name="image_product_promo" type="image" limit="1" product="{#ID}"}
                                        src="{#IMAGE_URL}"
                                    {/loop}
                                 alt="Product #{#LOOP_COUNT}" >
                            {/ifloop}
                            {elseloop rel="image_product_promo"}
                                {images file='assets/img/218x146.png'}<img itemprop="image" src="{$asset_url}" alt="Promotion #{#LOOP_COUNT}">{/images}
                            {/elseloop}
                            <span class="mask"></span>
                        </a>

                        <div class="product-info">
                            <h3 class="name"><a href="{#URL}"><span itemprop="name">{#CHAPO}</span></a></h3>
                        </div>

                        <div class="product-price">
                            <div class="price-container" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <meta itemprop="currency" content="USD"> <!-- List of currency : The currency used to describe the product price, in three-letter ISO format. -->
                                <link itemprop="availability" href="http://schema.org/InStock" content="In Stock" />
                                <!-- List of availibility :
                                    out_of_stock : http://schema.org/OutOfStock
                                    in_stock : http://schema.org/InStock
                                    instore_only : http://schema.org/InStoreOnly
                                    preorder : http://schema.org/PreOrder
                                    online_only : http://schema.org/OnlineOnly
                                -->
                                {loop name="productSaleElements_promo" type="product_sale_elements" product="{#ID}" limit="1"}
                                    <span class="special-price"><span itemprop="price" class="price-label">{intl l="Special Price:"} </span><span class="price">{format_number number="{#TAXED_PROMO_PRICE}"} {currency attr="symbol"}</span></span>
                                    <span class="old-price"><span class="price-label">{intl l="Regular Price:"} </span><span class="price">{format_number number="{#TAXED_PRICE}"} {currency attr="symbol"}</span></span>
                                {/loop}
                            </div>
                        </div>
                    </article><!-- /product -->
                </li>
                {/loop}

            </ul>
        </div>
    </section><!-- #products-offer -->
{/block}