{extends file="layout.tpl"}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [['title' => {intl l="Thanks !"}, 'url'=>{url path="/contact/success"}]]}
{/block}

{block name="main-content"}
    <div class="main">
        <article class="col-main" role="main" aria-labelledby="main-label">
            <h1 id="main-label" class="page-header">{intl l="Thanks !"}</h1>
            <p>{intl l="Thanks for your subscrition to the newsletter"}</p>
        </article>
    </div>
{/block}