{extends file="layout.tpl"}

{block name="breadcrumb"}
    <nav class="nav-breadcrumb" role="navigation" aria-labelledby="breadcrumb-label">
        <strong id="breadcrumb-label">{intl l="You are here"} </strong>
        <ul class="breadcrumb" itemprop="breadcrumb">
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{url path="/"}" itemprop="url"><span itemprop="title">{intl l="Home"}</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><span itemprop="title">{intl l="Password"}</span></li>
        </ul>
    </nav><!-- /.nav-breadcrumb -->
{/block}

{block name="main-content"}
    <div class="main">
        <article class="col-main" role="main" aria-labelledby="main-label">
            <h1 id="main-label" class="page-header">{intl l="Password Forgotten"}</h1>

            <form id="form-forgotpassword" action="" method="post" role="form">

                <p>{intl l="Please enter your email address below. You will receive a link to reset your password."}</p>

                <div class="form-group">
                    <label for="forgot-email">Please enter your email address</label>
                    <input type="email" name="forgot-email" id="forgot-email" class="form-control" aria-required="true" autofocus aria-required="true" required value="">
                </div>
                <div class="group-btn">
                    <a href="{url path="/"}" class="btn btn-cancel">{intl l="Cancel"}</a>
                    <button type="submit" class="btn btn-forgot">{intl l="Send"}</button>
                </div>
            </form>
        </article>
    </div>
{/block}
