{extends file="layout.tpl"}


{block name="body-class"}page-view-all{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
    ['title' => {intl l="View all"}, 'url'=>{url path="/view_all"}]
    ]}
{/block}

{block name="main-content"}
    <div class="main">

    {$limit={$smarty.get.limit|default:8}}
    {$product_page={$smarty.get.page|default:1}}
    {$product_order={$smarty.get.order|default:'alpha'}}

<article class="col-main  {$smarty.get.mode|default:"grid"}"  role="main" aria-labelledby="main-label">

    {if $smarty.get.type == "new"}
        <h1 id="main-label" class="page-header">{intl l="View all"} {$smarty.get.type} {intl l="products"}</h1>
        {else}
        <h1 id="main-label" class="page-header">{intl l="View all"} {intl l="offers"}</h1>
    {/if}
    {include file="includes/toolbar.html" toolbar="top" limit=$limit order=$product_order}
    <div id="category-products">
        <div class="products-content">
            {ifloop rel="product_list"}
                <ul class="product-col-3">
                    {if $smarty.get.type == "new"}
                        {loop type="product" name="product_list" limit=$limit page=$product_page order=$product_order}
                            {include file="includes/single-product.html" product_id=$ID hasBtn=true hasDescription=true width="700" height="320"}
                        {/loop}
                        {else}
                        {loop type="product" name="product_list"  promo="yes" limit=$limit page=$product_page order=$product_order}
                            {include file="includes/single-product.html" product_id=$ID hasBtn=true hasDescription=true width="700" height="320"}
                        {/loop}
                    {/if}


                </ul>
            {/ifloop}
            {elseloop  rel="product_list"}
                <h2 class="text-center">{intl l="No results found"} </h2>
            {/elseloop}
        </div>
    </div><!-- /#category-products -->
    {ifloop rel="product_list"}
        {include file="includes/toolbar.html" toolbar="bottom"}
    {/ifloop}
    </article>

</div><!-- /.layout -->
{/block}

{block name="after-javascript-include"}{/block}