.MiniLogin {
  @apply w-full z-10 flex flex-col fixed right-0 inset-y-0 shadow-2xl bg-white p-10;
  max-width: 90%;
  transform: translateX(100%);
  transition: transform 250ms linear;
  top: var(--Header-height);
  @screen md {
    @apply max-w-lg;
  }
  &--visible {
    transform: translateX(0);
  }
}
