.MiniCart {
  top: var(--Header-height);
  right: 0;
  bottom: 0;
  max-width: 90%;
  transform: translateX(150%);
  transition: transform 250ms linear;
  @apply fixed w-full shadow-md md:max-w-lg;

  &--visible {
    transform: translateX(0);
  }
}
