.MiniCart {
  @apply fixed w-full shadow-md md:max-w-lg;

  top: var(--header-height);
  right: 0;
  bottom: 0;
  max-width: 90%;
  transform: translateX(150%);
  transition: transform 250ms linear;

  &--visible {
    transform: translateX(0);
  }
}

.CartItems {
  margin: 0 rem(-20px);
  padding: 0 rem(20px) 4rem;

  @screen md {
    padding-bottom: 0;
  }
}

.CartItem {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  min-height: var(--min-height-cartitem);
  transition: all ease-in 0.15s;

  &:not(:first-child) {
    margin-top: rem(20px);
    padding-top: rem(20px);
    border-top: 1px solid theme('colors.gray.300');
  }

  &--recap {
    .CartItem-bottom {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &:not(:first-child) {
      margin-top: rem(8px);
      padding-top: rem(8px);
    }
  }

  &-img {
    width: var(--min-height-cartitem);
    height: var(--min-height-cartitem);
    overflow: hidden;
    background-color: theme('colors.white');
    border-radius: rem(6px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-contain {
    position: relative;
    flex-grow: 1;
  }

  &-smallQuantity {
    position: absolute;
    top: -2.25rem;
    right: 0;
    color: theme('colors.gray.600');
    font-size: rem(12px);
  }

  &-bottom {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
