<ul class="ProductList {$class|default:null}">
    {loop
      type={$loopType|default:"product"}
      name={$loopName|default:"ProductList"}
      limit={$loopLimit|default:4}
      promo={$loopPromo|default:null}
      new={$loopNew|default:null}
      order={$loopOrder|default:""}
      category={$loopCategory|default:""}
      id={$loopProductId|default:""}
      exclude={$loopExcludeProductId|default:""}
      depth={$loopDepth|default:1}
    }
      <li class="ProductList-item">
        {include file="components/smarty/SingleProduct/SingleProduct.html" tabindex=$tabindex|default:null}
      </li>
    {/loop}
</ul>
