.BreadCrumb {
  @apply font-roboto;

  padding: rem(26px) rem(28px);
  color: theme('colors.gray.600');
  font-size: rem(12px);
  line-height: rem(20px);

  &-list {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    list-style: none;
    @screen md {
      justify-content: center;
      overflow: initial;
    }
  }

  &-item {
    display: flex;
    align-items: center;

    &:last-child {
      span {
        opacity: 0.7;
      }
    }

    &:hover,
    &:focus {
      a {
        color: theme('colors.main-dark');
      }
    }
  }

  &-arrow {
    display: block;
    width: 3px;
    height: 6px;
    margin: 0 10px;
    color: theme('colors.gray.600');
    transform: rotate(180deg);
    transform-origin: center;
  }
}
