.Title {
  &--1,
  &--2 {
    @apply font-roboto font-medium;

    line-height: 1.3;

    @screen lg {
      line-height: 1.1;
    }
  }

  &--3,
  &--4 {
    @apply font-barlow font-semibold uppercase;
  }

  &--1 {
    font-size: 2rem;

    @screen lg {
      font-size: rem(48px);
    }
  }

  &--2 {
    font-size: 1.5rem;

    @screen lg {
      font-size: 2rem;
    }
  }

  &--3 {
    font-size: rem(22px);
    line-height: 1.4;

    @screen lg {
      font-size: rem(28px);
      line-height: 1.1;
    }
  }

  &--4 {
    font-size: rem(18px);
    line-height: 1.1;

    @screen lg {
      font-size: 1.5rem;
    }
  }
}
