<header class="Header {if $lite|default:false}static{/if}">
  <div class="Header-wrapper">
    {if !$lite|default:false}
      <div class="Header-contain">
        {include file="components/smarty/Hamburger/Hamburger.html"}

        <a href="{navigate to="index"}" class="Header-home" aria-label="{config key="store_name"}" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>
          {renderSvgImage file={encore_manifest_file file="dist/images/logo.svg"} class="Header-logo"}
        </a>

        {$userLink = [
          "url" => "{url path='/login'}",
          "label" => "{intl l='Login'}",
          "toggle" => "data-toggle-login"
        ]}

        {if $isConnected|default:false}
          {$userLink = [
            "url" => "{url path='/account'}",
            "label" => "{intl l='My account'}",
            "toggle" => ""
          ]}
        {/if}

        <div class="Header-right">
          {include file="components/smarty/SearchDropdown/SearchDropdown.html"}
          {if $isConnected|default:false}
            <div id="Header-Account" class="Header-accountWrapper">
              <a href="{$userLink.url}" class="Header-link" aria-label="{$userLink.label}" {$userLink.toggle} data-close-cart {if isset($tabindex)}tabindex="{$tabindex}"{/if}>
                {renderIconSvg icon="user" class="Header-icon user"}
                <span class="Header-linkText">{$userLink.label}</span>
              </a>
              <ul class="Header-dropdown">
                <li><a href="{url path='/account/update'}" class="inline-block hover:text-main" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>{intl l="My Profile"}</a></li>
                <li><a href="{url path='/account-orders'}" class="inline-block hover:text-main" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>{intl l="My orders"}</a></li>
                <li><a href="{url path='/account-address'}" class="inline-block hover:text-main" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>{intl l="My Addresses"}</a></li>
                <li><a href="{url path='/logout'}" class="inline-block hover:text-main" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>{intl l="Logout"}</a></li>
              </ul>
            </div>
          {else}
            <a href="{$userLink.url}" class="Header-link" aria-label="{$userLink.label}" {$userLink.toggle} data-close-cart {if isset($tabindex)}tabindex="{$tabindex}"{/if}>
              {renderIconSvg icon="user" class="Header-icon user"}
              <span class="Header-linkText">{$userLink.label}</span>
            </a>
          {/if}
          <button type="button" class="Header-link" data-toggle-cart data-close-login {if isset($tabindex)}tabindex="{$tabindex}"{/if}>
            {renderIconSvg icon="cart" class="Header-icon cart"}
            <span class="Header-linkText">{intl l="My cart"}</span>
            <span id="js-cart-count" class="Header-cartCount">{{cart attr="product_count"}|default:0}</span>
          </button>
        </div>
      </div>
    {else}
      <div class="relative flex items-center justify-center h-full">
        <a href="{navigate to='index'}" class="Header-previous " {if isset($tabindex)}tabindex="{$tabindex}"{/if}>
          <div class="transform ArrowLink">
            {renderIconSvg icon="arrow" class="w-2 h-4"}
          </div>
          {intl l="Continuer mes achats"}
        </a>
        <a href="{navigate to="index"}"  aria-label="{config key="store_name"}" class="mx-auto" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>
          {renderIconSvg icon="logo" class="Header-logo"}
        </a>
      </div>
    {/if}
  </div>
</header>
