.Modal {
  width: 100%;
  max-width: var(--container-width);
  height: 100%;
  padding: 2rem;
  overflow: auto;
  background-color: white;
  border-radius: rem(6px);
  outline: none;
  transform: translate(0,15%);
  opacity: 0;
  transition: 0.15s ease-in;

  @screen sm {
    padding: 2rem;
  }

  @screen lg {
    padding: 4rem;
  }

  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 80%);
    transition: 0.15s ease-in;

    @screen sm {
      padding: 2rem var(--gap-checkout);
    }

    @screen sm {
      padding: 4rem var(--gap-checkout);
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
  }

  &--open {
    transform: none;
    opacity: 1;
  }

  &--close {
    transform: translate(0,15%);
    opacity: 0;
  }
}
