@import 'tailwindcss/base';

@import 'noJsFallback';
@import 'variables';
@import 'layout';
@import 'menu';
@import 'sticky';
@import 'sidebar';
@import 'helpers';
@import 'buttons';
@import 'form';
@import 'blocks';
@import 'animations';
@import 'table';
@import 'wysiwyg';
@import 'print';

@import '../../components/**/*.css';

@import './pages/**/*.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
