html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Roboto, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.is-open {
    .Header-link, .Header-home {
      opacity: 0;
      pointer-events: none;
    }

    .Hamburger {
      &-contain span {
        transition: none;

        &:nth-child(1), &:nth-child(4) {
          opacity: 0;
        }

        &:nth-child(2), &:nth-child(3) {
          transition: ease-in 0.15s;
        }

        &:nth-child(2) {
          transform: rotate(45deg)
        }

        &:nth-child(3) {
          transform: rotate(-45deg)
        }
      }
    }

    .SearchDropdown {
      display: none;
    }
  }

  &.sidebar-open:not(.is-sticky) {
    @apply overflow-y-hidden;

    .SearchDropdown {

      @screen md {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

}

.video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.sr-only {
  &:focus {
    position: absolute;
    top: rem(24px);
    left: rem(24px);
    z-index: 102;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    white-space: normal;
    clip: auto;
  }
}
