.Select {
  display: block;
  margin-top: 0.5rem;
  font-size: rem(12px);
  line-height: 1;

  &-label {
    display: block;
    margin-bottom: rem(10px);
    font-size: rem(15px);
  }

  &-field {
    display: block;
    width: 100%;
    padding: rem(15px);
    line-height: 1;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.828 8.414' width='12'><path fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1.414 1.414 6 6 6-6'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 1.25rem);
    background-position-y: 50%;
    border-color: theme("colors.gray.300");
    border-radius: rem(6px);

    &:focus {
      @apply ring-gray-700 border-gray-700;
    }
  }

  &-message {
    display: block;
    color: theme("colors.red.700");
  }

}
