<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>TheliaTwig\TheliaTwig</fullnamespace>
    <descriptive locale="en_US">
        <title>Thelia Twig - template engine</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Thelia Twig - moteur de template</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>0.0.1</version>
    <authors>
        <author>
            <name>Alexandre Nozière - OpenStudio</name>
            <email>anoziere@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.5.0</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
