.Hamburger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  padding: 0 rem(20px);

  @screen md {
    display: none;
  }

  &:focus {
    outline-offset: -10px;
  }

  &-contain {
    position: relative;
    width: rem(20px);
    height: rem(14px);
    cursor: pointer;

    span {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: black;
      border-radius: 3px;
      transform-origin: center;
      transition: ease-in 0s 0.15s;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),&:nth-child(3) {
        top: 6px;
        transition: ease-in 0.15s;
      }

      &:nth-child(4) {
        bottom: 0;
        width: 60%;
      }
    }
  }

  &.is-open {
   .Hamburger-contain span {
      transition: none;

      &:nth-child(1), &:nth-child(4) {
        opacity: 0;
      }

      &:nth-child(2), &:nth-child(3) {
        transition: ease-in 0.15s;
      }

      &:nth-child(2) {
        transform: rotate(45deg)
      }

      &:nth-child(3) {
        transform: rotate(-45deg)
      }
    }
  }
}
