<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Colissimo\Colissimo</fullnamespace>
    <descriptive locale="en_US">
        <title>Colissimo delivery</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Livraison par Colissimo</title>
    </descriptive>
    <version>2.0.12</version>
    <author>
        <name>Manuel Raynaud</name>
        <email>mraynaud@openstudio.fr</email>
    </author>
    <type>delivery</type>
    <thelia>2.0.0</thelia>
    <stability>alpha</stability>
</module>
