<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Colissimo\Colissimo</fullnamespace>
    <descriptive locale="en_US">
        <title>Colissimo delivery</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Livraison par Colissimo</title>
    </descriptive>
    <version>2.3.1</version>
    <author>
        <name>Manuel Raynaud</name>
        <email>manu@raynaud.io</email>
    </author>
    <type>delivery</type>
    <thelia>2.2.0</thelia>
    <stability>alpha</stability>
</module>
