<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">


    <hooks>
        <hook id="virtualproductcontrol.hook" class="VirtualProductControl\Hook\VirtualProductHook">
            <argument type="service" id="thelia.securityContext" />
            <tag name="hook.event_listener" event="main.before-content" type="backoffice"/>
        </hook>
    </hooks>

</config>
