{set_previous_url ignore_current="1"}

{$url = {navigate to="current"}}

{function name=page_link page=1}{{url path=$url page=$page}|regex_replace:"/\?page=1$|page=1$|page=1&|&page=1$/":'' nofilter}{/function}

{* Display an element allowing to navigate between pages : [<][1][2][3][>] *}
{* Argument : $current_page, $loop_name *}

<div>
    <nav class="flex -mx-1 mt-12 mb-8 justify-center">
        {if $current_page gt 1}
            {set_prev_page_meta_link url={page_link page={$current_page-1}}}
        {/if}

        <a class="mx-1 px-3 py-2 bg-gray-300 rounded shadow {if $current_page le 1}pointer-events-none{else}{/if}" href="{page_link page={$current_page-1} }" title="{intl l="Previous"}">
            <span class="">&laquo;</span>
        </a>


        {pageloop rel=$loop_name}

        <a class="mx-1 px-3 py-2 rounded shadow  {if $PAGE == $CURRENT}bg-gray-300 hover:text-white{else}hover:bg-gray-200{/if}" href="{page_link page=$PAGE}"> {$PAGE} </a>
        {if ($PAGE eq $LAST) || (($PAGE eq $END) && ($END < $LAST))}
            {if $CURRENT lt $LAST}
                {set_next_page_meta_link url={page_link page={$NEXT}}}
            {/if}

          <a class="mx-1 px-3 py-2 bg-gray-300 rounded shadow {if $CURRENT eq $LAST}pointer-events-none{else}{/if}" href="{page_link page=$NEXT }" title="{intl l="Next"}">
              <span>&raquo;</span>
          </a>

        {/if}
        {/pageloop}
    </nav>
</div>
