{set_previous_url ignore_current="1"}

{$url = {navigate to="current"}}

{function name=page_link page=1}{{url path=$url page=$page}|regex_replace:"/\?page=1$|page=1$|page=1&|&page=1$/":'' nofilter}{/function}

<nav class="Pagination">
    {if $current_page gt 1}
        {set_prev_page_meta_link url={page_link page={$current_page-1}}}
        <a class="Pagination-link Pagination-prev" href="{page_link page={$current_page-1} }" title="{intl l="Previous"}">
            <span class="">{renderIconSvg icon="arrow" class=""}</span>
        </a>
    {/if}
    {pageloop rel=$loop_name}
      <a class="Pagination-link {if $PAGE == $CURRENT}current{/if}" href="{page_link page=$PAGE}"> {$PAGE} </a>
      {if ($PAGE eq $LAST) || (($PAGE eq $END) && ($END < $LAST))}
          {if $CURRENT lt $LAST}
              {set_next_page_meta_link url={page_link page={$NEXT}}}
          {/if}
          {if $CURRENT neq $LAST}
            <a class="Pagination-link Pagination-next" href="{page_link page=$NEXT }" title="{intl l="Next"}">
            <span class="">{renderIconSvg icon="arrow" class=""}</span>
            </a>
          {/if}
      {/if}
    {/pageloop}
</nav>
