<div class="p-5 md:text-center">
  <button class="w-24 h-7 text-xs font-semibold tracking-wider text-white uppercase rounded cursor-pointer bg-vermillon flex hover:bg-lightVermillon active:bg-vermillon focus:bg-vermillon">
    <div class="bg-lightVermillon w-6 flex justify-center items-center rounded-l">
      <img class="w-2 h-3" src="{image file="assets/images/svg/fold-arrow.svg"}" alt="fr" />
    </div>
    <div class="m-auto">
      {intl l="Replier"}
    </div>
  </button>
</div>

<div class="p-5 md:text-center">
  <button class="w-24 h-7 text-xs font-semibold tracking-wider text-white uppercase rounded cursor-pointer bg-vermillon flex hover:bg-lightVermillon active:bg-vermillon focus:bg-vermillon">
    <div class="bg-lightVermillon w-6 flex justify-center items-center rounded-l">
      <img class="w-2 h-3" src="{image file="assets/images/svg/unfold-arrow.svg"}" alt="fr" />
    </div>
    <div class="m-auto">
      {intl l="Déplier"}
    </div>
  </button>
</div>

<div class="p-5 md:text-center">
  <button id="btn" class="w-24 h-7 text-xs font-semibold tracking-wider text-white uppercase rounded cursor-pointer bg-vermillon flex hover:bg-lightVermillon active:bg-vermillon focus:bg-vermillon">
    <div class="bg-lightVermillon w-6 flex justify-center items-center rounded-l">
      <img class="w-2 h-3" src="{image file="assets/images/svg/fold-arrow.svg"}" alt="fr" />
    </div>
    <div id="text-btn" class="m-auto">
      {intl l="Replier"}
    </div>
  </button>
</div>
