<div class="">
  <button id="deploy-retract-btn" class="w-24 h-7 text-xs font-semibold tracking-wider text-white uppercase rounded cursor-pointer bg-vermillon flex hover:bg-lightVermillon active:bg-vermillon focus:bg-vermillon">
    <span class="flex justify-center items-center  h-full bg-lightVermillon w-6 rounded-l">
      <img class="w-2 h-3 fold-arrow" data-unfold-img="{image file="assets/images/svg/unfold-arrow.svg"}" src="{image file="assets/images/svg/fold-arrow.svg"}" alt="fr" />
    </span>
    <span id="deploy-retract-text" class="m-auto">
      {intl l="Replier"}
    </span>
  </button>
</div>
