<form id="file-upload-form" action="#">
	<input id="file-upload" type="file" name="fileUpload" />
	<label for="file-upload" id="file-drag" >	
<div class="h-7 w-7 Image"><img src="{image file="assets/images/svg/swipe.svg"}" alt="fr" /></div>
		<br />
    <span class="mb-4 text-sm text-darkCharbon">{intl l="Glissez-déposez le type de contenu souhaité"}</span>
    <br /> 
    <div class="p-3 mt-4 text-sm font-semibold tracking-wider uppercase border rounded text-vermillon w-144 border-vermillon hover:bg-lightVermillon hover:border-lighterVermillon hover:text-white">
      <span class="text-sm leading-normal">{intl l="Ajouter du contenu"}</span>
      <input type='file' class="hidden" />
    </div>
	</label>
</form>
