<form id="file-upload-form" action="#">
	<input id="file-upload" type="file" name="fileUpload" />
	<label for="file-upload" id="file-drag" >	
<div class="h-7 w-7 Image"><img src="{image file="assets/images/svg/swipe.svg"}" alt="fr" /></div>
		<br />
    <span class="mb-4 text-sm text-darkCharbon">{intl l="Glissez-déposez le type de contenu souhaité"}</span>
    <br /> 
    <div class="mt-6">
    <label class="text-xs	 my-0 mx-0	 tracking-wider p-2 top-1.5 left-3.5 h-16 mb-6 font-medium leading-4 uppercase border-2 rounded shadow-2xl cursor-pointer w-144 text-vermillon hover:bg-lightVermillon border-vermillon hover:text-white hover:border-lightVermillon">
      <span class="text-sm leading-normal">{intl l="Ajouter du contenu"}</span>
      <input type='file' class="hidden" />
  </label>
  </div>
	</label>
</form>
