{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Catalog'}{/block}

{block name="check-permissions"}admin.catalog.view{/block}

{block name="after-admin-css"}
    {stylesheets file='assets/bootstrap-editable/css/bootstrap-editable.css' filters='cssembed'}
        <link rel="stylesheet" href="{$asset_url}">
    {/stylesheets}
{/block}

{block name="main-content"}
<div class="catalog">
	<div id="wrapper" class="container">

		<ul class="breadcrumb">
			{include file="includes/category_breadcrumb.html"}
		</ul>

	    {module_include location='catalog_top'}

		<div class="row-fluid">
			<div class="span12">
			    <div class="general-block-decorator">
	               	<table class="table table-striped table-condensed" id="category_list">
	                    <caption>
	                    	{* display parent category name, and get current cat ID *}
		                    {loop name="category_title" type="category" visible="*" id="{$current_category_id}"}
								{intl l="Categories in %cat" cat=$TITLE}
								{$cat_id = $ID}
							{/loop}
							{elseloop rel="category_title"}
								{intl l="Top level categories"}
							{/elseloop}

							{module_include location='category_list_caption'}

                            {loop type="auth" name="can_create" roles="ADMIN" permissions="admin.category.create"}
	                        <a class="btn btn-primary action-btn" title="{intl l='Add a new category'}" href="#add_category_dialog" data-toggle="modal">
	                            <i class="icon-plus-sign icon-white"></i>
	                        </a>
	                        {/loop}
	                    </caption>

						{ifloop rel="category_list"}
		                    <thead>
		                        <tr>
                                    <th class="object-image">&nbsp;</th>
                                    <th class="object-title">
                                        {if $category_order == 'alpha'}
                                            <i class="icon  icon-chevron-up"></i>
                                            {$order_change = 'alpha_reverse'}
                                        {elseif $category_order == 'alpha_reverse'}
                                            <i class="icon  icon-chevron-down"></i>
                                            {$order_change = 'alpha'}
                                        {else}
                                            {$order_change = 'alpha'}
                                        {/if}
                                        <a href="{url path='/admin/catalog/category' id="{$current_category_id}" category_order="$order_change"}">
                                            {intl l="Category title"}
                                        </a>
                                     </th>

		                            {module_include location='category_list_header'}

		                            <th>
                                        {if $category_order == 'visible'}
                                            <i class="icon  icon-chevron-up"></i>
                                            {$order_change = 'visible_reverse'}
                                        {elseif $category_order == 'visible_reverse'}
                                            <i class="icon  icon-chevron-down"></i>
                                            {$order_change = 'visible'}
                                        {else}
                                            {$order_change = 'visible'}
                                        {/if}

		                                <a href="{url path='admin/catalog/category' id="{$current_category_id}" category_order="$order_change"}">
		                                   {intl l="Online"}
		                                </a>
		                            </th>

		                            <th>
		                                {if $category_order == 'manual'}
                                            <i class="icon  icon-chevron-up"></i>
                                            {$order_change = 'manual_reverse'}
                                        {elseif $category_order == 'manual_reverse'}
                                            <i class="icon  icon-chevron-down"></i>
                                            {$order_change = 'manual'}
                                        {else}
                                            {$order_change = 'manual'}
                                        {/if}

		                                <a href="{url path='admin/catalog/category' id="{$current_category_id}" category_order="$order_change"}">{intl l="Position"}</a>
		                            </th>

		                            <th>{intl l="Actions"}</th>
		                        </tr>
		                    </thead>

		                    <tbody>
		                    {loop name="category_list" type="category" visible="*" parent="{$current_category_id}" order="$category_order"}
		                    <tr>
		                        <td>
		                        {loop type="image" name="cat_image" source="category" source_id="$ID" limit="1" width="50" height="50" resize_mode="crop" backend_context="1"}
		                          <a href="{url path='admin/catalog/category' id="$ID" action='browse'}" title="{intl l='Browse this category'}"><img src="#IMAGE_URL" alt="#TITLE" /></a>
		                        {/loop}
		                        </td>

		                    	<td class="object-title">
		                    	     <a href="{url path='admin/catalog/category' id="$ID" action='browse'}" title="{intl l='Browse this category'}">
		                    	        {$TITLE}
		                    	     </a>
		                    	</td>

	 							{module_include location='category_list_row'}

		                    	<td>
		                    	    {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.category.edit"}
		                    		<input type="checkbox" data-id="{$ID}" class="categoryVisibleToggle" {if $VISIBLE == 1}checked="checked"{/if}>
		                    		{/loop}

		                    		{elseloop rel="can_change"}
                                       <input type="checkbox" class="disabled" disabled="disabled" {if $VISIBLE == 1}checked="checked"{/if}>
                                    {/elseloop}
		                    	</td>

		                    	<td>
		                    	    {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.category.edit"}
			                        	<a href="{url path='admin/catalog/category' category_id="{$ID}" action='positionUp'}"><i class="icon-arrow-up"></i></a>
			                            <span class="categoryPositionChange" data-id="{$ID}">{$POSITION}</span>
			                          	<a href="{url path='admin/catalog/category' category_id="{$ID}" action='positionDown'}"><i class="icon-arrow-down"></i></a>
		                          	{/loop}

		                          	{elseloop rel="can_change"}
		                          	   {$POSITION}
		                          	{/elseloop}
		                    	</td>

		                        <td>
	                                <a class="btn btn-mini" title="{intl l='Browse this category'}" href="{url path='admin/catalog/category' id="$ID" action='browse'}"><i class="icon-folder-open"></i></a>

	                                {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.category.edit"}
	                                   <a class="btn btn-mini" title="{intl l='Edit this category'}" href="{url path='admin/catalog/category' id="$ID" action='edit'}"><i class="icon-edit"></i></a>
	                                {/loop}

	                                {loop type="auth" name="can_delete" roles="ADMIN" permissions="admin.category.delete"}
	                                   <a class="btn btn-mini category-delete" title="{intl l='Delete this category and all its contents'}"  href="#delete_category_dialog" data-id="{$ID}" data-toggle="modal"><i class="icon-trash"></i></a>
	                                {/loop}
		                         </td>
		                    </tr>
		                    {/loop}
							</tbody>
						{/ifloop}

						{elseloop rel="category_list"}
						<thead>
							<tr>
								<td class="message">
								    <div class="alert alert-info">
								    {loop type="auth" name="can_create" roles="ADMIN" permissions="admin.category.create"}
								        {intl l="This category has no sub-categories. To create a new one, click the + button above."}
								    {/loop}

								    {elseloop rel="can_create"}
                                       {intl l="This category has no sub-categories."}
                                    {/elseloop}
								    </div>
								</td>
							</tr>
						</thead>
						{/elseloop}
					</table>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
			     <div class="general-block-decorator">
	               	<table class="table table-striped table-condensed">
	                    <caption>
	                    	{* display parent category name *}
		                    {loop name="category_title" type="category" visible="*" id="{$current_category_id}"}
								{intl l="Products in %cat" cat=$TITLE}
							{/loop}
							{elseloop rel="category_title"}
								{intl l="Top level Products"}
							{/elseloop}

							{module_include location='product_list_caption'}

	                        <a class="btn btn-primary action-btn" title="{intl l='Add a new product'}" href="#productAddModal" data-toggle="modal">
	                            <i class="icon-plus-sign icon-white"></i>
	                        </a>
	                    </caption>

						{ifloop rel="product_list"}
		                    <thead>
		                        <tr>
		                            <th>&nbsp;</th>

		                            <th class="object-title">{intl l="Product title"}</th>

		                            {module_include location='product_list_header'}

		                            <th>{intl l="Online"}</th>
		                            <th>{intl l="Position"}</th>
		                            <th>{intl l="Actions"}</th>
		                        </tr>
		                    </thead>

		                    <tbody>
		                    {loop name="product_list" type="product" category="{$current_category_id}" order="manual"}
		                    <tr>
		                    	<td>
                                {loop type="image" name="cat_image" source="product" source_id="$ID" limit="1" width="50" height="50" resize_mode="crop" backend_context="1"}
                                  <a href="{url path='admin/catalog/product' id="$ID" action='edit'}" title="{intl l='Edit this product'}">
                                    <img src="#IMAGE_URL" alt="#TITLE" />
                                  </a>
                                {/loop}

		                    	<td class="object-title"><a href="{url path='admin/catalog/product' id="$ID" action='edit'}" title="{intl l='Edit this product'}">{$TITLE}</a></td>

	 							{module_include location='product_list_row'}

		                    	<td>
		                    		<input type="checkbox" data-id="{$ID}" class="displayToggle" {if $VISIBLE == 1}checked="checked"{/if}>
		                    	</td>

		                    	<td>
		                        	<a href="{url path='admin/catalog/product' id="$ID" action='positionUn'}"><i class="icon-arrow-up"></i></a>
		                            <span class="object_classement_editable" data-action="changeProductPosition" data-name="product_id" data-id="{$ID}">{$POSITION}</span>
		                          	<a href="{url path='admin/catalog/product' id="$ID" action='positionDown'}"><i class="icon-arrow-down"></i></a>
		                    	</td>

		                        <td>
	                                <a class="btn btn-mini" title="{intl l='Edit this category'}" href="{url path='admin/catalog/product' id="$ID" action='edit'}"><i class="icon-edit"></i></a>
	                                <a class="btn btn-mini product-delete" title="{intl l='Delete this product'}" href="{url path='admin/catalog/product' id="$ID" action='delete'}"><i class="icon-trash"></i></a>
		                         </td>
		                    </tr>
		                    {/loop}
							</tbody>
						{/ifloop}

						{elseloop rel="product_list"}
						<thead>
							<tr>
								<td class="message"><div class="alert alert-info">{intl l="This category doesn't have any products. To add a new product, click the + button above."}</div></td>
							</tr>
						</thead>
						{/elseloop}
					</table>
				</div>
			</div>
		</div>

		{module_include location='catalog_bottom'}
	</div>
</div>

{include file="includes/add-category-dialog.html"}
{include file="includes/delete-category-dialog.html"}
{/block}

{block name="after-javascript-include"}
	{javascripts file='assets/bootstrap-editable/js/bootstrap-editable.js'}
	    <script src="{$asset_url}"></script>
	{/javascripts}
{/block}

{block name="javascript-initialization"}
<script>
$(function() {

	{* display the form creation dialog if it contains errors *}

    {form name="thelia.admin.category.creation"}
        {if #form_error}
			$('#add_category_dialog').modal();
        {/if}
	{/form}

	{* Always reset create dialog on close *}

    $('#add_category_dialog').on('hidden',function() {
        // Hide error message
        $('#add_category_dialog_error').remove();

        // Clear error status
        $("#add_category_dialog .error").removeClass('error');

        // Empty field values
        $("#add_category_dialog input[type=text]").val('');
    });

    {* Set the proper category ID in the delete confirmation dialog *}

    $(document).on("click", ".category-delete", function () {
    	$('#'+'delete-category-id').val($(this).data('id'));
    });

    // Toggle category visibility
    $(".categoryVisibleToggle").click(function() {
        $.ajax({
           url : "{url path='admin/catalog/category'}",
           data : {
               category_id : $(this).data('id'),
               action : 'visibilityToggle'
           }
        });
    });

    {* Inline editing of object position using bootstrap-editable *}

    $('.categoryPositionChange').editable({
        type        : 'text',
        title       : '{intl l="Enter new category position"}',
        mode        : 'popup',
        inputclass  : 'input-mini',
        placement   : 'left',
        success     : function(response, newValue) {
        	// The URL template
        	var url = "{url path='admin/catalog/category' action='changePosition' category_id='__ID__' position='__POS__'}";

        	// Perform subtitutions
            url = url.replace('__ID__', $(this).data('id'))
                     .replace('__POS__', newValue);

        	// Reload the page
        	location.href = url;
        }
    });

})
</script>
{/block}