{extends file="admin-layout.tpl"}

{block name="check-permissions"}admin.catalog.view{/block}

{block name="page-title"}{intl l='Edit category'}{/block}

{block name="main-content"}
<div class="catalog edit-category">
	<div id="wrapper" class="container">

        {include file="includes/categories-breadcrumb.html"}

        <div class="row">
            {loop name="category_edit" type="category" visible="*" id="{$current_category_id}" backend_context="1" lang="$edit_language_id"}
            <div class="col-md-12 general-block-decorator">
                <div class="row">
                    <div class="col-md-7 title">
						{intl l='Edit category'}
		            </div>

	                <div class="col-md-5 actions">
		                <button class="btn btn-default" title="{intl l='Edit previous category'}"><i class="glyphicon glyphicon-arrow-left"></i></button>
		                <button class="btn btn-default" title="{intl l='Preview category page'}"><i class="glyphicon glyphicon-eye-open"></i></button>
		                <button class="btn btn-default" title="{intl l='Edit next category'}"><i class="glyphicon glyphicon-arrow-right"></i></button>
	                </div>
                </div>

                <form method="post">
	                <div class="tabbable">
		                <ul class="nav nav-tabs admin-tabs" id="tabbed_menu">
						    <li class="active">
						        <a href="#general_description">{intl l="General description"}</a>
						    </li>

						    <li>
		                        <a href="#details">{intl l="Details"}</a>
		                    </li>
		                    <li>
		                        <a href="#images">{intl l="Images"}</a>
		                    </li>
	                        <li>
	                            <a href="#documents">{intl l="Documents"}</a>
	                        </li>
		                    <li>
		                        <a href="#modules">{intl l="Modules"}</a>
		                    </li>
					    </ul>

						<div class="tab-content">

						   <div class="tab-pane active form-container" id="general_description">
								<div class="form-horizontal col-md-12">
	                                <fieldset>

	                                    {include file="includes/inner-form-toolbar.html"}

	                                    <div class="row">
	                                        <div class="col-md-12">
										        <div class="control-group">
										            <label class="control-label">
										               {intl l='Title *'}
										            </label>

										            <div class="controls">
										                <input type="text" required="required" title="{intl l='Category title'}" placeholder="{intl l='Category title'}" class="input-block-level" value="{$TITLE|htmlspecialchars}">
										            </div>
										        </div>

			                                    <div class="control-group">
			                                        <label class="control-label">
			                                            {intl l='Summary'}
			                                            <span class="label-help-block">{intl l="A short category description, used when a summary or an introduction is required"}</span>
			                                        </label>

			                                        <div class="controls">
			                                            <textarea name="summary" rows="3" title="{intl l='Short category description'}" placeholder="{intl l='Short category description'}" class="input-block-level">{$CHAPO|htmlspecialchars}</textarea>
			                                        </div>
			                                    </div>

			                                    <div class="control-group">
			                                        <label class="control-label">
			                                          {intl l='Detailed description'}
			                                          <span class="label-help-block">{intl l="The détailed category description."}</span>
			                                        </label>

			                                        <div class="controls">
			                                            <textarea name="summary" rows="10" class="input-block-level">{$DESCRIPTION|htmlspecialchars}</textarea>

			                                        </div>
			                                    </div>

			                                    <div class="control-group">
			                                        <label class="control-label">
			                                          {intl l='Conclusion'}
			                                          <span class="label-help-block">{intl l="A short post-description information"}</span>
			                                        </label>

			                                        <div class="controls">
			                                            <textarea name="summary" rows="3" title="{intl l='Short category description'}" placeholder="{intl l='Short category description'}" class="input-block-level">{$POSTSCRIPTUM|htmlspecialchars}</textarea>
			                                        </div>
			                                    </div>

	                                            <div class="control-group">
	                                                <label class="control-label">
	                                                  {intl l='Rewriten URL'}
	                                                </label>

	                                                <div class="controls">
	                                                    <div class="input-group input-block-level">
	                                                        <input type="text" required="required" title="{intl l='Rewriten URL'}" placeholder="{intl l='Rewriten URL'}" class="input-block-level" value="{$URL|htmlspecialchars}">
	                                                         <a class="btn btn-default input-group-addon use_default_rewriten_url" href="#">{intl l='Use default'}</a>
	                                                    </div>
	                                                    <div class="help-block">{intl l="The rewritten URL to the category page. Click \"Use Default\" button to use the default URL. Use only digits, letters, - and _ characters."}</div>
	                                                </div>
	                                            </div>

			                                </div>
			                            </div>

	                                    <div class="row">
	                                        <div class="col-md-12">
	                                            <div class="control-group">
	                                                <lablel>&nbsp;</lablel>
	                                                <div class="controls">
	                                                    <p>{intl l='Category created on %date_create. Last modification: %date_change' date_create="{format_date date=$CREATE_DATE}" date_change="{format_date date=$UPDATE_DATE}"}}</p>
	                                                </div>
	                                             </div>
	                                        </div>
	                                    </div>

	                                </fieldset>
								</div>
						   </div>

	                       <div class="tab-pane form-container" id="details">
                                <div class="form-horizontal col-md-12">
                                    <fieldset>
                                        {include file="includes/inner-form-toolbar.html"}

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="control-group">
                                                    <label class="control-label">
                                                      {intl l='Category ID'}
                                                    </label>

                                                    <div class="controls">
                                                        <input type="text" name="id" disabled="disabled" value="#ID" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="control-group">
                                                    <label class="control-label">
                                                      {intl l='Parent category *'}
                                                    </label>

                                                    <div class="controls">
                                                        <select required="required" name="parent">
                                                            <option value="0">{intl l="Top level"}</option>

                                                            {loop name="cat-parent" type="category-tree" visible="*" category="0" exclude="{$current_category_id}"}
                                                                 <option value="#ID" style="padding-left: {3 + $LEVEL * 20}px" {if $parent_category_id == $ID}selected="selected"{/if}>{$TITLE}</option>
                                                            {/loop}

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>

                                         <div class="row">
                                            <div class="col-md-12">
                                                <div class="control-group">
                                                    <label class="control-label">
                                                      {intl l='Visibility'}
                                                    </label>

                                                     <div class="controls">
                                                        <label class="checkbox">
                                                           <input type="checkbox" name="visible" {if $VISIBLE}checked="checked"{/if}> {intl l="Display this category on front-office"}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
	                       </div>

	                       <div class="tab-pane" id="images">
	                           <p>Images</p>
	                       </div>

	                       <div class="tab-pane" id="documents">
	                           <p>Documents</p>
	                       </div>

	                       <div class="tab-pane" id="modules">
	                           <p>Modules</p>
	                       </div>

						</div>
				     </div>
                 </form>
			     {/loop}
		    </div>
 		</div>
	</div>
</div>
{/block}

{block name="javascript-initialization"}
<script>

$(function() {
    $('#tabbed_menu a').click(function (e) {
	    e.preventDefault();
	    $(this).tab('show');
	});

    $('.use_default_rewriten_url').click(function(ev) {
    	alert("Not functionnal");

    	ev.preventDefault();
    });
})

</script>
{/block}