{check_auth context="admin" roles="ADMIN" permissions="admin.configuration.variables.view" login_tpl="/admin/login"}

{$page_title={intl l='Configuration'}}

{include file='includes/header.inc.html'}

<div class="configuration">

    <div id="wrapper" class="container">

        {module_include location='config_top'}

        <h2>{intl l="Thelia system variables "}</h2>

        <div class="row-fluid">

            <div class="span6">
                <div class="menu-list-table general-block-decorator">
                    <table class="table table-striped table-condensed">
                        <caption>{intl l='Product catalog configuration'}</caption>
                        {loop name="config" type="config" hidden="0"}
                            <tr>
                                <td>{$TITLE}</td>
                                <td>{$NAME}</td>
                                <td><input type="text" name="value" value="{$VALUE|htmlspecialchars}" /></td>
                                <td>
                                    {if ! $secured}
	                                    {loop type="auth" name="can_delete" context="admin" roles="ADMIN" permissions="admin.configuration.variables.delete"}
	                                       <a class="btn btn-mini config-delete" title="{intl l='Delete this configuration variable'}"  href="#delete_category_dialog" data-id="{$ID}" data-toggle="modal"><i class="icon-trash"></i></a>
	                                    {/loop}
                                    {/if}
                                </td>
                            </tr>
                        {/loop}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{include file='includes/js.inc.html'}

{include file='includes/footer.inc.html'}