{extends file="admin-layout.tpl"}

{block name="check-resource"}admin.coupon{/block}
{block name="check-access"}create{/block}

{block name="page-title"}{intl l='Create coupon'}{/block}

{block name="main-content"}
<section id="wrapper" class="container">

    <nav>
        <ul class="breadcrumb">
            <li><a href="{url path='admin/home'}">{intl l='Home'}</a></li>
            <li><a href="{url path='admin/coupon'}">{intl l='Coupon'}</a></li>
            <li>{intl l='Create'}</li>
        </ul>
    </nav>

    <div class="page-header">
        <h1>{intl l='Coupons : '}<small>{intl l='Create a new coupon'}</small></h1>
    </div>

    {form name="thelia.admin.coupon.creation"}
    {include file='coupon/form.html' formAction={url path={$formAction}} noConditions=true}
    {/form}
</section> <!-- #wrapper -->

{include file='includes/confirmation-modal.html'}
{/block}

{block name="javascript-initialization"}
    {javascripts file='assets/bootstrap-datepicker/js/bootstrap-datepicker.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file='assets/js/main.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file='assets/js/json2.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file='assets/js/coupon.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {*<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>*}
    {*<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />*}
    <script>
        $(function($){
            {*$('.datepicker').datepicker({ dateFormat: "{$dateFormat}", defaultDate: +60, minDate: "+0m" });*}
        });
    </script>

{/block}
