{extends file="admin-layout.tpl"}
{block name="check-permissions"}admin.coupon.update{/block}
{block name="page-title"}{intl l='Update coupon'}{/block}

{block name="main-content"}
<section id="wrapper" class="container">

    <nav>
        <ul class="breadcrumb">
            {include file="includes/coupon_breadcrumb.html"}
        </ul>
    </nav>

    <div class="page-header">
        <h1>Coupons : <small>Update a coupon</small></h1>
    </div>

    {form name="thelia.admin.coupon.creation"}
        {include file='coupon/form.html' formAction={url path={$formAction}} form=$form}
    {/form}

</section> <!-- #wrapper -->
{/block}

{include file='includes/confirmation-modal.html'}

{block name="javascript-initialization"}
    {javascripts file='assets/bootstrap-datepicker/js/bootstrap-datepicker.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file='assets/js/main.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script>
        $(function($){
            miniBrowser(0, '/test_to_remove/datas_coupon_edit.json');

            $('#effect').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                $('#effectToolTip').html(optionSelected.attr("data-description"));
            });

            $('#category-rule').on('change', function (e) {
                var url = "{$urlAjaxGetRuleInput}";
                url = url.replace('ruleId', $(this).val())
                console.log(url);
                $.ajax({
                    url: url,
                    statusCode: {
                        404: function() {
                            alert("page not found");
                        }
                    },
                    context: document.body
                }).done(function(data) {
                    console.log(data);
                    $(this).addClass("done");
                });
            });


        });



    </script>
{/block}
