{check_auth context="admin" roles="ADMIN" permissions="admin.catalog.view" login_tpl="/admin/login"}

{if $action == 'create'}
	{$page_title={intl l='Create a new category'}}
{else}
	{$page_title={intl l='Edit category'}}
{/if}

{include file='includes/header.inc.html'}

<div class="catalog">
	<div id="wrapper" class="container">
		<ul class="breadcrumb">
			{include file="includes/category_breadcrumb.html"}
		</ul>

        <div class="row-fluid">

            <div class="span12 general-block-decorator">
                <div class="row-fluid">
                    <div class="span7 title">
	                    {if $action == 'create'}
						    {intl l='Create a new category'}
						{else}
						    {intl l='Edit category'}
						{/if}
		            </div>

	                <div class="span5 actions">
                        <button class="btn btn-primary" title="{intl l='Save and stay on this page'}">{intl l='Save'} <i class="icon icon-white icon-ok"></i></button>
                        <button class="btn btn-info" title="{intl l='Save and close'}">{intl l='Save'} <i class="icon icon-remove icon-white"></i></button>
                        {if $action != 'create'}
			                <button class="btn" title="{intl l='Edit previous category'}"><i class="icon icon-arrow-left"></i></button>
			                <button class="btn" title="{intl l='Preview category page'}"><i class="icon icon-eye-open"></i></button>
			                <button class="btn" title="{intl l='Edit next category'}"><i class="icon icon-arrow-right"></i></button>
		                {/if}
	                </div>
                </div>

                <div class="tabbable">
	                <ul class="nav nav-tabs" id="tabbed_menu">
					    <li class="active">
					        <a href="#general_description">{intl l="General description"}</a>
					    </li>
					    <li>
	                        <a href="#details">{intl l="Details"}</a>
	                    </li>
	                    <li>
	                        <a href="#images">{intl l="Images"}</a>
	                    </li>
                        <li>
                            <a href="#documents">{intl l="Documents"}</a>
                        </li>
	                    <li>
	                        <a href="#modules">{intl l="Modules"}</a>
	                    </li>
				    </ul>

					<div class="tab-content">
					   <div class="tab-pane active" id="general_description">
							<form class="form-horizontal span12">
                                <fieldset>
                                    <div class="row-fluid">
                                        <div class="span12">
									        <div class="control-group">
									            <label class="control-label">
									               {intl l='Title *'}
									            </label>

									            <div class="controls">
									                <input type="text" required="required" title="{intl l='Category title'}" placeholder="{intl l='Category title'}" class="input-block-level">
									            </div>
									        </div>

		                                    <div class="control-group">
		                                        <label class="control-label">
		                                            {intl l='Summary'}
		                                            <span class="label-help-block">{intl l="A short category description, used when a summary or an introduction is required"}</span>
		                                        </label>

		                                        <div class="controls">
		                                            <textarea name="summary" rows="3" title="{intl l='Short category description'}" placeholder="{intl l='Short category description'}" class="input-block-level"></textarea>
		                                        </div>
		                                    </div>

		                                    <div class="control-group">
		                                        <label class="control-label">
		                                          {intl l='Detailed description'}
		                                          <span class="label-help-block">{intl l="The détailed category description."}</span>
		                                        </label>

		                                        <div class="controls">
		                                            <textarea name="summary" rows="10" class="input-block-level"></textarea>

		                                        </div>
		                                    </div>

		                                    <div class="control-group">
		                                        <label class="control-label">
		                                          {intl l='Conclusion'}
		                                          <span class="label-help-block">{intl l="A short post-description information"}</span>
		                                        </label>

		                                        <div class="controls">
		                                            <textarea name="summary" rows="3" title="{intl l='Short category description'}" placeholder="{intl l='Short category description'}" class="input-block-level"></textarea>
		                                        </div>
		                                    </div>

                                            <div class="control-group">
                                                <label class="control-label">
                                                  {intl l='Rewriten URL'}
                                                </label>

                                                <div class="controls">
                                                    <div class="input-append input-block-level">
                                                        <input type="text" required="required" title="{intl l='Rewriten URL'}" placeholder="{intl l='Rewriten URL'}" class="input-block-level">
                                                         <a class="btn add-on" href="#">{intl l='Use default'}</a>
                                                    </div>
                                                    <div class="help-block">{intl l="The rewritten URL to the category page. Click \"Use Default\" button to use the default URL. Use only digits, letters, - and _ characters."}</div>
                                                </div>
                                            </div>

		                                </div>
		                            </div>

                                    <div class="row-fluid">
		                                <div class="span6">

		                                    <div class="control-group">
		                                        <label class="control-label">
		                                          {intl l='Parent category *'}
		                                        </label>

		                                        <div class="controls">
		                                            <select required="required" name="parent" class="input-block-level">
		                                                <option value="">{intl l="Choose a category"}</option>
		                                            </select>
		                                        </div>
		                                    </div>
                                        </div>

                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label">
                                                  {intl l='Visibility'}
                                                </label>

                                                 <div class="controls">
                                                    <label class="checkbox">
                                                       <input type="checkbox" name="visible"> {intl l="Display this category on front-office"}
                                                    </label>
                                                </div>
                                            </div>
		                                </div>
		                            </div>
		                            <p>aff Date creation ?</p>
		                            <p>aff date modif ?</p>
                                </fieldset>
							</form>
					   </div>

                       <div class="tab-pane" id="details">
                           <p>Infos générales</p>
                       </div>
                       <div class="tab-pane" id="images">
                           <p>Images</p>
                       </div>
                       <div class="tab-pane" id="documents">
                           <p>Documents</p>
                       </div>
                       <div class="tab-pane" id="modules">
                           <p>Modules</p>
                       </div>
					</div>

			     </div>
		    </div>
 		</div>
	</div>
</div>

{include file='includes/js.inc.html'}

<script>

$(function() {
    $('#tabbed_menu a').click(function (e) {
	    e.preventDefault();
	    $(this).tab('show');
	});
})

</script>

{include file='includes/footer.inc.html'}