{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Languages an URLs'}{/block}

{block name="check-resource"}admin.configuration.languages{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
<div class="modules">

    <div id="wrapper" class="container">
        <div class="clearfix">
            <ul class="breadcrumb pull-left">
                <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
                <li><a href="{url path='/admin/modules'}">{intl l="Languages & URLs"}</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table-left-aligned">
                        <caption class="clearfix">
                            {intl l="Languages management"}
                        </caption>
                        <thead>
                        <tr>
                            <th>{intl l="Title"}</th>
                            <th>{intl l="code ISO 639"}</th>
                            <th>{intl l="locale"}</th>
                            <th>{intl l="locale"}</th>

                            {module_include location='modules_table_header'}

                            <th class="actions">{intl l="Actions"}</th>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}