{$page_title={intl l='Welcome'}}
{include file='includes/header.inc.html'}

<div class="loginpage">
   	<div class="brandbar container">
       	<a class="brand" href="index.php">{images file='assets/img/logo-thelia-34px.png'}<img src="{$asset_url}" alt="{intl l='Thelia, solution e-commerce libre'}" />{/images}</a>
    </div>

    <div id="wrapper" class="container">

	    {module_include location='index_top'}

	   	<div class="hero-unit">
	        <h1>{intl l='Thelia Back Office'}</h1>

			<form action="checklogin" method="post" class="well form-inline" {form_enctype form=$form}>

				{if isset($message)}<div class="alert alert-error">{$message}</div>{/if}

                {form_field_hidden form=$form}

                {form_field form=$form.username}
                    {form_error form=$form.username}{$message}{/form_error}
				    <input type="text" class="input" placeholder="{intl l='E-mail address'}" name="{$name}" />
                {/form_field}

                {form_field form=$form.password}
                    {form_error form=$form.password}{$message}{/form_error}
				    <input type="password" class="input" placeholder="{intl l='Password'}" name="{$name}" />
                {/form_field}

				{form_field form=$form.remember_me}
				<label class="checkbox"> <input type="checkbox" name="remember" value="yes" /> {intl l='Remember me'}</label>
				{/form_field}

				<span class="pull-right"><button type="submit" class="btn btn-primary">{intl l='Login'} <i class="icon-play icon-white"></i></button></span>
			</form>
		</div>

		{module_include location='index_middle'}

		<div class="row-fluid feed-list">
			{loop type="feed" name="thelia_feeds" url="http://thelia.net/Flux-rss.html?id_rubrique=8" limit="3"}
	        <div class="span4 feed-list-item">
	            <h3>{$DATE}</h3>
	            <h2><a href="#URL" target="_blank" title="{intl l='Lire la suite'}">{$TITLE|strip_tags}</a></h2>
	            <p>{$DESCRIPTION|strip_tags|truncate:250:"...":true}</p>
	            <p><a class="btn" href="#URL" target="_blank">{intl l='Lire la suite »'}</a></p>
	        </div>
			{/loop}
		</div>
	</div>

	{module_include location='index_bottom'}

</div>

{include file='includes/footer.inc.html'}