{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Edit a mailing template'}{/block}

{block name="check-permissions"}admin.configuration.messages.edit{/block}

{block name="main-content"}
<div class="messages edit-message">

    <div id="wrapper" class="container">

        {loop name="message_edit" type="message" secured="*" id="$message_id" backend_context="1" lang="$edit_language_id"}

        <ul class="breadcrumb">
			<li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
            <li><a href="{url path='/admin/configuration'}">{intl l="Configuration"}</a></li>
            <li><a href="{url path='/admin/configuration/messages'}">{intl l="Mailing templates"}</a></li>
            <li>{intl l='Editing mailing template "%name"' name="{$NAME}"}</li>
        </ul>

		<div class="row">
			<div class="col-md-12 general-block-decorator">
				<div class="row">

					<div class="col-md-12 title title-without-tabs">
					   {intl l="Edit mailing template $NAME"}
					</div>

                    <div class="form-container">
                         <div class="form-horizontal col-md-12">
						    {form name="thelia.admin.message.modification"}
						    <form method="POST" action="{url path='/admin/configuration/messages/save'}" {form_enctype form=$form}>
                                <fieldset>
                                    {* Be sure to get the message ID, even if the form could not be validated *}
                                    <input type="hidden" name="message_id" value="{$message_id}" />

                                    {include file="includes/inner-form-toolbar.html"}

							        {form_hidden_fields form=$form}

							        {form_field form=$form field='success_url'}
							        <input type="hidden" name="{$name}" value="{url path='/admin/configuration/messages'}" />
							        {/form_field}

                                    {form_field form=$form field='id'}
                                    <input type="hidden" name="{$name}" value="{$value|htmlspecialchars}" />
                                    {/form_field}

			                        {form_field form=$form field='locale'}
			                        <input type="hidden" name="{$name}" value="{{$edit_language_locale}}" />
			                        {/form_field}

						            {if #form_error}<div class="alert alert-block alert-error">#form_error_message</div>{/if}

						            <div class="control-group">

						                <label class="control-label">
						                   {intl l='Name *'}
						                </label>

						                <div class="controls">
						                    {form_field form=$form field='name'}
						                    <span {if $error}class="error"{/if}>
						                       <input type="text" required="required" name="{$name}" value="{$value|htmlspecialchars}" title="{intl l='Variable name'}" placeholder="{intl l='Variable name'}" class="input-block-level">
						                    </span>
						                    {/form_field}
						                </div>
						            </div>

			                        <div class="control-group">
			                            <label class="control-label">
			                               {intl l='Secured'}
			                            </label>

			                            <div class="controls">
			                                {form_field form=$form field='secured'}
			                                <span {if $error}class="error"{/if}>
												<label class="checkbox">
			                                        <input type="checkbox" name="{$name}" value="1" {if $value == 1}checked="checked"{/if}>
			                                        {intl l="Prevent mailing template modification or deletion, except for super-admin"}
												</label>
			                                </span>
			                                {/form_field}
			                            </div>
			                        </div>

									{form_field form=$form field='title'}
									<div class="control-group">
									    <label class="control-label">
									       {intl l='Title *'}
									    </label>

									    <div class="controls">
									        <span {if $error}class="error"{/if}>
									            <input type="text" name="{$name}" required="required" title="{intl l='Title'}" placeholder="{intl l='Title'}" class="input-block-level" value="{$value|htmlspecialchars}">
									        </span>
									    </div>
									</div>
									{/form_field}

                                    {form_field form=$form field='subject'}
                                    <div class="control-group">
                                        <label class="control-label">
                                           {intl l='Message subject *'}
                                        </label>

                                        <div class="controls">
                                            <span {if $error}class="error"{/if}>
                                                <input type="text" name="{$name}" required="required" title="{intl l='Subject'}" placeholder="{intl l='Subject'}" class="input-block-level" value="{$value|htmlspecialchars}">
                                            </span>
                                        </div>
                                    </div>
                                    {/form_field}

									{form_field form=$form field='html_message'}
									<div class="control-group">
									    <label class="control-label">
									      {intl l='HTML Message'}
									      <span class="label-help-block">{intl l="The mailing template in HTML format."}</span>
									    </label>

									    <div class="controls">
									        <span {if $error}class="error"{/if}>
									        <textarea name="{$name}" rows="10" class="input-block-level">{$value|htmlspecialchars}</textarea>
									        </span>
									    </div>
									</div>
									{/form_field}

                                    {form_field form=$form field='text_message'}
                                    <div class="control-group">
                                        <label class="control-label">
                                          {intl l='Text Message'}
                                          <span class="label-help-block">{intl l="The mailing template in text-only format."}</span>
                                        </label>

                                        <div class="controls">
                                            <span {if $error}class="error"{/if}>
                                            <textarea name="{$name}" rows="10" class="input-block-level">{$value|htmlspecialchars}</textarea>
                                            </span>
                                        </div>
                                    </div>
                                    {/form_field}

                                    <div class="control-group">
                                        <div class="controls">
                                            <p>{intl l='Message created on %date_create. Last modification: %date_change' date_create="{format_date date=$CREATE_DATE}" date_change="{format_date date=$UPDATE_DATE}"}}</p>
                                        </div>
                                    </div>
                                </fieldset>
							</form>
							{/form}
						</div>
					</div>
				</div>
			</div>

		</div>
		{/loop}

        {elseloop rel="message_edit"}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-error">
                    {intl l="Sorry, message ID=$message_id was not found."}
                </div>
            </div>
        </div>
        {/elseloop}

    </div>
</div>
{/block}