{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Orders'}{/block}

{block name="check-permissions"}admin.orders.view{/block}

{block name="main-content"}
<div class="orders">

    <div id="wrapper" class="container">

        <ul class="breadcrumb">
            <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
            <li><a href="{url path='/admin/orders'}">{intl l="Orders"}</a></li>
        </ul>

        {module_include location='orders_top'}

        <div class="row">
            <div class="col-md-12">
                <form action="{url path='/admin/orders/update-values'}" method="post">
	                <div class="general-block-decorator">
	                    <table class="table table-striped table-condensed table-left-aligned">
	                        <caption class="clearfix">
	                           {intl l='Orders'}
	                           {loop type="auth" name="can_create" roles="ADMIN" permissions="admin.orders.create"}
	                                <a class="btn btn-default btn-primary pull-right" title="{intl l='Create an order'}" href="#creation_dialog">
	                                    <span class="glyphicon glyphicon-plus-sign"></span>
	                                </a>
                            	{/loop}
	                        </caption>
                            <thead>
    	                        <tr>
    	                           <th>{intl l="Order n°"}</th>
                                   <th>{intl l="Date & Hour"}</th>
                                   <th>{intl l="Compagny"}</th>
                                   <th>{intl l="Name"}</th>
                                   <th>{intl l="Amount"}</th>
                                   <th>{intl l="Status"}</th>
                                   
                                   {module_include location='orders_table_header'}

                                   <th>{intl l="Actions"}</th>
    	                        </tr>
                            </thead>

                            <tbody>    	                        
    	                            <tr>

    	                               	<td><a href="">01230450123045</a></td>
    	                               	<td>11/09/2013 10:24:31</td>
    	                               	<td>Thelia</td>
    	                               	<td><a href="">Dupont</a></td>
    	                               	<td>251 &euro;</td>
    	                               	<td><span class="label label-success">Paid</span></td>

    	                                {module_include location='orders_table_row'}

    	                                <td>
    	                                    <div class="btn-group">

				                                {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.orders.edit"}
				                                   <a class="btn btn-default btn-xs" title="{intl l='Edit this order'}" href="{url path='/admin/orders/update/$ID'}"><span class="glyphicon glyphicon-edit"></span></a>
				                                {/loop}

				                                {loop type="auth" name="can_delete" roles="ADMIN" permissions="admin.orders.delete"}
				                                   <a class="btn btn-default btn-xs" title="{intl l='Delete this order'}"  href="#delete_order_dialog" data-id="{$ID}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
				                                {/loop}
				                            </div>
    	                                </td>
    	                            </tr>
    	                            <tr>

    	                               	<td><a href="">01230450123045</a></td>
    	                               	<td>11/09/2013 10:24:31</td>
    	                               	<td>Thelia</td>
    	                               	<td><a href="">Dupont</a></td>
    	                               	<td>251 &euro;</td>
    	                               	<td><span class="label label-danger">Canceled</span></td>

    	                                {module_include location='orders_table_row'}

    	                                <td>
    	                                    <div class="btn-group">

				                                {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.orders.edit"}
				                                   <a class="btn btn-default btn-xs" title="{intl l='Edit this order'}" href="{url path='/admin/orders/update/$ID'}"><span class="glyphicon glyphicon-edit"></span></a>
				                                {/loop}

				                                {loop type="auth" name="can_delete" roles="ADMIN" permissions="admin.orders.delete"}
				                                   <a class="btn btn-default btn-xs" title="{intl l='Delete this order'}"  href="#delete_order_dialog" data-id="{$ID}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
				                                {/loop}
				                            </div>
    	                                </td>
    	                            </tr>
    	                            <tr>

    	                               	<td><a href="">01230450123045</a></td>
    	                               	<td>11/09/2013 10:24:31</td>
    	                               	<td>Thelia</td>
    	                               	<td><a href="">Dupont</a></td>
    	                               	<td>251 &euro;</td>
    	                               	<td><span class="label label-info">Current</span></td>

    	                                {module_include location='orders_table_row'}

    	                                <td>
    	                                    <div class="btn-group">

				                                {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.orders.edit"}
				                                   <a class="btn btn-default btn-xs" title="{intl l='Edit this order'}" href="{url path='/admin/orders/update/$ID'}"><span class="glyphicon glyphicon-edit"></span></a>
				                                {/loop}

				                                {loop type="auth" name="can_delete" roles="ADMIN" permissions="admin.orders.delete"}
				                                   <a class="btn btn-default btn-xs" title="{intl l='Delete this order'}"  href="#delete_order_dialog" data-id="{$ID}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
				                                {/loop}
				                            </div>
    	                                </td>
    	                            </tr>
    	                        
    	                        <!-- <tr>
    	                           <td colspan="3">
    	                               <div class="alert alert-info">
    	                               {intl l="No mailing template has been created yet. Click the + button to create one."}
    	                               </div>
    	                           </td>
    	                        </tr> -->
    	                        
                            </tbody>
	                    </table>
	                </div>
                </form>
            </div>
        </div>

        {module_include location='orders_bottom'}

    </div>
</div>

{* Delete order confirmation dialog *}

{capture "delete_order_dialog"}
    <input type="hidden" name="current_order_id" value="{$current_order_id}" />
    <input type="hidden" name="order_id" id="delete_order_id" value"" />
{/capture}

{include
    file = "includes/generic-confirm-dialog.html"

    dialog_id       = "delete_order_dialog"
    dialog_title    = {intl l="Delete an order"}
    dialog_message  = {intl l="Do you really want to delete this order ?"}

    form_action         = {url path='/admin/orders/delete'}
    form_content        = {$smarty.capture.delete_order_dialog nofilter}
}

{/block}