{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Thelia Shipping zones'}{/block}

{block name="check-permissions"}admin.configuration.shipping-zones.view{/block}

{block name="main-content"}
<div class="shipping-zones">

    <div id="wrapper" class="container">

        <ul class="breadcrumb">
            <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
            <li><a href="{url path='/admin/configuration'}">{intl l="Configuration"}</a></li>
            <li><a href="{url path='/admin/configuration/shipping-zones'}">{intl l="Shipping zones"}</a></li>
        </ul>

        {module_include location='shipping_zones_top'}

        <div class="row">
            <div class="col-md-12">
                <div class="general-block-decorator">
                    <table class="table table-striped table-condensed table-left-aligned">
                        <caption>
                           {intl l='Thelia Shipping zones'}                           
                        </caption>
                        <thead>
	                        <tr>	                           
                               <th>{intl l="Name"}</th>

                               {module_include location='shipping_zones_table_header'}

                               <th>{intl l="Actions"}</th>
	                        </tr>
                        </thead>

                        <tbody>
                            <tr>
                               <td>So Colissimo</td>                                   

                                {module_include location='shipping_zones_table_row'}

                                <td>
                                    {if ! $SECURED}
                                        <div class="btn-group">
                                           {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.configuration.shipping-zones.change"}
                                               <a class="btn btn-default btn-xs shipping-zones-change" title="{intl l='Change this shipping zone'}" href="{url path="/admin/configuration/shipping_zones/update/$ID"}"><i class="glyphicon glyphicon-edit"></i></a>
                                           {/loop}                                               
                                        </div>
                                    {else}
                                        <i title="{intl l='This shipping zone could not be changed.'}" class="glyphicon glyphicon-ban-circle"></i>
                                    {/if}
                                </td>
                            </tr>                           
                            <tr>
                               <td>Chronopost</td>                                   

                                {module_include location='shipping_zones_table_row'}

                                <td>
                                    {if ! $SECURED}
                                        <div class="btn-group">
                                           {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.configuration.shipping-zones.change"}
                                               <a class="btn btn-default btn-xs shipping-zones-change" title="{intl l='Change this shipping zone'}" href="{url path="/admin/configuration/shipping_zones/update/$ID"}"><i class="glyphicon glyphicon-edit"></i></a>
                                           {/loop}                                               
                                        </div>
                                    {else}
                                        <i title="{intl l='This shipping zone could not be changed.'}" class="glyphicon glyphicon-ban-circle"></i>
                                    {/if}
                                </td>
                            </tr>                           
                            <tr>
                               <td>Kiala</td>                                   

                                {module_include location='shipping_zones_table_row'}

                                <td>
                                    {if ! $SECURED}
	                                    <div class="btn-group">
                                           {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.configuration.shipping-zones.change"}
                                               <a class="btn btn-default btn-xs shipping-zones-change" title="{intl l='Change this shipping zone'}" href="{url path="/admin/configuration/shipping_zones/update/$ID"}"><i class="glyphicon glyphicon-edit"></i></a>
                                           {/loop}                                               
	                                    </div>
	                                {else}
	                                    <i title="{intl l='This shipping zone could not be changed.'}" class="glyphicon glyphicon-ban-circle"></i>
                                    {/if}
                                </td>
                            </tr>	                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {module_include location='shipping_zones_bottom'}

    </div>
</div>

    {* Delete confirmation dialog *}

    {capture "delete_dialog"}
        <input type="hidden" name="shipping_zones_id" id="shipping_zones_delete_id" value="" />

        {module_include location='shipping_zones_delete_form'}

    {/capture}

    {include
        file = "includes/generic-confirm-dialog.html"

        dialog_id       = "delete_dialog"
        dialog_title    = {intl l="Delete shipping zone"}
        dialog_message  = {intl l="Do you really want to delete this shipping zone ?"}

        form_action         = {url path='/admin/configuration/shipping_zones/delete'}
        form_content        = {$smarty.capture.delete_dialog nofilter}
    }
{/block}