{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Taxes rules'}{/block}

{block name="check-permissions"}admin.taxes-rules.view{/block}

{block name="main-content"}
<div class="taxes-rules">

    <div id="wrapper" class="container">
        
        <div class="clearfix">
            <ul class="breadcrumb">
                <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
                <li><a href="{url path='/admin/configuration'}">{intl l="Configuration"}</a></li>
                <li><a href="{url path='/admin/configuration/taxes_rules'}">{intl l="Taxes rules"}</a></li>
            </ul>
        </div>

        {module_include location='taxes_rules_top'}

        <div class="row">
            <div class="col-md-12">
                <div class="general-block-decorator">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed table-left-aligned">
                            <caption class="clearfix">
                                {intl l="Taxes rules"}
                                {loop type="auth" name="can_create" roles="ADMIN" permissions="admin.taxes-rules.create"}
                                    <a class="btn btn-default btn-primary pull-right" title="{intl l='Create a new tax rule'}" href="#creation_dialog" data-toggle="modal">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                {/loop}
                            </caption>
                            <thead>
                                <tr>
                                    <th>{intl l="Name"}</th>
                                    <th>{intl l="Description"}</th>
                                    <th>{intl l="Actions"}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {loop type="tax-rule" name="taxes-rules"}

                                <tr>
                                    <td>{$TITLE}</td>
                                    <td>{$DESCRIPTION}</td>
                                    <td>
                                        <div class="btn-group">
                                            {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.configuration.taxes-rules.change"}
                                                <a class="btn btn-default btn-xs" title="{intl l='Change this tax rule'}" href="{url path="/admin/configuration/taxes_rules/update/{$ID}"}"><span class="glyphicon glyphicon-edit"></span></a>
                                            {/loop}

                                            {loop type="auth" name="can_change" roles="ADMIN" permissions="admin.configuration.taxes-rules.change"}
                                                <a class="btn btn-default btn-xs" title="{intl l='Delete this tax rule'}" href="#tax_rule_delete_dialog" data-id="{$ID}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
                                            {/loop}
                                        </div>
                                    </td>
                                </tr>

                                {/loop}

                            </tbody>                            
                        </table>
                    </div>
                </div>                
            </div>
        </div>

        {module_include location='taxes_rules_bottom'}

    </div>
</div>

{* -- Delete category confirmation dialog ----------------------------------- *}

{capture "tax_rule_delete_dialog"}
    <input type="hidden" name="tax_rule_id" id="tax_rule_delete_id" value="" />

    {module_include location='tax_rule_delete_form'}

{/capture}

{include
    file = "includes/generic-confirm-dialog.html"

    dialog_id       = "tax_rule_delete_dialog"
    dialog_title    = {intl l="Delete tax rule"}
    dialog_message  = {intl l="Do you really want to delete this tax rule ?"}

    form_action         = {url path='/admin/configuration/taxes_rules/delete'}
    form_content        = {$smarty.capture.tax_rule_delete_dialog nofilter}
}

{/block}