.Tag {
  @apply font-medium;

  padding: 6px 10px;
  color: white;
  font-size: rem(10px);
  line-height: 1;
  text-transform: uppercase;
  border-radius: 12px;

  @screen md {
    font-size: rem(12px);
  }

  &--primary {
    background-color: black;
  }

  &--secondary {
    background-color: theme('colors.gray.600');
  }

  &--sale {
    background-color: theme('colors.main-dark');
  }
}
