{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="check-resource"}admin.coupon{/block}
{block name="check-access"}create{/block}

{block name="page-title"}{intl l='Create coupon'}{/block}

{block name="main-content"}
<section id="wrapper" class="container">

    <nav>
        <ul class="breadcrumb">
            <li><a href="{url path='admin/home'}">{intl l='Home'}</a></li>
            <li><a href="{url path='admin/tools'}">{intl l='Tools'}</a></li>
            <li><a href="{url path='admin/coupon'}">{intl l='Coupon'}</a></li>
            <li>{intl l='Create'}</li>
        </ul>
    </nav>

    {form name="thelia.admin.coupon.creation"}
    {include file='coupon/form.html' formAction={url path={$formAction}} noConditions=true title={intl l='Create a new coupon'}}
    {/form}
</section> <!-- #wrapper -->

{include file='includes/confirmation-modal.html'}
{/block}

{block name="javascript-initialization"}

    {javascripts file='assets/js/json2.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file='assets/js/coupon.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script>
        $(function($){
            // Url alowing to get coupon inputs
            $.couponManager.urlAjaxAdminCouponDrawInputs = "{$urlAjaxAdminCouponDrawInputs nofilter}";
            $.couponManager.intlPleaseRetry = '{intl l='Something goes wrong, please try again.' js=1}';
            $.couponManager.intlDoYouReallyWantToSetCouponAvailableForEveryOne = '{intl l='Do you really want to set this coupon available to everyone ?' js=1}';
            $.couponManager.intlDoYouReallyWantToDeleteThisCondition = '{intl l='Do you really want to delete this condition ?' js=1}';
        });
    </script>

{/block}

{block name="javascript-last-call"}
    {hook name="coupon.create-js" location="coupon-create-js" }

    {hook name="wysiwyg.js" location="wysiwyg-coupon-create-js" }
{/block}
