{extends file="simple-layout.tpl"}

{* -- We do not check admin login on this page *}
{block name="check-auth"}{/block}

{block name="page-title"}{intl l='Password changed'}{/block}

{block name="main-title"}{intl l='Password changed'}{/block}

{block name="main-content"}

    <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-success">
            {intl l='Congratulations, your password was successfully changed. You can now login.'}
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="btn-group btn-group-justified">
                    <a href="{url path="/admin/login"}" class="btn btn-primary btn-lg"><span class="hidden-xs glyphicon glyphicon-off"></span> {intl l='Login'}</a>
                </div>
            </div>
        </div>
    </div>
{/block}