{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Exports'}{/block}

{block name="check-resource"}admin.export{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
    <div class="configuration">

        <div id="wrapper" class="container">

            <nav>
                <ul class="breadcrumb">
                    <li><a href="{url path='admin/home'}">{intl l='Home'}</a></li>
                    <li><a href="{url path='admin/tools'}">{intl l='Tools'}</a></li>
                    <li>{intl l="Exports"}</li>
                </ul>
            </nav>

            {module_include location='tools_top'}

            <div class="row">

                <div class="col-md-4">
                    <div class="menu-list-table general-block-decorator">
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed">
                                <caption>{intl l='Customer export'}</caption>

                                {module_include location='tools_col1_top'}

                                {loop name="auth-export" type="auth" role="ADMIN" resource="admin.export.customer.newsletter"  access="VIEW"}
                                    <tr>
                                        <td><a href="{url path='/admin/export/customer/newsletter'}">{intl l="newsletter subscribers"}</a></td>
                                        <td><a class="btn btn-default btn-xs" href="{url path='/admin/export/customer/newsletter'}"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    </tr>
                                {/loop}

                                {module_include location='tools_col1_bottom'}
                            </table>
                        </div>
                    </div>
                </div>

                {module_include location='configuration_bottom'}
            </div>
        </div>
    </div>
{/block}

{block name="javascript-last-call"}
    {module_include location='configuration-js'}
{/block}