{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'folder'}
{/block}

{block name="check-resource"}admin.folder{/block}
{block name="check-access"}update{/block}

{block name="page-title"}{intl l='Edit folder'}{/block}

{block name="main-content"}
<div class="folder edit-folder">
	<div id="wrapper" class="container">

        {include file="includes/folder-breadcrumb.html" }

        {hook name="folder-edit.top" folder_id=$folder_id}

        <div class="row">
            {loop name="folder_edit" type="folder" visible="*" id="{$folder_id}" backend_context="1" lang="$edit_language_id" with_prev_next_info="true"}

            {* Define close url *}
            {assign var='close_url' value="{url path='/admin/folders' folder_id=$ID}"}

            <div class="col-md-12 general-block-decorator">
                <div class="row">
                    <div class="col-md-7 title">
						{intl l='Edit folder %title' title={$TITLE}}
		            </div>

                    <div class="col-md-5 actions">
                        <a {if $HAS_PREVIOUS != 0}href="{url path="/admin/folders/update/%previous" previous=$PREVIOUS}"{else}disabled="disabled"{/if} class="btn btn-default" title="{intl l='Edit previous folder'}"><span class="glyphicon glyphicon-arrow-left"></span></a>
                        <a  href="{$URL nofilter}" target="_blank" class="btn btn-default" title="{intl l='Preview folder page'}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a {if $HAS_NEXT != 0}href="{url path="/admin/folders/update/%next" next=$NEXT}"{else}disabled="disabled"{/if} class="btn btn-default" title="{intl l='Edit next folder'}"><span class="glyphicon glyphicon-arrow-right"></span></a>
                    </div>
                </div>

	            <div class="row">
	                <div class="col-md-12">

                        {hookblock name="folder.tab" id="{$folder_id}" fields="id,title,href,content"}

                            {capture "folder_tab_tab"}
                                {forhook rel="folder.tab"}
                                <li>
                                    <a href="#{$id}"
                                        {if $href}data-href="{$href}"{/if}
                                        data-toggle="tab">{$title}
                                    </a>
                                </li>
                                {/forhook}
                            {/capture}

                            {capture "folder_tab_content"}
                                {forhook rel="folder.tab"}
                                <div class="tab-pane fade" id="{$id}">
                                    {if $href}
                                        {* ajax *}
                                        <div class="text-center"><span class="loading">{intl l="Please wait, loading"}</span></div>
                                    {else}
                                        {$content nofilter}
                                    {/if}
                                </div>
                                {/forhook}
                            {/capture}

                        {/hookblock}

						<ul class="nav nav-tabs" id="tabbed-menu">
		                    <li class="active"><a href="#general" data-toggle="tab">{intl l="General description"}</a></li>
                            <li><a href="#seo" data-toggle="tab">{intl l="SEO"}</a></li>
		                    <li><a href="#images" data-toggle="tab">{intl l="Images"}</a></li>
		                    <li><a href="#documents" data-toggle="tab">{intl l="Documents"}</a></li>
                            {$smarty.capture.folder_tab_tab nofilter}
		                    <li><a href="#modules" data-toggle="tab">{intl l="Modules"}</a></li>
		 				</ul>

		                <div class="tab-content">

		                    <div class="tab-pane fade active in" id="general">

			                    <div class="form-container">

				                    {form name="thelia.admin.folder.modification"}
				                    <form method="POST" action="{url path='/admin/folders/save'}" {form_enctype} class="clearfix">

	                                    {include file="includes/inner-form-toolbar.html" close_url=$close_url}

			                            {* Be sure to get the folder ID, even if the form could not be validated *}
			                            <input type="hidden" name="folder_id" value="{$folder_id}" />
                                        <input type="hidden" name="current_tab" value="general" />

			                            {form_hidden_fields}

			                            {form_field field='success_url'}
			                                <input type="hidden" name="{$name}" value="{url path="/admin/folders/update/%id" id=$ID}" />
			                            {/form_field}

                                        {form_field field='locale'}
                                            <input type="hidden" name="{$name}" value="{$value}" />
                                        {/form_field}

                                        {* Display error message if exist *}
                                        {include file='includes/notifications.html' message=$form_error_message}

                                        <div class="row">
                                            <div class="col-md-8">
                                                {include file="includes/standard-description-form-fields.html"}
                                            </div>

                                            <div class="col-md-4">
                                                {hook name="folder.modification.form-right.top" folder_id=$folder_id}

                                                {form_field field='parent'}
		                                            <div class="form-group {if $error}has-error{/if}">

		                                                <label for="{$label_attr.for}" class="control-label">
		                                                    {$label} :
		                                                </label>

		                                                <select id="{$label_attr.for}" required="required" name="{$name}" class="form-control">
		                                                      <option value="0">{intl l="Top level"}</option>
                                                              {$excludeFolders = []}
                                                              {loop name="exclude-folders" type="folder" parent=$folder_id}
                                                                {$excludeFolders[] = $ID}
                                                              {/loop}
                                                              {$myparent=$PARENT}
		                                                      {loop name="fold-parent" type="folder-tree" visible="*" folder="0" exclude={','|implode:$excludeFolders}}
		                                                           <option value="{$ID}" {if $myparent == $ID}selected="selected"{/if} {if $folder_id == $ID}disabled="disabled"{/if}>{option_offset l=$LEVEL+1 label={$TITLE}}</option>
		                                                      {/loop}
		                                                </select>
		                                             </div>
		                                        {/form_field}

									            {form_field field='visible'}
									                <div class="form-group {if $error}has-error{/if}">
									                    <label for="{$label_attr.for}" class="control-label">{intl l='Visibility'}</label>
									                    <div class="checkbox">
									                        <label>
									                            <input type="checkbox" id="{$label_attr.for}" name="{$name}" value="1" {if $value != 0}checked="checked"{/if}>
									                            {$label}
									                        </label>
									                    </div>
									                </div>
									            {/form_field}

                                                {hook name="folder.modification.form-right.bottom" folder_id=$folder_id}
                                            </div>
						                </div>

                                        {include
                                            file="includes/inner-form-toolbar.html"
                                            hide_flags = true
                                            close_url=$close_url
                                        }

                                        <small>{intl l='Folder created on %date_create. Last modification: %date_change' date_create="{format_date date=$CREATE_DATE}" date_change="{format_date date=$UPDATE_DATE}"}</small>

                                    </form>
				                    {/form}
			                    </div>
		                    </div>

                            <div class="tab-pane fade" id="seo">
                                {include file="includes/seo-tab.html"
                                    formAction  = "{url path='/admin/folders/seo/save'}"
                                    pageUrl     = "{url path='/admin/folders/update'}/$folder_id"
                                    closeUrl    = $close_url
                                    success_url = $close_url
                                    current_id  = $folder_id
                                    seoType     = 'folder'
                                }
                            </div>

		                    <div class="tab-pane fade" id="images">
                                {include file='includes/image-upload-form.html' imageType='folder' parentId=$ID resource="admin.folder"}
		                    </div>

		                    <div class="tab-pane fade" id="documents">
                                {include file='includes/document-upload-form.html' documentType='folder' parentId=$ID  resource="admin.folder"}
		                    </div>

                            {$smarty.capture.folder_tab_content nofilter}

		                    <div class="tab-pane fade" id="modules">
                                <div class="form-container">
                                    {include
                                    file = "includes/inner-form-toolbar.html"
                                    hide_submit_buttons = true
                                    page_url  = {$pageUrl}
                                    close_url = {$closeUrl}
                                    current_tab = "modules"
                                    }
                                </div>
                                {* ugly fix : {hook name="folder.tab-content" id="{$folder_id}" view="folder"} *}
                                {include file="includes/module-tab-content.html" hook="folder.tab-content" location="folder-edit" id="{$folder_id}" view="folder"}
		                    </div>
		                 </div>
                    </div>
                </div>
		    </div>
            {/loop}
 		</div>

        {hook name="folder-edit.bottom" folder_id=$folder_id}

	</div>
</div>
{/block}
{block name="javascript-initialization"}
    {javascripts file='assets/js/dropzone.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/image-upload.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/document-upload.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script>
        $(function() {
            // Atomatic ajax tab load, if data-href is defined.
            $('.nav-tabs a[data-href]').on('shown.bs.tab', function(ev) {
                var $this = $(this);
                $($this.attr('href')).load($this.data('href'), function(ev) {
                    if($this.data('callback')) {
                        eval($this.data('callback') + '();');
                    }
                });

            });

            $.imageUploadManager.initImageDropZone();
            $.documentUploadManager.initDocumentDropZone();

            $('.use_default_rewriten_url').click(function(ev) {
                alert("Not functionnal");

                ev.preventDefault();
            });

            // Show proper tab, if defined
            {if ! empty($current_tab)}
            $('#tabbed-menu a[href="#{$current_tab}"]').tab('show')
            {/if}


            // Set proper content ID in delete content from
            $('a.delete-content').click(function(ev) {
                $('#content_delete_id').val($(this).data('id'));
                $('#folder_delete_id').val($('#folder_id').val());
            });

            // Load content on folder selection
            $('#folder_id').change(function(event) {
                $.ajax({
                     url      : '{url path="/admin/folder/$folder_id/available-related-content/"}' + $(this).val() + '.xml',
                     type     : 'get',
                     dataType : 'json',
                     success  : function(json) {
                         $('#content_id :not(:first-child)').remove();

                         var have_content = false;

                         $.each(json, function(idx, value) {
                             $('#content_id').append($('<option>').text(value.title).attr('value', value.id));

                             have_content = true; // Lame...
                         });

                         if (have_content)
                             $('#content_selector').removeClass('hide');
                         else
                             $('#content_selector').addClass('hide');

                     }
                });
            });

            // Initialize folder select value
             {if $folder_id != 0}
                 $('#folder_id').val("{$folder_id}").change();
             {/if}

        });
    </script>
{/block}

{block name="javascript-last-call"}
    {hook name="folder.edit-js" location="folder-edit-js" folder_id={$folder_id} }

    {hook name="wysiwyg.js" location="wysiwyg-folder-edit-js" }
{/block}
