{extends file="simple-layout.tpl"}

{* -- We do not check admin login on this page *}
{block name="check-auth"}{/block}

{block name="page-title"}{intl l='An error occured'}{/block}

{block name="main-content"}
    <div id="wrapper" class="container">

        <div class="row">
            <div class="col-md-12">
            	<div class="general-block-decorator text-center">
	                <h1 style="padding: 40px 0">{intl l="Oops! An Error Occurred"}</h1>

	                {block name="error-message"}<p style="padding: 20px 0">{$error_message}</p>{/block}
					
					<a href="{url path='/admin'}" class="btn btn-default btn-info btn-lg"><span class="glyphicon glyphicon-home"></span> {intl l="Go to administration home"}</a>
	            </div>
            </div>
        </div>

    </div>
{/block}
