{extends file="simple-layout.tpl"}

{* -- We do not check admin login on this page *}
{block name="check-auth"}{/block}

{block name="page-title"}{intl l='An error occured'}{/block}
{block name="main-title"}{intl l="Oops! An Error Occurred"}{/block}
{block name="main-content"}
    <div class="col-md-offset-2 col-md-8">
        {block name="error-message"}<p>{$error_message}</p>{/block}
        <a href="{url path='/admin'}" class="btn btn-block btn-default btn-info btn-lg"><span class="glyphicon glyphicon-home"></span> {intl l="Go to administration home"}</a>
    </div>
{/block}
