{extends file="admin-layout.tpl"}

{block name="after-bootstrap-css"}
    <link rel="stylesheet" href="{stylesheet file='assets/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css'}">
{/block}

{block name="no-return-functions"}
    {$admin_current_location = 'home'}
{/block}

{block name="page-title"}{intl l='Back-office home'}{/block}

{block name="main-content"}
    <div class="homepage">
        <div id="wrapper" class="container">

            {hook name="home.top" location="home_top" }

            <div class="row">
                {hookblock name="home.block" fields="id,title,content,class"}
                {forhook rel="home.block"}
                <div class="{if $class}{$class}{else}col-md-4{/if}">
                    <div {if $id}id="{$id}"{/if} class="general-block-decorator">
                        {if $title}<div class="title title-without-tabs">{$title}</div>{/if}
                        {$content nofilter}
                    </div>
                </div>
                {/forhook}
                {/hookblock}
            </div>

			{hook name="home.bottom" location="home_bottom" }
		</div>
	</div>
{/block}

{block name="javascript-initialization"}
<script>
jQuery(function($){
    // Get the latest Thelia version
    $.ajax({
        url: "https://thelia.net/version.php",
        beforeSend: function (jqXHR) {
            jqXHR.setRequestHeader("Thelia-Version", "{$THELIA_VERSION}");
        },
        crossDomain: true
    }).done(function(data) {
        $('#latest-thelia-version').text(data);
    }).fail(function() {
        $('#latest-thelia-version').text("Unavailable");
    });
});
</script>
{/block}

{block name="javascript-last-call"}
    {hook name="home.js" location="home-js" }
{/block}