{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Hooks'}{/block}

{block name="check-resource"}admin.configuration.country{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
<div class="hooks">

    <div id="wrapper" class="container">

        <ul class="breadcrumb">
            <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
            <li><a href="{url path='/admin/configuration'}">{intl l="Configuration"}</a></li>
            <li><a href="{url path='/admin/hooks'}">{intl l="Hooks"}</a></li>
        </ul>

        {module_include location='hooks_top'}

        <div class="row">
            <div class="col-md-12">

                <form action="" method="post">

                    <div class="general-block-decorator">
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed">
                                <caption class="clearfix">
                                    {intl l='Hooks'}
                                    {loop type="auth" name="can_create" role="ADMIN" resource="admin.hook" access="CREATE"}
                                    <a class="btn btn-default btn-primary action-btn" title="{intl l='Add a new hook'}" href="#add_hook_dialog" data-toggle="modal">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                    {/loop}
                                </caption>
                                <thead>
                                    <tr>
                                        <th>{intl l="ID"}</th>
                                        <th>{intl l="Code"}</th>
                                        <th>{intl l="Title"}</th>
                                        <th>{intl l="Native"}</th>
                                        <th>{intl l="Active"}</th>

                                        {module_include location='hooks_table_header'}

                                        <th class="actions">{intl l='Actions'}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {loop name="hooks" type="hook" backend_context="1" lang=$lang_id order=$order}
                                <tr>
                                    <td>{$ID}</td>
                                    <td><a href="{url path="/admin/hook/update/{$ID}"}">{$CODE}</a></td>
                                    <td><a href="{url path="/admin/hook/update/{$ID}"}">{$TITLE}</a></td>
                                    <td>
                                        <div class="make-switch switch-small hook-native" data-id="{$ID}" data-on="success" data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok-circle'></i>" data-off-label="<i class='glyphicon glyphicon-remove-circle'></i>">
                                            <input type="checkbox" {if $NATIVE}checked="checked"{/if} />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="make-switch switch-small hook-activation" data-id="{$ID}" data-on="success" data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok-circle'></i>" data-off-label="<i class='glyphicon glyphicon-remove-circle'></i>">
                                            <input type="checkbox" {if $ACTIVE}checked="checked"{/if} />
                                        </div>
                                    </td>

                                    {module_include location='hooks_table_row'}

                                    <td class="actions">
                                        <div class="btn-group">
                                            {loop type="auth" name="can_change" role="ADMIN" resource="admin.hook" access="UPDATE"}
                                            <a class="btn btn-default btn-xs hook-change" title="{intl l='Change this hook'}" href="{url path="/admin/hook/update/{$ID}"}">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                            {/loop}

                                            {loop type="auth" name="can_delete" role="ADMIN" resource="admin.hook" access="DELETE"}
                                            <a class="btn btn-default btn-xs hook-delete" title="{intl l='Delete this hook'}" href="#delete_dialog" data-id="{$ID}" data-toggle="modal">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                            {/loop}
                                        </div>
                                    </td>
                                </tr>
                                {/loop}
                                {elseloop rel="hooks"}
                                <tr>
                                    <td colspan="8">
                                        <div class="alert alert-info">
                                            {intl l="No hooks has been created yet. Click the + button to create one."}
                                        </div>
                                    </td>
                                </tr>
                                {/elseloop}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </form>

            </div>

        </div>

        {module_include location='hooks_bottom'}

    </div>
</div>


{* Adding a new Hook *}

{form name="thelia.admin.hook.creation"}

    {* Capture the dialog body, to pass it to the generic dialog *}
    {capture "hook_creation_dialog"}

        {form_hidden_fields form=$form}

        {form_field form=$form field='success_url'}
        {* on success, redirect to the edition page, _ID_ is replaced with the created object ID, see controller  *}
        <input type="hidden" name="{$name}" value="{url path='/admin/hook/update/_ID_'}" />
        {/form_field}

        {loop type="lang" name="current-edit-lang" default_only="1"}

        {form_field form=$form field='title'}
        <div class="form-group {if $error}has-error{/if}">
            <label for="{$label_attr.for}" class="control-label">{$label} : </label>
            <div class="input-group">
                <input type="text" id="{$label_attr.for}" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{intl l='Hook title'}">
                <span class="input-group-addon"><img src="{image file="assets/img/flags/{$CODE}.png"}" alt="{$TITLE}" /></span>
            </div>
            <div class="help-block">{intl l="Enter here the value in the default language (%title)" title={$TITLE}}</div>
        </div>
        {/form_field}

        {form_field form=$form field='locale'}
        <input type="hidden" name="{$name}" value="{$LOCALE}" />
        {/form_field}

        {/loop}

        {form_field form=$form field='locale'}
        <input type="hidden" name="{$name}" value="{$edit_language_locale}" />
        {/form_field}

        {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

        {form_field form=$form field='code'}
        <div class="form-group {if $error}has-error{/if}">
            <label for="{$label_attr.for}" class="control-label">{$label} : </label>
            <input type="text" id="{$label_attr.for}" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{intl l='Code'}">
        </div>
        {/form_field}

        {form_field form=$form field='type'}
        <div class="form-group {if $error}has-error{/if}">
            <label for="{$label_attr.for}" class="control-label">{$label} : </label>
            <select name="{$name}" id="{$label_attr.for}" class="form-control">
                {foreach $choices as $choice}
                <option value="{$choice->value}" {if $form_error && $choice->value == $value}selected="selected" {/if}>{$choice->label}</option>
                {/foreach}
            </select>
        </div>
        {/form_field}

        {form_field form=$form field='native'}
        <div class="form-group {if $error}has-error{/if}">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="{$label_attr.for}" name="{$name}" value="1" {if $value != 0}checked="checked"{/if}>
                    {$label}
                </label>
            </div>
        </div>
        {/form_field}

        {form_field form=$form field='active'}
        <div class="form-group {if $error}has-error{/if}">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="{$label_attr.for}" name="{$name}" value="1" {if $value != 0}checked="checked"{/if}>
                    {$label}
                </label>
            </div>
        </div>
        {/form_field}

        {module_include location='hook_create_form'}

    {/capture}

    {include
    file = "includes/generic-create-dialog.html"

    dialog_id    = "add_hook_dialog"
    dialog_title = {intl l="Create a new Hook"}
    dialog_body  = {$smarty.capture.hook_creation_dialog nofilter}

    dialog_ok_label     = {intl l="Create this hook"}
    dialog_cancel_label = {intl l="Cancel"}

    form_action        = {url path='/admin/hooks/create'}
    form_enctype       = {form_enctype form=$form}
    form_error_message = $form_error_message
    }
{/form}


{* Delete confirmation dialog *}
{capture "delete_dialog"}
    <input type="hidden" name="hook_id" id="hook_delete_id" value="" />
    {module_include location='hook_delete_form'}
{/capture}

{include
file = "includes/generic-confirm-dialog.html"

dialog_id       = "delete_dialog"
dialog_title    = {intl l="Delete hook"}
dialog_message  = {intl l="Do you really want to delete this hook ?"}

form_action         = {url path='/admin/hooks/delete'}
form_content        = {$smarty.capture.delete_dialog nofilter}
}


<div class="modal fade" id="toggle-native-failed" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content alert alert-block alert-danger ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>{intl l="Error"}</h2>
            </div>
            <div class="modal-body">
                <strong>{intl l="Impossible to change native hook. Please contact your administrator or try later"}</strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="toggle-active-failed" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content alert alert-block alert-danger ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>{intl l="Error"}</h2>
            </div>
            <div class="modal-body">
                <strong>{intl l="Impossible to change active flag. Please contact your administrator or try later"}</strong>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="javascript-initialization"}

{javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
<script src="{$asset_url}"></script>

<script>
    $(document).ready(function(){
        // Toogle switch on input radio
        $('.switch-radio').on('switch-change', function () {
            $('.switch-radio').bootstrapSwitch('toggleRadioState');
        });

        $('.hook-delete').click(function(ev){
            $('#hook_delete_id').val($(this).data('id'));
        });

        $('.hook-native').on('switch-change', function(e, data){
            $.ajax({
                url : "{url path='/admin/hook/toggle-native'}",
                data : {
                    hook_id: $(this).data('id')
                }
            }).fail(function(){
                $('#toggle-native-failed').modal('show');
            });
        });

        $('.hook-activation').on('switch-change', function(e, data){
            $.ajax({
                url : "{url path='/admin/hook/toggle-activation'}",
                data : {
                    hook_id: $(this).data('id')
                }
            }).fail(function(){
                $('#toggle-active-failed').modal('show');
            });
        });
    });

</script>
{/javascripts}

{/block}

{block name="javascript-last-call"}
{module_include location='hooks-js'}
{/block}