{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Imports'}{/block}

{block name="check-resource"}admin.import{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
    {if $category_order != "manual"}
        {assign url_category "category_order="|cat:$category_order}
    {/if}
    {if $import_order != "manual"}
        {assign url_import "import_order="|cat:$import_order}
    {/if}


    <div class="configuration">

        <div id="wrapper" class="container">

            <nav>
                <ul class="breadcrumb">
                    <li><a href="{url path='admin/home'}">{intl l='Home'}</a></li>
                    <li><a href="{url path='admin/tools'}">{intl l='Tools'}</a></li>
                    <li>{intl l="Imports"}</li>
                </ul>
            </nav>

            {module_include location='tools_top'}

            {loop name="import-category" type="import-category" order=$category_order}
                <div class="row">
                    <div class="col-md-12">
                        <div class="general-block-decorator">
                            <div class="table-responsive">
                                <table class="table table-striped table-condensed table-left-aligned">
                                    <caption class="clearfix">
                                        <a href="{url path="/admin/import/position/category/up/{$ID}{if $url_import}?{$url_import}{/if}"}">
                                            <span class="glyphicon glyphicon-arrow-up"></span>
                                        </a>
                                        {$POSITION}
                                        <a href="{url path="/admin/import/position/category/down/{$ID}{if $url_import}?{$url_import}{/if}"}">
                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                        </a>
                                        {$TITLE}
                                    </caption>
                                    <thead>
                                    <tr>
                                        <th class="col-md-1">
                                            <a href="{url path="/admin/import"}?{if $url_category}{$url_category}&{/if}import_order=id{if $import_order == "id"}_reverse{/if}">
                                                {intl l="ID"}
                                            </a>
                                        </th>
                                        <th class="col-md-8">
                                            <a href="{url path="/admin/import"}?{if $url_category}{$url_category}&{/if}import_order=alpha{if $import_order == "alpha"}_reverse{/if}">
                                                {intl l="Name"}
                                            </a>
                                        </th>
                                        <th class="col-md-2">
                                            <a href="{url path="/admin/import"}?{if $url_category}{$url_category}&{/if}import_order=manual{if $import_order == "manual"}_reverse{/if}">
                                                {intl l="Position"}
                                            </a>
                                        </th>
                                        <th class="col-md-1">
                                            {intl l="Actions"}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {loop name="import-categ-list" type="import" order=$import_order category=$ID}
                                        <tr>
                                            <td>
                                                {$ID}
                                            </td>
                                            <td>
                                                <a href="{$URL}">{$TITLE}</a>
                                            </td>
                                            <td>
                                                <a href="{url path="/admin/import/position/up/{if $url_category}?{$url_category}{/if}{$ID}"}">
                                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                                </a>
                                                {$POSITION}
                                                <a href="{url path="/admin/import/position/down/{$ID}{if $url_category}?{$url_category}{/if}"}">
                                                    <span class="glyphicon glyphicon-arrow-down"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-default btn-xs" href="{$URL}" title="{intl l="Do this import"}">
                                                        <span class="glyphicon glyphicon-open"></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {/loop}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            {/loop}

            {elseloop rel="import-category"}
                <div class="alert alert-info">
                    {intl l="You don't have any import"}
                </div>
            {/elseloop}

            {module_include location='configuration_bottom'}
        </div>
    </div>
{/block}


{block name="javascript-initialization"}
    {javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
{/block}

{block name="javascript-last-call"}
    <!-- -->
    <script>
        $(document).ready(function() {
            var compression_switch = $(".import-compression-switch");
            var compression_row = $(".import-compression-selection-row");

            compression_switch.on("switch-change", function(e, data) {
                var is_checked = data.value;

                if (is_checked) {
                    compression_row.show();
                } else {
                    compression_row.hide();
                }
            });

            if ($("input[type=checkbox]", compression_switch).is(":checked")) {
                compression_row.show();
            } else {
                compression_row.hide();
            }
        });
    </script>
    {module_include location='configuration-js'}
{/block}