{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Import'}: {$TITLE}{/block}

{block name="check-resource"}admin.import{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
<div class="container" id="wrapper">

    <nav>
        <ul class="breadcrumb">
            <li><a href="{url path='admin/home'}">{intl l='Home'}</a></li>
            <li><a href="{url path='admin/tools'}">{intl l='Tools'}</a></li>
            <li><a href="{url path='admin/import'}">{intl l="Imports"}</a></li>
            <li>{intl l="Import"}: {$TITLE}</li>
        </ul>
    </nav>

    {form name="thelia.import"}
    {if $form_error}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">{$form_error_message}</div>
            </div>
        </div>
    {/if}

    {if $success_message}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success">{$success_message}</div>
            </div>
        </div>
    {/if}

    <div class="row">
        <div class="col-md-6">
            <div class="general-block-decorator">

                <div class="title title-without-tabs">
                    {intl l='Import'}: {$TITLE}
                </div>

                {if $DESCRIPTION}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info">
                                {$DESCRIPTION nofilter}
                            </div>
                        </div>
                    </div>
                {/if}
                <form action="{$URL}" method="post" {form_enctype form=$form}>
                    {form_hidden_fields form=$form}
                    <div class="row">
                        <div class="col-md-12">
                            {form_field form=$form field="language"}
                                <label for="{$label_attr.for}">
                                    {$label}
                                </label>
                                <select id="{$label_attr.for}" name="{$name}" required>
                                    {loop name="import-lang" type="lang"}
                                        <option value="{$ID}" {if $ID == $CURRENT_LANG_ID}selected{/if}>{$TITLE}</option>
                                    {/loop}
                                </select>
                            {/form_field}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {form_field form=$form field="file_upload"}
                                <label form="{$label_attr.for}">
                                    {$label}
                                </label>

                                <input type="file" required aria-required="true" name="{$name}" id="{$label_attr.for}" accept="{$ALLOWED_MIME_TYPES}"/>
                                <div class="small">Accepted formats: {$ALLOWED_EXTENSIONS}</div>
                            {/form_field}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" title="{intl l="Import this file"}">{intl l="Import this file"}</button>
                </form>
            </div>
        </div>
    </div>
    {/form}
{/block}

{block name="javascript-last-call"}
    {hook name="import.js" location="import-js" }
{/block}