{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'modules'}
{/block}

{block name="page-title"}{intl l='Modules'}{/block}

{block name="check-auth"}
    {check_auth role="ADMIN" module=$module_code access="view" login_tpl="/admin/login"}
{/block}

{block name="main-content"}
<div class="modules-configure">

    <div id="wrapper" class="container">
        <div class="clearfix">
            <ul class="breadcrumb pull-left">
                <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
                <li><a href="{url path='/admin/modules'}">{intl l="Modules"}</a></li>
                <li><a href="#">{intl l="Configure"} : {loop type="module" name="module-name" code=$module_code}{$CODE} - {$TITLE}{/loop}</a></li>
            </ul>
        </div>

        {hook name="module.configuration" location="module_configuration"  modulecode="$module_code"}

    </div>
</div>

{/block}

{block name="javascript-last-call"}
    {hook name="module.config-js" location="module-config-js" modulecode="$module_code"}

    {hook name="wysiwyg.js" location="wysiwyg-module-config-js" }
{/block}