{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Tools'}{/block}

{block name="check-resource"}admin.tools{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
    <div class="configuration">

        <div id="wrapper" class="container">

            <nav>
                <ul class="breadcrumb">
                    <li><a href="{url path='admin/home'}">{intl l='Home'}</a></li>
                    <li>{intl l='Tools'}</li>
                </ul>
            </nav>

            {hook name="tools.top" location="tools_top" }

            <div class="row">

                <div class="col-md-4">
                    <div class="menu-list-table general-block-decorator">
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed">
                                <caption>{intl l='General tools'}</caption>

                                {hook name="tools.col1-top" location="tools_col1_top" }

                                {loop name="auth-coupon" type="auth" role="ADMIN" resource="admin.coupon"  access="VIEW"}
                                    <tr>
                                        <td><a href="{url path='/admin/coupon'}">{intl l="Coupons"}</a></td>
                                        <td><a class="btn btn-default btn-xs" href="{url path='/admin/coupon'}"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    </tr>
                                {/loop}

                                {loop name="auth-sales" type="auth" role="ADMIN" resource="admin.sales"  access="VIEW"}
                                    <tr>
                                        <td><a href="{url path='/admin/sales'}">{intl l="Sales management"}</a></td>
                                        <td><a class="btn btn-default btn-xs" href="{url path='/admin/sales'}"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    </tr>
                                {/loop}

                                {loop name="auth-brand" type="auth" role="ADMIN" resource="admin.brand"  access="VIEW"}
                                    <tr>
                                        <td><a href="{url path='/admin/brand'}">{intl l="Brands"}</a></td>
                                        <td><a class="btn btn-default btn-xs" href="{url path='/admin/brand'}"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    </tr>
                                {/loop}

                                {loop name="auth-export" type="auth" role="ADMIN" resource="admin.export"  access="VIEW"}
                                    <tr>
                                        <td><a href="{url path='/admin/export'}">{intl l="Export"}</a></td>
                                        <td><a class="btn btn-default btn-xs" href="{url path='/admin/export'}"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    </tr>
                                {/loop}

                                {loop name="auth-import" type="auth" role="ADMIN" resource="admin.import" access="VIEW"}
                                    <tr>
                                        <td><a href="{url path='/admin/import'}">{intl l="Import"}</a></td>
                                        <td><a class="btn btn-default btn-xs" href="{url path='/admin/import'}"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    </tr>
                                {/loop}
                                {hook name="tools.col1-bottom" location="tools_col1_bottom" }
                            </table>
                        </div>
                    </div>
                </div>

                {hook name="tools.bottom" location="tools_bottom" }
            </div>
        </div>
    </div>
{/block}

{block name="javascript-last-call"}
    {hook name="tools.js" location="tools-js" }
{/block}
