{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Update'}{/block}

{block name="check-resource"}admin.configuration.update{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
    <div id="wrapper" class="container">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
                <li><a href="{url path='/admin/configuration'}">{intl l="Configuration"}</a></li>
                <li><a href="{url path='/admin/configuration/update'}">{intl l="Update Process"}</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <p>{intl l="Your current version is <b>%current_version</b> and you will updated to <b>%latest_version</b> version." current_version={$current_version} latest_version={$latest_version}}
                        <a href="{url path="/admin/configuration/update/process"}">{intl l="Start updating"}</a></p>

                </div>
            </div>
        </div>
    </div>

{/block}