{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Update'}{/block}

{block name="check-resource"}admin.configuration.update{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
<div id="wrapper" class="container">
    <div class="clearfix">
        <ul class="breadcrumb">
            <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
            <li><a href="{url path='/admin/configuration'}">{intl l="Configuration"}</a></li>
            <li><a href="{url path='/admin/configuration/update'}">{intl l="Update Process"}</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                {intl l="Your Thelia is already up-to-date"}
            </div>
        </div>
    </div>
</div>

{/block}