{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Update'}{/block}

{block name="check-resource"}admin.configuration.update{/block}
{block name="check-access"}update{/block}

{block name="main-content"}
    <div id="wrapper" class="container">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
                <li><a href="{url path='/admin/configuration'}">{intl l="Configuration"}</a></li>
                <li><a href="{url path='/admin/configuration/update'}">{intl l="Update Process"}</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-error">
                    <p>{intl l="Thelia update failed"}</p>
                    <p>{intl l="error message : "} <b>{$error_message}</b></p>

                    <p>{intl l="Please contact your technical support or see error logs"}</p>
                </div>
            </div>
        </div>
    </div>

{/block}