<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="hookanalytics.configuration.form" class="HookAnalytics\Form\Configuration" />
    </forms>

    <hooks>
        <hook id="hookanalytics.hook.front" class="HookAnalytics\Hook\FrontHook">
            <tag name="hook.event_listener" event="main.head-bottom" type="front" method="onMainHeadBottom" />
        </hook>
        <hook id="hookanalytics.hook.back">
            <tag name="hook.event_listener" event="module.configuration" type="back" templates="render:module_configuration.html" />
            <tag name="hook.event_listener" event="module.config-js" type="back" templates="js:assets/js/module-configuration.js" />
        </hook>
    </hooks>

</config>