<div class="panel mb-0 flex flex-col">
  {if $withInput|default:false}
  <div class="mb-4">
      <div class="">
        {include file="components/smarty/Checkbox/Checkbox.html" value=$ID id="delivery-address_{$ID}" type="radio" checked=$isDeliveryAddressChecked label=$LABEL}
      </div>
  </div>
  {/if}
  <label class="mb-4" for="delivery-address_{$ID}">
      <ul class="list-address list-unstyled">
          <li class="">
              <span class="fn">{loop type="title" name="customer.title.info" id=$TITLE}{$SHORT}{/loop} {$LASTNAME|upper} {$FIRSTNAME|ucwords}</span>
              <span class="org">{$COMPANY}</span>
          </li>
          <li class="">
              <address class="adr">
                  <span class="street-address">{$ADDRESS1}</span>
                  {if $ADDRESS2 != ""}
                      <br><span class="street-address">{$ADDRESS2}</span>
                  {/if}
                  {if $ADDRESS3 != ""}
                      <br><span class="street-address">{$ADDRESS3}</span>
                  {/if}
                  <br><span class="postal-code">{$ZIPCODE}</span>
                  <span class="locality">{$CITY},
                  <span class="country-name">{loop type="country" name="customer.country.info" id=$COUNTRY}{$TITLE}{/loop}</span></span>
                  {if $STATE}, <span class="state-name">{loop type="state" name="customer.state.info" id=$STATE}{$TITLE}{/loop}</span></span>{/if}
              </address>
          </li>
          <li class="">
              {if $CELLPHONE != ""}
                  <span class="tel">{$CELLPHONE}</span><br>
              {/if}
              {if $PHONE != ""}
                  <span class="tel">{$PHONE}</span>
              {/if}
          </li>
      </ul>
    </label>
  <div class="mt-auto pt-8">
      <div class="lg:text-right flex justify-between">
          {if $withInput|default:false}
            <label for="delivery-address_{$ID}" class="btn btn--sm">{intl l="Choose"}</label>
          {/if}
          <div class="lg:text-right">
            <a href="{url path="/address/update/%id" id=$ID next={navigate to="current"}}" class="btn btn--sm">{intl l="Edit"}</a>
            {if $DEFAULT != 1}
                <a href="{url path="/address/delete/%id" id=$ID}" class="btn btn--dark btn--sm">{intl l="Delete"}</a>
            {/if}
          </div>
      </div>
  </div>

</div>
