.Checkout {
  min-height: calc(100vh - var(--header-height));

  &-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding-right: var(--gap-checkout);
    padding-left: var(--gap-checkout);

    @screen md {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-main {
    padding-top: var(--gap-checkout);
    padding-bottom: var(--footer-height);

    @screen md {
      padding-bottom: calc(var(--footer-height) + var(--gap-checkout));
    }
  }

  &-page {
    width: 100%;

    @screen md {
      grid-column: span 2 / span 2;
      padding-right: 4rem;
    }

    @screen lg {
      padding-right: rem(125px);
    }
  }

  &-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: var(--footer-height);
    background-color: white;
    box-shadow: 0 0 10px theme("colors.gray.300");


  }


  &-finalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 104;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    animation: reveal 0.15s 1;
  }

  &--step1 {
    .CartItems {
      max-height: 100%;
      overflow: initital;
    }

    .CartItem {
      margin: 0;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;

      &:focus-within {
        background-color: theme("colors.main-light");
        border-color: theme("colors.main-light");
      }
    }
  }
}

.Recap {
  margin-top: 2rem;
  padding: 3rem 2rem;
  background-color: theme("colors.gray.100");
  border-radius: rem(6px);

  &-grid {
    display: grid;
    grid-template-columns: 1;
  }

  &-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: rem(20px) 0;
    font-size: rem(20px);

    &:not(:first-child) {
      border-top: 1px solid theme("colors.gray.400");
    }
  }

  &-total {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: rem(20px) 0 0;
    font-weight: bold;
    font-size: rem(20px);
    text-transform: uppercase;
    border-top: 1px solid theme("colors.gray.400");
  }

  &--small {
    margin-top: 2rem;
    padding: 0;
    background-color: transparent;

    .Recap-item, .Recap-total {
      font-size: rem(15px);
    }
  }
}
