:root {
  --nav-width: 90vw;
  @screen lg {
    --nav-width: 18rem;
  }
}

body.Navigation--active {
  overflow: hidden;
  @screen lg {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.Navigation {
  top: var(--Header-height);
  width: var(--nav-width);
  transform: translateX(-100%);
  transition: transform 250ms linear;

  max-height: calc(100vh - var(--Header-height));
  height: 100vh;

  .Navigation-arrowWrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .Navigation-arrow {
    transform: rotate(-90deg);
  }

  &-item {
    &--active {
      > .Navigation-item-submenu {
        display: block;
      }
      .Navigation-arrow {
        transform: rotate(0);
      }
    }

    @screen lg {
      &:hover {
        > .Navigation-item-submenu {
          display: block;
        }
      }
    }
  }

  &-item-submenu {
    z-index: 1;
    display: none;

    @screen lg {
      left: 100%;
    }
  }
  &-item-link:hover {
    @apply text-base;
  }

  .Navigation--active & {
    transform: translateX(0);
  }
}
