<nav class="fixed left-0 z-10 overflow-visible uppercase bg-white shadow-2xl Navigation">
  <div class="flex flex-col h-full max-h-full overflow-y-auto Navigation-container">
    {include file="components/smarty/Navigation/NavigationItems.html" mobile=true}

    <div class="flex flex-wrap items-center py-4 pl-6 border-t border-b border-gray-300">
      {include file="components/smarty/SocialNetworks/SocialNetworks.html"}
    </div>
    <div class="mt-6 ml-8 mr-4">
      {include file="components/smarty/LangSelect/LangSelect.html"}
    </div>

  </div>
</nav>
