{$admin_current_location = $admin_current_location|default:null}
{hook name="main.before-top-menu" location="before_top_menu" }
<ul class="Sidebar">

    <li class="Sidebar-item">
        <a href="{url path='/admin/home'}" title="{intl l="Home"}" class="Sidebar-item">
            <i class="hidden lg:block fas fa-tachometer-alt"></i>
            <span>{intl l="Home"}</span>
        </a>
    </li>

    {loop name="menu-auth-order" type="auth" role="ADMIN" resource="admin.order" access="VIEW"}
    <li class="Sidebar-item">
        <a href="#">
            <i class="Sidebar-item-icon fas fa-shopping-cart"></i>
            <span class="Sidebar-item-title">{intl l="Orders"}</span>
        </a>

        <ul class="Sidebar-submenu">
            <li class="Sidebar-submenu-header">
                <span class="Sidebar-submenu-title">{intl l="Orders"}</span>
            </li>
            <li class="Sidebar-submenu-item">
                <a href="{url path='admin/orders'}">
                    <span class="font-semibold">{intl l="All orders"}</span>
                    {include file="components/Pill/Pill.html" class="text-sm px-3 py-0.5 inline-block bg-grey" value={count type="order" customer="*" backend_context="1"}}
                </a>
            </li>

            {loop name="order-status-list" type="order-status"}
                {$count = {count type="order" customer="*" backend_context="1" status={$ID}}}
                <li class="Sidebar-submenu-item">
                    <a href="{url path="admin/orders" status={$ID}}">
                        <span class="font-semibold">{$TITLE}</span>
                        {include file="components/Pill/Pill.html" color=$COLOR class="text-sm px-3 py-0.5 inline-block" value=$count}
                    </a>
                </li>
            {/loop}
            {hookblock name="main.top-menu-order" fields="id,class,url,title"}
                {forhook rel="main.top-menu-order"}
                    <li class="Sidebar-submenu-item">
                        <a {if $id}id="{$id}" {/if} class="{$class}" data-target="{$url}" href="{$url}">
                            {$title}
                        </a>
                    </li>
                {/forhook}
            {/hookblock}
        </ul>
    </li>

    {/loop}

    {loop name="menu-auth-customer" type="auth" role="ADMIN" resource="admin.customer" access="VIEW"}
        {ifhook rel="main.top-menu-customer"}
            {hookblock name="main.top-menu-customer" fields="id,class,url,title"}
                <li class="Sidebar-item">

                    <a title="{intl l="Customers"}" href="#collapse-customer" class="py-6 h-11 flex items-center {if $admin_current_location == 'home'}bg-darkCharbon text-main{/if}">
                        <i class="ml-5 text-white fas fa-users mr-7"></i>
                        <span class="text-mediumGrey">{intl l="Customers"}</span>
                        <i class="hidden lg:block fas fa-chevron-right menu-collapse text-mediumGrey"></i>
                    </a>

                    <ul class="Sidebar-submenu">
                        <li role="menuitem" id="customers_menu">
                            <a href="{url path='/admin/customers'}" title="{intl l="Customers"}">
                                {intl l="Customers"}
                            </a>
                        </li>
                        {forhook rel="main.top-menu-customer"}
                            <li role="menuitem">
                                <a {if $id}id="{$id}" {/if} class="{$class}" data-target="{$url}" href="{$url}">
                                    {$title}
                                </a>
                            </li>
                        {/forhook}
                    </ul>
                </li>
            {/hookblock}
        {/ifhook}
        {elsehook rel="main.top-menu-customer"}
            <li class="Sidebar-item">
                <a href="{url path='/admin/customers'}" title="{intl l="Customers"}">
                    <i class="hidden lg:block fas fa-users"></i>
                    <span>{intl l="Customers"}</span>
                </a>
            </li>
        {/elsehook}
    {/loop}

    {loop name="menu-auth-catalog" type="auth" role="ADMIN" resource="admin.category" access="VIEW"}
        {ifhook rel="main.top-menu-catalog"}
            {hookblock name="main.top-menu-catalog" fields="id,class,url,title"}
            <li class="Sidebar-item">

                <a title="{intl l="Catalog"}" href="#collapse-catalog" class="py-6 h-11 flex items-center {if $admin_current_location == 'home'}bg-darkCharbon text-main{/if}">
                    <i class="ml-5 text-white fas fa-book mr-7"></i>
                    <span class="text-mediumGrey">{intl l="Catalog"}</span>
                    <i class="hidden lg:block fas fa-chevron-right menu-collapse text-mediumGrey"></i>
                </a>

                <ul id="collapse-catalog" class="" role="menu">
                    <li role="menuitem" id="catalog_menu">
                        <a title="{intl l="Catalog"}" href="{url path='/admin/catalog'}">
                            {intl l="Catalog"}
                        </a>
                    </li>
                    {forhook rel="main.top-menu-catalog"}
                        <li role="menuitem">
                            <a {if $id}id="{$id}" {/if} class="{$class}" data-target="{$url}" href="{$url}">
                                {$title}
                            </a>
                        </li>
                    {/forhook}
                </ul>
            </li>
            {/hookblock}
        {/ifhook}
        {elsehook rel="main.top-menu-catalog"}
            <li class="Sidebar-item">
                <a title="{intl l="Catalog"}" href="{url path='/admin/catalog'}">
                    <i class="hidden lg:block fas fa-book"></i>
                    <span>{intl l="Catalog"}</span>
                </a>
            </li>
        {/elsehook}
    {/loop}

    {loop name="menu-auth-content" type="auth" role="ADMIN" resource="admin.folder" access="VIEW"}
        {ifhook rel="main.top-menu-content"}
            {hookblock name="main.top-menu-content" fields="id,class,url,title"}
                <li class="Sidebar-item">

                    <a title="{intl l="Folders"}" href="#collapse-content" class="py-6 h-11 flex items-center {if $admin_current_location == 'home'}bg-darkCharbon text-main{/if}">
                        <i class="ml-5 text-white fas fa-folder-open mr-7"></i>
                        <span class="text-mediumGrey">{intl l="Folders"}</span>
                        <i class="hidden lg:block fas fa-chevron-right menu-collapse text-mediumGrey"></i>
                    </a>

                    <ul id="collapse-content" class="collapse {if $admin_current_location == 'content'}in{/if}" role="menu">
                        <li role="menuitem" id="contents_menu">
                            <a title="{intl l="Folders"}" href="{url path='/admin/folders'}">
                                {intl l="Folders"}
                            </a>
                        </li>
                        {forhook rel="main.top-menu-content"}
                        <li role="menuitem">
                            <a {if $id}id="{$id}" {/if} class="{$class}" data-target="{$url}" href="{$url}">
                                {$title}
                            </a>
                        </li>
                        {/forhook}
                    </ul>
                </li>
            {/hookblock}
        {/ifhook}
        {elsehook rel="main.top-menu-content"}
            <li class="Sidebar-item">
                <a title="{intl l="Folders"}" href="{url path='/admin/folders'}">
                    <i class="hidden lg:block fas fa-folder-open"></i>
                    <span>{intl l="Folders"}</span>
                </a>
            </li>
        {/elsehook}
    {/loop}

    {loop name="menu-auth-tools" type="auth" role="ADMIN" resource="admin.tools" access="VIEW"}
        <li class="Sidebar-item">
            <a href="#">
                <i class="hidden lg:block fas fa-tools"></i>
                <span>{intl l="Tools"}</span>
            </a>

            <ul class="Sidebar-submenu">
                <li class="Sidebar-submenu-header">
                    <span class="Sidebar-submenu-title">{intl l="Tools"}</span>
                </li>

                <li class="Sidebar-submenu-item">
                    {loop name="auth-coupon" type="auth" role="ADMIN" resource="admin.coupon" access="VIEW"}
                        <a class="block w-full my-2 font-semibold h-11 hover:text-main" href="{url path='/admin/coupon'}">{intl l="Coupons"}</a>
                    {/loop}
                </li>

                <li class="Sidebar-submenu-item">
                    {loop name="auth-sales" type="auth" role="ADMIN" resource="admin.sales" access="VIEW"}
                        <a class="block w-full my-2 font-semibold h-11 hover:text-main" href="{url path='/admin/sales'}">{intl l="Sales management"}</a>
                    {/loop}
                </li>

                <li class="Sidebar-submenu-item">
                    {loop name="auth-brand" type="auth" role="ADMIN" resource="admin.brand" access="VIEW"}
                        <a class="block w-full my-2 font-semibold h-11 hover:text-main" href="{url path='/admin/brand'}">{intl l="Brands"}</a>
                    {/loop}
                </li>

                <li class="Sidebar-submenu-item">
                    {loop name="auth-export" type="auth" role="ADMIN" resource="admin.export" access="VIEW"}
                        <a class="block w-full my-2 font-semibold h-11 hover:text-main" href="{url path='/admin/export'}">{intl l="Export"}</a>
                    {/loop}
                </li>

                <li class="Sidebar-submenu-item">
                    {loop name="auth-import" type="auth" role="ADMIN" resource="admin.import" access="VIEW"}
                        <a class="block w-full my-2 font-semibold h-11 hover:text-main" href="{url path='/admin/import'}">{intl l="Import"}</a>
                    {/loop}
                </li>

                {hookblock name="main.top-menu-tools" fields="id,class,url,title"}
                    {forhook rel="main.top-menu-tools"}
                        <li class="Sidebar-submenu-item">
                            <a {if $id}id="{$id}" {/if} class="{$class}" data-target="{$url}" href="{$url}">
                                {$title}
                            </a>
                        </li>
                    {/forhook}
                {/hookblock}
            </ul>
        </li>
    {/loop}

    <li class="Sidebar-item">
        <a href="{url path='/admin/modules'}" title="{intl l="Modules"}" class="Sidebar-item">
            <i class="hidden lg:block fas fa-box-open"></i>
            <span>{intl l="Modules"}</span>
        </a>
    </li>

    <li class="Sidebar-item">
        <a href="{url path='/admin/configuration'}" title="{intl l="Configuration"}" class="Sidebar-item">
            <i class="hidden lg:block fas fa-desktop"></i>
            <span>{intl l="Configuration"}</span>
        </a>
    </li>

</ul>

<div class="Sidebar-footer">
    <img class="Sidebar-footer-logo" src="{encore_manifest_file file="images/logos/logo.svg"}" alt="" />
    <p class="Sidebar-footer-version">V {intl l="{$THELIA_VERSION}"}</p>
</div>

{hook name="main.topbar-bottom" }

{hook name="main.after-top-menu" location="after_top_menu" }
