{ifloop rel="random.products"}
<div class="pt-12 px-8 pb-32">
<div class="container mx-auto">
  <div class="NewProducts">

      {include file="components/smarty/Title/Title.html" type="h2" title={intl l="Discover our new products"}}
      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">
      {loop type="product" name="random.products" limit=4 new=true order="created_reverse"}
        {include file="components/smarty/SingleProduct/SingleProduct.html"}
      {/loop}
      </div>
  </div>
</div>
</div>
{/ifloop}
