.CookieConsentSelector {

  position: relative;

  &-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 0.5rem;

    @screen md {
      margin-bottom: 2rem;
    }
  }

  &-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    @screen md {
      flex-direction: row;
    }

    &:before {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      z-index: 1;
      content: "";
      width: 100%;
      height: 20px;
      background: #ccc;
      border-radius: 6px;

      @screen md {
        display: block;
      }
    }

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked {
        & + label {
          @screen sm {
            .CookieConsentSelector-label {
              @apply border-main;
            }
          }
          @screen md {
            &:before {
              visibility: visible;
            }
          }
        }
      }
    }

    label {
      display: inline-block;

      &:before {
        @apply bg-main;
        content: "";
        cursor: pointer;
        position: relative;
        top: -5px;
        display: none;
        width: 28px;
        height: 28px;
        border: 6px solid white;
        border-radius: 50%;
        box-shadow: 0 0 1px 1px #ccc;
        visibility: hidden;
        margin-bottom: 5px;

        @screen sm {
          display: block;
        }
      }
    }
  }

  &-input {
    flex-grow: 1;

    label {
      display: flex;
      flex-flow: column;
      align-items: center;
      position: relative;
      z-index: 10;
    }

    &:first-child {
      label {
        align-items: flex-start;
      }
    }

    &:last-child {
      label {
        align-items: flex-end;
      }
    }
  }

  &-label {

  }

  &-saved {
    @apply text-green-400;
    text-align: center;
    opacity: 0;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.2s ease-out;

    @screen sm {
      position: absolute;
      top: 5px;
      right: 0;
    }

    &.is-active {
      opacity: 1;
    }
  }

  & &-description {
    margin-top: 2rem;
    font-size: 12px;
  }
}
