{$levelConsent = $smarty.cookies.cookie_consent|default:3}

<div class="CookieConsentSelector">
  <p class="CookieConsentSelector-title">{intl l="Setting up cookies"}</p>
  <p class="CookieConsentSelector-saved">{intl l="Setting up saved cookies"}</p>
  <div class="CookieConsentSelector-inputs">
    <div class="CookieConsentSelector-input">
      <input name="cookie-level" id="cookie-level-1" type="radio" value="1"{if $levelConsent == 1} checked{/if}>
      <label for="cookie-level-1">
        <span class="CookieConsentSelector-label">{intl l="Technical and functional cookies"}</span>
      </label>
    </div>
    <div class="CookieConsentSelector-input">
      <input name="cookie-level" id="cookie-level-2" type="radio" value="2"{if $levelConsent == 2} checked{/if}>
      <label for="cookie-level-2">
        <span class="CookieConsentSelector-label">{intl l="Cookies for audience measurement"}</span>
      </label>
    </div>
    <div class="CookieConsentSelector-input">
      <input name="cookie-level" id="cookie-level-3" type="radio" value="3"{if $levelConsent == 3} checked{/if}>
      <label for="cookie-level-3">
        <span class="CookieConsentSelector-label">{intl l="Marketing cookies"}</span>
      </label>
    </div>
  </div>

  <div class="CookieConsentSelector-description">
    <div class="mb-6">
      <h5 class="text-xl">{intl l="Technical and functional cookies"}</h5>
      <p>{intl l="They allow us to ensure the smooth running of our service, for example to remember your preferences, to have an order interface, to improve and adapt our content according to your expectations."}</p>
    </div>

    <div class="mb-6">
      <h5 class="text-xl">{intl l="Cookies for audience measurement"}</h5>
      <p>{intl l="They allow us to observe the way you use and navigate the site: the pages you visit and leave, the type of browser and media you use, the number of clicks made ... The data collected allows us to offer you optimal comfort of navigation. They remain anonymous and do not reveal your identity."}</p>
    </div>

    <div class="mb-6">
      <h5 class="text-xl">{intl l="Marketing cookies"}</h5>
      <p>{intl l="%siteName does not use marketing cookies to display advertisements from %siteName or third parties on other sites. If %siteName ever uses cookies, they may be saved by us or third parties for retargeting campaigns." siteName={config key="store_name"}}</p>
      <p>{intl l="Note: If you refuse certain advertising cookies, you will still see ads but they will no longer be based on your preferences and user behavior, so they may be less relevant."}</p>
    </div>
  </div>
</div>
