.Tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .TabHeader {
    justify-content: center;
    width: 100%;
    max-width: 150px;
    overflow: auto hidden;
  }
  
  .tabsHead {
    font-size: 10px;
    cursor: pointer;
  }
  
  .tabsHead.active {
    background-color: #FC9722;
  }
  
  .TabsContent {
    block-size: 50%;
    display: block;
  }
  
.Item {
    padding: 50px;
    overflow-y: auto;
  }
  
  
.Item.active {
    display: block;
    justify-content: center;
  }

  .TabHeader li:hover {
      transform: translateY(-5px);
      opacity: 1;
 
  }
