  <div class="flex flex-wrap Tabs">
    <div class="w-full">
         <!-- Tabs header -->
      <ul class="flex flex-row flex-wrap pt-3 pb-2 mb-0 list-none TabsHeader">
        <li class="flex-auto mr-2 -mb-px text-center last:mr-0">
          <a class="block px-5 py-3 text-xs font-bold leading-normal text-white uppercase rounded cursor-pointer bg-carot">
            {$title|default:null}
          </a>
        </li>
        <li class="flex-auto mr-2 -mb-px text-center last:mr-0">
          <a class="block px-5 py-3 text-xs font-bold leading-normal text-black uppercase rounded cursor-pointer">
            {$title|default:null}
          </a>
        </li>
        <li class="flex-auto mr-2 text-center">
          <a class="block px-5 py-3 text-xs font-bold leading-normal text-black uppercase rounded cursor-pointer">
            {$title|default:null}
          </a>
        </li>
      </ul>
      
         <!-- Tabs content -->
      <div class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-white rounded shadow-lg">
        <div class="flex-auto px-4 py-5">
          <div class="TabsContent tab-space">
            <div class="block">
              <p>
                {if isset($children)}
                  {$children nofilter}
                {/if}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>