//
// Navbars (Redux)
// --------------------------------------------------


// COMMON STYLES
// -------------
@media (min-width: @screen-sm){
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 52px;
    }
}

.sidebar {
    .sidebar-nav.navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .sidebar-search {
        padding: 15px;
    }

    ul li {
        border-bottom: 1px solid #000;

        a.active {
            background-color: #eee;
        }
    }
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}