//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
    background-color: #eee;
    overflow-x: hidden;
    position: relative;
    left: 0;
    .transition(all 0.3s ease);

    &.push-to-right {
        left: 240px;

        @media (max-width: 1325px) {
            left: 0;
        }

    }
}

#mobile-search-engine {
    margin: 20px 0;
}

#btn-toolbar-mobile {
    margin-top: 20px;
}


// Links
// -------------------------

a {
    font-weight: bold;
}