//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
    background-color: #eee;
    overflow-x: hidden;
    position: relative;
    left: 0;
    .transition(all 0.3s ease);

    &.push-to-right {
      left: 240px;
    }
}


// Links
// -------------------------

a {
    font-weight: bold;
}