{loop name="image.carousel" type="image" product=$product_id width=88 height=88 resize_mode="borders" format="webp"}
  {$images[] = [
    'id' => $ID,
    'url' => $IMAGE_URL,
    'alt' => $TITLE|default:{intl l="%p Visuel %c" p=$product_title c=$LOOP_COUNT},
    'title' => $TITLE|default:{intl l="%p Visuel %c" p=$product_title c=$LOOP_COUNT}
  ]}
{/loop}

<div class="ProductGallery">
  <div class="ProductGallery-main">
    <div class="ProductGallery-tagList">
      {if $IS_NEW}
        {include file="components/smarty/Tag/Tag.html" type="primary" text={intl l="New"}}
      {/if}
      {if $IS_PROMO}
        {include file="components/smarty/Tag/Tag.html" type="sale" text="-{((($TAXED_PRICE - $TAXED_PROMO_PRICE) / $TAXED_PRICE) * 100)|string_format:"%d"}%"}
      {/if}
    </div>
    {if isset($images)}
      <img
        id="MainImage"
        src="/legacy-image-library/product_image_{$images[0]['id']}/full/!525,/0/default.webp"
        alt="{$images[0]['alt']|cat:' '|cat:{intl l='principal'}}"
        title="{$images[0]['alt']|cat:' '|cat:{intl l='principal'}}"
        class="ProductGallery-img"
        width="525"
        height="525"
      >
    {else}
      <img
        id="MainImage"
        src="{encore_manifest_file file="dist/images/placeholder.webp"}"
        alt="{intl l="Visuel principal"}"
        title="{intl l="Visuel principal"}"
        class="ProductGallery-img"
        width="525"
        height="525"
        loading="lazy"
      >
    {/if}
  </div>
  <ul class="ProductGallery-list max-w-[525px]">
    {foreach from=$images|default:[] item=image name="thumbnail"}
      <li class="ProductGallery-item {if $smarty.foreach.thumbnail.first}is-active{/if}">
        <img src="{$image['url']}" data-image-id="{$image['id']}" class="ProductGallery-thumbnail " alt="{$image['alt']}" title="{$image['alt']}" width="92" height="92" loading="lazy" tabindex="0" >
      </li>
    {/foreach}
  </ul>
</div>
