<div class="">
  {ifloop rel="folder_content"}
      <ul class="grid sm:grid-cols-2 gap-4 md:gap-[30px] grid-cols-1">
          {loop name="folder_content" type="folder" parent=$ID}
              <li>
                {include file="components/smarty/ContentCard/ContentCard.html" object_type="folder" object_id=$ID}
              </li>
          {/loop}
          {loop name="folder_content" type="content" folder=$ID}
              <li>
                {include file="components/smarty/ContentCard/ContentCard.html" object_type="content" object_id=$ID}
              </li>
          {/loop}
      </ul>
  {/ifloop}
  {elseloop  rel="folder_content"}
    {include file="components/smarty/Alert/Alert.html" type="warning"  message={intl l="No Contents in this folder."}}
  {/elseloop}
</div>

{if $POSTSCRIPTUM}
    <small class="folder-postscriptum">
        {$POSTSCRIPTUM}
    </small>
{/if}
