.PseSelector {
  &-value {
    @apply font-roboto font-medium;

    padding: 10px 16px;
    color: black;
    font-size: rem(16px);
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.075s;

    &:hover:not(.PseSelector-value--checked) {
      background-color: theme("colors.gray.300");
    }

    &:focus {
      outline: 2px solid black;
    }

    &--checked {
      color: white;
      background-color: black;
    }
  }

  &-stock {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    font-size: rem(12px);

    @screen lg {
      flex-basis: auto;
    }

    &::before {
      display: block;
      width: rem(8px);
      height: rem(8px);
      margin-right: rem(8px);
      border-radius: 50%;
      content: '';
    }

    &--success {
      &::before {
        background-color: theme('colors.green.400');
      }
    }

    &--error {
      &::before {
        background-color: theme('colors.error');
      }
    }
  }
}


