{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Administration logs'}{/block}

{block name="main-content"}
  <div id="admin-logs">
 <!-- Breadcrumbs -->
 <nav class="flex mb-10" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-main dark:text-gray-400 dark:hover:text-white">
        {intl l='Dashboard'}
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Configuration'}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Administration logs'}</a>
      </div>
    </li>
  </ol>
</nav>

<!-- Header -->
<div>
  <h1 class="p-4 text-3xl font-bold">{intl l='Administration logs'}</h1>
  <p class="pl-4 mb-6">{intl l='Ici, un texte expliquant rapidement le fonctionnement de Administration logs.'}</p>
</div>

    <!-- Panel -->
    {component name="Panel" class="w-full mb-3"}
    {hook name="admin-logs.top"}
    <div class="grid grid-cols-3">
      <p>Period: </p>
      <input
        type="date"
        class="w-full text-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none focus:border-main"
        value="From: 2022-02-23"
      />
      <input
        type="date"
        class="w-full mx-4 text-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none focus:border-main"
        value="To: 2022-03-02"
      />
      </div>   
      
      <div class="row">
        <div class="col-md-12">

              <p class="form-control-static"><strong>{intl l='Administrators'} :</strong></p>
            <div class="row">
                <div class="col-md-3">
                      <label class="checkbox-inline">
                          <input type="checkbox" checked>
                      </label>
                </div>
            </div>
        </div>
    </div>

      <div class="row">
        <div class="col-md-12">
              <p class="form-control-static"><strong>{intl l='Resources'} :</strong></p>
            <div class="row">
                <div class="col-md-3">
                      <label class="checkbox-inline">
                        <input type="checkbox" checked> 
                      </label>
                </div>
            </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
              <p class="form-control-static"><strong>{intl l='Modules'} :</strong></p>
            <div class="row">
                <div class="col-md-3">
                      <label class="checkbox-inline">
                        <input type="checkbox" checked> 
                      </label>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
    {hook name="admin-logs.bottom"}   
    {/component}
  </div>
{/block}