{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Advanced configuration'}{/block}

{block name="main-content"}
  <div id='variables edit-variable'>
    <h1 class="mb-16 text-3xl font-bold">{intl l='Advanced configuration'}</h1>
    <!-- Breadcrumbs -->
  <nav class="flex mb-10" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a href="#" class="inline-flex items-center text-sm font-medium text-main hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
          {intl l='Home'}
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <a href="#" class="ml-1 text-sm font-medium text-main hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Configuration'}</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">{intl l='Advanced configuration and tools'}</span>
        </div>
      </li>
    </ol>
  </nav>
    <!-- Panel -->
    {component name="Panel" title="Thelia caches flushing" class="w-full mb-3"}
    <div class="flex justify-center border-b">
          <!-- Form -->
      {form name="thelia.cache.flush"}
         <form method="post">

               <div class="form-group">
                  <button class="p-3 mb-3 font-medium text-white rounded-lg shadow-2xl left bg-main hover:bg-black">
                      {intl l="Flush the Thelia internal cache"}
                  </button>
               </div>
          </form>
      {/form}
           <!-- Form -->
      {form name="thelia.images-and-documents-cache.flush"}
          <form method="post" >
             {form_hidden_fields}

              <div class="form-group">
                  <button class="p-3 mx-1 mb-3 font-medium text-white rounded-lg shadow-2xl center bg-main hover:bg-black">
                       {intl l="Flush the assets cache directory"}
                  </button>
              </div>
          </form>
      {/form}
            <!-- Form -->
      {form name="thelia.images-and-documents-cache.flush"}
          <form method="post" >
             {form_hidden_fields}

              <div class="form-group">
                <button class="p-3 mb-3 font-medium text-white rounded-lg shadow-2xl right bg-main hover:bg-black">
                  {intl l="Flush the images and documents cache"}
                </button>
              </div>
          </form>
      {/form}
      {hook name="advanced-configuration"}
      </div>    
    {/component}
  </div>
{/block}