{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Edit an attribute'}{/block}

{block name="main-content"}
<div id="edit-attribute">
  
<!-- Breadcrumbs -->
<nav class="flex mb-10" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-main dark:text-gray-400 dark:hover:text-white">
        {intl l='Dashboard'}
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Configuration'}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Attributes'}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Editing attribute'}</a>
      </div>
    </li>
  </ol>
</nav>

<!-- Header -->
<div>
  <h1 class="p-4 text-3xl font-bold">{intl l='Edit an attribute'}</h1>
  <p class="pl-4 mb-6">{intl l='Ici, un texte expliquant rapidement le fonctionnement de Edit an attribute.'}</p>
</div>

    <!-- Panel principal -->
    {component name="Panel" class="w-full mb-3"}
    {hook name="attribute-edit.top"}
      <!--Boutons-->
      <div class="flex justify-end pb-6 border-b">
        <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-white border rounded-md odd:bg-green even:bg-green border-green hover:text-green hover:bg-white">
          Save ✓
        </button>
        <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-white border rounded-md odd:bg-blue even:bg-blue border-blue hover:text-blue hover:bg-white">
          Save and close X
        </button>
        <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-black border border-black rounded-md odd:bg-white even:bg-white hover:text-white hover:bg-black">
          Close X
        </button>
      </div> 
      
      <div class="grid mt-5 md:grid-cols-2">
       <!-- Panel Attribute information -->
       {component name="Panel" class="w-full mb-3 border border-gray-300"}
       <h3 class="mb-3 font-bold uppercase text-main">{intl l='Attribute information'}</h3>
       <div class="w-full mt-4 mb-5">
        <p class="mb-2 font-bold">{intl l='Title'}</p>
        <input
          type="text"
          class="w-full placeholder-gray-500 bg-white rounded-lg focus:ring-main focus:outline-none focus:border-main"
          placeholder="Volume"
        />
        </div>
          <div class="mb-3 xl:w-96">
            <p class="mb-2 font-bold">{intl l='Summary'}</p>
            <textarea
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-lg transition ease-in-out m-0 focus:text-main focus:bg-white focus:border-main focus:outline-none"
              rows="3"
              placeholder="Short description text"
            ></textarea>
            <p class="text-sm italic">{intl l='A short description, used when a summary or an introduction is required'}</p>
          </div>
          <div class="mb-3 xl:w-96">
            <p class="mb-2 font-bold">{intl l='Detailled description'}</p>
            <textarea
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-lg transition ease-in-out m-0 focus:text-main focus:bg-white focus:border-main focus:outline-none"
              rows="3"
            ></textarea>
            <p class="text-sm italic">{intl l='The detailled description'}</p>
          </div>
          <div class="mb-3 xl:w-96">
            <p class="mb-2 font-bold">{intl l='Conclusion'}</p>
            <textarea
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-lg transition ease-in-out m-0 focus:text-main focus:bg-white focus:border-main focus:outline-none"
              rows="3"
              placeholder="Short additional text"
            ></textarea>
            <p class="text-sm italic">{intl l='A short text, used when an addition or supplemental information is required'}</p>
          </div>
       {/component}

       <!-- Panel Attribute value -->
       {component name="Panel" class="w-full mx-2 mb-3 border border-gray-300"}
        <!-- Modal -->
       <div class="flex justify-end">
        {component name="modal"}

        {/component}
      </div>
       <h3 class="mb-3 font-bold uppercase text-main">{intl l='Attribute values'}</h3>
       <div class="w-full p-5 mx-auto mt-10 mb-8 border rounded-lg bg-info text-blue border-blue">
        <p>Enter here all possible attribute values</p>
      </div>
        <!--TODO: Tableau React -->
        <table class="w-full shadow-lg table-auto bg-lightPearl">
          <thead class="bg-mediumCharbon text-lightGrey">
            <tr>
              <th class="px-5 py-4 text-left rounded-tl-xl">ID</th>
              <th class="px-5 py-4 text-left">Value</th>
              <th class="px-5 py-4 text-left">Position</th>
              <th class="px-5 py-4 rounded-tr-xl">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd:bg-mediumPearl even:bg-white">
              <td class="px-5 py-4">1</td>
              <td class="px-5 py-4">
                <input
                  type="text"
                  class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none focus:border-main"
                />
              </td>
              <td class="px-5 py-4">
                <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4 ">
                <div><i class="fas fa-arrow-up"></i></div>
                <div><p>1</p></div>
                <div><i class="fas fa-arrow-down"></i></div>
                </div>
              </td>
              <td class="flex justify-center px-5 py-4 px-auto">
                <button
                  href="/"
                  class="flex items-center justify-center p-3 font-medium text-center rounded-md text-error hover:text-darkCharbon"
                  title="{intl l='View site'}"
                  target="_blank">
                  <i class="fas fa-trash-alt" aria-hidden="true"></i>
                </button>
              </td>
              </tr>
            </tbody>
            </table>    
       {/component}

        
      </div>  
    {/component}
    </div>
    {/block}