{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Store'}{/block}

{block name="main-content"}
  <div id="config-api">
    {component name="Panel" title="API" class="w-full mb-3"}
    <div class="flex justify-end">
      {component name="modal" title="modal"}je suis une modal{/component}
    </div>
    <div class="flex p-1 mt-5">
      <table class="w-full shadow-lg table-auto bg-lightPearl">
        <thead class="bg-mediumCharbon text-lightGrey">
          <tr>
            <th class="px-5 py-4 text-left rounded-tl-xl">Label</th>
            <th class="px-5 py-4 text-left">API key</th>
            <th class="px-5 py-4 text-left">Secure key</th>
            <th class="px-5 py-4 text-left">profile</th>
            <th class="px-5 py-4 rounded-tr-xl">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd:bg-mediumPearl even:bg-white">
            <td class="px-5 py-4">s</td>
            <td class="px-5 py-4">14EFECF88BA3D7F2614B0356F</td>
            <td class="px-5 py-4">
              <a
                href="?category_id=1"
                class="font-bold text-main hover:text-darkMain"
                >download</a
              >
            </td>
            <td class="px-5 py-4">Superadministrator</td>
            <td class="flex justify-center px-5 py-4 px-auto">
              <button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center text-white rounded-md bg-blue hover:text-lightGrey"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-edit" aria-hidden="true"></i>
              </button>
              <button
                href="/"
                class="flex items-center justify-center p-3 mx-1 font-medium text-center text-white rounded-md bg-error hover:text-lightGrey"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {/component}
  </div>
{/block}