{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Configuration'}{/block}

{block name="main-content"}

<div class="grid w-full grid-cols-1 mt-8 xl:grid-cols-3 gap-x-8">
    {component name="Panel" title="PRODUCT CATALOG CONFIGURATION" class="w-full mb-3"}
    <table class="w-full">
    <tr class="bg-lightGrey">
        <td><a  href="{url path='/admin/templates'}">{intl l='Product templates'}</a></td>
        <td>
            {component name="Button" tag="div" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a  href="{url path='/admin/attributes'}">{intl l='Product attributes'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr class="bg-lightGrey">
        <td><a href="{url path='/admin/features'}">{intl l='Product features'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a  href="{url path='/admin/messages'}">{intl l='Mailing templates'}</a></td>
        <td>
            {component name="Button" href="{url path='/admin/messages'}" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr class="bg-lightGrey">
        <td><a  href="{url path='/admin/currencies'}">{intl l='Currencies'}</a></td>
        <td>
            <a href="{url path='/admin/configuration'}" class="flex items-center">
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </a>
        </td>
    </tr>

    <tr>
        <td><a href="{url path='/admin/taxes-rules'}">{intl l='Tax rules'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>
</table>
    {/component}

    {component name="Panel" title="SHIPPING CONFIGURATION" class="w-full mb-6"}
    <table class="w-full">
        <tr class="bg-lightGrey">
        <td><a  href="{url path='/admin/countries'}">{intl l='Countries'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a  href="{url path='/admin/states'}">{intl l='States / Provinces'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr class="bg-lightGrey">
        <td><a href="{url path='/admin/shipping-configuration'}">{intl l='Shipping configuration'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a href="{url path='/admin/shipping-zones'}">{intl l='Shipping zones management'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>
</table>
    {/component}

    {component name="Panel" title="SYSTEM PARAMETERS" class="w-full mb-6"}
    <table class="w-full">
        <tr class="bg-lightGrey">
        <td><a href="{url path='/admin/config-store'}">{intl l='Store'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a href="{url path='/admin/variables'}">{intl l='Configuration parameters'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr class="bg-lightGrey">
        <td><a href="{url path='/admin/profiles'}">{intl l='Administration profiles'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a href="{url path='/admin/administrators'}">{intl l='Administrators'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr class="bg-lightGrey">
        <td><a href="{url path='/admin/languages'}">{intl l='Languages & URLs'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a href="{url path='/admin/translations'}">{intl l='Translation'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr class="bg-lightGrey">
        <td><a href="{url path='/admin/translations-customer-title'}">{intl l='Translations of customers titles'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a href="{url path='/admin/mailing-system'}">{intl l='Mailing system'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr class="bg-lightGrey">
        <td><a href="{url path='/admin/admin-logs'}">{intl l='Administration logs'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a href="{url path='/admin/system-logs'}">{intl l='System logs'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr class="bg-lightGrey">
        <td><a href="{url path='/admin/config-api'}">{intl l='API configuration'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a href="{url path='/admin/advanced-configuration'}">{intl l='Advanced configuration'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr class="bg-lightGrey">
        <td><a href="{url path='/admin/hooks'}">{intl l='Hooks'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>

    <tr>
        <td><a href="{url path='/admin/module-hooks'}">{intl l='Modules attachments'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3 bg-white"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>
</table>
    {/component}
</div>

<div class="flex w-full">
    {component name="Panel" title="PRODUCT CATALOG CONFIGURATION" class="w-full mb-6"}
    <table class="w-full">
        <tr class="bg-lightGrey">
        <td><a class="text-black" href="{url path='/admin/order-status'}">{intl l='Order status'}</a></td>
        <td>
            {component name="Button" tag="div" level="small-secondary" class="w-1 h-1 mr-3"}
            <i class="fas fa-edit"></i>
          {/component}
        </td>
    </tr>
</table>
    {/component}
</div>

    
    
{/block}

{* {block name="javascript" append}
  {literal}
    <script type="module">
    const {ReactDOM, html} = TheliaJS;
    window.addEventListener('DOMContentLoaded', () => {
      ReactDOM.render(html`<div>This is Configuration</div>`, document.body.querySelector('main'));
    })

    </script>
  {/literal}
{/block} *}
