{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Configuration'}{/block}

{block name="main-content"}
 <!-- Header -->
<div>
  <h1 class="p-4 text-3xl font-bold">{intl l='Configuration'}</h1>
  <p class="pl-4 mb-4">{intl l='Ici, un texte expliquant rapidement le fonctionnement de Configuration.'}</p>
</div>

 <!-- Accordion -->
 {component name="accordion"}{/component}

    
{/block}

{* {block name="javascript" append}
  {literal}
    <script type="module">
    const {ReactDOM, html} = TheliaJS;
    window.addEventListener('DOMContentLoaded', () => {
      ReactDOM.render(html`<div>This is Configuration</div>`, document.body.querySelector('main'));
    })

    </script>
  {/literal}
{/block} *}
