{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Countries'}{/block}

{block name="main-content"}
  <div id="countries">
    <h1 class="mb-16 text-3xl font-bold">{intl l='Countries'}</h1>
    {component name="Panel" title="Countries" class="w-full mb-3"}
    {hook name="countries.top" location="countries_top" }
    <div class="flex justify-end">
    {component name="modal" title="modal"}
    <h4 class="font-bold">{intl l='Country title:'}</h4>
      <input
        type="text"
        class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-carot focus:outline-none focus:border-main"
      />
      <h4 class="font-bold">{intl l='Numerical ISO Code:'}</h4>
      <input
        type="text"
        class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-carot focus:outline-none focus:border-main"
      />
      <h4 class="font-bold">{intl l='ISO Alpha-2 code:'}</h4>
      <input
        type="text"
        class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-carot focus:outline-none focus:border-main"
      />
      <h4 class="font-bold">{intl l='ISO Alpha-3 code:'}</h4>
      <input
        type="text"
        class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-carot focus:outline-none focus:border-main"
      />
      <div>
        <input class="mr-3 Radio" checked id="r1" type="radio" name="thelia-radio" />
        <label for="r1">This country is online</label>
      </div>
      <div>
        <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
        <label for="r1">This country has states / provinces</label>
      </div>
      <button class="mt-8 font-medium text-white rounded-lg shadow-2xl p-23 bg-carot hover:bg-black">
        Create this product country
      </button>
    {/component}
    </div>

<!--TODO: Tableau React-->
    <div class="flex p-1 mt-5">
      <table class="w-full shadow-lg table-auto bg-lightPearl">
        <thead class="bg-mediumCharbon text-lightGrey">
          <tr>
            <th class="px-5 py-4 text-left rounded-tl-xl">ID</th>
            <th class="px-5 py-4 text-left">Nom</th>
            <th class="px-5 py-4 text-left">Défaut</th>
            <th class="px-5 py-4 text-left">N° ISO</th>
            <th class="px-5 py-4 text-left">Code ISO</th>
            <th class="px-5 py-4 text-left">Zone de livraison</th>
            <th class="px-5 py-4 text-left">Visible</th>
            {hook name="countries.table-header" location="countries_table_header" }
            <th class="px-5 py-4 text-left">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd:bg-mediumPearl even:bg-white">
            <td class="px-5 py-4">1</td>
            <td class="px-5 py-4">
              <a
                href="/"
                class="font-bold text-main hover:text-darkMain"
                >Albanie</a
              >
            </td>
            <td class="flex justify-center px-5 py-4 px-auto">
              <label for="toggle" class="flex items-center cursor-pointer">
                <div class="mr-3 text-darkCharbon"></div>
                <div class="relative">
                  <input type="checkbox" id="toggle" class="sr-only switch" />
                  <div class="block w-10 h-6 bg-red-500 rounded-full"></div>
                  <div
                    class="absolute w-4 h-4 transition bg-white rounded-full dot left-1 top-1"
                  ></div>
                </div>
              </label>           
        </td> 
            <td class="px-5 py-4">007</td>
            <td class="px-5 py-4">AFG</td> 
            <td class="px-5 py-4">
              <a
                href="/"
                class="font-bold text-main hover:text-darkMain"
                >B Zone</a
              >
            </td>
            <td class="flex justify-center px-5 py-4 px-auto">
              <label for="toggle" class="flex items-center cursor-pointer">
                <div class="mr-3 text-darkCharbon"></div>
                <div class="relative">
                  <input type="checkbox" id="toggle" class="sr-only switch" />
                  <div class="block w-10 h-6 bg-red-500 rounded-full "></div>
                  <div
                    class="absolute w-4 h-4 transition bg-white rounded-full dot left-1 top-1"
                  ></div>
                </div>
              </label>        
        </td>
        {hook name="countries.table-row" location="countries_table_row"} }
            <td class="flex justify-center px-5 py-4 px-auto">
              <button
                href="/"
                class="flex items-center justify-center p-3 mx-1 font-medium text-center text-white rounded-md bg-blue hover:text-lightGrey"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-edit" aria-hidden="true"></i></button
              ><button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center text-white rounded-md bg-error hover:text-lightGrey"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr class="odd:bg-mediumPearl even:bg-white">
            <td class="px-5 py-4">1</td>
            <td class="px-5 py-4">
              <a
                href="/"
                class="font-bold text-main hover:text-darkMain"
                >Albanie</a
              >
            </td>
            <td class="flex justify-center px-5 py-4 px-auto">
              <label for="toggle" class="flex items-center cursor-pointer">
                <div class="mr-3 text-darkCharbon"></div>
                <div class="relative">
                  <input type="checkbox" id="toggle" class="sr-only switch" />
                  <div class="block w-10 h-6 bg-red-500 rounded-full"></div>
                  <div
                    class="absolute w-4 h-4 transition bg-white rounded-full dot left-1 top-1"
                  ></div>
                </div>
              </label>           
        </td> 
            <td class="px-5 py-4">007</td>
            <td class="px-5 py-4">AFG</td> 
            <td class="px-5 py-4">
              <a
                href="/"
                class="font-bold text-main hover:text-darkMain"
                >B Zone</a
              >
            </td>
            <td class="flex justify-center px-5 py-4 px-auto">
              <label for="toggle" class="flex items-center cursor-pointer">
                <div class="mr-3 text-darkCharbon"></div>
                <div class="relative">
                  <input type="checkbox" id="toggle" class="sr-only switch" />
                  <div class="block w-10 h-6 bg-red-500 rounded-full "></div>
                  <div
                    class="absolute w-4 h-4 transition bg-white rounded-full dot left-1 top-1"
                  ></div>
                </div>
              </label>        
        </td>
            <td class="flex justify-center px-5 py-4 px-auto">
              <button
                href="/"
                class="flex items-center justify-center p-3 mx-1 font-medium text-center text-white rounded-md bg-blue hover:text-lightGrey"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-edit" aria-hidden="true"></i></button
              ><button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center text-white rounded-md bg-error hover:text-lightGrey"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      {hook name="countries.bottom" location="countries_bottom" }
    </div>
    {/component}
  </div>
{/block}