template.xml{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Edit a country'}{/block}

{block name="main-content"}
<div id="edit-attribute">

<!-- Breadcrumbs -->
<nav class="flex mb-10" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-main dark:text-gray-400 dark:hover:text-white">
        {intl l='Dashboard'}
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Configuration'}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Countries'}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Editing country'}</a>
      </div>
    </li>
  </ol>
</nav>

<!-- Header -->
<div>
  <h1 class="p-4 text-3xl font-bold">{intl l='Edit a country'}</h1>
  <p class="pl-4 mb-6">{intl l='Ici, un texte expliquant rapidement le fonctionnement de Edit a country.'}</p>
</div>

    <!-- Panel principal -->
    {component name="Panel" class="w-full mb-3"}
    {hook name="attribute-edit.top"}
      <!--Boutons-->
      <div class="flex justify-end pb-6 border-b">
        <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-white border rounded-md odd:bg-green even:bg-green border-green hover:text-green hover:bg-white">
          Save ✓
        </button>
        <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-white border rounded-md odd:bg-blue even:bg-blue border-blue hover:text-blue hover:bg-white">
          Save and close X
        </button>
        <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-black border border-black rounded-md odd:bg-white even:bg-white hover:text-white hover:bg-black">
          Close X
        </button>
      </div>

      <div class="grid mt-5 md:grid-cols-2">
       <!-- Panel 1 -->
       {component name="Panel" class="w-full mb-3 border border-gray-300"}
       {form name="thelia.admin.country.modification"}
       <form method="POST" action="#" {form_enctype} class="clearfix">

        <input type="hidden" name="country_id"  />

          {form_hidden_fields exclude="locale"}

            {render_form_field field='success_url'}
            {render_form_field field='locale' }

            {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}
       {/component}

       <!-- Panel 2 -->
       {component name="Panel" class="w-full mx-2 mb-3 border border-gray-300"}
       {render_form_field field="visible"}

       {render_form_field field="isocode"}
       {render_form_field field="isoalpha2"}
       {render_form_field field="isoalpha3"}

       {render_form_field field="has_states"}
       {render_form_field field="need_zip_code"}
       {render_form_field field="zip_code_format"}
</form>
{/form}
       {/component}
      </div>
    {/component}
    </div>
    {/block}
