{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Edit a feature'}{/block}

{block name="main-content"}
<div id="edit-feature">
    <h1 class="mb-16 text-3xl font-bold">{intl l='Edit feature'}</h1>
    {component name="Panel" title="Edit attribute" class="w-full mb-3"}
    {hook name="feature-edit.top"}
    <div class="flex justify-end border-b">
        <button class="p-3 mb-3 font-medium text-white rounded-lg shadow-2xl bg-green hover:bg-black">
          Save ✓
        </button>
        <button class="p-3 mx-1 mb-3 font-medium text-white rounded-lg shadow-2xl bg-blue hover:bg-black">
          Save and close X
        </button>
        <button class="p-3 mb-3 font-medium text-black bg-white rounded-lg shadow-2xl hover:bg-darkMain">
          Close X
        </button>
      </div> 

      <div class="grid grid-cols-2">
        <div>
            <h3 class="font-bold uppercase">{intl l='Feature information'}</h3>
            <div>
                <h5>{intl l='Title'}</h5>
                <input
      type="text"
      class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-carot focus:outline-none focus:border-carot"
      placeholder="A descriptive title"
    />
            </div>
            <div>
              <h5>{intl l='Summary'}</h5>
              <input
    type="text"
    class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-carot focus:outline-none focus:border-carot"
    placeholder="Short description text"
  />
          </div>
          <div>
              <h5>{intl l='Detailled description'}</h5>
              <input
    type="text"
    class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-carot focus:outline-none focus:border-carot"
  />
          </div>
          <div>
              <h5>{intl l='Conclusion'}</h5>
              <input
    type="text"
    class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-carot focus:outline-none focus:border-carot"
    placeholder="Short additional text"
  />
          </div>
        </div>
        <div>
          <h3 class="font-bold uppercase">{intl l='Feature values'}</h3>
          <div class="w-full p-5 mx-auto mt-10 mb-8 border rounded-lg bg-info text-blue border-blue">
              Enter here all possible feature values. To get a free text feature in product forms, don't add any value.
            </div>

          <!--TODO: Tableau React-->
  <div class="flex p-1 mt-5">
      <table class="w-full shadow-lg table-auto bg-lightPearl">
        <thead class="bg-mediumCharbon text-lightGrey">
          <tr>
            <th class="px-5 py-4 text-left rounded-tl-xl">ID</th>
            <th class="px-5 py-4 text-left">Value</th>
            <th class="px-5 py-4 text-left">Position</th>
            {hook name="features-value.table-header" location="features_value_table_header"}
            <th class="px-5 py-4 rounded-tr-xl">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd:bg-mediumPearl even:bg-white">
            <td class="px-5 py-4">1</td>
            <td class="px-5 py-4">
              <input
              type="text"
              class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-carot focus:outline-none focus:border-carot"
            />
            </td>
            <td class="px-5 py-4">1</td>
            {hook name="features-value.table-row" location="features_value_table_row"}
            <td class="flex justify-center px-5 py-4 px-auto">
              <button
                 href="/"
                 class="flex items-center justify-center p-3 font-medium text-center text-white rounded-md bg-error hover:text-lightGrey"
                 title="{intl l='View site'}"
                 target="_blank"
               >
                 <i class="fas fa-trash-alt" aria-hidden="true"></i>
               </button>
             </td>
          </tr>
          <tr class="odd:bg-mediumPearl even:bg-white">
            <td class="px-5 py-4">2</td>
            <td class="px-5 py-4">
              <input
              type="text"
              class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-carot focus:outline-none focus:border-carot"
            />
            </td>
            <td class="px-5 py-4">1</td>
            {hook name="features-value.table-row" location="features_value_table_row"}
            <td class="flex justify-center px-5 py-4 px-auto">
              <button
                 href="/"
                 class="flex items-center justify-center p-3 font-medium text-center text-white rounded-md bg-error hover:text-lightGrey"
                 title="{intl l='View site'}"
                 target="_blank"
               >
                 <i class="fas fa-trash-alt" aria-hidden="true"></i>
               </button>
             </td>
          </tr>
        </tbody>
      </table>
        </div>
        {hook name="feature-edit.bottom"}
    </div>



      {/component}

      {/block}
