{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Product features'}{/block}

{block name="main-content"}
  <div id="product-features">
<!-- Breadcrumbs -->
<nav class="flex mb-10" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-main dark:text-gray-400 dark:hover:text-white">
        {intl l='Dashboard'}
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Configuration'}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Product features'}</a>
      </div>
    </li>
  </ol>
</nav>

<!-- Header -->
<div>
  <h1 class="p-4 text-3xl font-bold">{intl l='Thelia Product Features'}</h1>
  <p class="pl-4 mb-6">{intl l='Ici, un texte expliquant rapidement le fonctionnement de Thelia Product Features.'}</p>
</div>
    
    {component name="Panel" class="w-full mb-3"}
    {hook name="features.top" location="features_top" }
    <div class="flex justify-end">
       <!-- TODO: Modal -->
       {component name="modal"}
       <h4 class="font-bold">{intl l='Title:'}</h4>
       <input
         type="text"
         class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none focus:border-main"
         placeholder="Title"
       />
       <div>
         <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
         <label for="r1">Add to all product templates</label>
       </div>
       <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-white border rounded-md odd:bg-main even:bg-main border-main hover:text-main hover:bg-white">
         Create this product feature
       </button>
       {/component}
    </div>

    <!--TODO: Tableau React-->
    <div class="flex p-1 mt-5">
      <table class="w-full shadow-lg table-auto bg-lightPearl">
        <thead class="bg-mediumCharbon text-lightGrey">
          <tr>
            <th class="px-5 py-4 text-left rounded-tl-xl">ID</th>
            <th class="px-5 py-4 text-left">Titre</th>
            <th class="px-5 py-4 text-left">Positions</th>
            {hook name="features.table-header" location="features_table_header" }
            <th class="px-5 py-4 rounded-tr-xl">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd:bg-mediumPearl even:bg-white">
            <td class="px-5 py-4">1</td>
            <td class="px-5 py-4">
              <a
                href="?category_id=1"
                class="font-bold text-main hover:text-darkMain"
                >Chairs</a
              >
            </td>
            <td class="px-5 py-4">1</td>
            {hook name="features.table-row" location="features_table_row"}
            <td class="flex justify-center px-5 py-4 px-auto">
              <button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-darkCharbon hover:text-lightCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-minus" aria-hidden="true"></i></button
              ><button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-darkCharbon hover:text-lightCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-plus" aria-hidden="true"></i></button
              ><button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-darkCharbon hover:text-lightCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-edit" aria-hidden="true"></i>
              </button>
              <button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-error hover:text-darkCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr class="odd:bg-mediumPearl even:bg-white">
            <td class="px-5 py-4">2</td>
            <td class="px-5 py-4">
              <a
                href="?category_id=2"
                class="font-bold text-main hover:text-darkMain"
                >Stools</a
              >
            </td>
            <td class="px-5 py-4">2</td>
            <td class="flex justify-center px-5 py-4 px-auto">
              <button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-darkCharbon hover:text-lightCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-minus" aria-hidden="true"></i></button
              ><button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-darkCharbon hover:text-lightCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-plus" aria-hidden="true"></i></button
              ><button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-darkCharbon hover:text-lightCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-edit" aria-hidden="true"></i>
              </button>
              <button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-error hover:text-darkCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr class="odd:bg-mediumPearl even:bg-white">
            <td class="px-5 py-4">3</td>
            <td class="px-5 py-4">
              <a
                href="?category_id=3"
                class="font-bold text-main hover:text-darkMain"
                >Armchairs</a
              >
            </td>
            <td class="px-5 py-4">3</td>
            <td class="flex justify-center px-5 py-4 px-auto">
              <button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-darkCharbon hover:text-lightCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-minus" aria-hidden="true"></i></button
              ><button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-darkCharbon hover:text-lightCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-plus" aria-hidden="true"></i></button
              ><button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-darkCharbon hover:text-lightCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-edit" aria-hidden="true"></i>
              </button>
              <button
                href="/"
                class="flex items-center justify-center p-3 font-medium text-center rounded-md text-error hover:text-darkCharbon"
                title="{intl l='View site'}"
                target="_blank"
              >
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      {hook name="features.bottom" location="features_bottom" }
    </div>
    {/component}
  </div>
{/block}