{extends file="admin-layout.tpl"}

{block name="main-content"}
  {include file="components/HomeInformations/HomeInformations.html"}

  <div class="w-full p-8 mt-8 bg-white shadow-md h-96 rounded-xl">
    <span class="text-2xl font-bold">Statistiques</span> 
  </div>
  
  <div class="grid w-full grid-cols-1 mt-8 xl:grid-cols-3 gap-x-8">
    <div class="w-full h-56 p-8 mb-6 bg-white shadow-md rounded-xl">
      <span class="text-2xl font-bold">Ventes</span> 
    </div>

    <div class="w-full h-56 p-8 mb-6 bg-white shadow-md rounded-xl">
      <span class="text-2xl font-bold">Thelia sur Github</span> 
    </div>

    <div class="w-full h-56 p-8 mb-6 bg-white shadow-md rounded-xl">
      <span class="text-2xl font-bold">Actualités Thelia</span> 
    </div>
  </div>
{/block}

{* {block name="javascript" append}
  {literal}
    <script type="module">
    const {ReactDOM, html} = TheliaJS;
    window.addEventListener('DOMContentLoaded', () => {
      ReactDOM.render(html`<div>This is a test!</div>`, document.body.querySelector('main'));
    })

    </script>
  {/literal}
{/block} *}
