{extends file="admin-layout.tpl"}

{block name="main-content"}
  {include file="components/HomeInformations/HomeInformations.html"}

  {component name="Panel" title="Statistiques" class="w-full mt-8"}{/component}
  
  <div class="grid w-full grid-cols-1 mt-8 xl:grid-cols-3 gap-x-8">
    {component name="Panel" title="Ventes" class="w-full mb-6"}{/component}
    {component name="Panel" title="Thelia sur Github" class="w-full mb-6"}{/component}
    {component name="Panel" title="Actualités Thelia" class="w-full mb-6"}{/component}
  </div>
{/block}

{* {block name="javascript" append}
  {literal}
    <script type="module">
    const {ReactDOM, html} = TheliaJS;
    window.addEventListener('DOMContentLoaded', () => {
      ReactDOM.render(html`<div>This is a test!</div>`, document.body.querySelector('main'));
    })

    </script>
  {/literal}
{/block} *}
