{extends file="simple-layout.tpl"}

{* -- We do not check admin login on this page *}
{block name="check-auth"}{/block}

{block name="page-title"}{intl l='Request a new password'}{/block}

{block name="main-title"}{intl l='Request a new password'}{/block}

{block name="main-content"}

  <div class="bg-mediumPearl w-4/5 md:w-1/2 rounded-lg shadow-xl px-4 py-10 flex flex-col items-center">
    <img src="{encore_manifest_file file="images/logos/dark-logo.svg"}" class="max-h-12 mx-auto mb-5" />

    <h1 class="text-xl md:text-2xl font-semibold text-center mb-5">{block name="main-title"}{/block}</h1>

    {form name="thelia.admin.lostpassword"}
    <form action="{url path='/admin/password-create-request'}" method="post" {form_enctype}>

        <p class="md:w-2/3 md:mx-auto text-center mb-10">Please enter your username or email address below. You will receive a link to create a new password via email.</p>

        {if isset($create_request_success)}
            <div class="max-w-80 mx-auto rounded-lg bg-success text-green text-center mb-5 p-5">
                {intl l='An email containing instructions to create a new password was sent to your email address. If you don\'t receive this email, please try again.'}
            </div>
        {/if}

        {if isset($token_error)}
            <div class="max-w-80 mx-auto rounded-lg bg-danger text-error text-center mb-5 p-5">
                {intl l='An invalid token was provided, your password cannot be changed. Please try again, and be sure to use the exact URL which is in the e-mail sent to you.'}
            </div>
        {/if}

        {if $form_error}
          <div class="max-w-80 mx-auto rounded-lg bg-danger text-error text-center mb-5 p-5">
              {$form_error_message}
          </div>
        {/if}

        <fieldset>
          {form_hidden_fields}

          {form_field field='success_url'}
              <input type="hidden" name="{$name}" value="{url path='/admin/password-create-request-success'}" />
          {/form_field}

          <div class="w-full md:w-2/3 mx-auto">
            {render_form_field field="username_or_email" icon="user" extra_class="w-full"}
          </div>

          <div class="w-full md:w-2/3 mx-auto">
            <button type="submit" class="w-full bg-main hover:bg-darkMain p-3 text-lightGrey rounded-lg font-medium shadow-xl my-5"><i class="fas fa-cog"></i> {intl l='Generate new password'}</button>
            <a href="{url path='/admin/login'}" class="block w-full text-center bg-transparent hover:bg-darkMain hover:text-gray-200 border-darkMain border-2 p-3 text-mediumCharbon rounded-lg font-medium shadow-xl"><i class="fas fa-arrow-left"></i> {intl l='Back'}</a>
          </div>

      </fieldset>
    </form>
    {/form}
  </div>
{/block}
