{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Mailing system'}{/block}

{block name="main-content"}
  <div id="mailing-system">
    {component name="Panel" title="Configuration mailing system" class="w-full mb-3"}
    <div class="flex justify-end border-b">
      <button class="p-3 mb-3 font-medium text-white rounded-lg shadow-2xl bg-green hover:bg-black">
        Save ✓
      </button>
    </div> 

    <div class="flex flex-row justify-center">
      <h5 class="font-bold">Host</h5>
        <input
        type="text"
        class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none"
        value="localhost"
      />
      <h5 class="font-bold">Port</h5>
      <input
      type="text"
      class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none"
    />
    </div>
    <div class="flex flex-row justify-center">
      <h5 class="font-bold">Username</h5>
        <input
        type="text"
        class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none"
      />
      <h5 class="font-bold">Password</h5>
      <input
      type="password"
      class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none"
    />
    </div>
    <div class="flex flex-row justify-center">
      <h5 class="font-bold">Encryption</h5>
        <input
        type="text"
        class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none"
      />
      <h5 class="font-bold">Auth mode</h5>
      <input
      type="text"
      class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none"
    />
    </div>
    <div class="flex flex-row justify-center">
      <h5 class="font-bold">Timeout</h5>
        <input
        type="text"
        class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none"
      />
      <h5 class="font-bold">Source IP</h5>
      <input
      type="text"
      class="w-full placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl focus:ring-main focus:outline-none"
      value="30"
    />
    </div>
    {/component}

    {component name="Panel" title="Configuration mailing system" class="w-full mb-3"}
    <form>
    <input
    type="text"
    class="placeholder-gray-500 bg-gray-100 rounded-lg shadow-2xl w-60 focus:ring-main focus:outline-none focus:border-main"
    value="contact@thelia.net"
  />
  <button class="p-3 font-medium text-gray-600 rounded-lg shadow-2xl bg-main hover:bg-darkMain">
    Send
  </button>
  </form>
    {/component}
  </div>
{/block}