{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Modules attachments'}{/block}

{block name="main-content"}
  <div id="hooks">
    <h1 class="mb-4 text-3xl font-bold">{intl l='Hooks'}</h1>
    <!-- Breadcrumbs -->
  <nav class="flex mb-10" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a href="#" class="inline-flex items-center text-sm font-medium text-main hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
          {intl l='Home'}
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <a href="#" class="ml-1 text-sm font-medium text-main hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Configuration'}</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <span class="ml-1 text-sm font-medium text-main md:ml-2 dark:text-gray-500">{intl l='Modules attachments'}</span>
        </div>
      </li>
    </ol>
  </nav>
    <!-- Panel Modules attachments -->
    {component name="Panel" title="Modules attachments" class="w-full mb-3"}
    <div class="flex justify-end">
        <!-- TODO: Modal -->
      {component name="modal" title="modal"}
    
      {/component}
    </div>
    <div class="hooks-filter">
         <!--TODO: Tableau React-->
      <form class="form-horizontal" role="form" action="#" id="hook-filter-form">
          <div class="form-group">
              <label class="col-sm-2 control-label" for="hooks-filter-status">{intl l="By status"}</label>
              <div class="col-sm-2">
                  <select id="hooks-filter-status" class="form-control">
                      <option value="">{intl l="All"}</option>
                      <option value="1">{intl l="Active"}</option>
                      <option value="0">{intl l="Inactive"}</option>
                  </select>
              </div>

              <label class="col-sm-2 control-label" for="hooks-filter-module">{intl l="By module"}</label>
              <div class="col-sm-2">
                  <select id="hooks-filter-module" class="form-control">
                      <option value="">{intl l="All"}</option>
                      {loop type="module" name="module" order='code' backend_context=1}
                      <option value="{$ID}">{$CODE} - {$TITLE}</option>
                      {/loop}
                  </select>
              </div>

              <label class="col-sm-2 control-label" for="hooks-filter-type">{intl l="By type"}</label>
              <div class="col-sm-2">
                  <select id="hooks-filter-type" class="form-control">
                      <option value="">{intl l="All"}</option>
                      <option value="1">{intl l="Front Office"}</option>
                      <option value="2">{intl l="Back Office"}</option>
                      <option value="3">{intl l="pdf"}</option>
                      <option value="4">{intl l="email"}</option>
                  </select>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-2 control-label" for="hooks-filter-status">{intl l="Hide empty hook"}</label>
              <div class="col-sm-2">
                  <div class="make-switch switch-small hooks-filter-status"
                      data-id="{$ID}"
                      data-on="success"
                      data-off="danger"
                      data-on-label="<i class='glyphicon glyphicon-ok-circle'></i>"
                      data-off-label="<i class='glyphicon glyphicon-remove-circle'></i>">
                      <input type="checkbox" id="hooks-filter-empty" value="1" checked="checked" />
                  </div>
              </div>

              <label class="col-sm-2 control-label" for="hooks-filter-name">{intl l="Filter by hook name:"}</label>
              <div class="col-sm-4">
                  <input type="search" class="form-control" id="hooks-filter-name" value="" />
              </div>
          </div>
      </form>
  </div>
    {/component}

    <!--Panel Invoice choice-->
    {component name="Panel" title="Invoice choice" class="w-full mb-3"}
    {/component}
  </div>
{/block}


