{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Edit a shipping configuration'}{/block}

{block name="main-content"}
<div id="edit-attribute">
  
<!-- Breadcrumbs -->
<nav class="flex mb-10" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-main dark:text-gray-400 dark:hover:text-white">
        {intl l='Dashboard'}
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Configuration'}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Shipping configuration'}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Editing shipping zone'}</a>
      </div>
    </li>
  </ol>
</nav>

<!-- Header -->
<div>
  <h1 class="p-4 text-3xl font-bold">{intl l='Edit a shipping configuration'}</h1>
  <p class="pl-4 mb-6">{intl l='Ici, un texte expliquant rapidement le fonctionnement de Edit a shipping configuration.'}</p>
</div>

    <!-- Panel principal -->
    {component name="Panel" class="w-full mb-3"}
    {hook name="attribute-edit.top"}
      <!--Boutons-->
      <div class="flex justify-end pb-6 border-b">
        <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-black border border-black rounded-md odd:bg-white even:bg-white hover:text-white hover:bg-black">
          Close X
        </button>
      </div> 
      
      <div class="grid mt-5 md:grid-cols-2">
      <div>
        <div class="w-full mt-4 mb-5">
          <p class="mb-2 font-bold">{intl l='Shipping zone name'}</p>
          <input
            type="text"
            class="w-full placeholder-gray-500 bg-white rounded-lg focus:ring-main focus:outline-none focus:border-main"
            placeholder="Afghanistan"
          />
          <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center border rounded-md odd:bg-mediumPearl even:bg-white border-main text-main hover:text-white hover:bg-main">
            Update
          </button>
          </div>
          <div class="w-full mt-4 mb-5">
            <input
              type="text"
              class="w-full bg-white border rounded-lg placeholder border-gray focus:ring-main focus:outline-none focus:border-main"
              placeholder="filter country"
            />
            </div>
            <ul>
              <li>Austria</li>
              <li>Austria</li>
              <li>Austria</li>
              <li>Austria</li>
              <li class="font-bold">Austria</li>
              <li>Austria</li>
              <li>Austria</li>
              <li>Austria</li>
          </ul>
          <div>
            <button class="flex items-center justify-center w-full h-3 p-3 mx-1 mt-2 font-medium text-center border rounded-md odd:bg-mediumPearl even:bg-white border-main text-main hover:text-white hover:bg-main">
              Update
            </button>
          </div>
          <div>
            <button class="flex items-center justify-center w-full h-3 p-3 mx-1 mt-2 font-medium text-center border rounded-md odd:bg-mediumPearl even:bg-white border-blue text-blue hover:text-white hover:bg-blue">
              Update
            </button>
          </div>
          
      </div>

       <div class="w-full mx-6 mt-4 mb-5">
        <!--TODO: Tableau React -->
        <table class="w-full shadow-lg table-auto bg-lightPearl">
          <thead class="bg-mediumCharbon text-lightGrey">
            <tr>
              <th class="px-5 py-4 text-left rounded-tl-xl">Countries assigned to this zone</th>
              <th class="px-5 py-4 text-left rounded-tr-xl">Select</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd:bg-mediumPearl even:bg-white">
              <td class="px-5 py-4">Austria</td>
              <td class="flex justify-center px-5 py-4 px-auto">
                <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
              </td>
            </tr>
            <tr class="odd:bg-mediumPearl even:bg-white">
              <td class="px-5 py-4">Austria</td>
              <td class="flex justify-center px-5 py-4 px-auto">
                <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
              </td>
            </tr>
            <tr class="odd:bg-mediumPearl even:bg-white">
              <td class="px-5 py-4">Austria</td>
              <td class="flex justify-center px-5 py-4 px-auto">
                <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
              </td>
            </tr>
            <tr class="odd:bg-mediumPearl even:bg-white">
              <td class="px-5 py-4">Austria</td>
              <td class="flex justify-center px-5 py-4 px-auto">
                <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
              </td>
            </tr>
            <tr class="odd:bg-mediumPearl even:bg-white">
              <td class="px-5 py-4">Austria</td>
              <td class="flex justify-center px-5 py-4 px-auto">
                <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
              </td>
            </tr>
            <tr class="odd:bg-mediumPearl even:bg-white">
              <td class="px-5 py-4">Austria</td>
              <td class="flex justify-center px-5 py-4 px-auto">
                <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
              </td>
            </tr>
            <tr class="odd:bg-mediumPearl even:bg-white">
              <td class="px-5 py-4">Austria</td>
              <td class="flex justify-center px-5 py-4 px-auto">
                <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
              </td>
            </tr>
            </tbody>
            </table>    
       {/component}
      </div>  
    </div>
    {/block}