{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='System Logs'}{/block}

{block name="main-content"}
<div id="edit-attribute">
  
<!-- Breadcrumbs -->
<nav class="flex mb-10" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-main dark:text-gray-400 dark:hover:text-white">
        {intl l='Dashboard'}
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Configuration'}</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-400 hover:text-main md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='System logs'}</a>
      </div>
    </li>
  </ol>
</nav>

<!-- Header -->
<div>
  <h1 class="p-4 text-3xl font-bold">{intl l='System Logs'}</h1>
  <p class="pl-4 mb-6">{intl l='Ici, un texte expliquant rapidement le fonctionnement de System Logs.'}</p>
</div>

    <!-- Panel principal -->
    {component name="Panel" class="w-full mb-3"}
    {hook name="attribute-edit.top"}
      <!--Boutons-->
      <div class="flex justify-end pb-6 border-b">
        <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-white border rounded-md odd:bg-green even:bg-green border-green hover:text-green hover:bg-white">
          Save ✓
        </button>
        <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-white border rounded-md odd:bg-blue even:bg-blue border-blue hover:text-blue hover:bg-white">
          Save and close X
        </button>
        <button class="flex items-center justify-center h-3 p-3 mx-1 mt-2 font-medium text-center text-black border border-black rounded-md odd:bg-white even:bg-white hover:text-white hover:bg-black">
          Close X
        </button>
      </div> 
      
      <div class="grid mt-5 md:grid-cols-2">
       <!-- Panel General configuration -->
       {component name="Panel" class="w-full mb-3 border border-gray-300"}
       <h3 class="font-bold text-main">{intl l='General configuration'}</h3>
       <div class="w-full mt-4 mb-5">
        <p class="mb-2 font-bold">{intl l='Log level'}</p>
        <select class="w-full text-gray-500 rounded-lg">
          <option disabled selected>Errors</option>
          <option>Disabled</option>
          <option>Alerts</option>
          <option>Critical</option>
        </select>
        </div>
        <div class="w-full mt-4 mb-5">
          <p class="mb-2 font-bold">{intl l='Log format'}</p>
          <input
            type="text"
            class="w-full placeholder-gray-500 bg-white rounded-lg focus:ring-main focus:outline-none focus:border-main"
            placeholder="INDEX LEVEL FILE DATE HOUR"
          />
          </div>
          <div>
            <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
            <label for="r1">{intl l='Show redirections'}</label>
          </div>
          <div class="w-full mt-4 mb-5">
            <p class="mb-2 font-bold">{intl l='Activate logs only for these files'}</p>
            <input
              type="text"
              class="w-full placeholder-gray-500 bg-white rounded-lg focus:ring-main focus:outline-none focus:border-main"
              placeholder="*"
            />
            </div>
            <div class="w-full mt-4 mb-5">
              <p class="mb-2 font-bold">{intl l='Activate logs only for these IP Adresses'}</p>
              <input
                type="text"
                class="w-full placeholder-gray-500 bg-white rounded-lg focus:ring-main focus:outline-none focus:border-main"
                placeholder="IP Addresses"
              />
              </div>
       <div>
       {/component}

       <!-- Panel Destinations -->
       {component name="Panel" class="w-full mx-2 mb-3 border border-gray-300"}
       <h3 class="font-bold text-main">{intl l='Destinations'}</h3>
       
       {component name="Panel" class="w-full mx-2 mb-3 border border-gray-300"}
       <h4 class="font-bold text-main">{intl l='Javascript popup window'}</h4>
       <p>{intl l='Display logs in a popup window, separate from the main window'}</p>
       <div>
        <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
        <label for="r1">{intl l='Activate this log destination'}</label>
      </div>
       {/component}
       
       {component name="Panel" class="w-full mx-2 mb-3 border border-gray-300"}
       <h4 class="font-bold text-main">{intl l='Direct HTML display'}</h4>
       <p>{intl l='Display logs in HTML format, on top of generated pages'}</p>
       <div>
        <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
        <label for="r1">{intl l='Activate this log destination'}</label>
      </div>
       {/component}

       {component name="Panel" class="w-full mx-2 mb-3 border border-gray-300"}
       <h4 class="font-bold text-main">{intl l='Black hole'}</h4>
       <p>{intl l='This destination consumes the logs but dont display them'}</p>
       <div>
        <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
        <label for="r1">{intl l='Activate this log destination'}</label>
      </div>
       {/component}

       {component name="Panel" class="w-full mx-2 mb-3 border border-gray-300"}
       <h4 class="font-bold text-main">{intl l='Browsers javascript console'}</h4>
       <p>{intl l='The Thelia logs are displayed in your browsers Javascript console'}</p>
       <div>
        <input class="mr-3 Radio" id="r1" type="radio" name="thelia-radio" />
        <label for="r1">{intl l='Activate this log destination'}</label>
      </div>
       {/component}
       
       {/component}
      </div>  
    {/component}
    </div>
    {/block}