{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Edit a template'}{/block}

{block name="main-content"}
<div id="templates edit-template">
  <h1 class="mb-16 text-3xl font-bold">{intl l='Edit a template'}</h1>
    <!-- Breadcrumbs -->
  <nav class="flex mb-10" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a href="#" class="inline-flex items-center text-sm font-medium text-main hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
          {intl l='Home'}
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <a href="#" class="ml-1 text-sm font-medium text-main hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{intl l='Configuration'}</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <span class="ml-1 text-sm font-medium text-main md:ml-2 dark:text-gray-500">{intl l='Templates'}</span>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2 dark:text-gray-500">{intl l='Editing template'}</span>
        </div>
      </li>
    </ol>
  </nav>
  {hook name="template-edit.top"}
  <div class="container">
    <!--Panel Thelia product templates-->
    {component name="Panel" class="w-full mb-3"}
    {form name="thelia.admin.template.modification"}
        <form method="POST" action="{url path='#'}" {form_enctype} class="clearfix">
          <input type="hidden" name="template_id" />
            {form_hidden_fields}
              {form_field field='success_url'}
                  <input type="hidden"/>
              {/form_field}
              {form_field field='locale'}
                  <input type="hidden"/>
              {/form_field}
                {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}
              {form_field field='name'}
                  <div class="form-group {if $error}has-error{/if}">
                      <label for="{$label_attr.for|default:null}" class="control-label">{$label} : </label>
                         <input type="text" id="{$label_attr.for|default:null}" required="required" name="{$name}" value="{$value}" title="{intl l='Template name'}" placeholder="{intl l='Template name'}" class="form-control">
                  </div>
              {/form_field}
        </form>
      {/form}
    {/component} 
    {hook name="template-edit.bottom"}
  </div>
</div> 
</div>
{/block}