{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Edit a template'}{/block}

{block name="main-content"}
<div id="templates edit-template">
  <h1 class="mb-16 text-3xl font-bold">{intl l='Edit a template'}</h1>
  {loop name="template_edit" type="product-template"}
  {hook name="template-edit.top"}
  <div class="container">
    <!--Panel Thelia product templates-->
    {component name="Panel" title="Thelia product templates" class="w-full mb-3"}
    {form name="thelia.admin.template.modification"}
        <form method="POST" action="{url path='#'}" {form_enctype} class="clearfix">
          <input type="hidden" name="template_id" />
            {form_hidden_fields}
              {form_field field='success_url'}
                  <input type="hidden"/>
              {/form_field}
              {form_field field='locale'}
                  <input type="hidden"/>
              {/form_field}
                {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}
              {form_field field='name'}
                  <div class="form-group {if $error}has-error{/if}">
                      <label for="{$label_attr.for|default:null}" class="control-label">{$label} : </label>
                         <input type="text" id="{$label_attr.for|default:null}" required="required" name="{$name}" value="{$value}" title="{intl l='Template name'}" placeholder="{intl l='Template name'}" class="form-control">
                  </div>
              {/form_field}
        </form>
      {/form}
    {/component} 
    {/loop}
  </div>
</div>  
</div>
{/block}