{$title = $TITLE|default:{config key="store_description"}}

{cache key="thelia.strat.seo.top" ttl=86400}
<section id="StratSeo" class="StratSeo is-hide">
    {include
      file="components/smarty/Title/Title.html"
      type="h1"
      level="1"
      title=$title
      class="px-5 StratSeo-title md:p-0"
    }

    <div class="StratSeo-contain">
      <div class="container">
        <div class="StratSeo-grid">
          <div class="StratSeo-img">
            <img
              src="{encore_manifest_file file="dist/images/placeholder.webp"}"
              alt="{$TITLE|default:{config key='store_name'}}"
              title="{$TITLE|default:{config key='store_name'}}"
              width="543"
              height="407"
              loading="lazy"
            />
          </div>

          <div class="StratSeo-desc">
            <div class="StratSeo-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore qui vero dolorum praesentium voluptate, sint exercitationem omnis quos et. Nihil dolores pariatur placeat quas sint officia ab asperiores neque est.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum facere minus excepturi alias optio exercitationem quod vel dicta pariatur hic, itaque cupiditate iure velit voluptate, veritatis laboriosam ea aspernatur sunt?
            </div>

            <a href="#" class="Button" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>{intl l="I discover"}</a>
          </div>

        </div>
      </div>
    </div>
</section>
{/cache}
