{extends file="layout.tpl"}

{block name="page-title"}{intl l='Installation step 3'}{/block}

{block name="main-content"}
<div class="install">
	<div id="wrapper" class="container">
		
		<div class="row">
		    <div class="col-md-12">
		        <div class="general-block-decorator">
										
					<h3 class="title title-without-tabs">{intl l="Thelia installation wizard"}</h3>
					
					<div class="wizard">
						<ul>
							<li class="complete"><a href="#"><span class="badge">1</span>{intl l="Welcome"}<span class="chevron"></span></a></li>
							<li class="complete"><a href="#"><span class="badge">2</span>{intl l="Checking permissions"}<span class="chevron"></span></a></li>
							<li class="active"><span class="badge">3</span>{intl l="Database connection"}<span class="chevron"></span></li>
							<li><span class="badge">4</span>{intl l="Database selection"}<span class="chevron"></span></li>
							<li><span class="badge">5</span>{intl l="General information"}<span class="chevron"></span></li>
							<li><span class="badge">6</span>{intl l="Thanks"}<span class="chevron"></span></li>
						</ul>						
					</div>

                    {form name="thelia.install.step3"}
                        <form action="{url path=$formAction}" {form_enctype form=$form} method="POST" >
                            {if ! empty($general_error) }
                                <div class="alert alert-danger">{$general_error}</div>
                            {/if}

                            {form_hidden_fields form=$form}

                            {form_field form=$form field='locale'}
                                <input type="hidden" name="{$name}" value="{if $value}{$value}{else}{$edit_language_locale}{/if}" />
                            {/form_field}

					        <div class="well">
                                {form_field form=$form field='host'}
                                <div class="form-group{if $error} has-error{/if}">
                                    <label for="host">{intl l="Host"} :</label>
                                    <input id="host" class="form-control" type="text" name="{$name}" value="{$value}" placeholder="localhost">
                                    {if $error}{$message}{/if}
                                </div>
                                {/form_field}

                                {form_field form=$form field='user'}
                                <div class="form-group{if $error} has-error{/if}">
                                    <label for="user">{intl l="User"} :</label>
                                    <input id="user" type="text" class="form-control" name="{$name}" value="{$value}" >
                                    {if $error}{$message}{/if}
                                </div>
                                {/form_field}

                                {form_field form=$form field='password'}
                                <div class="form-group{if $error} has-error{/if}">
                                    <label for="password">{intl l="Password"} :</label>
                                    <input id="password" type="password" class="form-control" name="{$name}" value="{$value}" >
                                    {if $error}{$message}{/if}
                                </div>
                                {/form_field}

                                {form_field form=$form field='port'}
                                <div class="form-group{if $error} has-error{/if}">
                                    <label for="port">{intl l="Port"} :</label>
                                    <input id="port" type="text" class="form-control" name="{$name}" value="{if value}{$value}{else}3306{/if}">
                                    {if $error}{$message}{/if}
                                </div>
                                {/form_field}
                            </div>
                            <button type="submit" value="{intl l="Continue"}" />
                            <div class="clearfix">

                                <a href="install/step/2" class="pull-left btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> {intl l="Return"}</a>
                                <a href="install/step/4" class="pull-right btn btn-default btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> {intl l="Continue"}</a>
                            </div>
                        </form>
                    {/form}
					
				</div>
			</div>
		</div>
		
	</div>
</div>
{/block}