{extends file="layout.tpl"}

{block name="page-title"}{intl l='Thanks'}{/block}

{block name="main-content"}
<div class="install">
	<div id="wrapper" class="container">
	
		<div class="row">
            <div class="col-md-12">
                <div class="general-block-decorator">
										
					<h3 class="title title-without-tabs">{intl l="Thelia installation wizard"}</h3>
					
					<div class="wizard">
						<ul>
							<li class="complete"><a href="#"><span class="badge">1</span>{intl l="Welcome"}<span class="chevron"></span></a></li>
							<li class="complete"><a href="#"><span class="badge">2</span>{intl l="Checking permissions"}<span class="chevron"></span></a></li>
							<li class="complete"><a href="#"><span class="badge">3</span>{intl l="Database connection"}<span class="chevron"></span></a></li>
							<li class="complete"><a href="#"><span class="badge">4</span>{intl l="Database selection"}<span class="chevron"></span></a></li>
							<li class="complete"><a href="#"><span class="badge">5</span>{intl l="General information"}<span class="chevron"></span></a></li>
							<li class="active"><span class="badge">6</span>{intl l="Thanks"}<span class="chevron"></span></li>
						</ul>						
					</div>

					<div class="well">
						<p class="lead text-center">
						    {intl l="Thank you have installed Thelia"}.
						</p>
						<p class="text-center">
						    {intl l="You will be redirected to your personal space in order to manage your store now."}
						</p>
					    
					</div>					

				</div>
			</div>
		</div>
		
	</div>
</div>
{/block}