.FilterBtn {
  @apply font-roboto font-medium;

  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(128px);
  padding: 15px 28px;
  color: white;
  line-height: 1;
  background-color: black;
  border-radius: 6px;

  &:hover {
    color: theme("colors.gray.200");
  }

  &:focus {
    outline-color: black;
  }

  &-icon {
    flex: 1 0 auto;
    width: 20px;
    height: 15px;
    margin-right: 10px;
    pointer-events: none;
  }

  &-count {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    width: rem(20px);
    height: rem(20px);
    margin-left: 6px;
    font-size: rem(12px);
    background-color: theme("colors.main");
    border-radius: 50%;
    pointer-events: none;

    &:empty {
      display: none;
    }
  }
}
