<div class="body-form">
    <div class="content-text">
      <iframe id="output" name="textField" class="textField"></iframe>
    <form class="form-text">
      <div class="flex items-center pl-3">
      <div class="w-8 h-8 bg-lightGrey">
      <button class="button-text" type="button" data-cmd="bold">
        <i class="fas fa-bold" aria-hidden="true"></i>
      </button>
      </div>
      
      <div class="w-8 h-8 mx-1 bg-lightGrey">
      <button class="button-text" type="button" data-cmd="italic">
        <i class="fas fa-italic" aria-hidden="true"></i>
      </button>
      </div>
      
      <div class="w-8 h-8 mx-1 bg-lightGrey">
      <button class="button-text" type="button" data-cmd="underline">
        <i class="fas fa-underline" aria-hidden="true"></i>
      </button>
      </div>
      
      <div class="w-8 h-8 mx-1 bg-lightGrey">
      <button class="button-text" type="button" data-cmd="justifyLeft">
        <i class="fas fa-align-left" aria-hidden="true"></i>
      </button>
      </div>
      
      <div class="w-8 h-8 mx-1 bg-lightGrey">
      <button class="button-text" type="button" data-cmd="justifyCenter">
        <i class="fas fa-align-center" aria-hidden="true"></i>
      </button>
      </div>
      
      <div class="w-8 h-8 mx-1 bg-lightGrey">
      <button class="button-text" type="button" data-cmd="justifyRight">
        <i class="fas fa-align-right" aria-hidden="true"></i>
      </button>
      </div>
      
      <div class="w-8 h-8 mx-1 bg-lightGrey">
      <button class="button-text" type="button" data-cmd="insertUnorderedList">
        <i class="fas fa-list" aria-hidden="true"></i>
      </button>
      </div>
    
    
      
      <div class="w-8 h-8 mx-1 bg-lightGrey">
      <button class="button-text" type="button" data-cmd="insertOrderedList">
        <i class="fas fa-list-ol" aria-hidden="true"></i>
      </button>
      </div>
      
      <div class="w-8 h-8 mx-1 bg-lightGrey">
      <button class="button-text" type="button" data-cmd="link">
        <i class="fas fa-link" aria-hidden="true"></i>
      </button>
      </div>
      </div>
    </form>
    </div>
    </div>
    
