.SingleProduct {
  position: relative;
  transition: none;

  &-tagList {
    position: absolute;
    top: 1rem;
    right: rem(10px);
    left: 1rem;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }

  &-img {
    margin-bottom: 13px;
    overflow: hidden;
    border-radius: 20px;
    transition: all ease-in 0.1s;

    &:focus-visible {
      outline: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: inherit;
    }
  }

  &-desc {
    @apply font-medium;
  }

  &-title {
    font-size: rem(18px);
    transition: inherit;
  }

  &-from {
    margin-right: 5px;
    color: theme('colors.gray.600');
    font-size: rem(12px);
  }

  &-price {
    font-size: rem(15px);
  }

  &:hover,
  &:focus {
    .SingleProduct-img {
      img {
        transform: scale(1.075);
      }
    }

    .SingleProduct-title {
      color: theme('colors.main-dark');
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;

    .SingleProduct-img {
      outline: 2px solid theme('colors.gray.400');
    }
  }
}
