{$product_id = $product_id|default:$ID}
{$width = $width|default:360}
{$height = $height|default:360}

<a href="{$URL}" class="SingleProduct relative flex flex-col">

    <div class="relative flex-1 flex flex-col">
      <figure  tabindex="-1" class="SingleProduct-image block text-center focus:outline-none">
        {loop name="product_thumbnail" type="image" product=$product_id width=$width height=$height resize_mode="borders" limit="1"}
            <img src="{$IMAGE_URL}" alt="{$productTitle}" class="object-cover mx-auto" loading="lazy" width="{$width}" height="{$height}">
        {/loop}
        {elseloop rel="product_thumbnail"}
            <img src="//placehold.it/{$width}x{$height}" class="object-cover mx-auto" alt="{$productTitle}" loading="lazy" width="{$width}" height="{$height}">
        {/elseloop}
      </figure>


      <div class="SingleProduct-info text-center mt-6 mb-4">
          <div class="SingleProduct-title text-xl">{$productTitle|default:$TITLE}</div>
          {if $chapo}<div class="SingleProduct-chapo">{$CHAPO nofilter}</div>{/if}
      </div>

      <div class="SingleProduct-price mt-auto text-center">
          {if $IS_PROMO }
              <span class="block"><span class="sr-only">{intl l="Special Price:"} </span>{format_money number=$TAXED_PROMO_PRICE symbol={currency attr="symbol"}}</span>
              <span class="text-sm line-through block"><span class="sr-only">{intl l="Regular Price:"} </span>{format_money number=$TAXED_PRICE symbol={currency attr="symbol"}}</span>
          {else}
              <span class="">{format_money number=$BEST_TAXED_PRICE symbol={currency attr="symbol"}}</span>
          {/if}
      </div>


    </div>

    {if $IS_PROMO }
      <span class="SingleProduct-offer absolute z-20 top-0 right-0 bg-main text-white text-sm p-2 leading-none flex items-center">-{((($TAXED_PRICE - $TAXED_PROMO_PRICE) / $TAXED_PRICE) * 100)|round:0} %</span>
    {/if}
  </a>
