{$product_id = $product_id|default:$ID}
{$width = $width|default:360}
{$height = $height|default:360}
{$productTitle = $productTitle|default:""}

<a href="{$URL}" class="relative flex flex-col SingleProduct">

    <div class="relative flex flex-col flex-1">
      <figure  tabindex="-1" class="block text-center SingleProduct-image focus:outline-none">
        {loop name="product_thumbnail" type="image" product=$product_id width=$width height=$height resize_mode="borders" limit="1" format="webp"}
            <img src="{$IMAGE_URL}" alt="{$productTitle}" class="object-cover mx-auto" loading="lazy" width="{$width}" height="{$height}">
        {/loop}
        {elseloop rel="product_thumbnail"}
            <img src="{encore_manifest_file file="dist/images/placeholder.webp"}" class="object-cover mx-auto" alt="{$productTitle}" loading="lazy" width="{$width}" height="{$height}">
        {/elseloop}
      </figure>


      <div class="mt-6 mb-4 text-center SingleProduct-info">
          <div class="text-xl SingleProduct-title">{$productTitle|default:$TITLE}</div>
          {if $CHAPO}<div class="SingleProduct-chapo">{$CHAPO nofilter}</div>{/if}
      </div>

      <div class="mt-auto text-center SingleProduct-price">
          {if $IS_PROMO }
              <span class="block"><span class="sr-only">{intl l="Special Price:"} </span>{format_money number=$TAXED_PROMO_PRICE symbol={currency attr="symbol"}}</span>
              <span class="block text-sm line-through"><span class="sr-only">{intl l="Regular Price:"} </span>{format_money number=$TAXED_PRICE symbol={currency attr="symbol"}}</span>
          {else}
              <span class="">{format_money number=$BEST_TAXED_PRICE symbol={currency attr="symbol"}}</span>
          {/if}
      </div>
    </div>

    {if $IS_PROMO }
      <span class="absolute top-0 right-0 z-20 flex items-center p-2 text-sm leading-none text-white SingleProduct-offer bg-main">-{((($TAXED_PRICE - $TAXED_PROMO_PRICE) / $TAXED_PRICE) * 100)|round:0} %</span>
    {/if}
  </a>
