<div class="Reassurance">
  <div class="container">
    <ul class="Reassurance-list">
      <li class="Reassurance-item">
        {renderIconSvg icon="secure" class="Reassurance-icon"}
        <span class="Reassurance-title">{intl l="Paiement sécurisé"}</span>
        <span class="Reassurance-sub">{intl l="Tout moyen de paiement"}</span>
      </li>
      <li class="Reassurance-item">
        {renderIconSvg icon="delivery" class="Reassurance-icon"}
        <span class="Reassurance-title">{intl l="Free shipping"}</span>
        <span class="Reassurance-sub">{intl l="À partir de 59 € d’achat TTC"}</span>
      </li>
      <li class="Reassurance-item">
        {renderIconSvg icon="coins" class="Reassurance-icon"}
        <span class="Reassurance-title">{intl l="Satisfied or refunded"}</span>
      </li>
      <li class="Reassurance-item">
        {renderIconSvg icon="chat" class="Reassurance-icon"}
        <span class="Reassurance-title">{intl l="Questions ?"}</span>
        <span class="Reassurance-sub"> <a href="{url path="/contact"}" class="underline" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>{intl l="Write us by mail"}</a></span>
      </li>
    </ul>
  </div>
</div>
