<div class="Orders">
  {ifloop rel="customer.orders"}
    {loop type="order" name="customer.orders"}
      <div class="Order">
        <div class="Order-infos">
          <div class="Order-info">
            <span class="Order-date">Commandés le {format_date date=$CREATE_DATE output="date"}</span>
            {loop type="order_status" name="order.status" id=$STATUS}
              <div class="uppercase">
                {include file="components/smarty/Tag/Tag.html" type="primary" color=$COLOR text=$TITLE}
              </div>
            {/loop}
          </div>
          <div class="Order-info">
            <span>{intl l="N° %ref" ref=$REF}</span>
            <div class="Order-price-wrapper"><span>Total TTC</span> <span class="Order-price">{format_money number=$TOTAL_TAXED_AMOUNT currency_id=$CURRENCY}</span></div>
          </div>
        </div>
        <details>
          <summary class="underline inline-flex gap-[10px] select-none items-center cursor-pointer w-full">
            <div class="transform -rotate-90 ArrowLink">
              {renderIconSvg icon="arrow" class="w-2 h-4"}
              </div>
              Détail
          </summary>
          <div class="Order-products">
            {loop type="order_product" name="order.products" order=$ID}
              <div class="Order-product">
                <div class="Order-product-infos">
                  {if $PRODUCT_ID}
                  {loop name="product.images" type="image" source="product" source_id=$PRODUCT_ID width=60 height=60 resize_mode="borders" limit="1" format="webp"}
                    <img src="{$IMAGE_URL}" alt="<{$TITLE}" loading="lazy" class="Order-product-image">
                  {/loop}
                  {elseloop rel="product.images"}
                    <img src="{encore_manifest_file file="dist/images/placeholder.webp"}" alt="product placeholder" loading="lazy" class="Order-product-image">
                  {/elseloop}
                  {/if}
                  <span class="Order-product-title">{$TITLE}</span>
                </div>
                <div class="Order-product-quantity">
                  <span>x{$QUANTITY}</span>
                </div>
              </div>
            {/loop}
          </div>
          </details>
          {if $IS_PAID}
            <a href="{url path="/account/order/pdf/invoice/%id" id=$ID}" class="Order-download-invoice">
              {renderIconSvg icon="download" class="w-5 h-5 fill-current"}
              Télécharger la facture en PDF
            </a>
          {/if}
      </div>
    {/loop}
  {/ifloop}
  {elseloop rel="customer.orders"}
    <div class="alert alert-warning" role="alert">{intl l="You don't have any order"}</div>
  {/elseloop}
</div>
