.Orders {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
  align-items: center;
  justify-content: center;
}

.Order {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: rem(30px);
  background-color: theme('colors.main-light');
  border-radius: rem(20px);

  details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
  details > summary::-webkit-details-marker /* Safari */ {
    display: none;
  }

  &-infos {
    @apply gap-4 md:gap-2;

    display: flex;
    flex-direction: column;
    margin-bottom: rem(20px);
  }

  &-info {
    @apply text-lg flex-col md:flex-row;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-date {
    font-weight: 700;
  }

  &-price-wrapper {
    display: flex;
    gap: rem(16px);
    align-items: center;
  }

  &-price {
    font-weight: 700;
  }

  &-products {
    display: flex;
    flex-direction: column;
    gap: rem(20px);
    margin-top: rem(20px);
    padding: rem(20px);
    background-color: theme('colors.white');
    border-radius: rem(20px);
  }

  &-product {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-infos {
      display: flex;
      align-items: center;
    }

    &-image {
      width: rem(60px);
      height: rem(60px);
      margin-right: rem(10px);
      border-radius: rem(10px);
    }

    &-title {
      font-weight: 700;
    }

    &-quantity {
      @apply text-sm;

      color: theme('colors.gray.600');
    }
  }

  &-download-invoice {
    display: inline-flex;
    gap: rem(12px);
    margin-top: rem(36px);
    text-decoration: underline;
  }
}