<div class="CurrencySelect uppercase">
    <a href="#0" class="CurrencySelect-current" title="{lang attr="title"}">
        {currency attr="symbol"}
        {renderIconSvg icon="drop-down" class="CurrencySelect-arrow"}
    </a>
    <div class="CurrencySelect-dropdown">
      <ul class="text-center">
          {loop type="currency" name="currency_available" exclude="{currency attr="id"}" }
          <li><a class="CurrencySelect-dropdownLink block py-2 text-center w-8 " href="{url path="{navigate to="current"}" currency={$ISOCODE}}" rel="nofollow">{$SYMBOL}</a></li>
          {/loop}
      </ul>
    </div>
</div>
