<div class="sb-checkbox">
  <input type="checkbox" class="sb-checkbox__input" id="check1" name="check1">
  <label class="sb-checkbox__label sb-checkbox__label--green" for="check1"></label>
</div>
<br>  
<div class="sb-checkbox">
  <input type="checkbox" class="sb-checkbox__input" id="check2" name="check2">
  <label class="sb-checkbox__label sb-checkbox__label--red" for="check2"></label>
</div>
<br>  
<div class="sb-checkbox">
  <input type="checkbox" class="sb-checkbox__input" id="check3" name="check3">
  <label class="sb-checkbox__label sb-checkbox__label--blue" for="check3"></label>
</div>
<br>  
<div class="sb-checkbox">
  <input type="checkbox" class="sb-checkbox__input" id="check4" name="check4">
  <label class="sb-checkbox__label sb-checkbox__label--orange" for="check4"></label>
</div>