.Footer {
  color: white;
  font-size: rem(15px);
  background: black;

  a {
    display: inline-block;

    &:hover {
      opacity: 0.8;
    }
  }

  &-contain {
    display: grid;
    grid-template-columns: 1;
    gap: rem(44px);
    padding-top: rem(50px);
    padding-bottom: rem(44px);

    @screen sm {
      grid-template-columns: repeat(3,1fr);
      row-gap: 0;
    }

    @screen lg {
      grid-template-columns: repeat(4,1fr);
      padding-bottom: rem(50px);
    }
  }


  &-chart {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;

    @screen sm {
      flex-direction: row;
      grid-column: 1 / 4;
    }
    @screen lg {
      flex-direction: column;
      justify-content: flex-start;
      grid-column: 1 / 2;
    }
  }

  &-logo {
    width: rem(175px);
    height: rem(30px);
    margin-bottom: rem(50px);
  }

  &-title {
    @apply font-barlow font-semibold;

    display: block;
    margin-bottom: rem(20px);
    font-size: rem(22px);
    line-height: 1;
    text-transform: uppercase;

    @screen lg {
      margin-top: 0.5rem;
    }
  }

  &-list {
    display: inline-flex;
    flex-direction: column;
    gap: rem(15px);
    justify-content: flex-start;
  }

  &-certifiedText {
    display: block;
    margin-bottom: rem(24px);
    line-height: 1.25;
    opacity: 0.6;

    @screen lg {
      margin-top: 0.5rem;
    }
  }

  &-certified {
    width: rem(60px);
    height: rem(114px);
  }

  &-mention {
    @apply border-t border-opacity-60 border-white;

    display: block;
    padding: rem(36px) 0;
    line-height: 1;
    opacity: 0.6;

    @screen sm {
      padding: rem(30px) 0 rem(50px);
    }
  }
}
