{include file="components/smarty/Reassurance/Reassurance.html"}

<footer id="footer" class="Footer">
  <div class="container Footer-contain">
    <div class="Footer-chart">
      {renderIconSvg icon="logo" class="Footer-logo"}
      {include file="components/smarty/SocialNetworks/SocialNetworks.html" tabindex=$tabindex|default:null}
    </div>

    <div>
      <span class="Footer-title">{intl l="Produits"}</span>
      <ul class="Footer-list">
        {loop type="category" name="category_footer" parent=0}
          <li><a href="{$URL}">{$TITLE}</a></li>
        {/loop}
      </ul>
    </div>

    <div>
      {loop type="folder" name="folder" limit=1}
        <span class="Footer-title">{$TITLE}</span>
        <ul class="Footer-list">
          {loop type="content" name="content_info" folder=$ID}
            <li><a href="{$URL}">{$TITLE}</a></li>
          {/loop}

          <li><a href="{url path='contact'}">{intl l="Contact"}</a></li>
          <li><a href="javascript:openAxeptioCookies()">{intl l="Gérer vos cookies"}</a></li>
        </ul>
      {/loop}
    </div>

    {include file="components/smarty/Newsletter/Newsletter.html"}
  </div>
  <div class="container">
    <span class="Footer-mention">
      {intl l="© OpenStudio %y" y=$smarty.now|date_format:"%Y"}
    </span>
  </div>
</footer>
