<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <!-- sample definition
        <loop name="MySuperLoop" class="MyModule\Loop\MySuperLoop" />
        -->
    </loops>

    <forms>
        <!--
        <form name="MyFormName" class="MyModule\Form\MySuperForm" />
        -->
    </forms>

    <commands>
        <!--
        <command class="MyModule\Command\MySuperCommand" />
        -->
    </commands>

    <!--
    <services>

    </services>
    -->
</config>
