<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace></fullnamespace>
    <descriptive locale="en_US">
        <title></title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title></title>
    </descriptive>
    <version></version>
    <author>
        <name></name>
        <email></email>
    </author>
    <type></type>
    <thelia></thelia>
    <stability></stability>
</module>
