{for $count=1 to 4}
<li class="item">
    <article>
        <a href="{url path="/admin/catalog"}" tabindex="-1" class="product-image">
            {images file='../assets/img/280x196.png'}<img src="{$asset_url}" alt="{intl l="Demo product title"}">{/images}
            <span class="mask"></span>
        </a>
        <a href="{url path="/admin/catalog"}" class="product-info">
            <h3 class="name">{intl l="Demo product title"}</h3>
            <div class="short-description">{intl l="Demo product description"}</div>
            <div class="product-price">
                <div class="price-container">
                   <span class="regular-price"><span class="price">99.99 {currency attr="symbol"}</span></span>
                </div>
            </div>
        </a>
    </article><!-- /product -->
</li>
{/for}