{extends file="layout.tpl"}
{* Security *}

{block name="no-return-functions" prepend}
  {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
  {$breadcrumbs = [ ['title' => {intl l="Account"}, 'url'=>{url path="/account"}] ]}
{/block}

{block name="init"}
{loop type="customer" name="customer_newsletter_block" current="true"}
    {assign "customerEmail" $EMAIL}
{/loop}
{/block}

{block name="body-class"}page-account{/block} {block name="main-content"}


  <article class="my-24" role="main" aria-labelledby="main-label">

      {hook name="account.top"}

      {include file="components/smarty/HeaderAccount/HeaderAccount.html" title="Mon compte"}

      <div class="container mx-auto mt-8">
        <div class="grid xl:grid-cols-3 gap-6">
          <!-- profil -->
          <div class="relative panel">
            <div class="flex items-center justify-between mb-2">
              <h4 class="font-bold text-lg ">
                  {intl l="My Profile"}
              </h4>
              <a href="{url path="/account/update"}" class="p-2 text-white rounded bg-main hover:bg-main-dark flex items-center justify-center">{renderIconSvg icon="pen" class="w-4 h-4 fill-current"}</a>
            </div>
            {loop type="customer" name="customer.info"}

            <div class="mb-2">
              <strong class="">{$FIRSTNAME} {$LASTNAME}</strong>
            </div>

            <div>
              <span class="">{mailto address=$EMAIL encode="hex"}</span>
            </div>
            {/loop}

            <div class="mt-4 pt-4 border-t border-gray-200">
              <a href="{url path="account/password"}" class="font-bold">{intl l="Change my password"}</a>
            </div>
          </div>

          <!-- adresse -->
          <div class="relative panel">
            <div class="flex items-center justify-between mb-2">
              <h4 class="font-bold text-lg ">
                {intl l="My Addresses"}
              </h4>
              <a href="{url path="/account-address"}" class="p-2 text-white rounded bg-main hover:bg-main-dark flex items-center justify-center">{renderIconSvg icon="pen" class="w-4 h-4 fill-current"}</a>
            </div>
              {loop type="address" name="address.default" default="true"}
              <strong class="font-bold">{intl l="my main address"}</strong>
              <span class="">{format_address address=$ID html_tag='address' html_class='adr'}</span>
              <div class="mt-4">
              {if $CELLPHONE != ""}
                <span class="tel">{$CELLPHONE}</span><br> {/if} {if $PHONE != ""}
                <span class="tel">{$PHONE}</span><br> {/if}
              </div>

              {/loop}
          </div>

          <!-- commandes -->
          <div class="relative panel">
            <div class="flex items-center justify-between mb-2">
              <h4 class="font-bold text-lg ">
                {intl l="My orders"}
              </h4>
              <a href="{url path='/account-orders'}" class="p-2 text-white rounded bg-main hover:bg-main-dark flex items-center justify-center">{renderIconSvg icon="plus" class="w-4 h-4 fill-current"}</a>
            </div>

            {ifloop rel="customer.orders"}
            <table class="w-full text-left">
              <thead class="">
                <tr>
                   <th class="">{intl l="Date"}</th>
                   <th class="">{intl l="Order n°"}</th>
                   <th class="">{intl l="Status"}</th>
                </tr>
              </thead>
              <tbody>
                {loop type="order" name="customer.orders" limit=5}
                  <tr>
                    <td class="">{format_date date=$CREATE_DATE format="d/m/Y"}</td>
                    <td class="lg:text-sm">{$REF}</td>
                    <td class="">
                      {include file="components/smarty/OrderStatusLabel/OrderStatusLabel.html"}
                    </td>
                  </tr>
                {/loop}
              </tbody>
            </table>
            {/ifloop} {elseloop rel="customer.orders"}
            <div class="alert alert-warning" role="alert">
              {intl l="You don't have any orders yet."}
            </div>
            {/elseloop}
          </div>

        </div>
      </div>
  </article>

{/block}

{block name="stylesheet"}
  {hook name="account.stylesheet"}
{/block}
{block name="after-javascript-include"}
  {hook name="account.after-javascript-include"}
{/block}
{block name="javascript-initialization"}
  {hook name="account.javascript-initialization"}
{/block}
