<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>Carousel\Carousel</fullnamespace>
    <descriptive locale="en_US">
        <title>An image carousel</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Un carrousel d'images</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.3.4</version>
    <author>
        <name>Manuel Raynaud, Franck Allimant</name>
        <email>manu@raynaud.io, franck@cqfdev.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.2.0</thelia>
    <stability>alpha</stability>
</module>
