{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Debug Bar'}{/block}

{block name="check-resource"}module.TheliaDebugBar{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
<div class="modules">

    <div id="wrapper" class="container">

        <div class="clearfix">
            <ul class="breadcrumb pull-left">
                <li><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
                <li><a href="{url path='/admin/modules'}">{intl l="Modules"}</a></li>
                <li><a href="#">{intl l="Thelia Debug Bar"}</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="general-block-decorator">

                    <h1>Hello World !</h1>

                    <div>
                        <p>Here is a general asset :</p>
                        <p>
                        {images file='assets/img/logo-thelia-34px.png'}
                            <img src="{$asset_url}" />
                        {/images}
                        </p>
                    </div>

                    <div>
                        <p>Here is a module asset :</p>
                        <p>
                        {images source="TheliaDebugBar" file='assets/img/db-loader.gif'}
                            <img src="{$asset_url}" />
                        {/images}
                        </p>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

{/block}

{block name="javascript-initialization"}


    <script>
    </script>
{/block}