<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="cheque.instructions.configure" class="Cheque\Form\ConfigurationForm" />
    </forms>

    <hooks>
        <hook id="cheque.hook" class="Cheque\Hook\HookManager" scope="request">
            <tag name="hook.event_listener" event="module.configuration" type="back" templates="render:module_configuration.html" />
            <tag name="hook.event_listener" event="order-placed.additional-payment-info" type="front" method="onAdditionalPaymentInfo" />
        </hook>
    </hooks>

    <services>
        <service id="send.cheque.mail" class="Cheque\Listener\SendPaymentConfirmationEmail" scope="request">
            <argument type="service" id="mailer"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>

</config>
