<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/module http://thelia.net/schema/module/module-1.0.xsd">
    <descriptif lang="fr">
        <titre>Produits factices</titre>
        <chapo></chapo>
        <description>Insertion des produits dans votre site Thelia permettant d'avoir un Thelia de test vite opérationnel.</description>
        <postscriptum></postscriptum>
    </descriptif>
    <version>1.1</version>
    <auteur>
        <nom>Manuel Raynaud - mraynaud@openstudio.fr</nom>
        <societe></societe>
        <email></email>
        <web></web>
    </auteur>
    <type>classique</type>
    <prerequis/>
    <thelia>1.5.0</thelia>
    <etat>production</etat>
    <documentation>README.TXT</documentation>
    <urlmiseajour></urlmiseajour>
</module>
