<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>Cheque\Cheque</fullnamespace>
    <descriptive locale="en_US">
        <title>Cheque</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Cheque</title>
    </descriptive>
    <images-folder>images</images-folder>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.3.4</version>
    <author>
        <name>Manuel Raynaud</name>
        <email>manu@raynaud.io</email>
    </author>
    <type>payment</type>
    <thelia>2.2.0</thelia>
    <stability>alpha</stability>
</module>
