{extends file='layout.tpl'}

{block name="init"}
{$category_id={category attr="id"}}
{/block}

{block name="css" append}
  {encore_entry_link_tags entry="category"}
{/block}

{block name="javascript" append}
  {encore_entry_script_tags entry="category"}
{/block}

{* Body Class *}
{block name="body-class"}page-category{/block}

{* Page Title *}
{block name='no-return-functions' append}
{loop name="category.seo.title" type="category" current="yes"}
{$page_title = {$META_TITLE}}
{/loop}
{/block}

{* Meta *}
{block name="meta"}
{loop name="category.seo.meta" type="category" current="yes"}
{if $META_DESCRIPTION}<meta name="description" content="{$META_DESCRIPTION}">{/if}
{if $META_KEYWORDS}<meta name="keywords" content="{$META_KEYWORDS}">{/if}
{/loop}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{$breadcrumbs = []}
{loop name="category_path" type="category-path" category={category attr="id"}}
{$breadcrumbs[] = ['title' => {$TITLE}, 'url'=> {$URL nofilter}]}
{/loop}
{/block}

{* Content *}
{block name="main-content"}
    {loop type="category" name="home.cat" limit=1 id=$category_id need_count_child=true}
        <div class="Category">


            {$product_page={$smarty.get.page|default:1}}
            {$product_order={$smarty.get.order|default:'manual'}}

            {include file="components/smarty/PageHeader/PageHeader.html"}

            <div class="container mx-auto">

              {if $CHILD_COUNT > 0}
                {include file="components/smarty/CategoriesPanels/CategoriesPanels.html" parent=$ID}
              {else}
                {include file="components/smarty/CategoryProducts/CategoryProducts.html"}
              {/if}

              <div class="max-w-xl mx-auto my-24 text-base text-center wysiwyg">
                {category attr="description"}
              </div>
            </div>


        </div>
    {/loop}

    {hook name="category.bottom" category=$category_id}
{/block}
