{extends file="layout.tpl"}

{block name="body-class"}page-error{/block}

{block name="main-content"}
    <div class="container mx-auto my-24">
      {include file="components/smarty/Alert/Alert.html" type="error" title={intl l='An error occurred'} message={intl
        l="We're sorry but an error occured. Please try to contact the site <a href='mailto:%mail'>administrator</a>"
        mail={config key='store_email'}
      }}

      <button class="Button" onclick="history.back()">
        {intl l="Go back to the previous page"}
      </button>

    </div>
{/block}

{block name="javascript-initialization"}

{/block}
