{extends file="layout.tpl"}

{block name="init"}
    {$folder_id={folder attr="id"}}
{/block}

{* Body Class *}
{block name="body-class"}page-folder{/block}

{* Page Title *}
{block name='no-return-functions' append}
    {if $folder_id}
        {loop name="folder.seo.title" type="folder" id=$folder_id limit="1"}
        {$page_title = $META_TITLE}
        {/loop}
    {/if}
{/block}

{* Meta *}
{block name="meta"}
    {if $folder_id}
        {loop name="folder.seo.meta" type="folder" id=$folder_id limit="1"}
            {include file="includes/meta-seo.html"}
        {/loop}

        {* Share meta *}
        {loop name="image.content.meta" type="image" limit="1" folder=$folder_id width="600" height="600" resize_mode="borders"}
            <meta property="og:image" content="{$IMAGE_URL nofilter}" />
            <meta property="og:image:secure_url" content="{$IMAGE_URL nofilter}" />
            <meta property="og:image:width" content="600" />
            <meta property="og:image:height" content="600" />
            <meta name="twitter:image" content="{$IMAGE_URL nofilter}" />
        {/loop}
    {/if}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {if $folder_id}
        {$breadcrumbs = []}
        {loop name="folder_path" type="folder-path" folder=$folder_id}
            {$breadcrumbs[] = ['title' => {$TITLE}, 'url'=> {$URL nofilter}]}
        {/loop}
    {/if}
{/block}

{block name="feeds"}
    <link rel="alternate" type="application/rss+xml" title="{intl l='All contents in'} {folder attr='title'}" href="{url path="/feed/content/%lang/%folder_id" lang={lang attr="locale"} folder_id={folder attr="id"}}" />
{/block}

{block name="main-content"}
  {loop name="folder" type="folder" id=$folder_id limit="1"}
    {hook name="folder.main-top" folder="$folder_id"}
    {hook name="folder.content-top" folder="$folder_id"}
    {include file="components/smarty/BreadCrumb/BreadCrumb.html"}
    <div class="max-w-[714px] mx-auto mb-10 md:mb-20">
        {include file="components/smarty/Title/Title.html" type="h1" title=$TITLE class="mb-8 text-center"  nofilter=true}
        {if $CHAPO|default:null}
          <div class="text-lg lg:text-2xl ">
              {$CHAPO nofilter}
          </div>
        {/if}
        {if $DESCRIPTION|default:null}
          <div class="my-8 text-base text-gray-600 md:my-10 md:text-lg wysiwyg">
              {$DESCRIPTION nofilter}
          </div>
        {/if}
        {include file="components/smarty/FolderDefault/FolderDefault.html"}
      </div>
  {/loop}
{/block}

{block name="css" append}
{hook name="folder.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="folder.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="folder.javascript-initialization"}
{/block}

