{extends file="layout.tpl"}

{* Body Class *}
{block name="body-class"}page-password{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{$breadcrumbs = [
['title' => {intl l="Password"}, 'url'=>{url path="/password"}]
]}
{/block}

{block name="main-content"}

{* This page should not replace the current previous URL *}
{set_previous_url ignore_current="1"}

{include file="components/smarty/BreadCrumb/BreadCrumb.html"}

<div class="container mx-auto mt-4 mb-24">

  {include file="components/smarty/Title/Title.html" class="text-center mb-7" title={intl l="Forgot password"}}

  <div class="text-center">{intl l="Vous avez oublié votre mot de passe ? Indiquez l'adresse e-mail associée à votre compte pour recevoir un lien de réinitialisation."}</div>

  <div class="panel">
    {hook name="password.top"}
    {if $password_sent|default:false}
        <div id="form-forgotpassword">
            {include file="components/smarty/Alert/Alert.html" type="success" title="Succès" message={intl l="A new password has just been sent to your e-mail address. Please check your inbox."}}

            <div class="flex items-center justify-between mt-10">
                <a href="{url path="/password"}" class="Button">{intl l="Resend a new password"}</a>
                <a href="{url path="/login"}" class="Button">{intl l="Login"}</a>
            </div>
        </div>
    {else}
        {form name="thelia.front.customer.lostpassword"}
        <form id="form-forgotpassword" action="{url path="/password"}" method="post">
            {form_hidden_fields}

            {hook name="password.form-top"}
            {form_field field="success_url"}
                <input type="hidden" name="{$name}" value="{url path='/password-sent'}">
            {/form_field}
            {form_field field="email"}
            <div class="form-group group-email lg:w-1/2 lg:mx-auto">
                {include
                  file="components/smarty/Input/Input.html"
                  type="email"
                  autofocus=true
                  name=$name
                  id="{$label_attr.for|default:null}"
                  value={$value}
                  label=$label
                  placeholder=""
                  required=$required
                  displayError=false
                }

                {if $value != ""}
                <div class="mt-1 text-xs italic text-green-500">{intl l="You will receive a link to reset your password."}</div>
                {/if}

            </div>
            {/form_field}
            {hook name="password.form-bottom"}
            <div class="flex items-center justify-center mt-6 lg:w-2/3 lg:mx-auto">
                {* <a href="{url path="/login"}" class="block underline">{intl l="Cancel"}</a> *}
                <button type="submit" class="Button">{intl l="Send"}</button>
            </div>
        </form>
        {/form}
    {/if}
    {hook name="password.bottom"}
  </div>
</div>
{/block}


{block name="css" append}
{hook name="password.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="password.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="password.javascript-initialization"}
{/block}
