{extends file="layout.tpl"}

{block name="css" append}
  {encore_entry_link_tags entry="register"}
{/block}

{block name="javascript" append}
  {encore_entry_script_tags entry="register"}
{/block}

{* Body Class *}
{block name="body-class"}page-register{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [['title' => {intl l="Register"}, 'url'=>{url path="/register"}]]}
{/block}

{block name="main-content"}

  {include file="includes/address-form.html"}


  {* This page should not replace the current previous URL *}
  {set_previous_url ignore_current="1"}


  {include file="components/smarty/BreadCrumb/BreadCrumb.html"}

  <div class="container mx-auto mt-4 mb-24">
    {include file="components/smarty/Title/Title.html" class="text-center mb-7" title={intl l="Create an account"}}
    {hook name="register.top"}
      {form name="thelia.front.customer.create"}
        <form id="RegisterForm" novalidate action="{url path="/register"}" method="post" novalidate>
          {hook name="recaptcha.check" id="RegisterRecaptcha"}
          {form_field field='success_url'}
          <input type="hidden" name="{$name}" value="{navigate to="previous"}" /> {* the url the user is redirected to on registration success *}
          {/form_field}


          {form_hidden_fields}

          {if $form_error}
            <div class="my-10">{include file="components/smarty/Alert/Alert.html" type="error" title={intl l="Error"} message=$form_error_message}</div>
          {/if}

          {hook name="register.form-top"}

          <div>
            <small class="text-gray-600">{intl l="* Champs obligatoires"}</small>
          </div>

          <div class="grid gap-6 my-8 md:grid-cols-2">
            <fieldset id="register-info">
              {include file="components/smarty/Title/Title.html" type="div" level=4 class="mb-4" title={intl l="Personal information"}}
              <div class="grid grid-cols-1 gap-6">
              <div class="w-1/2 lg:w-1/3">
                {form_field field="title"}
                  {call name="fn_address_field_title"}
                {/form_field}
              </div>

              <div class="flex gap-3">
                <div class="w-1/2">
                  {form_field field="firstname"}
                    {call name="fn_address_field_firstname"}
                  {/form_field}
                </div>

                <div class="w-1/2">
                  {form_field field="lastname"}
                    {call name="fn_address_field_lastname"}
                  {/form_field}
                </div>
              </div>

              {form_field field="email"}
                {call name="fn_field_email"}
              {/form_field}

              {if {config key="customer_confirm_email"}}
                {form_field field="email_confirm"}
                  {call name="fn_field_email_confirm"}
                {/form_field}
              {/if}

            <div class="flex gap-3">
              <div class="w-1/2">
                {form_field field="cellphone"}
                  {call name="fn_address_field_cellphone"}
                {/form_field}
              </div>
              <div class="w-1/2">
                {form_field field="phone"}
                  {call name="fn_address_field_phone"}
                {/form_field}
              </div>

            </div>
          </div>
        </fieldset>

        <fieldset id="register-delivery">
          {include file="components/smarty/Title/Title.html" type="div" level=4 class="mb-4" title={intl l="Delivery information"}}
          <div class="grid grid-cols-1 gap-6">
            <div class="w-1/2">
              {form_field field="company"}
                {call name="fn_address_field_company"}
              {/form_field}
            </div>

            {form_field field="address1"}
              {call name="fn_address_field_address1"}
            {/form_field}

            {form_field field="address2"}
              {call name="fn_address_field_address2"}
            {/form_field}

            <div class="flex gap-3">
              <div class="w-1/2 md:w-2/3">
                {form_field field="city"}
                  {call name="fn_address_field_city"}
                {/form_field}
              </div>

              <div class="w-1/2 md:w-1/3">
                {form_field field="zipcode"}
                  {call name="fn_address_field_zipcode"}
                {/form_field}
              </div>
            </div>

            <div class="w-1/2">
              {form_field field="country"}
                {$countryFieldId=$label_attr.for|default:null}
                {call name="fn_address_field_country"}
              {/form_field}
            </div>

            {form_field field="state"}
              {call name="fn_address_field_state" countryFieldId=$countryFieldId}
            {/form_field}
          </div>
        </fieldset>
      </div>

      <fieldset id="register-login">
        {include file="components/smarty/Title/Title.html" type="div" level=4 class="mb-4" title={intl l="Login Information"}}
        <div class="grid gap-6 md:grid-cols-2">
          {form_field field="password"}
            {call name="fn_password_field"}
          {/form_field}

          {form_field field="password_confirm"}
            {call name="fn_password_confirm_field"}
          {/form_field}
        </div>
      </fieldset>

      {form_field field="newsletter"}
        <div class="mt-5">
          {call name="fn_newsletter"}
        </div>
      {/form_field}

      {hook name="register.form-bottom"}

      <div class="mt-12 text-center">
        <button type="submit" class="Button">{intl l="Create my account"}</button>
      </div>
      </form>
      {/form}

      {hook name="register.bottom"}

  </div>
{/block}
