
{extends file="layout.tpl"}

{block name="main-content"}
 <div class="w-full max-w-5xl py-24 mx-auto">

    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Logo</h2>
      <div class="flex flex-wrap items-center gap-10">
        {renderSvgImage file={encore_manifest_file file="dist/images/logo.svg"} class="w-40 h-8"}
      </div>
    </section>

    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Icons</h2>
      <div class="flex flex-wrap items-center gap-8 ">
        {renderIconSvg icon="user" class="w-4 h-5"}
        {renderIconSvg icon="cart" class="w-4 h-5"}
        {renderIconSvg icon="search" class="w-4 h-4"}
        {renderIconSvg icon="filter" class="w-5 h-4"}
        {renderIconSvg icon="arrow" class="w-2 h-4"}
        {renderIconSvg icon="plus" class="w-3 h-3"}
        {renderIconSvg icon="minus" class="w-3 h-3"}
        {renderIconSvg icon="arrow" class="w-2 h-4 origin-center rotate-90"}
        {renderIconSvg icon="arrow" class="w-2 h-4 origin-center -rotate-90"}
        {renderIconSvg icon="arrow" class="w-2 h-4 origin-center -rotate-180"}
        {renderIconSvg icon="download" class="w-4 h-4"}
        {renderIconSvg icon="map-pin" class="w-4 h-5"}
        {renderIconSvg icon="eye" class="w-5 h-4"}
        {renderIconSvg icon="trash" class="w-4 h-4"}
      </div>
      <div class="flex flex-wrap items-center gap-8">
        {renderIconSvg icon="secure" class="w-16 h-16"}
        {renderIconSvg icon="delivery" class="w-16 h-16"}
        {renderIconSvg icon="respectful" class="w-16 h-16"}
        {renderIconSvg icon="pet-friendly" class="w-16 h-16"}
        <div class="flex items-center gap-4">
          <div class="transform rotate-90 ArrowLink">
            {renderIconSvg icon="arrow" class="w-2 h-4"}
          </div>
          <div class="transform -rotate-90 ArrowLink">
            {renderIconSvg icon="arrow" class="w-2 h-4"}
          </div>
          <div class="transform -rotate-180 ArrowLink">
            {renderIconSvg icon="arrow" class="w-2 h-4"}
          </div>
          <div class="transform ArrowLink">
            {renderIconSvg icon="arrow" class="w-2 h-4"}
          </div>
        </div>
      </div>
        <div>
            {renderIconSvg icon="france" class="w-20 h-3"}
        </div>
        <div>
          <div class="inline-flex items-center px-8 py-5 text-white bg-black rounded-xl gap-7">
            {renderIconSvg icon="facebook" class="w-6 h-6"}
            {renderIconSvg icon="instagram" class="w-6 h-6"}
            {renderIconSvg icon="linkedin" class="w-6 h-6"}
            {renderIconSvg icon="youtube" class="w-6 h-4"}
          </div>
        </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Typographie (desktop et mobile)</h2>
      <div class="divide-y divide-black divide-gray-300">
        {include file="components/smarty/Title/Title.html" type="h1" level="1" title="Titre 1" class="py-4"}
        {include file="components/smarty/Title/Title.html" type="h1" level="2" title="Titre 2" class="py-4"}
        {include file="components/smarty/Title/Title.html" type="h1" level="3" title="Titre 3" class="py-4"}
        {include file="components/smarty/Title/Title.html" type="h1" level="4" title="Titre 4" class="py-4"}
        <div class="py-4 Chapo">Texte Chapeau</div>
        <p  class="py-4">Texte Chapeau Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam maxime earum explicabo incidunt exercitationem. Labore ex, vel voluptatibus unde quis, veritatis consequatur facilis omnis voluptas officiis atque debitis optio eligendi.</p>
      </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Fil d'ariane</h2>
      <div class="divide-y divide-black divide-gray-300">
        {$breadcrumbs = [
          [
            "title" => 'Boutique',
            "url" => '#1'
          ],
          [
            "title" => 'Univers Canin',
            "url" => '#2'
          ],
          [
            "title" => 'Friandise d\'éducation',
            "url" => '#2'
          ]
        ]}
        {include file="components/smarty/BreadCrumb/BreadCrumb.html"}
      </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Fil d'ariane</h2>
      <div class="flex flex-wrap items-center gap-10">
        <a href="#0" class="Button Button--primary">Les nouveautés 2022</a>
        <a href="#0" class="Button Button--primary Button--disabled">Les nouveautés 2022 (disabled)</a>
      </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Liens</h2>
      <div class="flex flex-wrap items-center gap-10 wysiwyg">
        <a href="#0">Ceci est un lien (vert foncé au hover)</a>
      </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Notification, tuiles, commande</h2>
      <div class="flex flex-wrap items-center gap-10 wysiwyg">
        {include file="components/smarty/Tag/Tag.html" type="primary" text="Nouveau"}
        {include file="components/smarty/Tag/Tag.html" type="secondary" text="Coup de coeur"}
        {include file="components/smarty/Tag/Tag.html" type="primary" text="Épuisé"}
      </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Selecteur de déclinaison</h2>
      <div class="flex flex-wrap items-center gap-10 wysiwyg">
        <button type="button" class="PseSelector-value">XS</button>
        <button type="button" class="PseSelector-value PseSelector-value--checked">2XL</button>
        <button type="button" class="PseSelector-value">200g</button>
        <button type="button" class="PseSelector-value PseSelector-value--checked">300g</button>
      </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Filtres</h2>
      <div class="flex flex-wrap items-center gap-10 wysiwyg">
        {include file="components/smarty/FilterBtn/FilterBtn.html" count=4}
        {include file="components/smarty/FilterBtn/FilterBtn.html"}
      </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Tuiles produit</h2>
      <div class="grid grid-cols-2 gap-8 lg:grid-cols-4">
        {loop type="product" name="product" id=1}
            {include file="components/smarty/SingleProduct/SingleProduct.html"}
            {include file="components/smarty/SingleProduct/SingleProduct.html"}
            {include file="components/smarty/SingleProduct/SingleProduct.html"}
            {include file="components/smarty/SingleProduct/SingleProduct.html"}
        {/loop}
      </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Tuiles catégorie</h2>
      <div class="grid grid-cols-1 gap-10 md:grid-cols-3">
        {loop type="category" name="category"}
            {include file="components/smarty/ContentCard/ContentCard.html"}
        {/loop}
      </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Tuiles espace client</h2>
      <div class="grid grid-cols-1 gap-10 md:grid-cols-3">
        {include file="components/smarty/AccountCard/AccountCard.html" url={url path="/account-orders"} icon={renderIconSvg icon="cart" class="w-4 h-5"} title={intl l="Mes commandes"} subTitle={intl l="Retrouvez vos commandes en cours et consultez votre historique"}}
        {include file="components/smarty/AccountCard/AccountCard.html" url={url path="/account/update"} icon={renderIconSvg icon="user" class="w-4 h-5"} title={intl l="Mon profil"} subTitle={intl l="Modifier votre nom, adresse mail ou mot de passe"}}
        {include file="components/smarty/AccountCard/AccountCard.html" url={url path="/account/address"} icon={renderIconSvg icon="map-pin" class="w-4 h-5"} title={intl l="Mes adresses"} subTitle={intl l="Gérez votre carnet d’adresses"}}
      </div>
    </section>
    <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Formulaire</h2>
      <div class="grid grid-cols-1 gap-10 md:grid-cols-3">
      {form name="thelia.front.customer.create"}

        {include file="includes/address-form.html"}
        {form_field field="title"}
          {call name="fn_address_field_title"}
        {/form_field}
        {form_field field="firstname"}
          {call name="fn_address_field_firstname"}
        {/form_field}
        {form_field field="password"}
              {$error ="dsfevfe"}
            {$message ="dsfevfe"}
          {call name="fn_password_field"}
        {/form_field}

        <label for="check" class="Checkbox">
          <input type="checkbox" name="check" id="check"/>
          <span>Ceci est une checkbox</span>
        </label>
        <label for="radio" class="Radio">
          <input type="radio" name="radio" id="radio"/>
          <span>Ceci est un radio</span>
        </label>
      {/form}
      </div>
    </section>
      <section class="grid grid-cols-1 gap-8 py-8">
      <h2 class="text-4xl font-barlow text-main">Pagination, Steps</h2>
      <div class="">
      {$limit = 10}
      {$page={$page|default:{$smarty.get.page|default:1}}}
        {loop type="country" name="country_test" limit=10 page=$page}{/loop}
        {if 205 > $limit}
          {include file="components/smarty/Pagination/Pagination.html" current_page=$page loop_name="country_test"}
        {/if}
      </div>
    </section>
  </div>
{/block}
