{loop name="category0" type="category" parent="0"}
    <h2>CATEGORY : #TITLE</h2>
    {loop name="category1" type="category" parent="#ID"}
        <hr />
        <h3>SUBCATEGORY : #TITLE  (#LOOP_COUNT / #LOOP_TOTAL)</h3>
        {loop name="product" type="product" category="#ID"}
            <h3>PRODUCT : #REF / #TITLE</h3>
            #PRICE €
        {/loop}
        <hr />
        <hr />
    {/loop}

	{loop name="product" type="product" category="#ID"}
        <h3>PRODUCT : #REF / #TITLE</h3>
        #PRICE €
    {/loop}
    <hr />
    <hr />
{/loop}
<h2>PRODUCTS selected by ref</h2>
{loop name="product" type="product" ref='REF1,REF2'}
    <h3>PRODUCT : #REF / #TITLE</h3>
    #PRICE €
{/loop}
