{*loop name="category0" type="category" parent="0"}
    <h2>CATEGORY : #TITLE</h2>
    {loop name="category1" type="category" parent="#ID"}
        <hr />
        <h3>SUBCATEGORY : #TITLE  (#LOOP_COUNT / #LOOP_TOTAL)</h3>
        {loop name="product" type="product" category="#ID"}
            <h3>PRODUCT : #REF / #TITLE</h3>
            #PRICE €
        {/loop}
        <hr />
        <hr />
    {/loop}

	{loop name="product" type="product" category="#ID"}
        <h3>PRODUCT : #REF / #TITLE</h3>
        #PRICE €
    {/loop}
    <hr />
    <hr />
{/loop*}
<h2>PRODUCTS</h2>
{*loop name="product" type="product" order="promo,min_price" exclude_category="3"}
    <h3>PRODUCT : #REF / #TITLE</h3>
    price : #PRICE €<br />
    promo price : #PROMO_PRICE €<br />
    is promo : #PROMO<br />
    is new : #NEW<br />
    weight : #WEIGHT<br />
{/loop*}

{*loop name="product" type="product" order="ref" feature_available="1: (1 | 2) , 2: 4, 3: 433"}
    <h3>PRODUCT : #REF / #TITLE</h3>
    price : #PRICE €<br />
    promo price : #PROMO_PRICE €<br />
    is promo : #PROMO<br />
    is new : #NEW<br />
    weight : #WEIGHT<br />
{/loop*}

{loop name="product" type="product" order="ref" feature_values="1: foo"}
    <h3>PRODUCT : #REF / #TITLE</h3>
    price : #PRICE €<br />
    promo price : #PROMO_PRICE €<br />
    is promo : #PROMO<br />
    is new : #NEW<br />
    weight : #WEIGHT<br />
{/loop}
