<div class="LangSelect uppercase">
    <a href="#0" class="LangSelect-current" title="{lang attr="title"}">
        {lang attr="code"}
        {renderIconSvg icon="drop-down" class="LangSelect-arrow"}
    </a>
    <div class="LangSelect-dropdown">
        <ul class="text-center">
            {loop type="lang" name="lang_available" exclude="{lang attr="id"}"}
            <li>
                <a class="LangSelect-dropdownLink block py-2 text-center w-8" href="{url path={navigate to='current'} lang={$LOCALE}}">
                    {$CODE}
                </a>
            </li>
            {/loop}
        </ul>
    </div>
</div>
