.LangSelect {
  position: relative;

  &:hover,
  &:focus {
    .LangSelect-dropdown {
      left: 0;
      opacity: 1;
    }
  }

  &-current {
    position: relative;
    padding: 10px 20px 10px 0;

    &:hover,
    &:focus {
      .CurrencySelect-flag {
        fill: currentcolor;
      }
    }
  }

  &-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 5px;
    margin-top: 0;
    font-weight: 400;
    transform: translateY(-50%);
    fill: black;
  }

  &-dropdown {
    @apply bg-white shadow;

    position: absolute;
    top: 100%;
    left: -99999em;
    z-index: 20;
    width: auto;
    opacity: 0;
    transition: 0.3s ease-out;
    transition-property: opacity, transform;
  }
}
