<div id="lang-select" class="LangSelect uppercase" >
    <a href="#0" class="LangSelect-current" title="{lang attr="title"}" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>
        <span>{lang attr="code"}</span>
        {renderIconSvg icon="drop-down" class="LangSelect-arrow"}
    </a>
    <div class="LangSelect-dropdown">
        <ul class="text-center">
            {loop type="lang" name="lang_available" exclude="{lang attr="id"}"}
            <li>
              {assign var='rewritingUrl' value="{rewritingUrl locale="$LOCALE" currentUrl="$current_url"}"}
              {if !empty($rewritingUrl)}
                <a class="LangSelect-dropdownLink block py-2 text-center w-8" href="{$rewritingUrl}">
                  {$CODE}
                </a>
              {else}
                <a class="LangSelect-dropdownLink block py-2 text-center w-8" href="{url path={navigate to='current'} lang={$LOCALE}}">
                  {$CODE}
                </a>
              {/if}
            </li>
            {/loop}
        </ul>
    </div>
</div>
