<div class="pt-12 px-8 pb-32">
  <div class="container mx-auto">
    <div class="FolderPreview">
      <div class="grid md:grid-cols-2 gap-8">

          {if $image}
            <img src="{$image}" class="FolderPreview-img" />
            {else}
            <img src="//placehold.it/590x625" class="FolderPreview-img" />
          {/if}

          <div class="pt-8 pb-4">
            {include file="components/smarty/Title/Title.html" type="h2" title=$TITLE class="Title--left mb-6" nofilter=true}
            <div class="mb-4 wysiwyg">{$DESCRIPTION nofilter}</div>
            {if $url}
              <a href="{$url}" class="btn">{intl l="I discover"}</a>
            {/if}
          </div>

      </div>
    </div>
  </div>
</div>
