{include file="includes/header.html"}


<div>
    <h2>Category Images</h2>
    <ul>
    {loop type="category" name="jsvdfk"}
        <li><p>Category id {$ID}: {$TITLE}</p>
        <ul>
            <li>
            {loop type="image" name="image_test" category="$ID" width="200" height="100" resize_mode="borders"}
                  <p>Processed file URL: {$IMAGE_URL}</p>
                  <p>Original file URL: {$ORIGINAL_IMAGE_URL}</p>
                  <img src="{$IMAGE_URL}" />
            {/loop}

            {loop type="image" name="image_test" category="$ID"}
                  <p>Full size file URL: {$IMAGE_URL}</p>
                  <img src="{$IMAGE_URL}" />
            {/loop}

            {loop type="image" name="image_test" source="category" source_id="$ID"}
                  <p>source="category" source_id="x" argument style: Processed file URL: {$IMAGE_URL}</p>
            {/loop}
            </li>
         </ul>
         </li>
    {/loop}
    </ul>
</div>


<div>
    <h2>Product Images</h2>
	<ul>
	{loop type="product" name="jsvdfk"}
        <li><p>Product id {$ID}: {$TITLE}</p>
        <ul>
            <li>
            {loop type="image" name="image_test" product="$ID" width="200" height="100" resize_mode="borders" effects="gamma:0.7" background_color="#cc8000"}
		          <p>Processed file URL: {$IMAGE_URL}</p>
		          <p>Original file URL: {$ORIGINAL_IMAGE_URL}</p>
		          <p>Images:</p>

		          <img src="{$IMAGE_URL}" />
		    {/loop}
		    {loop type="image" name="image_test" product="$ID" width="200" height="100" resize_mode="crop"}
		    <img src="{$IMAGE_URL}" />
		    {/loop}
            {loop type="image" name="image_test" product="$ID" width="100" height="200" resize_mode="borders" background_color="#cc8000"}
            <img src="{$IMAGE_URL}" />
            {/loop}
            {loop type="image" name="image_test" product="$ID" width="100" rotation="-20" background_color="#facabe"}
            <img src="{$IMAGE_URL}" />
            {/loop}
            {loop type="image" name="image_test" product="$ID" width="200" height="100" resize_mode="borders" background_color="#facabe" effects="negative"}
            <img src="{$IMAGE_URL}" />
            {/loop}
		    </p>
            </li>
		</ul></li>
	{/loop}
    </ul>
</div>

<div>
    <h2>Folder Images</h2>
    <ul>
    {loop type="folder" name="jsvdfk"}
        <li><p>Folder id {$ID}: {$TITLE}</p>
        <ul>
            <li>
            {loop type="image" name="image_test" folder="$ID" width="200" height="100" resize_mode="borders"}
                  <p>Processed file URL: {$IMAGE_URL}</p>
                  <p>Original file URL: {$ORIGINAL_IMAGE_URL}</p>
                  <img src="{$IMAGE_URL}" />
            {/loop}
            </li>
         </ul>
         </li>
    {/loop}
    </ul>
</div>

<div>
    <h2>Content Images</h2>
    <ul>
    {loop type="content" name="jsvdfk"}
        <li><p>Content id {$ID}: {$TITLE}</p>
        <ul>
            <li>
            {loop type="image" name="image_test" content="$ID" width="200" height="100" resize_mode="borders"}
                  <p>Processed file URL: {$IMAGE_URL}</p>
                  <p>Original file URL: {$ORIGINAL_IMAGE_URL}</p>
                  <img src="{$IMAGE_URL}" />
            {/loop}
            </li>
         </ul>
         </li>
    {/loop}
    </ul>
</div>

{include file="includes/footer.html"}