{ifloop rel="product.related"}
  <section class="Selection Selection--animated is-hide">
    <div class="container flex flex-col items-center">
        {include file="components/smarty/Title/Title.html" type="h2" level="3" title={intl l="You may also like"} class="w-full mb-5 md:mb-6"}
        {include
          file="components/smarty/ProductList/ProductList.html"
          loopType="product"
          loopName="product.related"
          loopLimit=4
          loopOrder="random"
          loopExcludeProductId=$ID
          loopCategory={$DEFAULT_CATEGORY}
        }
    </div>
  </section>
{/ifloop}
