.PhoneCheck {
  margin-top: 1rem;

  &-field {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    border-radius: rem(6px);
  }

  .PhoneInput {
    width: 100%;
    border: 1px solid theme("colors.main");
    border-radius: rem(6px) 0 0 rem(6px);

    &Input {
      @apply border-none ring-transparent focus:border-none focus:shadow-none focus:outline-none;

      border-radius: rem(6px) 0 0 rem(6px);

    }
  }

  &-btn {
    display: block;
    padding: rem(10px) 1rem;
    color: white;
    background-color: theme("colors.main");
    border-radius: 0 rem(6px)  rem(6px) 0;

    &:hover, &:focus {
      background-color: theme("colors.main-dark");
    }
  }

  .PhoneInputCountry {
    display: none;
  }

  &--error {
    .PhoneCheck-field {
      &:focus-within {
        outline-color: theme("colors.red.700");
      }
    }

    .PhoneInput {
      border-color: theme("colors.red.700");

      &:focus-within {
        outline-color: theme("colors.red.700");
      }
    }

    .PhoneCheck-btn {
      color: theme("colors.white");
      background: theme("colors.red.700");

      &:hover, &:focus {
        color: theme("colors.white");
        background: theme("colors.red.700");
      }
    }
  }

}
