@import 'mmenu-light/dist/mmenu-light.css';

@import 'layout';

@import './components/**/*.css';
@import './pages/**/*.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

input[type=checkbox].switch:checked ~ .dot {
  transform: translateX(100%);
}

input[type=checkbox].switch:checked ~ .block {
  background-color: #48bb78;
}

input[type=checkbox]:not(.switch):checked {
  @apply text-mediumCharbon;
}

input[type=checkbox]:not(.switch) {
  border-radius: 0.25rem;
}

input[type=checkbox]:not(.switch):focus {
  @apply outline-none ring-darkMain;
}


input[type=radio]:checked {
  @apply text-mediumCharbon;
}

input[type=radio] {
  border-radius: 100%;
}

input[type=radio]:focus {
  @apply outline-none ring-darkMain;
}

.dropdown-menu a:hover {
  div {
    @apply bg-mediumCharbon text-lightGrey;
  }
}

.dropdown:hover {
  .icon {
    @apply bg-mediumCharbon text-lightGrey;
  }
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-facebook {
  color: #3b5998;
}

.fa-github {
  color: #171515;
}
