@import 'tailwindcss/base';

@import '../../components/**/*.css';

@import './pages/**/*.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Open Sans', sans-serif;
}

.switch:checked ~ .dot {
  transform: translateX(100%);
}

.switch:checked ~ .block {
  background-color: #48bb78;
}

.SimpleLayout {
  @apply bg-lightGrey;
}

.Checkbox:checked {
  @apply text-mediumCharbon;
}

.Checkbox {
  border-radius: 0.25rem;
}

.Checkbox:focus {
  @apply outline-none ring-darkMain;
}

.Radio:checked {
  @apply text-mediumCharbon;
}

.Radio {
  border-radius: 100%;
}

.Radio:focus {
  @apply outline-none ring-darkMain;
}

#page {
  display: grid;
  grid-template-areas:
    'head'
    'content'
    'sidebar'
    'footer';
  grid-template-columns: 1fr;

  @screen lg {
    grid-template-areas:
      'head head'
      'sidebar content'
      'sidebar footer';
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px auto 100px;
  }
}

#page > #header {
  grid-area: head;
}

#page > #sidebar {
  grid-area: sidebar;
}

#page > #main {
  grid-area: content;
}

.sidebar-item:hover {
  @apply bg-darkCharbon;
}

.sidebar-item:hover span {
  @apply text-lightGrey;
}

.sidebar-item:hover i {
  @apply text-main;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}
