{assign var="categoryTitle" value="{$TITLE}"}

<article class="flex flex-col w-full p-4 bg-white SingleCategory">
    <a href="{$URL}" itemprop="url">
      <div class="text-center SingleCategory-image">

        {loop name="category_thumbnail" type="image" quality="100" category=$ID width={$width|default:270} height={$height|default:270} resize_mode="borders" limit="1"}
            <img class="object-cover mx-auto" itemprop="image" src="{$IMAGE_URL}" alt="{$categoryTitle}" width="270" height="270" loading="lazy">
        {/loop}
        {elseloop rel="category_thumbnail"}
            <img class="object-cover mx-auto" itemprop="image" src="//placehold.it/{$width|default:270}x{$height|default:270}" alt="{$categoryTitle}">
        {/elseloop}
      </div>


    <div class="my-6 text-center SingleCategory-info">
        <h3 class="text-2xl text-gray-300 SingleCategory-title "><span>{$categoryTitle}</span></h3>
    </div>

    {if isset($PRODUCT_COUNT)}
    <div class="flex justify-center">
      <div class="inline-block px-4 py-2 mx-auto text-white rounded tex-center bg-main">{$PRODUCT_COUNT} {intl l="tools"}</div>
    </div>
    {/if}
  </a>
</article><!-- /product -->
