<div>
    <div class="form-check">
      <input class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-black indeterminate:bg-vermillon checked:border-darkCharboal focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer hover:bg-lighterVermillon" type="checkbox" value="" id="flexCheckIndeterminate">
    </div>
  </div>
  
  
  <script type="text/javascript">
    const checkbox = document.getElementById("flexCheckIndeterminate");
    checkbox.indeterminate = true;
  </script>