<footer class="Footer">
  <div class="px-8 py-16 text-white bg-gray-700">
    <div class="container mx-auto">
      <div class="justify-between text-center divide-y divide-gray-200 lg:flex lg:divide-y-0 lg:divide-x divide-opacity-25">
        <div class="lg:w-1/2 lg:flex lg:justify-items-start">
          <div>
            <div class="Title">{intl l="Subscribe to our newsletter"}</div>
            <div class="Footer-newsletter">
              {include file="components/smarty/Newsletter/Newsletter.html"}
            </div>
          </div>
        </div>
        <div class="pt-8 mt-8 lg:w-1/2 lg:mt-0 lg:pt-0 lg:flex lg:justify-items-end">
          <div class="Footer-gammes lg:mx-auto">
            <div class="Title">{intl l="Our brands"}</div>
            <div class="flex flex-col items-center justify-center mx-auto lg:flex-row">
              {loop type="brand" name="brands.footer" order="manual" limit=3}
              <a href="{$URL}" class="p-4">
                {$TITLE}
              </a>
              {/loop}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-8 py-16 text-white bg-gray-900">
    <div class="container mx-auto">
      <div class="grid mb-8 Footer-grid">

        <div>
          <div class="mb-4 text-2xl font-bold">{intl l="Our catalog"}</div>
          <ul class="uppercase divide-y divide-gray-200 divide-opacity-25">
            {loop name="footer_category" type="category" parent=0 }
              <li><a href="{$URL nofilter}" class="block py-2">{$TITLE}</a></li>
            {/loop}
          </ul>
        </div>

        <div class="">
          {$folder_information={config key="information_folder_id"}}
          {if $folder_information}
            {loop name="folder_footer_links" type="folder" id={config key="information_folder_id"} order="manual"}
              <div class="mb-4 text-2xl font-bold">{$TITLE}</div>
            {/loop}
            <ul class="uppercase divide-y divide-gray-200 divide-opacity-25">
              {loop name="footer_links" type="content" folder=$folder_information order="manual"}
                <li><a href="{$URL nofilter}" class="block py-2">{$TITLE}</a></li>
              {/loop}
            </ul>
          {/if}
        </div>

        <div class="flex flex-col items-center justify-center font-bold leading-5 text-center text-white uppercase">

          <div class="">
            {config key="store_address1"}<br />
            {config key="store_zipcode"} {config key="store_city"} <br />
            {config key="store_phone"}<br />
          </div>
          <div class="my-6">
            <a href="{url path="/contact"}" class="underline">{intl l="Write us by mail"}</a>
          </div>
          <div class="flex -mx-2">
            {include file="components/smarty/SocialNetworks/SocialNetworks.html"}
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>


