<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>TheliaDebugBar\TheliaDebugBar</fullnamespace>
    <descriptive locale="en_US">
        <title>debugbar for thelia</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>debugbar pour thelia</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Manuel Raynaud</name>
        <email>manu@thelia.net</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>alpha</stability>
</module>
