.Steps {
  --step-width: rem(30px);

  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.25rem 2rem;
  background-color: theme("colors.main-light");

  &-list {
    position: relative;
    display: flex;
    gap: rem(60px);
    align-items: center;

    &::before {
      position: absolute;
      top: calc(var(--step-width) / 2);
      right: 0;
      left: 0;
      z-index: 0;
      height: rem(1px);
      background-color: theme("colors.main");
      content: '';
    }
  }

  &-item {
    position: relative;
    z-index: 1;
    padding-bottom: rem(5px);
    cursor: pointer;

    &--active {
      .Steps-name {
        opacity: 1;
      }

      .Steps-number {
        background-color: theme("colors.main");
        border-color: theme("colors.main");
      }

      & ~ .Steps-item {
        pointer-events: none;

        &:hover {
          opacity: 0;
        }

        .Steps-number {
          color: black;
          background-color: theme("colors.main-light");
          border-color: theme("colors.main");
        }
      }
    }



    &:hover {
      .Steps-name {
        opacity: 1;
      }
    }
  }

  &-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--step-width);
    height: var(--step-width);
    color: white;
    font-weight: 500;
    font-size: rem(14px);
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
  }

  &-name {
    position: absolute;
    top: 100%;
    left: 50%;
    width: rem(120px);
    font-weight: 500;
    font-size: rem(12px);
    line-height: 1;
    text-align: center;
    transform: translate(-50%,0);
    opacity: 0;
    transition: all ease-in 0.15s;
  }

}
