<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>TheliaMigrateCountry\TheliaMigrateCountry</fullnamespace>
    <descriptive locale="en_US">
        <title>Countries/states migration tool</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Utilitaire de migration des pays/états</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.3.4</version>
    <authors>
        <author>
            <name>Julien Chanséaume</name>
            <email>julien@thelia.net</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.3.0</thelia>
    <stability>alpha</stability>
</module>
