<div class="flex items-center w-full h-20 max-w-4xl px-10 mt-6 bg-lightCharbon">
    <div class="container mx-auto">
        <div class="flex justify-end">
          <div class="pr-24 md:text-center">
            <a class="px-3 py-1 text-sm font-semibold tracking-wider text-white uppercase border border-white rounded cursor-pointer hover:bg-white hover:text-black"><i class="h-2 mx-1 fas fa-eye"></i>{intl l="Prévisualiser"}</a>
            <a class="px-3 py-1 mx-1 text-sm font-semibold tracking-wider text-white uppercase border rounded cursor-pointer bg-vermillon border-vermillon hover:bg-lighterVermillon hover:border-lighterVermillon">{intl l="Enregistrer"}</a>
          </div>
        </div>
    </div>
</div>