.LangSelect {
  position: relative;
  height: 100%;

  &:hover &-dropdown,
  &:focus &-dropdown,
  &-dropdown.open {
    display: flex;
    flex-direction: column;
    gap: 10px;
    visibility: visible;
  }

  &-current {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 20px 10px 0;

    &:hover,
    &:focus {
      .CurrencySelect-flag {
        fill: currentcolor;
      }
    }
  }

  &-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 5px;
    margin-top: 0;
    font-weight: 400;
    transform: translateY(-50%);
    fill: black;
  }

  &-dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    display: none;
    width: max-content;
    padding: 8px 12px;
    background-color: theme("colors.white");
    border-radius: 0.375rem;
    box-shadow: 0 0 6px rgb(0 0 0 / 30%);
    visibility: hidden;

    @screen md {
      top: 80px;
      padding: 15px 20px;
    }
  }
}

body.is-sticky .LangSelect-dropdown {
  top: 68px;
}
