{if $type|default:false}

  {if $type === "new"}
    {$title = {intl l="Discover our new products"}}
    {$linkTitle = {intl l="Discover our new products"}}
    {$loopName = "random.products"}
    {$new = true}
  {/if}

  {if $type === "promo"}
    {$title = {intl l="All promotions"}}
    {$linkTitle = {intl l="All promotions"}}
    {$loopName = "random.products"}
    {$promo = true}
  {/if}


  {ifloop rel=$loopName}
    <section class="Selection {if $animated|default:false}Selection--animated is-hide{/if}">
      <div class="container flex flex-col items-center">
          {include file="components/smarty/Title/Title.html" type="h2" level="3" title=$title class="mb-5 text-center md:mb-6"}

          {include
            file="components/smarty/ProductList/ProductList.html"
            id="product"
            loopType="product"
            loopName=$loopName
            loopLimit=4
            loopProductId=$loopProductId|default:null
            loopOrder="random"
            loopCategory={$category|default:""}
            loopDepth=5
            loopNew={$new|default:null}
            loopPromo={$promo|default:null}
            animated={true}
            tabindex=$tabindex|default:null
          }

          {loop type="category" name="cat.dog.link" id={$category|default:""} limit=1}
            <a href="{$URL}" class="mt-8 md:mt-10 Button" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>{$linkTitle}</a>
          {/loop}
      </div>
    </section>
  {/ifloop}

{/if}
