.StratSeo {
  order: 3;
  margin-top: 2rem;

  &-contain {
    display: flex;
    flex-direction: column;
    background-color: theme('colors.main-light');
  }

  &-title {
    margin: 0 auto rem(80px);
    text-align: center;

    @screen lg {
      max-width: rem(643px);
      margin: 0 auto rem(91px);
    }
    @screen 2xl {
      margin: 0 auto rem(110px);
    }
  }

  &-grid {
    display: flex;
    flex-direction: column;

    @screen lg {
      flex-direction: row;
      align-items: start;

      > * {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  &-img {
    overflow: hidden;
    transform: translate(0,rem(-50px));
    transition: 0.5s ease-out;

    img {
      margin: 0 auto;
      border-radius: rem(20px);

      @screen 2xl {
        width: 100%;
      }
    }
  }

  &-desc {
    padding-bottom: rem(50px);
    font-size: rem(15px);
    transition: 0.5s ease-out;
    @screen md {
      padding: rem(50) 0 rem(78px);
    }

    @screen lg {
      padding: rem(65px) rem(50px) rem(78px);
    }
  }

  &-text {
    margin-bottom: rem(30px);
    color: theme('colors.gray.700');
    line-height: 1.6;

    @screen md {
      font-size: rem(18px);
    }

    h2 {
      margin-bottom: 2rem;
      color: black;
      font-weight: 500;
      font-size: rem(24px);
      line-height: 1.1;

      @screen md {
        font-size: 2rem;
      }

      strong {
        display: block;
        font-weight: inherit;
      }
    }

    p + p {
      margin-top: 1rem;
    }
  }

  .Button {
    display: inline-flex;
    font-size: inherit;
    line-height: 1;
  }

  @screen md {
    &.is-hide {
      .StratSeo-img {
        transform: none;
        opacity: 0;
      }

      .StratSeo-desc {
        transform: translateY(-2rem);
        opacity: 0;
      }
    }
  }
}
