<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
  <loops>
    </loops>
  <forms>
    <form name="hooknavigation.configuration" class="HookNavigation\Form\HookNavigationConfigForm" />
  </forms>
  <commands>
    </commands>
  <hooks>
    <hook id="hooknavigation.hook.front" class="HookNavigation\Hook\FrontHook">
      <tag name="hook.event_listener" event="main.navbar-primary" templates="render:main-navbar-primary.html" />
      <tag name="hook.event_listener" event="main.footer-bottom" type="front" active="1" method="onMainFooterBottom" />
      <tag name="hook.event_listener" event="main.footer-body" type="front" active="1" method="onMainFooterBody" />
    </hook>
  </hooks>
</config>
