.CategoriesPanels {
  order: 4;
  padding: rem(50px) 0;

  @screen md {
    padding: rem(70px) 0;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: rem(30px) rem(10px);
    width: 100%;

    @screen xs {
      grid-template-columns: repeat(2,1fr);
    }

    @screen md {
      grid-template-columns: repeat(4,1fr);
      gap: rem(30px);

    }
  }

  &-panel {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: transform 125ms ease-in-out;
    will-change: transform;
    @apply bg-gray-500;

    &:hover {
      .CategoriesPanels-panel-img {
        opacity: 0.8;
      }
    }

    &-img {
      opacity: 0.5;
      @screen lg {
        max-height: 400px;
      }
    }

    &-content {
      @apply inset-0 flex flex-col items-center justify-end;

      position: absolute;
    }
  }

  @screen md {
    &--animated {
      .Title {
        transition: 0.5s ease-out;
      }

      .CategoriesPanels-list {
        transition: 0.5s ease-out 0.4s;
      }

      &.is-hide {
        .Title {
          opacity: 0;
        }

        .CategoriesPanels-list {
          transform: translate(0,25%);
          opacity: 0;
        }
      }
    }
  }
}
