<section class="CategoriesPanels {if $animated|default:false}CategoriesPanels--animated is-hide{/if}">
  <div class="container flex flex-col items-center">
    {if $title}
      {include file="components/smarty/Title/Title.html" type="h2" level="3" title=$title class="mb-5 text-center md:mb-6"}
    {/if}

    <div class="CategoriesPanels-list">
      {loop type="category" name="CategoriesPanels" parent={$parent|default:0} limit=7}
        {$title_cat = $TITLE}
        {include file="components/smarty/ContentCard/ContentCard.html" tabindex=$tabindex|default:null}
      {/loop}
    </div>

  </div>
</section>
