.Quantity {
  @apply relative flex flex-row  rounded-md border border-gray-400;

  max-width: rem(154px);
  padding: rem(6px);

  &-btn {
    @apply flex cursor-pointer items-center  justify-center rounded-md text-white transition  focus:outline-none disabled:opacity-50;

    flex: 1 0 auto;
    width: rem(36px);
    height: rem(36px);
    background-color: theme('colors.main');

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover,
    &:focus {
      background-color: theme('colors.main-dark');
    }
  }

  &-number {
    @apply flex cursor-default items-center  justify-center px-2 text-lg;

    width: rem(124px);
    height: rem(36px);
  }

  &--small {
    max-width: rem(115px);
    padding: rem(3px);

    .Quantity-btn {
      width: rem(24px);
      height: rem(24px);
    }

    .Quantity-number {
      width: rem(54px);
      height: rem(24px);
      font-size: rem(10px);
    }
  }
}
