{loop type="auth" name="can_view" role="ADMIN" module="HookAdminHome" access="VIEW"}
<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>{intl l="Your version" d='hookadminhome.bo.default'}</th>
      <td>{$THELIA_VERSION}</td>
    </tr>
    {if $latestStableRelease}
    <tr>
      <th>{intl l="Latest stable version" d='hookadminhome.bo.default'}</th>
      <td><a href="{$latestStableRelease['html_url']}">{$latestStableRelease['tag_name']}</a></td>
    </tr>
    {/if}
    {if $latestPreRelease}
        <tr>
            <th>{intl l="Latest pre-release" d='hookadminhome.bo.default'}</th>
            <td><a href="{$latestPreRelease['html_url']}">{$latestPreRelease['tag_name']}</a></td>
        </tr>
    {/if}
    </tbody>
  </table>
</div>
{/loop}
