{loop type="auth" name="can_view" role="ADMIN" module="HookAdminHome" access="VIEW"}
<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>{intl l="Current version" d='hookadminhome.bo.default'}</th>
      <td>{$THELIA_VERSION}</td>
    </tr>
    <tr>
      <th>{intl l="Latest version available"}</th>
      <td><a href="http://thelia.net/#download" id="latest-thelia-version">{intl l="Loading..."  d='hookadminhome.bo.default'}</a></td>
    </tr>
    <tr>
      <th>{intl l="News"}</th>
      <td><a href="http://thelia.net/blog" target="_blank">{intl l="Click here" d='hookadminhome.bo.default'}</a></td>
    </tr>
    </tbody>
  </table>
</div>
{/loop}