{loop type="auth" name="can_view" role="ADMIN" module="HookAdminHome" access="VIEW"}
<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>{intl l="Current version" d='hookadminhome.bo.default'}</th>
      <td>{$THELIA_VERSION}</td>
    </tr>
    <tr>
      <th>{intl l="Latest version available" d='hookadminhome.bo.default'}</th>
      <td><a href="https://thelia.net/download/thelia.zip" id="latest-thelia-version">{intl l="Loading..."  d='hookadminhome.bo.default'}</a></td>
    </tr>
    </tbody>
  </table>
</div>
{/loop}
<a class="twitter-timeline"
   href="https://twitter.com/theliaecommerce"
   data-chrome="noheader nofooter noborders"
   data-dnt="true"
   data-height="300"
>
  {intl l="Loading Tweeter feed..." d='hookadminhome.bo.default'}
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
