<div class="FullSearch flex flex-col items-center fixed inset-0 w-full h-full z-50 hidden">
    <div class="FullSearch-background bg-black opacity-25 absolute inset-0 w-full h-full"></div>
    <div class="FullSearch-container w-full max-w-screen-lg bg-white rounded relative mt-24 p-6 shadow-lg">
      <div class="flex justify-between mb-8 items-center">
        {include file="components/smarty/Title/Title.html" size="2xl" title={intl l="What are you looking for ?"} class="mt-0"}
        <button class="FullSearch-close text-right  hover:" data-toggle-search>{renderIconSvg icon="close" class="w-6 h-6 fill-current pointer-events-none"}</button>
      </div>
      <div id="FullSearch-result"></div>
    </div>
</div>


