{ifloop rel="best_selling_products.products"}
<div class="pt-12 px-8 pb-32">
  <div class="container mx-auto">
    <div class="BestSellers">

        {include file="components/smarty/Title/Title.html" type="h2" title={intl l="Discover our bestsellers"}}
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">
        {loop type="best_selling_products" name="best_selling_products.products" limit=4 order="sold_count_reverse"}
          {include file="components/smarty/SingleProduct/SingleProduct.html"}
        {/loop}
        </div>
    </div>
  </div>
  </div>
{/ifloop}
