{$socials = [
  [ icon => "facebook", className => "w-6 h-6", label => "facebook url" ],
  [ icon => "instagram", className => "w-6 h-6", label => "instagram url" ],
  [ icon => "linkedin", className => "w-6 h-6", label => "linkedin url" ],
  [ icon => "youtube", className => "w-6 h-4", label => "youtube url" ],
  [ icon => "twitter", className => "w-6 h-6 fill-current", label => "twitter url" ],
  [ icon => "viadeo", className => "w-6 h-6 fill-current", label => "viadeo url" ],
  [ icon => "pinterest", className => "w-6 h-6 fill-current", label => "pinterest url"]
]}

<ul class="SocialNetworks">
  {foreach $socials as $social}
    <li>
      <a href="#" class="SocialNetworks-link" aria-label="{$social['label']}" {if isset($tabindex)}tabindex="{$tabindex}"{/if}>
        {renderIconSvg icon=$social.icon class=$social.className }
      </a>
    </li>
  {/foreach}
</ul>

