
<a href='#' target="_blank">
  {renderIconSvg icon="facebook" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank">
  {renderIconSvg icon="twitter" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank">
  {renderIconSvg icon="youtube" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank">
  {renderIconSvg icon="linkedin" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank">
  {renderIconSvg icon="viadeo" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank">
  {renderIconSvg icon="instagram" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank">
  {renderIconSvg icon="pinterest" class="w-6 h-6 fill-current "}
</a>
