
<a href='#' target="_blank" aria-label="facebook">
  {renderIconSvg icon="facebook" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank" aria-label="twitter">
  {renderIconSvg icon="twitter" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank" aria-label="youtube">
  {renderIconSvg icon="youtube" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank" aria-label="linkedin">
  {renderIconSvg icon="linkedin" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank" aria-label="viadeo">
  {renderIconSvg icon="viadeo" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank" aria-label="instagram">
  {renderIconSvg icon="instagram" class="w-6 h-6 fill-current "}
</a>
<a href='#' target="_blank" aria-label="pinterest">
  {renderIconSvg icon="pinterest" class="w-6 h-6 fill-current "}
</a>
