{* Set the default translation domain, that will be used by {intl} when the 'd' parameter is not set *}
{default_translation_domain domain='pdf.default'}
{literal}
<style>
    h1, h2, h3, h4 {
        color:#f6993c;
        margin: .5em 0;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        color:#58585a;
        font-size: 12px;
    }

    p, td {
        color:#58585a;
        font-size: 9px;
    }

    p {
        margin: .5em 0;
    }

    span {
        font-size: 9px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr {
        width: 100%;
    }

    td {
        vertical-align: top;
    }

    .table-info {
        margin-bottom : 15px;
    }

    .table-info h3 {
        font-size: 12px;
        color: #58585a;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .table-info h3 span {
        font-size: inherit;
        color: #f6993c;
    }

    .table-1 td {
        background: #f1f3f4;
        border:solid 1px #bcbdc0;
    }

    .table-2 td {
        border:solid 1px #bcbdc0;
    }


    .table-3-1, .table-3-2 {
        border: solid 1px #bcbdc0;
    }
    .table-3-1 span {
        font-size: 8px;
        color: #747475;
    }
    .table-3-1 p {
        font-size: 10px;
    }
    .table-3-2 {
        background: #f1f3f4;
    }

    .table-3-module h3 {
        margin-top: 1.5em;
    }

    .table-3-module span {
        font-size: 11px;
    }

    .align-left {
        text-align: left;
    }
    .align-center {
        text-align: center;
    }
    .align-right{
        text-align: right;
    }

    .clear {
        padding: 0.5%;
        border-bottom:solid 1px #dddddd;
    }

    .clear-none {
        padding: 0.5%;
    }

	{hook name="invoice.css"}
</style>
{/literal}
<page backtop="10mm" backleft="10mm" backright="10mm" backbottom="10mm">
    <page_header>
        {hook name="invoice.header" order=$order_id}
    </page_header>

    <page_footer>
		{hook name="invoice.footer-top" order=$order_id}
        <table>
        <col style="width:100%">
            <tbody>
            <tr>
                <td>
                <div style="width:100%; text-align:center; position:relative;">
                        {hook name="invoice.imprint" order=$order_id}
                        {elsehook rel="invoice.imprint"}
                            <!-- Imprint -->
                            {config key="store_name"}
                            {$addresses="{config key="store_address1"} {config key="store_address2"} {config key="store_address3"}"}
                            {$city="{config key="store_zipcode"} {config key="store_city"}"}
                            {if $addresses != "  "}- {$addresses}{/if}
                            {if $city != " " }- {$city}{/if}
                            {if {config key="store_country"} }
                                {loop type="country" visible="*" name="address.country.title" id={config key="store_country"}} - {$TITLE}{/loop}
                            {/if}
                            {if {config key="store_business_id"} }
                                - {config key="store_business_id"}
                            {/if}
                            <br>
                            {if {config key="store_phone"} }
                                {intl l="Phone: "}{config key="store_phone"}
                            {/if}
                            {if {config key="store_email"} }
                                {intl l="Email: "}{config key="store_email"}
                            {/if}
                        {/elsehook}
                    <div style="position:absolute;top:1mm;right:1mm;line-height:1">{intl l="page"} [[page_cu]]/[[page_nb]]</div>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
    </page_footer>

    {$taxes = []}

    {loop name="order.invoice" type="order" id=$order_id customer="*"}
    {$currency = $CURRENCY}
    <table class="table-info" style="margin-bottom: 15px;">
     <tr>
                <td>
                    <h1 style="text-transform: capitalize"><strong style="color: #58585a;">{intl l="INVOICE"}</strong> {config key="store_name"}</h1>
                </td>
            </tr>
    </table>
    <table class="table-info">
        <col style="width: 100%; padding: 0mm;" />
        <tr>
            <td><h3>{intl l="Invoice date"} : <span>{format_date date=$INVOICE_DATE output="date"}</span></h3></td>
        </tr>
        <tr>
            <td><h3>{intl l="Invoice REF"} : <span>FA{$REF|substr:3}</span></h3></td>
        </tr>
        <tr>
            <td><h3>{intl l="Customer Number"} : <span>{loop type="customer" name="customer.invoice" id=$CUSTOMER current="0"}{$REF}{/loop}</span></h3></td>
        </tr>
        {hookblock name="invoice.information" order=$order_id fields="title,value"}
        {forhook rel="invoice.information"}
        <tr>
            <td><h3>{$title} : <span>{$value}</span></h3></td>
        </tr>
        {/forhook}
        {/hookblock}
    </table>

    {hook name="invoice.after-information" order=$order_id}

    <table class="table-address">
        <col style="width: 50%; padding: 3mm;" />
        <col style="padding: 3mm;" />
        <tr>
            <td style="border-left: solid 1mm #f6993c;" >
                <h3>{intl l="Delivery address"}</h3>
                {ifhook rel="invoice.delivery-address"}
                {* delivery module can customize the delivery address *}
                {hook name="invoice.delivery-address" module={$DELIVERY_MODULE} order=$order_id}
                {/ifhook}
                {elsehook rel="invoice.delivery-address"}
                {format_address order_address=$DELIVERY_ADDRESS locale=$locale}
                {/elsehook}
            </td>
            <td style="border-left: solid 1mm #f6993c;">
                <h3>{intl l="Invoice address"}</h3>
                {format_address order_address=$INVOICE_ADDRESS locale=$locale}
            </td>
        </tr>
    </table>

    {hook name="invoice.after-addresses" order=$order_id}

    <table width="100%" cellspacing="0" cellpadding="0" style="padding-top: 5mm; padding-bottom: 8mm">
        <col style="width: 40%; padding: 1mm;" />
        <col style="width: 20%; padding: 1mm;" />
        <col style="width: 20%; padding: 1mm;" />
        <col style="width: 20%; padding: 1mm;" />


        <tr class="table-1">
            <td><h4>{intl l="Product"}</h4></td>
            <td><h4 class="align-center">{intl l="Unit. price"}</h4></td>
            <!--
            <td><h4 class="align-center">{intl l="Tax"}</h4></td>
            <td><h4 class="align-center">{intl l="Unit taxed price"}</h4></td>--->
            <td><h4 class="align-center">{intl l="Quantity"}</h4></td>
            <td style="background:#f6993c"><h4 style="color:white;" class="align-center">{intl l="Total without tax"}</h4></td>
        </tr>
        {loop type="order_product" name="order-products" order=$ID}
        {if $WAS_IN_PROMO == 1}
        {assign "realPrice" $PROMO_PRICE}
        {assign "realTax" $PROMO_PRICE_TAX}
        {assign "realTaxedPrice" $TAXED_PROMO_PRICE}
        {assign "realTotalPrice" $PROMO_PRICE*$QUANTITY}
        {else}
        {assign "realPrice" $PRICE}
        {assign "realTax" $PRICE_TAX}
        {assign "realTaxedPrice" $TAXED_PRICE}
        {assign "realTotalPrice" $PRICE*$QUANTITY}
        {/if}

        {$taxes[{$TAX_RULE_TITLE}][] = floatval($realTax) * $QUANTITY}

        <tr class="table-2">
            <td>
                <p>
                    {$TITLE} <br>
                    {intl l="Product ref : "}{$REF}<br>
                    {intl l="Combination ref : "}{$PRODUCT_SALE_ELEMENTS_REF}
                </p>

                {hook name="invoice.product-list" order_product=$ID order=$order_id}
            </td>
            <td><p class="align-right">{format_money number=$realPrice currency_id=$currency}</p></td>
            <td><p class="align-center">{$QUANTITY}</p></td>
            <td><p class="align-right">{format_money number=$realTotalPrice currency_id=$currency}</p></td>
        </tr>

        {hook name="invoice.order-product" order={$order_id} order_product={$ID}}
        {/loop}
    </table>

    {hook name="invoice.after-products" order=$order_id}

    <table cellspacing="0" cellpadding="0" style="padding-top: 5mm; padding-bottom: 8mm">
        <col style="width: 60%; padding: 1mm;" />
        <col style="width: 40%; padding: 1mm;" />
        <tr>
            <td class="table-3-module">

                <h3>{intl l="Payment module"}</h3>
                <p>
                    <span>{loop name="payment-module" type="module" id=$PAYMENT_MODULE}{$TITLE}{/loop}</span>
                </p>

                {hook name="invoice.after-payment-module" order=$order_id module_id=$PAYMENT_MODULE}


                <h3>{intl l="Delivery module"}</h3>
                <p>
                    <span>{loop name="delivery-module" type="module" id=$DELIVERY_MODULE}{$TITLE}{/loop}</span>
                </p>

                {hook name="invoice.after-delivery-module" order=$order_id module_id=$DELIVERY_MODULE}

            </td>
            <td>
                <table class="table-3">
                    <col style="width: 50%; padding: 0 1mm 1mm;">
                    <col style="width: 50%; padding: 0 1mm 1mm;">

                    {assign "discountTax" 0}

                    {assign "tva" 0.20}
                    {loop type="order_address" name="invoice_address" id=$INVOICE_ADDRESS}
                    {if $COUNTRY == 20 && $INVOICE_DATE > date_create('2020-07-07')}
                    {assign "tva" 0.21}
                    {/if}
                    {/loop}

                    {if $DISCOUNT > 0}

                    {assign "discountTax" {$DISCOUNT*$tva}}
                    {/if}

                    {assign "untaxedCart" {$TOTAL_ITEMS_AMOUNT}}
                    {assign "untaxedPostage" {$POSTAGE/(1+$tva)}}
                    {assign "postageTax" {$untaxedPostage*$tva}}
                    {assign "untaxedTotalWithUntaxedPostage" {$untaxedCart+$untaxedPostage}}

                    {* Totaux des frais de livraison : HT / TVA / TTC *}
                    <tr>
                        <td class="table-3-1">
                            <p>{intl l="Total without tax"}</p>
                        </td>
                        <td class="table-3-1 align-right">
                            <p>{format_money number=$untaxedCart currency_id=$currency}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-3-1">
                            <p>{intl l="Postage without tax"}</p>
                        </td>
                        <td class="table-3-1 align-right">
                            <p>{format_money number=$untaxedPostage currency_id=$currency}</p>
                        </td>
                    </tr>

                    {* Totaux panier + livraison : HT / TVA / TTC *}
                    {if $hideTax|default:null}
                    <tr>
                        <td class="table-3-1">
                            <p>{intl l="Total"}</p>
                        </td>
                        <td class="table-3-1 align-right">
                            <p>{format_money number=$TOTAL_TAXED_AMOUNT currency_id=$currency}</p>
                        </td>
                    </tr>
                    {else}

                    <tr>
                        <td class="table-3-1">
                            <p>{intl l="Total without tax"}</p>
                        </td>
                        <td class="table-3-1 align-right">
                            <p>{format_money number=$untaxedTotalWithUntaxedPostage currency_id=$currency}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-3-1">
                            <p>{intl l="Total tax amount"}</p>
                        </td>
                        <td class="table-3-1 align-right">
                            <p>{format_money number={$TOTAL_ITEMS_TAX + $postageTax} currency_id=$currency}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-3-1">
                            <p>{intl l="Taxed total"}</p>
                        </td>
                        <td class="table-3-1 align-right">
                            <p>{format_money number=$TOTAL_TAXED_AMOUNT+$DISCOUNT currency_id=$currency}</p>
                        </td>
                    </tr>
                    {if $DISCOUNT > 0}
                    <tr>
                        <td class="table-3-1">
                            <p>{intl l="Discount with tax"}</p>
                        </td>
                        <td class="table-3-1 align-right">
                            <p>{format_money number=$DISCOUNT currency_id=$currency}</p>
                        </td>
                    </tr>
                    {/if}
                    <tr>
                        <td class="table-3-1" style="background:#f6993c;">
                            <h3 style="color:white;">{intl l="Total"}</h3>
                        </td>
                        <td class="table-3-1 align-right" style="background:#f6993c;">
                            <h3 style="color:white;">
                                {format_money number=$TOTAL_TAXED_AMOUNT currency_id=$currency}
                            </h3>
                        </td>
                    </tr>
                    {/if}
                </table>
            </td>
        </tr>
    </table>

    {hook name="invoice.after-summary" order=$order_id}

    {/loop}
</page>
