{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
    {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
        ['title' => {intl l="Redirect to bank service"}]
    ]}
{/block}

{block name="body-class"}page-gotobankservice{/block}

{block name="main-content"}
                    <div class="panel">
                        <div class="panel-heading clearfix">
                            {intl l="A problem occured"}.
                        </div>
                        <!-- PAYMENT FORM TEMPLATE -->
                        <div class="panel-body">
                            <p>
                                {$msg}<br>
                                {loop name="badresponseorder" type="order" id={$order_id}}{$REF}<br>{/loop}
                                {intl l="Please try again to order"}
                            </p>
                        </div>
                    </div>

                    <a class="btn btn-checkout-home" href="{url path="/"}" role="button"><span>{intl l="Home"}</span></a>
{/block}
