{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
    {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{$breadcrumbs = [
['title' => {intl l="Redirect to bank service"}]
]}
{/block}

{block name="body-class"}page-gotobankservice{/block}

{block name="main-content"}
<div class="panel panel-default">

    <div class="panel-heading clearfix">
        {intl l="A problem occured"}.
    </div>
    <!-- PAYMENT FORM TEMPLATE -->
    <div class="panel-body">
        <p>
            {$msg}<br/>
            {loop name="badresponseorder" type="order" id={$order_id}}
                {$REF}
            {/loop}
            <br/>
            {intl l="Please try again to order"}
        </p>
    </div>
</div>
<a class="btn btn-primary" role="button" href="{url path="/"}">
    <span>{intl l="Home"}</span>
</a>
{/block}


{block name="stylesheet"}
{hook name="badresponseorder.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="badresponseorder.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="badresponseorder.javascript-initialization"}
{/block}