{extends file='layout.tpl'}

{block name="init"}
{$category_id={category attr="id"}}
{/block}


{* Body Class *}
{block name="body-class"}page-category{/block}

{* Page Title *}
{block name='no-return-functions' append}
{if $category_id}
    {loop name="category.seo.title" type="category" id=$category_id limit="1"}
        {$page_title = $META_TITLE}
    {/loop}
{/if}
{/block}

{* Meta *}
{block name="meta"}
{if $category_id}
    {loop name="category.seo.meta" type="category" id=$category_id limit="1"}
        {include file="includes/meta-seo.html"}
    {/loop}
{/if}
{/block}

{* Feeds *}
{block name="feeds"}
{if $category_id}
    <link rel="alternate" type="application/rss+xml" title="{intl l='All products in'} {category attr='title'}" href="{url path="/feed/catalog/%lang/%category_id" lang={lang attr="locale"} category_id={category attr="id"}}" />
{/if}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{if $category_id}
    {$breadcrumbs = []}
    {loop name="category_path" type="category-path" category=$category_id}
        {$breadcrumbs[] = ['title' => {$TITLE}, 'url'=> {$URL nofilter}]}
    {/loop}
{/if}
{/block}

{* Content *}
{block name="main-content"}

{$limit={$smarty.get.limit|default:8}}
{$product_page={$smarty.get.page|default:1}}
{$product_order={$smarty.get.order|default:'alpha'}}

{hook name="category.top" category="$category_id"}

    <div class="main row">

        {hook name="category.main-top" category="$category_id"}

        <article class="col-main col-md-9 col-md-push-3 {$smarty.get.mode|default:"grid"}" role="main">

            {hook name="category.content-top" category="$category_id"}

            {if #category_display_detail# && $category_id}
            <section class="category-description">
                {loop name="category.description" type="category" id={$category_id} limit="1" }
                    <h1 id="main-label" class="page-header">{category attr="title"}</h1>
                    {loop name="category.image" type="image" source="category" source_id={$ID} width=218 height=146 resize_mode="borders"}
                    <p><img itemprop="image" src="{$IMAGE_URL nofilter}" alt="{$TITLE}"></p>
                    {/loop}
                    {if $DESCRIPTION}
                    <div class="description">
                        {$DESCRIPTION nofilter}
                    </div>
                    {/if}
                    {if $POSTSCRIPTUM}
                    <small class="postscriptum">
                        {$POSTSCRIPTUM}
                    </small>
                    {/if}
                {/loop}
            </section>
            <hr/>
            {/if}

            {if #category_display_subcategories#}
            {ifloop rel="subcategories"}
                <div class="block-links">
                    <div class="block-content">
                        <ul>
                            {loop name="subcategories" type="category" parent=$category_id}
                                <li>
                                    <a href="{$URL}">{$TITLE}</a>
                                </li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            {/ifloop}
            {/if}

            {ifloop rel="product_list"}
                {$amount={count type="product" category=$category_id}}
                <div class="toolbar toolbar-top" role="toolbar">
                    <div class="sorter-container clearfix">
                    <span class="amount">{if ($amount > 1)}{intl l="%nb Items" nb={$amount}}{else}{intl l="%nb Item" nb={$amount}}{/if}</span>

                    <span class="limiter">
                        <label for="limit-top">{intl l="Show"}</label>
                        <select id="limit-top" name="limit">
                            <option value="{url current="1" page=1 limit="4"}" {if $limit==4}selected{/if}>4</option>
                            <option value="{url current="1" page=1 limit="8"}" {if $limit==8}selected{/if}>8</option>
                            <option value="{url current="1" page=1 limit="12"}" {if $limit==12}selected{/if}>12</option>
                            <option value="{url current="1" page=1 limit="50"}" {if $limit==50}selected{/if}>50</option>
                            <option value="{url current="1" page=1 limit="100000"}" {if $limit==100000}selected{/if}>{intl l="All"}</option>
                        </select>
                        <span class="per-page">{intl l="per page"}</span>
                    </span><!-- /.limiter -->

                    <span class="sort-by">
                        <label for="sortby-top">{intl l="Sort By"}</label>
                        <select id="sortby-top" name="sortby">
                            {*<option value="{url path="{category attr="url"}" order="manual"}">{intl l="Position"}</option>*}
                            <option value="{url current="1" limit=$limit order="alpha"}" {if $product_order=="alpha"}selected{/if}>{intl l="Name ascending"}</option>
                            <option value="{url current="1" limit=$limit order="alpha_reverse"}" {if $product_order=="alpha_reverse"}selected{/if}>{intl l="Name descending"}</option>
                            <option value="{url current="1" limit=$limit order="min_price"}" {if $product_order=="min_price"}selected{/if}>{intl l="Price ascending"}</option>
                            <option value="{url current="1" limit=$limit order="max_price"}" {if $product_order=="max_price"}selected{/if}>{intl l="Price descending"}</option>
                        </select>
                    </span><!-- /.sort-by -->

                    <span class="view-mode">
                        <span class="view-mode-label sr-only">{intl l="View as"}:</span>
                        <span class="view-mode-btn">
                            <a href="{url current="1" mode="grid"}" data-toggle="view" role="button" title="{intl l="Grid"}" rel="nofollow" class="btn btn-default btn-grid"><i class="fa fa-th"></i></a>
                            <a href="{url current="1" mode="list"}" data-toggle="view" role="button" title="{intl l="List"}" rel="nofollow" class="btn btn-default btn-list"><i class="fa fa-th-list"></i></a>
                        </span>
                    </span><!-- /.view-mode -->

                </div><!-- /.sorter -->
            </div>
            <div id="category-products">
                <div class="products-content">
                    <ul class="list-unstyled row">
                        {loop type="product" name="product_list" category=$category_id limit=$limit page=$product_page order=$product_order}
                            {include file="includes/single-product.html" product_id=$ID hasBtn=true hasDescription=true hasQuickView=true width="218" height="146"}
                        {/loop}
                    </ul>
                </div>
            </div><!-- /#category-products -->
            <div class="toolbar toolbar-bottom" role="toolbar">
                {if $amount > $limit}
                    <div class="pagination-container clearfix" role="pagination" aria-labelledby="pagination-label-{$toolbar}}">
                        <strong id="pagination-label-{$toolbar}}" class="pagination-label sr-only">{intl l="Pagination"}</strong>
                        <ul class="pagination pagination-sm">
                            {if $product_page le 1}
                                <li class="disabled">
                                    <span class="prev"><i class="fa fa-caret-left"></i></span>
                                </li>
                            {else}
                                <li>
                                    <a href="{url current="1" page={$product_page-1} }" title="{intl l="Previous"}" class="prev"><i class="fa fa-caret-left"></i></a>
                                </li>
                            {/if}

                            {pageloop rel="product_list"}
                                <li{if $PAGE eq $CURRENT} class="active"{/if}>
                                    <a href="{url current="1" page=$PAGE }"> {$PAGE} </a>
                                </li>
                                {if $PAGE eq $LAST}
                                    {if $CURRENT eq $LAST}
                                        <li class="disabled">
                                            <span class="next"><i class="fa fa-caret-right"></i></span>
                                        </li>
                                    {else}
                                        <li>
                                            <a href="{url current="1" page={$NEXT} }" title="{intl l="Next"}" class="next"><i class="fa fa-caret-right"></i></a>
                                        </li>
                                    {/if}
                                {/if}
                            {/pageloop}
                        </ul>
                    </div>
                {/if}
            </div><!-- /.toolbar toolbar-bottom -->
            {/ifloop}
            {elseloop rel="product_list"}
                <div class="alert alert-warning">
                    {intl l="No products available in this category"}
                </div>
            {/elseloop}

            {hook name="category.content-bottom" category="$category_id"}

        </article>

        <aside class="col-left col-md-3 col-md-pull-9" role="complementary" itemscope itemtype="http://schema.org/WPSideBar">
            {include file="includes/menu.html"}
        </aside>

        {hook name="category.main-bottom" category="$category_id"}

    </div>
    {hook name="category.bottom" category="$category_id"}
{/block}


{block name="stylesheet"}
{hook name="category.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="category.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="category.javascript-initialization"}
{/block}
