{extends file="layout.tpl"}

{* Body Class *}
{block name="body-class"}page-home{/block}

{* Page Title *}
{block name='no-return-functions' append}
    {$page_title = {config key="store_name"}}
{/block}

{* Hide breadcrumb *}
{block name='breadcrumb'}{/block}

{* Main content *}
{block name="main-content"}
    {hook name="home.body"}
{/block}

{block name="stylesheet"}
{hook name="home.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="home.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="home.javascript-initialization"}
{/block}
