{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
    {check_auth role="CUSTOMER" login_tpl="login"}
    {check_cart_not_empty}
{/block}

{* Body Class *}
{block name="body-class"}page-order-delivery{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
        ['title' => {intl l="Cart"}, 'url'=>{url path="/cart"}],
        ['title' => {intl l="Billing and delivery"}, 'url'=>{url path="/order/delivery"}]
    ]}
{/block}


{block name="main-content"}
                    <div class="main">
                        <article class="col-main" id="cart" aria-labelledby="main-label" role="main">

                            <h1 class="page-header" id="main-label">{intl l="Your Cart"}</h1>

                            {include file="misc/checkout-progress.tpl" step="delivery"}

                            {form name="thelia.order.delivery"}
                            {assign var="isPost" value="{$smarty.post|count}"}
                            <form id="form-cart-delivery" action="{url path="/order/delivery"}" method="post" {form_enctype form=$form}>
                                {form_hidden_fields form=$form}

                                {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

                                {form_field form=$form field='delivery-address'}
                                <div id="delivery-address" class="panel">
                                    <div class="panel-heading clearfix">
                                        <a href="{url path="/address/create"}" class="btn btn-add-address">{intl l="Add a new address"}</a>
                                        {intl l="Choose your delivery address"}
                                        {if $error}<span class="help-block"><span class="icon-remove"></span> {$message}</span>{/if}
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-address" role="presentation" summary="Address Books">
                                            <tbody>
                                            {loop type="address" name="customer.addresses" customer="current"}
                                                {assign var="isDeliveryAddressChecked" value="0"}
                                                {if $isPost}
                                                    {if $value == $ID}
                                                        {assign var="isDeliveryAddressChecked" value="1"}
                                                    {/if}
                                                {elseif $DEFAULT}
                                                    {assign var="isDeliveryAddressChecked" value="1"}
                                                {/if}
                                                <tr>
                                                    <th>
                                                        <div class="radio">
                                                            <label for="delivery-address_{$ID}">
                                                                <input class="js-change-delivery-address" id="delivery-address_{$ID}" name="{$name}" data-country="{$COUNTRY}" type="radio" value="{$ID}"{if $isDeliveryAddressChecked} checked{/if}> {$LABEL|default:"{intl l='Address %nb' nb={$LOOP_COUNT}}"}
                                                            </label>
                                                        </div>
                                                    </th>
                                                    <td>
                                                        <ul class="list-address">
                                                            <li>
                                                                <span class="fn">{loop type="title" name="customer.title.info" id=$TITLE}{$SHORT}{/loop} {$LASTNAME|upper} {$FIRSTNAME|ucwords}</span>
                                                                <span class="org">{$COMPANY}</span>
                                                            </li>
                                                            <li>
                                                                <address class="adr">
                                                                    <span class="street-address">{$ADDRESS1}</span>
                                                                    {if $ADDRESS2 != ""}<br><span class="street-address">{$ADDRESS2}</span>{/if}
                                                                    {if $ADDRESS3 != ""}<br><span class="street-address">{$ADDRESS3}</span>{/if}
                                                                    <br><span class="postal-code">{$ZIPCODE}</span>
                                                                    <span class="locality">{$CITY}, <span class="country-name">{loop type="country" name="customer.country.info" id=$COUNTRY}{$TITLE}{/loop}</span></span>
                                                                </address>
                                                            </li>
                                                            <li>
                                                                {if $CELLPHONE != ""}<span class="tel">{$CELLPHONE}</span>{/if}
                                                                {if $PHONE != ""}<br><span class="tel">{$PHONE}</span>{/if}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <div class="group-btn">
                                                            <a class="btn btn-edit-address" data-toggle="tooltip" href="{url path="/address/update/{$ID}"}" title="{intl l="Edit this address"}"><i class="icon-pencil"></i> <span>{intl l="Edit"}</span></a>
                                                            {if $DEFAULT != 1}<a class="btn btn-remove-address" data-confirm="{intl l="Do you really want to delete this address ?"}" data-confirm-callback="address.delete" data-toggle="tooltip" href="{url path="/address/delete/{$ID}"}" title="{intl l="Remove this address"}"><i class="icon-remove"></i> <span>{intl l="Cancel"}</span></a>{/if}
                                                        </div>
                                                    </td>
                                                </tr>
                                                {/loop}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {/form_field}

                                {form_field form=$form field='delivery-module'}
                                <div class="panel" id="delivery-method">
                                    <div class="panel-heading">
                                        {intl l="Choose your delivery method"}
                                        {if $error}<span class="help-block"><span class="icon-remove"></span> {$message}</span>{/if}
                                    </div>
                                    <div class="panel-body" id="delivery-module-list-block"></div>
                                </div>
                                {/form_field}

                                <a class="btn btn-back" href="{url path="/cart"}" role="button"><span>{intl l="Back"}</span></a>
                                <button class="btn btn-checkout-next" type="submit"><span>{intl l="Next Step"}</span></button>

                            </form>
                            {/form}

                        </article>
                    </div>
{/block}

{block name="javascript-initialization"}
<script>
    {literal}
    jQuery(function ($) {
        $('#delivery-module-list-block').load('{url path="/order/deliveryModuleList"}');
        $('.js-change-delivery-address').change(function (e) {
            $('#delivery-module-list-block').load('{url path="/order/deliveryModuleList"}', { country_id: $(this).data('country') });
        });
    });
    {/literal}
</script>
{/block}