<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Front\Front</fullnamespace>
    <descriptive locale="en_US">
        <title>Front integration</title>
        <description></description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Front office module</title>
        <description></description>
    </descriptive>
    <version>2.3.1</version>
    <author>
        <name>Thelia team</name>
        <email>info@thelia.net</email>
    </author>
    <type>classic</type>
    <thelia>2.2.0</thelia>
    <stability>alpha</stability>
</module>
