{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
  {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
  {$breadcrumbs = [ ['title' => {intl l="Account"}, 'url'=>{url path="/account"}] ]}
{/block}

{block name="init"}
  {loop type="customer" name="customer_newsletter_block" current="true"}
      {assign "customerEmail" $EMAIL}
  {/loop}
{/block}

{block name="body-class"}page-account{/block} {block name="main-content"}
  {include file="components/smarty/BreadCrumb/BreadCrumb.html"}
  <article class="Account" role="main" aria-labelledby="main-label">
    {hook name="account.top"}

    <div class="Account-wrapper">
      {include file="components/smarty/Title/Title.html" class="text-center mb-7" title={intl l="My account"}}

      {loop type="customer" name="customer.info"}
        {include file="components/smarty/Title/Title.html" level=3 title={"Bonjour {$FIRSTNAME} !"}}
      {/loop}

      <div class="Account-actions">
        <a href="{url path='/account-orders'}" class="Account-actionsItem">
          {renderIconSvg icon="cart" class="w-5 h-5 fill-current"}
          <h4 class="Account-actionsItemTitle">{intl l="My orders"}</h4>
          Retrouvez vos commandes en cours et consultez votre historique
        </a>

        <a href="{url path="/account/update"}" class="Account-actionsItem">
          {renderIconSvg icon="user" class="w-5 h-5 fill-current"}
          <h4 class="Account-actionsItemTitle">{intl l="My Profile"}</h4>
          Modifier votre nom, adresse mail ou mot de passe
        </a>

        <a href="{url path="/account-address"}" class="Account-actionsItem">
          {renderIconSvg icon="map-pin" class="w-5 h-5 fill-current"}
          <h4 class="Account-actionsItemTitle">{intl l="My Addresses"}</h4>
          Gérez votre carnet d'adresses
        </a>

      </div>

      <a href="{url path='/logout'}" class="inline-block Button">{intl l="Logout"}</a>
    </div>
  </article>
{/block}

{block name="css" append}
  {hook name="account.stylesheet"}
{/block}

{block name="after-javascript-include"}
  {hook name="account.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
  {hook name="account.javascript-initialization"}
{/block}
