{extends file="layout.tpl"}

{block name="init"}
{$brand_id={brand attr="id"}}
{/block}

{* Body Class *}
{block name="body-class"}page-brand{/block}

{* Page Title *}
{block name='no-return-functions' append}
{if $brand_id|default:null}
    {loop name="brand.seo.title" type="brand" id=$brand_id limit="1"}
    {$page_title = $META_TITLE}
    {/loop}
{/if}
{/block}

{* Meta *}
{block name="meta"}
{if $brand_id|default:null}
    {loop name="brand.seo.meta" type="brand" id=$brand_id limit="1"}
        {include file="includes/meta-seo.html"}
    {/loop}
{/if}
{/block}

{* Feeds *}
{block name="feeds"}
{if $brand_id|default:null}
    <link rel="alternate" type="application/rss+xml" title="{intl l='All product in brand %title' title={brand attr='title'}}" href="{url path="/feed/brand/%lang/%brand_id" lang={lang attr='locale'} brand_id=$brand_id}"/>
{/if}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{if $brand_id|default:null}
    {$breadcrumbs = []}
    {if $brand_id|default:null}
        {loop type="brand" name="brand-breadcrumb" id=$brand_id limit="1"}
        {$breadcrumbs[] = ['title' => {$TITLE}, 'url'=> {$URL nofilter}]}
        {/loop}
    {else}
        {$breadcrumbs[] = ['title' => {intl l="All brands"}, 'url'=> '']}
    {/if}
{/if}
{/block}

{block name="main-content"}
{$limit=32}
{$product_page={$page|default:{$smarty.get.page|default:1}}}
{hook name="brand.top" brand="$brand_id"}
    {if $brand_id|default:null}

    {loop name="brand.info" type="brand" id=$brand_id limit="1"}
      {include file="components/smarty/PageHeader/PageHeader.html"}
    {/loop}

    <div class="container mx-auto mb-20">
        {hook name="brand.main-top" brand="$brand_id"}
        {loop name="brand.info" type="brand" id=$brand_id limit="1"}
        {hook name="brand.content-top" brand="$brand_id"}

        <div class="mt-5 mb-24 wysiwyg max-w-xl mx-auto text-center">
          {$DESCRIPTION nofilter}
        </div>

        {ifloop rel="product_list"}

            {assign var="amount" value={count type="product" brand=$ID}}
            <div class="grid grid-flow-row-dense lg:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-5 grid-rows-1 gap-8">
              {loop type="product" name="product_list" brand=$ID|default:null limit=$limit|default:null page=$product_page|default:null order=$product_order|default:null}
                  {include file="components/smarty/SingleProduct/SingleProduct.html"}
              {/loop}
            </div>
            {if $amount > $limit}
              {include file="components/smarty/Pagination/Pagination.html" current_page=$product_page loop_name="product_list"}
            {/if}
        {/ifloop}

        {elseloop rel="product_list"}
          <div class="mt-24">
            {include file="components/smarty/Alert/Alert.html" message={intl l="No products available in this brand"} type="warning"}
          </div>
        {/elseloop}

        {hook name="brand.content-bottom" brand="$brand_id"}


        {/loop}

        {hook name="brand.main-bottom" brand="$brand_id"}

    </div><!-- /.layout -->
    {/if}
    {hook name="brand.bottom" brand="$brand_id"}
{/block}

{block name="stylesheet"}
{hook name="brand.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="brand.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="brand.javascript-initialization"}
{/block}
