{extends file='layout.tpl'}

{block name="init"}
{$category_id={category attr="id"}}
{/block}


{* Body Class *}
{block name="body-class"}page-category{/block}

{block name="css" append}
  {encore_entry_link_tags entry="category"}
{/block}

{block name="javascript" append}
  {encore_entry_script_tags entry="category"}
{/block}


{* Page Title *}
{block name='no-return-functions' append}
{loop name="category.seo.title" type="category" current="yes"}
{$page_title = $META_TITLE}
{/loop}
{/block}

{* Meta *}
{block name="meta"}
{loop name="category.seo.meta" type="category" current="yes"}
{if $META_DESCRIPTION}<meta name="description" content="{$META_DESCRIPTION}">{/if}
{if $META_KEYWORDS}<meta name="keywords" content="{$META_KEYWORDS}">{/if}
{/loop}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{$breadcrumbs = []}
{loop name="category_path" type="category-path" category={category attr="id"}}
{$breadcrumbs[] = ['title' => {$TITLE}, 'url'=> {$URL nofilter}]}
{/loop}
{/block}

{* Content *}
{block name="main-content"}
    {loop type="category" name="home.cat" limit=1 id=$category_id}
        <div class="Category">
            {include file="components/smarty/BreadCrumb/BreadCrumb.html"}

            {$product_page={$smarty.get.page|default:1}}
            {$product_order={$smarty.get.order|default:'manual'}}

            {if !isset($showFilters)}
              {$showFilters = false}
            {/if}
            {loop name="choice_filter" type="choice_filter" category_id=$category_id }
              {$showFilters = true}
            {/loop}

            <div class="lg:flex">
              {if $showFilters}
                <div class="w-full max-w-xs xl:max-w-sm">
                    {include file="components/smarty/CategoryMenu/CategoryMenu.html"}
                </div>
                {/if}

                <div class="flex-1 mt-8 mb-8 {if $showFilters}lg:ml-8{/if}">
                  {include file="components/smarty/Title/Title.html" type="h1" title=$TITLE class="text-left" nofilter=true}

                  {if $CHAPO}
                  <div class="py-4 mb-8">
                        {$CHAPO nofilter}
                  </div>
                  {/if}

                  {if $showFilters}
                  <div class="mb-8 lg:hidden">
                    <button class="block w-full btn btn--dark" data-toggle-form-filters>{intl l="Show filters"}</button>
                  </div>
                  {/if}

                  {if !$PARENT}
                  <div class="container mx-auto">


                        <div class="grid grid-flow-row-dense grid-rows-1 gap-8 mb-20 md:grid-cols-2 lg:grid-cols-3">
                          {loop type="category" exclude=$ID name="cat.gateway"}
                            {include file="components/smarty/SingleCategory/SingleCategory.html" width="263" height="60" class="CategoryCard--small"}
                          {/loop}
                        </div>

                  {/if}



                  <div class="container mx-auto">
                    {include file="components/smarty/CategoryProducts/CategoryProducts.html"}
                    <div class="my-24 Category-description">
                      {category attr="description"}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    {/loop}

    {hook name="category.bottom" category=$category_id}
{/block}
