{extends file="layout.tpl"}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [['title' => {intl l="Contact Us"}, 'url'=>{url path="/contact"}]]}
{/block}

{loop type="customer" name="the-loop-name" }
      {$valueName = "`$FIRSTNAME` `$LASTNAME`"}
      {$valueEmail = $EMAIL}
      {$readOnly = true}
    {/loop}

{block name="main-content"}
    {include file="components/smarty/PageHeader/PageHeader.html" TITLE={intl l="Contact Us"}}

    <div class="container mx-auto mb-24">
          <div class="max-w-[714px] mx-auto">

            {block name="contact-form"}
            {form name="thelia.front.contact"}
            <form id="ContactForm" class="" action="{url path="/contact"}" method="post" novalidate>
                {form_hidden_fields}
                {hook name="recaptcha.check"  id="ContactRecaptcha"}
                {hook name="contact.form-top"}
                <input type="hidden" value="{intl l="missing or invalid data"}" />

                {if $form_error}
                  <div class="my-10">{include file="components/smarty/Alert/Alert.html" type="error" title={intl l="Error"} message=$form_error_message}</div>
                {/if}

                <fieldset id="contact-info">

                    <div class="grid gap-4">

                        {form_field field="name"}
                          {include
                            file="components/smarty/Input/Input.html"
                            type="text"
                            name=$name
                            label=$label
                            value={$valueName|default:$value}
                            placeholder={intl l="You name"}
                            id="{$label_attr.for|default:null}-mini"
                            required=$required
                            readonly={$readOnly|default:false}
                          }
                        {/form_field}
                        {form_field field="email"}
                          {include
                            file="components/smarty/Input/Input.html"
                            type="text"
                            name=$name
                            label=$label
                            value={$valueEmail|default:$value}
                            placeholder={intl l="Your email"}
                            id="{$label_attr.for|default:null}-mini"
                            required=$required
                            readonly={$readOnly|default:false}
                          }
                        {/form_field}
                        {form_field field="subject"}
                          {include
                            file="components/smarty/Input/Input.html"
                            type="text"
                            name=$name
                            label=$label
                            value=$value
                            placeholder={intl l="The subject of your message"}
                            id="{$label_attr.for|default:null}-mini"
                            required=$required
                          }
                        {/form_field}
                        {form_field field="message"}

                        <div class="Input">
                          <label for="{$label_attr.for|default:null}" class="Input-label {if isset($error) && $error}text-error{/if}" >
                            {$label}{if $required|default:null}<sup>*</sup>{/if}
                          </label>
                          <textarea
                            name="{$name}"
                            id="{$label_attr.for|default:null}"
                            rows="6"
                            class="Input-field {if isset($error) && $error}border-error focus:border-error focus:ring-error text-error{/if} {$inputClass|default:null}"
                            {if $required} required{/if}
                            >

                          </textarea>
                          {if isset($error) && $error && isset($message) && $message}
                            <span class="Input-message">
                              {$message}
                            </span>
                          {/if}
                          </div>
                        {/form_field}
                    </div>
                </fieldset>

                {hook name="contact.form-bottom"}

                <div class="mt-4 opacity-50">
                  * {intl l="Required fields"}
                </div>

                <div class="flex justify-center mt-5">
                    <button type="submit" class="Button">{intl l="Send"}</button>
                </div>

            </form>
            {/form}
        {/block}
          </div>


        {ifhook rel="contact.top"}
          {hook name="contact.top"}
        {/ifhook}
        {elsehook rel="contact.top"}

        {/elsehook}

        {hook name="contact.bottom"}


    </div>

{/block}

{block name="css" append}
{hook name="contact.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="contact.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="contact.javascript-initialization"}
{/block}
