{extends file="layout.tpl"}

{block name="css" append}
  {encore_entry_link_tags entry="home"}
{/block}

{block name="javascript" append}
  {encore_entry_script_tags entry="home"}
{/block}


{* Body Class *}
{block name="body-class"}page-home{/block}

{* Page Title *}
{block name='no-return-functions' append}
{/block}

{* Hide breadcrumb *}
{block name='breadcrumb'}{/block}

{* Main content *}
{block name="main-content"}
  <div class="flex flex-col items-stretch">
    {include file="components/smarty/StratSeo/StratSeo.html"}

    {include file="components/smarty/Hero/Hero.html" description={config key="store_description"} tabindex="1"}

    {include file="components/smarty/Selection/Selection.html" type="new" tabindex="1"}

    {include file="components/smarty/Selection/Selection.html" type="promo" animated="true" tabindex="1"}

    {include file="components/smarty/CategoriesPanels/CategoriesPanels.html" title={intl l="Our product categories"} animated="true"}
  </div>
{/block}
