{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
    {check_auth role="CUSTOMER" login_tpl="login"}
    {$is_checkout = true}
{/block}

{* Body Class *}
{block name="body-class"}page-order-payment{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
        ['title' => {intl l="Secure Payment"}, 'url'=>{url path="/order/pay"}]
    ]}
{/block}


{block name="main-content"}
    <div class="main">

      <article class="container mx-auto my-12" role="main" aria-labelledby="main-label">

            {loop type="order" name="placed-order" id=$placed_order_id}
            {ifhook rel="order-placed.body"}
                {hook name="order-placed.body" module="$PAYMENT_MODULE"}
            {/ifhook}
            {elsehook rel="order-placed.body"}
                <div id="payment-success" class="max-w-4xl mx-auto ">
                    <h1 class="Title Title--2">
                        {intl l="You choose payment by "} : <span class="text-main">{loop name="payment-module" type="module" id=$PAYMENT_MODULE}{$TITLE}{/loop}</span>
                    </h1>
                    <div>
                        <div class="mt-2 mb-8 text-xl">{intl l="Thank you for the trust you place in us."}</div>
                        <div class="mb-4">
                          <p>{intl l="A summary of your order has been sent to the following address"} : {customer attr="email"}</p>
                          <p>{intl l="Your order will be confirmed by us upon receipt of your payment."}</p>
                        </div>
                        <div class="inline-block w-full max-w-md p-4 bg-gray-200 rounded-md">
                          <div class="flex flex-wrap mb-2">
                              <div class="pr-2 sm:w-5/12">{intl l="Order number"} : </div>
                              <div class="font-bold sm:w-7/12">{$REF}</div>
                          </div>
                          <div class="flex flex-wrap mb-2">
                            <div class="pr-2 sm:w-5/12">{intl l="Date"} : </div>
                            <div class="font-bold sm:w-7/12">{format_date date=$CREATE_DATE output="date"}</div>
                          </div>
                          <div class="flex flex-wrap mb-2">
                            <div class="pr-2 sm:w-5/12">{intl l="Total"} : </div>
                            <div class="font-bold sm:w-7/12">{format_money number={$TOTAL_TAXED_AMOUNT} currency_id=$CURRENCY}</div>
                          </div>
                        </div>

                        <div class="mt-4">
                          {block name='additional-payment-info'}{/block}
                        </div>

                        {hook name="order-placed.additional-payment-info" module="$PAYMENT_MODULE" placed_order_id=$placed_order_id}
                    </div>
                    <a href="{navigate to="index"}" role="button" class="inline-block mt-8 Button">{intl l="Back to the shop"}</a>
                </div>
            {/elsehook}
            {/loop}
        </article>

    </div>
{/block}


{block name="css" append}
{hook name="order-placed.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="order-placed.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="order-placed.javascript-initialization"}
{/block}
