{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
    {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Body Class *}
{block name="body-class"}page-order-payment{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
        ['title' => {intl l="Secure Payment"}, 'url'=>{url path="/order/pay"}]
    ]}
{/block}


{block name="main-content"}
    <div class="main">
      <article class="container mx-auto my-24" role="main" aria-labelledby="main-label">
          <div class="max-w-5xl mx-auto">

              {hook name="order-failed.top"}

              <div id="payment-failure">
                    {include file="components/smarty/Alert/Alert.html" type="warning" title={intl l="We're sorry, a problem occured and your payment was not successful."}}
              </div>

              {hook name="order-failed.bottom"}

              <div class="flex flex-wrap items-stretch justify-start gap-4 mt-8">
                <a href="{url path="/order/delivery"}" class="Button">{intl l="Try again"}</a>
                <a href="{navigate to="index"}" class="Button Button--active">{intl l="Go home"}</a>
              </div>
          </div>
        </article>
    </div>
{/block}


{block name="css" append}
{hook name="order-failed.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="order-failed.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="order-failed.javascript-initialization"}
{/block}
