{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
    {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Body Class *}
{block name="body-class"}page-order-payment{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
        ['title' => {intl l="Secure Payment"}, 'url'=>{url path="/order/pay"}]
    ]}
{/block}


{block name="main-content"}

  <article class="container mx-auto my-24" role="main" aria-labelledby="main-label">
    {include file="components/smarty/Title/Title.html" title={intl l="Secure payment"} }

    {loop type="order" name="placed-order" id=$order_id}
    {ifhook rel="order-payment-gateway.body"}
        {hook name="order-payment-gateway.body" module="$PAYMENT_MODULE"}
    {/ifhook}
    {elsehook rel="order-payment-gateway.body"}
        <div id="payment-success" class="panel panel-default">
            <div class="mb-4 text-xl">
                <h3>{intl l="You choose to pay by"} : <span class="text-orange-500">{loop name="payment-module" type="module" id=$PAYMENT_MODULE}{$TITLE}{/loop}</span></h3>
            </div>

            <div class="panel-body">
                {if $cart_count > 0}
                    <div class="clearfix panel-heading">
                        <span>{intl l="Connecting to the secure payment server, please wait a few seconds..."}</span>
                    </div>

                    <div class="panel-body">
                        <form action="{$gateway_url nofilter}" method="post" id="payement_gateway_form">
                            {foreach from=$payment_form_data key='name' item='value'}
                                <input type="hidden" name="{$name}" value="{$value}" />
                            {/foreach}

                            <p>{intl l='If nothing happens within 10 seconds, <a id="force-submit-payment-form" href="#" class="text-orange-500 underline">please click here</a>.'}</p>
                        </form>
                    </div>
                {else}
                    {intl l="Sorry, your cart is empty. There's nothing to pay."}
                {/if}
            </div>
        </div>
    {/elsehook}
    {/loop}

  </article>

{/block}

{block name="javascript-initialization"}
  {ifhook rel="order-payment-gateway.javascript"}
    {hook name="order-payment-gateway.javascript" module="$PAYMENT_MODULE"}
  {/ifhook}
  {elsehook rel="order-payment-gateway.javascript"}
      {strip}
      <script type="text/javascript">
        document.getElementById('payement_gateway_form').submit();

        document.getElementById('force-submit-payment-form').addEventListener('click', function(ev) {
          document.getElementById('payement_gateway_form').submit();
          ev.preventDefault();
        });
      </script>
      {/strip}
  {/elsehook}
  {hook name="order-payment-gateway.javascript-initialization"}
{/block}

{block name="css" append}
{hook name="order-payment-gateway.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="order-payment-gateway.after-javascript-include"}
{/block}
