{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
    {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Body Class *}
{block name="body-class"}page-order-payment{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
        ['title' => {intl l="Secure Payment"}, 'url'=>{url path="/order/pay"}]
    ]}
{/block}


{block name="main-content"}
    <div class="main">
      <article class="container mx-auto my-24" role="main" aria-labelledby="main-label">

            {hook name="order-failed.top"}

            <div id="payment-failure">
                  {include file="components/smarty/Alert/Alert.html" type="warning" title={intl l="We're sorry, a problem occured and your payment was not successful."} message=$failed_order_message|default:null}
            </div>

            {hook name="order-failed.bottom"}

            <div class="text-center">
              <a href="{url path="/order/invoice"}" role="button" class="btn mt-5">{intl l="Try again"}</a>
            </div>
            <div class="text-center">
                <a href="{navigate to="index"}" role="button" class="btn btn--secondary mt-5">{intl l="Go home"}</a>
            </div>
        </article>
    </div>
{/block}


{block name="stylesheet"}
{hook name="order-failed.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="order-failed.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="order-failed.javascript-initialization"}
{/block}
