{extends file="layout.tpl"}

{* Body Class *}
{block name="body-class"}page-password{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{$breadcrumbs = [
['title' => {intl l="Password"}, 'url'=>{url path="/password"}]
]}
{/block}

{block name="main-content"}

{* This page should not replace the current previous URL *}
{set_previous_url ignore_current="1"}

<div class="container mx-auto my-24">

  {include file="components/smarty/Title/Title.html" title={intl l="Forgot password"}}

  <div class="panel">
    {hook name="password.top"}
    {if $password_sent|default:false}
        <div id="form-forgotpassword">
            {include file="components/smarty/Alert/Alert.html" type="success" title="Succès" message={intl l="A new password has just been sent to your e-mail address. Please check your inbox."}}

            <div class="mt-10 flex justify-between items-center">
                <a href="{url path="/password"}" class="Button">{intl l="Resend a new password"}</a>
                <a href="{url path="/login"}" class="Button">{intl l="Login"}</a>
            </div>
        </div>
    {else}
        {form name="thelia.front.customer.lostpassword"}
        <form id="form-forgotpassword" action="{url path="/password"}" method="post">
            {form_hidden_fields}

            {if $form_error}
            <div class="mb-10">
              {include file="components/smarty/Alert/Alert.html" type="error" title={intl l="Error"} message=$form_error_message}
            </div>
            {/if}

            {hook name="password.form-top"}
            {form_field field="success_url"}
                <input type="hidden" name="{$name}" value="{url path='/password-sent'}">
            {/form_field}
            {form_field field="email"}
            <div class="form-group group-email">
                {include
                  file="components/smarty/Input/Input.html"
                  type="email"
                  name=$name
                  id="{$label_attr.for|default:null}"
                  value={$value}
                  label=$label
                  placeholder=""
                  required=$required
                  autofocus=true
                  error=$error
                }

                {if !$error && $value != ""}
                <div class="text-green-500 text-xs italic mt-1">{intl l="You will receive a link to reset your password."}</div>
                {/if}

            </div>
            {/form_field}
            {hook name="password.form-bottom"}
            <div class="mt-10 flex justify-between items-center">
                <a href="{url path="/login"}" class="btn">{intl l="Cancel"}</a>
                <button type="submit" class="btn">{intl l="Send"}</button>
            </div>
        </form>
        {/form}
    {/if}
    {hook name="password.bottom"}
  </div>
</div>
{/block}


{block name="stylesheet"}
{hook name="password.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="password.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="password.javascript-initialization"}
{/block}
