{extends file="layout.tpl"}

{block name="init"}
  {$product_id={product attr="id"}}
  {$product_virtual={product attr="virtual"}}
{/block}

{block name="css" append}
  {encore_entry_link_tags entry="product"}
{/block}

{block name="javascript" append}
  {encore_entry_script_tags entry="product"}
{/block}

{* Body Class *}
{block name="body-class"}page-product{/block}

{* Page Title *}
{block name='no-return-functions' append}
{loop name="product.seo.title" type="product" id=$product_id limit="1" with_prev_next_info="1"}
  {$page_title = $META_TITLE}
{/loop}
{/block}

{* Meta *}
{block name="meta"}
  {loop name="product.seo.meta" type="product" id=$product_id limit="1" with_prev_next_info="1"}
  {include file="includes/meta-seo.html"}
  {/loop}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = []}
    {loop type="product" name="product_breadcrumb" id=$product_id limit="1" with_prev_next_info="1"}
        {loop name="category_path" type="category-path" category={$DEFAULT_CATEGORY}}
            {$breadcrumbs[] = ['title' => {$TITLE}, 'url'=> {$URL nofilter}]}
        {/loop}
        {$breadcrumbs[] = ['title' => {$TITLE}, 'url'=> {$URL nofilter}]}
    {/loop}
{/block}

{* Content *}
{block name="main-content"}
  {if $product_id}
      {include file="components/smarty/BreadCrumb/BreadCrumb.html"}
      {loop name="product.details" type="product" id=$product_id limit="1" with_prev_next_info="1" with_prev_next_visible="1"}
      <div>
        {hook name="product.top" product={$ID}}
        <div class="container">
          <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
            {include file="components/smarty/ProductFormPanel/ProductFormPanel.html" product_id=$product_id}
            {include file="components/smarty/ProductGallery/ProductGallery.html" product_title=$TITLE}
          </div>
        </div>
        {if $DESCRIPTION|default:null}
          <section id="desc" class="pt-12 lg:pt-16">
            <div class="py-12 bg-main-light lg:pt-14 lg:pb-16">
              <div class="container">
                <div class="max-w-[714px] mx-auto">
                  {include file="components/smarty/Title/Title.html" type="h2" level="3" title={intl l="Description"} class="mb-8 lg:mb-7"}
                  <div class="wysiwyg">
                    {$DESCRIPTION nofilter}
                    {if $POSTSCRIPTUM|default:null}
                        <div>
                          {$POSTSCRIPTUM nofilter}
                        </div>
                    {/if}
                  </div>
                  <div class="container my-8 wysiwyg">
                    {loop
                      type="block_group"
                      name="product.blocks"
                      item_type="product"
                      item_id=$product_id
                    }
                      {$RENDER nofilter}
                    {/loop}
                  </div>
                </div>
              </div>
            </div>
          </section>
        {/if}

        {ifloop rel="product.features"}
          <section id="features">
            <div class="py-12 bg-gray-100 lg:pt-14 lg:pb-16">
              <div class="container">
                <div class="max-w-[714px] mx-auto">
                  {include file="components/smarty/Title/Title.html" type="h2" level="3" title={intl l="Features"} class="mb-8 lg:mb-7"}
                  <div class="wysiwyg">
                    {loop type="feature" name="product.features" product=$product_id}
                      {ifloop rel="product.features.val"}
                        <p class="text-sm">
                          <span class="font-semibold">{$TITLE} :</span>

                          {loop type="feature_value" feature=$ID name="product.features.val" product=$product_id}
                            {$TITLE} {if $LOOP_COUNT != $LOOP_TOTAL}-{/if}
                          {/loop}
                        </p>
                      {/ifloop}
                    {/loop}
                  </div>
                </div>
              </div>
            </div>
          </section>
        {/ifloop}

        {include file="components/smarty/ProductAccessories/ProductAccessories.html" product_id=$product_id}

        {hook name="product.bottom" product={$ID}}
      </div>
      {/loop}
  {else}
  <div class="container mx-auto">
      <article id="content-main" class="col-main" role="main" aria-labelledby="main-label">
          {include file="includes/empty.html"}
      </article>
  </div><!-- /.layout -->
  {/if}
{/block}

{block name="css" append}
{hook name="product.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="product.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="product.javascript-initialization"}
{/block}
