{extends file="layout.tpl"}

{block name="init"}
{if $smarty.get.query|default:'' eq ''}
  {redirect path="/"}
{/if}
  {$product_count = {count type="product" title={$smarty.get.query|default:null}}}
  {$product_page={$smarty.get.page|default:1}}
  {$product_order={$smarty.get.order|default:'manual'}}
{/block}

{block name="body-class"}page-search{/block}

{block name="css" append}
  {encore_entry_link_tags entry="category"}
{/block}

{block name="javascript" append}
  {encore_entry_script_tags entry="search"}
{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
{$breadcrumbs = [
['title' => {intl l="Search"}, 'url'=>{url path="/search"}]
]}
{/block}

{block name="main-content"}
  {include file="components/smarty/BreadCrumb/BreadCrumb.html"}
    <div class="container">
    <h1 class="mb-8 text-center Title Title--1">
    {intl l="Search Result for"} <span class='font-medium underline font-barlow text-main'>{$smarty.get.query}</span>
    </h1>
      <div class="flex items-center  mb-7 gap-[10px] flex-wrap">
          <div id="ProductFilterCount" class="w-full mr-auto Title Title--3 md:w-auto">{$product_count} {if $product_count <= 1}{intl l="Item"}{else}{intl l="Items"}{/if}</div>
          {if $product_count >= 1}
          <label for="filterBy" class="Select max-w-[195px] w-full mt-0">
              <select id="filterBy" name="filterBy" class="w-full cursor-pointer Select-field" data-query="{$smarty.get.query|default:''}">
                <option value="" disabled selected>{intl l='Filter by'}</option>
                <option value="max_price" {if $product_order == "max_price"}selected{/if}>{intl l="Descending price"}</option>
                <option value="min_price" {if $product_order == "min_price"}selected{/if}>{intl l="Ascending price"}</option>
            </select>
          </label>
          {/if}
        </div>
      {include file="components/smarty/CategoryProducts/CategoryProducts.html"}
    </div>
{/block}


{block name="css" append}
{hook name="search.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="search.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="search.javascript-initialization"}
{/block}
