

<!doctype html>
<html>
<head>
  <!-- ... -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{encore_manifest_file file="app.css"}"/>
</head>
<body class="py-24">
  <div class="container mx-auto">
    <div>
      <p class="text-xs">text-xs</p>
      <p class="text-sm">text-sm</p>
      <p class="text-base">text-base</p>
      <p class="text-lg">text-lg</p>
      <p class="text-xl">text-xl</p>
      <p class="text-2xl">text-2xl</p>
      <p class="text-3xl">text-3xl</p>
      <p class="text-4xl">text-4xl</p>
      <p class="text-5xl">text-5xl</p>
      <p class="text-6xl">text-6xl</p>
      <p class="text-7xl">text-7xl</p>
      <p class="text-8xl">text-8xl</p>
      <p class="text-9xl">text-9xl</p>
    </div>
  </div>
</body>
</html>
